@charset "utf-8";
/*
    colorguide.css
    알람 컬러표
*/
.ds_con_map ul li.cloud05.critical:after,
.ds_con_map ul li.cloud04.critical:before,
.ds_con_map ul li.cloud03.critical:before,
.ds_con_map ul li.cloud02.critical:before,
.ds_con_map ul li.cloud01.critical:before,
.ds_con_map ul li.cloud00.critical:before {
	border-color: #ed2728;
}

.ds_con_map ul li.cloud05.major:after,
.ds_con_map ul li.cloud04.major:before,
.ds_con_map ul li.cloud03.major:before,
.ds_con_map ul li.cloud02.major:before,
.ds_con_map ul li.cloud01.major:before,
.ds_con_map ul li.cloud00.major:before {
	border-color: #ff7814;
}

.ds_con_map ul li.cloud05.minor:after,
.ds_con_map ul li.cloud04.minor:before,
.ds_con_map ul li.cloud03.minor:before,
.ds_con_map ul li.cloud02.minor:before,
.ds_con_map ul li.cloud01.minor:before,
.ds_con_map ul li.cloud00.minor:before {
	border-color: #f2ef08;
}

.ds_con_map ul li.cloud05.warning:after,
.ds_con_map ul li.cloud04.warning:before,
.ds_con_map ul li.cloud03.warning:before,
.ds_con_map ul li.cloud02.warning:before,
.ds_con_map ul li.cloud02.warning:before,
.ds_con_map ul li.cloud02.warning:before {
	border-color: #0897f2;
}
.ds_con_map ul li.cloud05.indeterminate:after,
.ds_con_map ul li.cloud04.indeterminate:before,
.ds_con_map ul li.cloud03.indeterminate:before,
.ds_con_map ul li.cloud02.indeterminate:before,
.ds_con_map ul li.cloud02.indeterminate:before,
.ds_con_map ul li.cloud02.indeterminate:before {
	border-color: #eea5a6;
}
.ds_con_map ul li.cloud05.clear:after,
.ds_con_map ul li.cloud04.clear:before,
.ds_con_map ul li.cloud03.clear:before,
.ds_con_map ul li.cloud02.clear:before,
.ds_con_map ul li.cloud02.clear:before,
.ds_con_map ul li.cloud02.clear:before {
	border-color: #12a935;
}
.ds_con_map ul li.cloud05.event:after,
.ds_con_map ul li.cloud04.event:before,
.ds_con_map ul li.cloud03.event:before,
.ds_con_map ul li.cloud02.event:before,
.ds_con_map ul li.cloud02.event:before,
.ds_con_map ul li.cloud02.event:before {
	border-color: #babbbe;
}


.ds_con_map ul li.cloud01.critical span,
/*.ds_con_map ul li.cloud02.critical span,
.ds_con_map ul li.cloud03.critical span,
.ds_con_map ul li.cloud04.critical span,*/
.ds_con_map ul li.cloud05.critical span {
	   background-color: #ed2728;
}
.ds_con_map ul li.cloud01.major span,
/*.ds_con_map ul li.cloud02.major span,
.ds_con_map ul li.cloud03.major span,
.ds_con_map ul li.cloud04.major span,*/
.ds_con_map ul li.cloud05.major span {
	   background-color: #ff7814;
}
.ds_con_map ul li.cloud01.minor span,
/*.ds_con_map ul li.cloud02.minor span,
.ds_con_map ul li.cloud03.minor span,
.ds_con_map ul li.cloud04.minor span,*/
.ds_con_map ul li.cloud05.minor span {
	   background-color: #f2ef08;
}
.ds_con_map ul li.cloud01.warning span,
/*.ds_con_map ul li.cloud02.warning span,
.ds_con_map ul li.cloud03.warning span,
.ds_con_map ul li.cloud04.warning span,*/
.ds_con_map ul li.cloud05.warning span {
	   background-color: #0897f2;
}
.ds_con_map ul li.cloud01.indeterminate span,
/*.ds_con_map ul li.cloud02.indeterminate span,
.ds_con_map ul li.cloud03.indeterminate span,
.ds_con_map ul li.cloud04.indeterminate span,*/
.ds_con_map ul li.cloud05.indeterminate span {
	   background-color: #eea5a6;
}
.ds_con_map ul li.cloud01.clear span,
/*.ds_con_map ul li.cloud02.clear span,
.ds_con_map ul li.cloud03.clear span,
.ds_con_map ul li.cloud04.clear span,*/
.ds_con_map ul li.cloud05.clear span {
	   background-color: #12a935;
}
.ds_con_map ul li.cloud01.event span,
/*.ds_con_map ul li.cloud02.event span,
.ds_con_map ul li.cloud03.event span,
.ds_con_map ul li.cloud04.event span,*/
.ds_con_map ul li.cloud05.event span {
	   background-color: #babbbe;
}

/* table 내 알람 레벨 표시*/
td>span.level.red:before{
	background-color: #ed2728;
}
td>span.level.orange:before{
	background-color: #ff7814;
}
td>span.level.yellow:before{
	background-color: #f2ef08;
}
td>span.level.pink:before{
	background-color: #eea5a6;
}
td>span.level.gray:before{
	background-color: #babbbe;
}
td>span.level.green:before{
	background-color: #12a935;
}
td>span.level.blue:before{
	background-color: #0897f2;
}
td>span.level.critical:before {
	background-color: #ed2728;
}
td>span.level.major:before {
	background-color: #ff7814;
}
td>span.level.minor:before {
	background-color: #f2ef08;
}
td>span.level.warning:before {
	background-color: #0897f2;
}
td>span.level.indeterminate:before {
	background-color: #eea5a6;
}
td>span.level.clear:before {
	background-color: #12a935;
}
td>span.level.event::before {
	background-color: #babbbe;
}

/*dashboard side area*/
.ds_con_side .inner dt.critical:before{
    background-color: #ed2728;
}
.ds_con_side .inner dt.major:before{
    background-color: #ff7814;
}
.ds_con_side .inner dt.minor:before{
    background-color: #f2ef08;
}
.ds_con_side .inner dt.warning:before{
    background-color: #0897f2;
}
.ds_con_side .inner dt.indeterminate:before{
    background-color: #eea5a6;
}
.ds_con_side .inner dt.clear:before{
    background-color: #12a935;
}
.ds_con_side .inner dt.event:before{
    background-color: #babbbe;
}

.ds_con_side .inner dd.critical{
    background-image: url('../images/contents/box_critical.png');
}
.ds_con_side .inner dd.major{
    background-image: url('../images/contents/box_major.png');
}
.ds_con_side .inner dd.minor{
    background-image: url('../images/contents/box_minor.png');
}
.ds_con_side .inner dd.warning{
    background-image: url('../images/contents/box_warning.png');
}
.ds_con_side .inner dd.indeter{
    background-image: url('../images/contents/box_indeter.png');
}/*
.ds_con_side .inner dd.clear{
    background-color: #12a935;
}
.ds_con_side .inner dd.event{
    background-color: #babbbe;
}*/

.bg-critical {
	background-color: #ed2728;
}

.bg-major {
	background-color: #ff7814;
}

.bg-minor {
	background-color: #f2ef08;
	color: #000;
}

.bg-warning {
	background-color: #0897f2;
}

.bg-indeterminate {
	background-color: #eea5a6;
}

.bg-clear {
	background-color: #12a935;
}

.bg-event {
	background-color: #babbbe;
}


.clr-critical {
	color: #ed2728;
}

.clr-major {
	color: #ff7814;
}

.clr-minor {
	color: #f2ef08;
}

.clr-warning {
	color: #0897f2;
}

.clr-indeterminate {
	color: #eea5a6;
}

.clr-clear {
	color: #12a935;
}

.clr-event {
	color: #babbbe;
}

.tx-bold {
	font-weight: bold;
	font-size:15px;
}

/* title bullet */
.t_critical:before {
	background: #ed2728;
}

.t_major:before {
	background: #ff7814;
}

.t_minor:before {
	background: #f2ef08;
}

.t_warning:before {
	background: #0897f2;
}

.t_clear:before {
	background: #eea5a6;
}

.t_event:before {
	background: #12a935;
}

.t_indeterminate:before {
	background: #babbbe;
}