@charset "utf-8";

body{background: #0b0d19;overflow:auto;min-width: 1910px;font-size: 13px;}

.gray_select{height:37px; -webkit-appearance: none;  background: #b2b2b2 url('../images/select_arrow_gray.png') no-repeat 90% 50%;box-sizing:border-box;padding-left:30px;}
.gray_inp[type='text'] ,
.gray_inp[type='password'] {height:37px; line-height:37px; padding:0 24px; background: #b2b2b2; border:0; border-radius:0;box-sizing:border-box; }
.gray_textarea{height:114px;padding:12px 14px;background: #b2b2b2;}

.btn_com{position:relative;display:inline-block;vertical-align:middle;text-align:center;box-sizing:border-box;}
.btn_rd{border-radius:5px;}
.btn_rd18{border-radius:18px;}
.btn_point{color:#fff;background: #1bb1b0; border:1px solid #1bb1b0;  font-weight:700;}
.btn_point:hover{color:#fff;}
.btn_wtline{color:#fff;background: #000; border:1px solid #fff; font-weight:700;}
.btn_wtline:hover{color:#fff;}
.btn_gray{background:#9fa0a0; color:#fff;}
.btn_gray:hover{color:#fff;}
.btn_blue{background:#1b73b1; color:#fff;}
.btn_blue:hover{color:#fff;}
.h37{line-height:37px;font-size:15px;}
.h49{line-height:49px;font-size:18px;}
.h54 {line-height:54px;font-size:18px;font-weight:500;}
.btn_bd{font-weight:700;}
.btn_in_icon{padding-left:20px;}
.btn_in_icon i{position:absolute;top:50%;left:24px; -webkit-transform:translateY(-50%);transform:translateY(-50%);}

.w50{width:50px;}
.w60{width:60px;}
.w91{width:91px;}
.w125{width:125px;}
.w159{width:159px;}
.w187{width:187px;}
.w214{width:214px;}

.w25p{width:25%;}
.w37p{width:37%;}
.w40p{width:40%;}
.w80p{width:80%;}
.w100p{width:100%;}
.w1450{width:1450px;margin:0 auto;}
.w1600{width:1600px;margin:0 auto;}



.radio label{display:inline-block;position:relative;padding-left:25px;}
.radio input[type=radio]{position:absolute;width:1px;height:1px;overflow:hidden;opacity:0; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:2}
.radio label:before{position:absolute;top:2px;left:0;display:inline-block;width:15px;height:15px;content:'';background:url('../images/radio.png') no-repeat;background-size: 15px;}
.radio input[type=radio]:checked+label:before{background-image:url('../images/radio_on.png'); background-size: 15px;}
.radio input[type=radio]:disabled+label:before{opacity:0.5;}


.checkbox label{display:inline-block;position:relative;padding-left:25px;vertical-align:top;}
.checkbox input[type=checkbox]{position:absolute;width:1px;height:1px;overflow:hidden;opacity:0; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:2}
.checkbox label:before{position:absolute;top:3px;left:0;display:inline-block;width:15px;height:15px;content:'';background:url('../images/checkbox.png') no-repeat;background-size: 15px;}
.checkbox input[type=checkbox]:checked+label:before{background-image:url('../images/checkbox_on.png'); background-size: 15px;}
.checkbox input[type=checkbox]:disabled+label:before{opacity:0.3;}

.admin_header .gnb > ul{display: flex; flex-wrap: wrap; align-items: center; }
.admin_header .gnb > ul > li{position:relative;}
.admin_header .gnb > ul > li:after{position:absolute;top:50%;left:0;display:inline-block;width:1px;height:18px;margin-top:-9px;background: #fff;content:'';}
.admin_header .gnb > ul > li:first-child:after{display:none;}
.admin_header .gnb > ul > li > a{position: relative;display:block; margin: 0 25px; line-height:40px; font-size:20px; font-weight:700;color:#fff; border:3px solid transparent;}

/*.admin_header .gnb > ul > li.arr > a:before{content:'';display:inline-block;width:6px;height:6px;background: #2BECD8;border-radius:50%;position:absolute;top:40px;left:50%;margin-left:-9px;}*/
/*.admin_header .gnb > ul > li.arr > a:after{content:'';display:inline-block;width:6px;height:6px;background: #2BECD8;border-radius:50%;position:absolute;top:40px;left:50%;margin-left:3px;}*/
.admin_header .gnb .on{border-bottom:3px solid #1bb1b0;}
.admin_header .gnb li > div{position:absolute;top:40px;left:0;width:100%;background: #292a30;z-index:10}
.admin_header .gnb li > div li{text-align:center;border-bottom:1px solid #0b0d19;}
.admin_header .gnb li > div li a{display:block;padding:10px;font-size:14px;font-weight:500;color:#fff;}
.admin_header .gnb li > div li .on{background: #1bb1b0;}
.admin_header .util_area {font-size:18px;color:#fff;}
.admin_header .util_area span{position:relative;padding-left:30px;}
.admin_header .util_area span:after{position:absolute;top:50%;left:8px;display:inline-block;width:1px;height:16px;margin-top:-8px;background: #fff;content:'';}
.admin_header .util_area span:first-child:after{display:none;}

.page_tit{padding:30px 0;font-size:24px;font-weight:700;}
.search_box{padding:12px;text-align:center;border-image-width: 1px 0 1px 0;border-style: solid;
  border-image: linear-gradient(to right, #0b0d19 0%, #595b63 50%, #0b0d19 100%);
  border-image-slice: 0.5;}

.board_top{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end;}

/* 등록 */
.table_formtype {border-bottom: 1px solid #787878;}
.table_formtype td, .table_formtype th { padding:5px 15px; font-size: 14px; text-align:left;}
.table_formtype tbody td{border-top:1px solid #787878; }
.table_formtype tbody th{ padding:15px;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;background: #262A45;font-weight: 400;}
.table_formtype tbody th em{color:#ff801b;}
.table_formtype .gray_select{padding-left:24px;}
.spec_box {display: flex; flex-wrap: wrap;}
.spec_box p{padding-right:35px;}
.spec_box p:last-child{padding-right:0;}
.spec_box p span{padding-right:10px;}
.spec_box .gray_inp{width:113px;text-align:center;}
.spec_box .gray_select{width:189px;}
.file_upload{display: flex; flex-wrap: wrap; align-items: center;padding:12px 0;}
.file_upload span{padding:0 45px 0 15px;}
.package_area_top{display: flex; flex-wrap: wrap; align-items: center;}
.package_area_top em{padding-right:14px;}
.package_area_top .gray_select{width:390px;margin-right:12px;}
.package_area_cont {display: flex; flex-wrap: wrap; justify-content: space-between;margin:5px 0;}
.package_area_cont .package_item{width:32.66%;}
.package_area_cont .package_item + .package_item {margin: 0 0 0 1%;}
.package_area_cont .package_item .tit{display:flex;justify-content:space-between; align-items:center; height: 50px; padding: 8px; background: #494c5b;}
.package_area_cont .package_item .tit .gray_select{width:165px;margin:0 5px;}
.package_area_cont .package_item .framebox{height:370px;background: #2B2B2B;overflow-y: auto; padding: 10px;}
.package_area_cont .package_l { width:100%; }
.package_area_cont .package_item .popup_package {background:#0b0d19;}
.package_area_cont .package_item .frame_s {height:150px;}

.boad_bm_text{padding:25px; text-align:center; font-size:15px; background: #272f50;}
.boad_bm_btns{text-align:center;}

/* 로그인 */
.login_area{ width:450px; margin:245px auto 0; text-align:center; font-size:24px; font-weight:500; background: url('../images/expantion_shadow.png') no-repeat 50% 0;}
.lgn_box{position:relative;margin-bottom:16px;}
.login_area input[type='text'],
.login_area input[type='password']{width:100%;border:0;border-radius:3px; padding:20px 25px; height:60px;line-height:20px; font-size:18px; box-sizing:border-box;}

.login_group{margin-bottom:60px;}
.login_group input[type='text'],
.login_group input[type='password']{background: #d6e3e3; padding:20px 25px 20px 80px;}
.login_group .id_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_userid.png') no-repeat 0 0 ;}
.login_group .pw_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_password.png') no-repeat 0 0 ;}

.login_group02{ margin-bottom:-30px;}
.login_group02 .code_box{position:relative;width:100%;border:0;border-radius:3px;height:60px; padding:10px 92px 10px 0;text-align:center;  box-sizing:border-box; background: #fff;}
.login_group02 .code_box a{position:absolute; top:13px; right:16px;}

.join_bottom {margin-top:49px; }
.join_bottom button{position:relative; width:100%; height:60px; font-size:18px; color:#101320; border:0; border-radius:5px; font-weight:600; cursor: pointer; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa800+0,c65009+100 */
  background: #ffa800; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffa800 0%, #c65009 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffa800 0%,#c65009 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffa800 0%,#c65009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#c65009',GradientType=1 ); /* IE6-9 */
}
.join_bottom button:before{position:absolute;top:16px;left:28px;display:inline-block;width:28px;height:28px;background: url('../images/join_btn_icon.png') no-repeat 0 0;content:'';}

.join_bottom02{margin-top:20px; }
.join_bottom02 a{font-size:18px; color:#fff; }






/****************************************************************  210714  ****************************************************************/
/****************************************************************  HEADER  ****************************************************************/



#wrap {
  width: 1910px;
  overflow: hidden;
}
.admin_header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 90px;
}
.header_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header_bg:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  height: 30px;
  background: radial-gradient(ellipse 80% 20px, #20232f, transparent 90%);
  content:'';
}
.admin_header_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  z-index: 10;
}
.admin_header .logo {
  position: relative;
  display: block;
  width: 220px;
  height: 37px;
  background: url('../images/common/logo.svg') no-repeat ;
  background-size: contain;
  margin: 0;
  padding: 0;
}
.admin_header .gnb {
  position: absolute;
  display: flex;
  left: calc(50% - 936.27px / 2);
  align-items: center;
  z-index: 10;
}
.admin_header .util_area,
.admin_header .util_area li,
.admin_header .util_area a {
  display: flex;
  position: relative;
  align-items: center;
}
.admin_header .util_area a span {
  display: block;
  width: 20px;
  height: 20px;
}
.admin_header .util_area li {
  margin: 0 7px;
}
.admin_header .util_area li.bar::before {
  position: relative;
  display: inline-flex;
  content: '';
  background: #787878;
  width: 1px;
  height: 17px;
  /* margin: 0 14px 0 0; */
  margin: 3px 14px 0px 0px;
}
.admin_header .util_area a p {
  color: #ffffff;
  font-size: 16.5px;
  height: 20px;
}
.admin_header .util_area .logout span {
  background: url('../images/icon_logout.png') no-repeat;
}
.admin_header .util_area .user span{
  background: url('../images/icon_profile.png') no-repeat;
}
.admin_header .util_area .logout p {
  font-size: 13px;
  height: 16px;
}
.admin_header .gnb > ul > li:after {
  background: #787878;
}



/****************************************************************  CONTENTS  ****************************************************************/


/****************************************************************  dashboard  */
.w40 {
  width: 30%;
  margin: 0 1% 0 0;
}
.w60 {
  width: 70%;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/common/bg.png') no-repeat center center;
  background-attachment: fixed;
  z-index: -1;
}
.admin_container {
  position: relative;
  display: flex;
  margin: 0 30px;
  padding: 0 0 50px;
}
.contents {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashbaord {
  display: grid;
  grid-template-columns: calc(35% - 1ch) calc(65% - 1ch);
  grid-gap: 2ch;
  grid-template-areas: 'overview mec_cluster'
                       'overview mec_app'
                       'event_list event_list';
  padding: 20px 0 0;
}
.admin_container section {
  position: inherit;
  display: inherit;
  flex-direction: column;
  align-items: flex-start;
  background: #141a31;
  border-radius: 5px;
  padding: 15px;
}
.admin_container .overview {
  order: 1;
  grid-area: overview;
}
.admin_container .mec_app {
  order: 3;
  grid-area: mec_app;
}
.admin_container .mec_cluster {
  order: 2;
  grid-area: mec_cluster;
}
.admin_container .event_list {
  order: 4;
  grid-area: event_list;
}
.admin_container article {
  position: inherit;
  display: inherit;
  flex-direction: column;
}
.admin_container section h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: 300;
}
.admin_container .chart {
  position: relative;
  display: flex;
}
.admin_container .chart_info {
  display: flex;
  flex-direction: column;
  height: 50px;
  padding: 0 20px;
}
.admin_container section h2 {
  font-size: 22px;
  font-weight: 500;
}
.admin_container section h3,
.admin_container section h4,
.admin_container section h1 span {
  font-size: 15px;
}
.admin_container section h1 span {
  background: #0b0d19;
  padding: 7px 15px;
  border-radius: 5px;
}
.admin_container section h3::before,
.admin_container section h4::before,
.admin_container section h1 span::before {
  content: '';
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: #666666;
  border-radius: 50px;
  margin: 0 10px 0 0;
}

.admin_container section dl {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}
.admin_container section .bar {
  display: inline-flex;
  width: 1px;
  height: 20px;
  background: #454545;
  margin: 0 20px;
}
.admin_container section dl dt {
  display: inline-flex;
  color: #dddddd;
  order: 1;
  font-size: 16px;
  font-weight: 400;
}
.admin_container section dl.co6 dt::before,
.admin_container .overview .dot .co6 {
  background: #F25858;
}
.admin_container section dl.co4 dt::before,
.admin_container .overview .dot .co4 {
  background: #4780FD;
}
.admin_container section dl.co5 dt::before,
.admin_container .overview .dot .co5 {
  background: #F8CE69;
}
.admin_container section dl.co1 dt::before,
.admin_container .overview .dot .co1,
.admin_container .mec_cluster h1 span::before {
  background: #2BECD8;
}
.admin_container section dl.co2 dt::before,
.admin_container .overview .dot .co2 {
  background: #896AE0;
}
.admin_container .overview .co6 dt,
.admin_container .global .co6 dt {
  color: #d44d4d;
}
.admin_container .overview .co4 dt,
.admin_container .global .co4 dt {
  color: #4276e7;
}
.admin_container .overview .co5 dt,
.admin_container .global .co5 dt {
  color: #be9e51;
}
.admin_container .overview .co1 dt,
.admin_container .global .co1 dt {
  color: #22c2b2;
}
.admin_container .overview .co2 dt,
.admin_container .global .co2 dt {
  color: #8365d4;
}
.admin_container section dl dd {
  display: inline-flex;
  font-size: 28px;
  font-weight: 600;
  order: 2;
}
.admin_container section .global {
  display: inline-flex;
  align-items: center;
  padding: 5px 20px;
  background: #262A45;
  border-radius: 5px;
}
.admin_container section .global dl {
  justify-content: flex-start;
  height: 25px;
  padding: 0;
  margin: 0;
}
.admin_container section .global dl + dl {
  margin: 0 0 0 20px;
}
.admin_container section .global dt {
  font-size: 15px;
  color: #f4f4f4;;
  align-items: center;
  font-weight: 400;
  margin: 0 15px 0 0;
}
.admin_container section .global dd {
  font-size: 22px;
}
.admin_container section .mini_list {
  padding: 0;
  height: 30px;
}
.admin_container section .mini_list dt {
  font-size: 12px;
}
.admin_container section .mini_list dt::before {
  content: '';
  position: relative;
  display: inline-flex;
  top: 8px;
  width: 10px;
  height: 4px;
  margin: 0 10px 0 0;
  border-radius: 3px;
}
.admin_container section .mini_list dd {
  font-size: 16px;
}
.overview {
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px;
  grid-template-areas: 'header header'
                       'cluster app'
                       'user event';
}
.mec_app,
.mec_cluster,
.event_list {
  display: grid;
  grid-template-columns: calc(33% - 5px) calc(33% - 5px) calc(33% - 5px);
  grid-gap: 15px;
  grid-template-areas: 'header header header'
                       'app_cate app_reg app_down';
}
.mec_cluster {
  grid-template-areas: 'header header header'
                       'chart_box chart_box chart_box';
}
.event_list {
  grid-template-areas: 'header header header'
                       'event_list_table event_list_table event_list_table';
}
.overview h1,
.mec_app h1,
.mec_cluster h1,
.mec_cluster .chart_wrap h4,
.event_list h1 {
  order: 1;
  grid-area: header;
}
.overview .chart_box {
  height: 330px;
}
.overview .cluster {
  order: 2;
  grid-area: cluster;
}
.overview .app {
  order: 3;
  grid-area: app;
}
.overview .user {
  order: 4;
  grid-area: user;
}
.overview .event {
  order: 5;
  grid-area: event;
}
.overview .chart_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}
.overview .chart_tit {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  background: #20243E;
  z-index: 10;
}
.overview .chart_tit i {
  width: 25px;
  height: 25px;
  margin: 0 0 10px;
  opacity: 0.3;
}
.overview .chart_tit .ico1 {
  background: url('../images/common/ico_cluster.svg') no-repeat;
  background-size: 25px;
}
.overview .chart_tit .ico2 {
  background: url('../images/common/ico_app.svg') no-repeat;
  background-size: 25px;
}
.overview .chart_tit .ico3 {
  background: url('../images/common/ico_user.svg') no-repeat;
  background-size: 25px;
}
.overview .chart_tit .ico4 {
  background: url('../images/common/ico_event.svg') no-repeat;
  background-size: 25px;
}
.overview .chart {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
.overview .chart_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/common/chart_bg.svg') no-repeat center center;
  background-size: 230px;
  opacity: 0.6;
}
.overview .chart_info {
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px 0 0;
}
.overview .chart_info .bar {
  height: 50px;
  background: #303030;
}
.overview .chart_info dl {
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
  min-width: 50px;
  max-width: 82px;
}
.overview .chart_info dl dd {
  line-height: 55px;
}
.overview .chart_info dl.dl_s dd {
  font-size: 22px;
}
.overview .chart_info dl dt::before {
  display: none;
}
.mec_app .app_cate {
  order: 2;
  grid-area: app_cate;
}
.mec_app .app_reg {
  order: 3;
  grid-area: app_reg;
}
.mec_app .app_down {
  order: 4;
  grid-area: app_down;
}
.mec_app .chart {
  padding: 15px;
  width: 100%;
  height: 230px;
  background: #0b0d19;
}
.mec_cluster .chart_box {
  order: 2;
  grid-area: chart_box;
}
.mec_cluster .scrollbar {
  height: 350px;
  overflow-y: auto;
}
.mec_cluster .chart_wrap {
  position: inherit;
  display: grid;
  align-items: center;
  grid-template-columns: auto calc(15% - 5px) calc(22% - 5px) calc(22% - 5px) calc(22% - 5px);
  grid-gap: 10px;
  grid-template-areas: 'header header header header header'
                       'chart_info chart cpu mem disk';
  height: 170px;
  padding: 15px;
  margin: 0 0 15px;
  background: #0b0d19;
}
.mec_cluster .chart_wrap .chart_info {
  order: 2;
  grid-area: chart_info;
  height: 85px;
  padding: 10px;
  background: #262A45;
  border-radius: 5px;
}
.mec_cluster .chart_wrap .chart_item {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
}
.mec_cluster .chart_wrap .chart {
  order: 3;
  grid-area: chart;
}
.mec_cluster .chart_wrap .cpu {
  order: 4;
  grid-area: cpu;
}
.mec_cluster .chart_wrap .mem {
  order: 5;
  grid-area: mem;
}
.mec_cluster .chart_wrap .disk {
  order: 6;
  grid-area: disk;
}
.mec_cluster .node,
.mec_cluster .cpu,
.mec_cluster .mem,
.mec_cluster .disk {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.mec_cluster .node {
  justify-content: center;
}
.mec_cluster .node .chart {
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.mec_cluster .node h2 {
  font-size: 20px;
}
.mec_cluster .cpu,
.mec_cluster .mem,
.mec_cluster .disk {
  height: 100px;
  align-items: flex-start;
}
.mec_cluster .cpu .chart,
.mec_cluster .mem .chart,
.mec_cluster .disk .chart {
  width: 150px;
  height: 70px;
  overflow: hidden;
}
.mec_cluster h5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20%;
  font-size: 14px;
}
.mec_cluster h5 span,
.mec_cluster p span {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
}
.mec_cluster h5 span::after,
.mec_cluster p span::after {
  content: '%';
  margin: 0 0 0 5px;
  font-size: 13px;
  font-weight: 600;
  color: #787878;
}
.mec_cluster p {
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.mec_cluster p span  {
  display: inline-flex;
  font-size: 17px;
}
.mec_cluster p span.core::after {
  content: 'Core';
}
.mec_cluster p span.gb::after {
  content: 'GB';
}
.mec_cluster p span.on {
  color: #FF9B26;
}
.mec_cluster p i {
  display: inline-flex;
  margin: 0 10px;
  color: #787878;
}
.event_list .event_list_table {
  order: 2;
  grid-area: event_list_table;
}
/*.event_list article {*/
/*  display: grid;*/
/*  height: 610px;*/
/*  grid-template-rows: calc(8% - 5px) calc(92% - 5px);*/
/*  grid-gap: 10px;*/
/*  grid-template-areas: 'dashboard_top'*/
/*                       'list_table'; */
/*}*/
.event_list article {
  display: grid;
  grid-template-rows: calc(45px - 5px) calc(100% - 45px - 5px);
  grid-gap: 10px;
  grid-template-areas: 'dashboard_top' 'list_table';
}
.event_list .list_table {
  order: 2;
  grid-area: list_table;
}
.event_list .list_table th,
.event_list .list_table td{
  padding: 10px 0;
  font-size: 14px;
}
.event_list .list_table th {
  font-size: 15px;
}
.event_list .list_table span {
  display: inline-flex;
  align-items: center;
}
.event_list .list_table span::before {
  content: '';
  margin: 0 10px 0 0;
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
.event_list .list_table .reg::before {
  background: #4780FD;
}
.event_list .list_table .mod::before  {
  background: #F8CE69;
}
.event_list .list_table .del::before  {
  background: #F25858;
}
.event_list .dashboard_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.event_list .dashboard_search {
  position: relative;
  display: flex;
}
/****************************************************************  input, select, button, search  */
.board_top {
  margin: 35px 0 15px;
}
.btn_com {
  display: inline-flex;
  position: relative;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 5px;
}
.btn_com:hover {
  color: #ffffff;
}
.btn_ok {
  background: #1bb1b0;
  min-width: 110px;
}
.btn_cancel {
  background: rgba(255,255,255,0.1);
  color: #bbbbbb;
  min-width: 110px;
}
.btn_confirm {
  background: #1bb1b0;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 13px;
}
.btn_reject {
  background: rgba(255,255,255,0.1);
  color: #bbbbbb;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 13px;
}
.btn_table {
  background: #1bb1b0;
  padding: 5px 15px;
  font-size: 13px;
}
.btn_verify {
  background: #1b73b1;
  min-width: 110px;
}
.btn_search {
  padding: 8px 30px;
  height: 36px;
}
.btn_search span {
  font-size: 13px;
  font-weight: 600;
}
.btn_search_s {
  position: absolute;
  top: 12px;  
  right: 15px;
  width: 15px;
  height: 15px;
  background: url('../images/btn_search.png') no-repeat;
}
.btn_search_s span {
  font-size: 0;
}
.btn_com span {
  display: flex;
}
.btn_com::before,
.btn_com::after {
  content:"";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.15s linear;
  background: #f4f4f4;
  transition-delay: 0s;
}
.btn_reject::before,
.btn_reject::after,
.btn_cancel::before,
.btn_cancel::after{
  background: #999999;
}
.btn_com::before{
  right: 0;
  top: 0;
}
.btn_com::after{
  left: 0;
  bottom: 0;
}
.btn_com:hover::before,
.btn_com:hover::after{
  width: 100%;
  transition-delay: 0.15s;
}
.input_txt {
  background: #262A45;
  border-bottom: 1px solid #787878;
  color: #ffffff;
  min-width: 150px;
  padding: 8px 15px;
}
.input_txt02 {
  background: #f1f1f1;
  font-size: 14px;
  color: #333333;
  min-width: 80px;
  padding: 5px 15px;
}
.input_txt::placeholder {
  color: #bbbbbb;
}
.input_txt02::placeholder,
.textarea::placeholder {
  color: #999999;
  font-size: 14px;
}
.input_txt.search {
  min-width: 400px;
  height: 36px;
}
.dashboard_top .input_txt.search {
  min-width: 220px; 
}
.input_s {
  width: 159px;
  font-size: 14px;
}
.input_ss {
  width: 80px;
  font-size: 14px;
}
.select {
  -webkit-appearance: none;
  border-bottom: 1px solid #787878;
  color: #ffffff;
  min-width: 150px;
  height: 36px;
  padding: 5px 15px;
  background: url('../images/common/select.svg') no-repeat 93% center #262A45;
}
.select_label {
  display: inline-block;
  padding: 7px 15px;
  width: 150px;
  height: 36px;
  text-align: left;
  vertical-align: middle;
  margin-right: 5.5px;
}
.select02 {
  -webkit-appearance: none;
  font-size: 14px;
  color: #333333;
  min-width: 80px;
  padding: 7px 15px;
  background: url('../images/common/select2.svg') no-repeat 97% center #f1f1f1;
}
.select_s {
  width: 230px;
}
.select_ss {
  width: 80px;
  font-size: 14px;
}
.select_xs {
  width: 150px;
}
.dashboard_top .select {
  min-width: 120px;
}
.textarea {
  height:110px;
  padding: 10px 15px;
  background: #f1f1f1;
}
.reset_btn {
  cursor: pointer;
  min-width: 114px;
  background: #bbbbbb;
  border: 1px solid #bbbbbb;
  padding: 8px 0px;
  margin-left: 4px;
}
.package_area_cont .package_item .framebox {
  height: 370px;
  background: #2B2B2B;
  overflow-y: auto;
  padding: 0 !important;
  width: 434px;
}
.package_area_cont .package_item .framebox_guide {
  height: 250px;
  background: #2B2B2B;
  overflow-y: auto;
  padding: 0;
}
.package_area_cont .package_item .framebox2 {
  height: 530px;
  background: #2B2B2B;
  overflow-y: auto;
  padding: 0 !important;
}
span.valid_msg {
  margin-left: 10px;
  color: #6699cc;
}
input[type=text]:disabled, textarea:disabled {
  opacity: 0.7 !important;
}
/**************************************************************** table ******/
.total {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.total span {
  font-size: 22px;
  font-weight: 600;
  margin: 0 10px;
}
.list_table th,
.list_table td{
  padding: 12px 0;
  text-align: center;
  font-weight: 300;
}
.list_table thead {
  background: #262A45;
  border-top: 2px solid #999999;
  border-bottom: 1px solid #999999;
}
.list_table th {
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0;
}
.list_table td {
  border-bottom: 1px solid #454545;
}
.list_table tbody th {
  background: #262A45;
  border-bottom: 1px solid #999999;
}
.list_table .top {
  border-top: 2px solid #999999;
}
.list_table tbody tr {
  transition: 0.5s;
}
.list_table.list_on tbody tr:hover {
  background: #454545;
  cursor: pointer;
  transition: 0.5s;
}
.table_admintype {
  border-top: 2px solid #999999;
  border-bottom:1px solid #787878;
}
.table_admintype td,
.table_admintype th {
  font-size: 14px;
  padding: 15px;
  text-align: left;
}
.table_admintype tbody th {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  font-weight: 500;
  background: #2c314e;
}
.table_admintype tbody td {
  border-top: 1px solid #787878;
}
.choice_list {
  display: flex;
  flex-wrap: wrap;
}
.choice_list li {
  min-width: 200px;
  padding: 5px 0;
  margin-right: 50px;
}
/**************************************************************** paging ******/
.paging {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paging a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #0b0d19;
  color: #ffffff;
  margin: 0 5px;
}
.paging a.on {
  border-bottom: 2px solid #2BECD8;
  color: #2BECD8;
  font-weight: 600;
}
.paging .prev {
  background: url('../images/paging_next.png') no-repeat center center;
  transform: rotate(180deg);
  background-size: 6px;
}
.paging .next {
  background: url('../images/paging_next.png') no-repeat center center;
  background-size: 6px;
}
.paging .first {
  background: url('../images/paging_last.png') no-repeat center center;
  transform: rotate(180deg);
  background-size: 10px;
}
.paging .last {
  background: url('../images/paging_last.png') no-repeat center center;
  background-size: 10px;
}
.paging .prev,
.paging .next,
.paging .first,
.paging .last {
  border: 1px solid #454545;
}
/**************************************************************** popup ******/
#mask {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  background:rgba(105,108,119,0.85);
  z-index:9000;
}
.popup_admin {
  width:1000px;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:9999;
  border-radius: 15px;
  background: url('../images/popup_head_bg.png') repeat-x center top #19203e;
  background-size: 1000px;
  box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);
  -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);
  border: 2px solid #ffffff;
}
.popup_admin h1 {
  position: relative;
  padding: 0 30px 15px;
  margin: 30px 0 0;
  font-size:20px;
  font-weight: 500;
  border-bottom:1px solid #ffffff;
}
.popup_admin h1 span {
  position: relative;
  display: inline-flex;
}
.popup_admin h1 span::after {
  content: '';
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: 6px;
  bottom: -18px;
  left: 0;
  background: #1bb1b0;
  border-radius: 10px;
}
.popup_admin h2 {
  font-size: 16px;
  margin: 10px 0 5px;
}
.popup_admin h2::before {
  content: '';
  position: relative;
  display: inline-flex;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  margin: 0 7px 0 0;
  background: #1bb1b0;
}
.popup_admin .pop_admincont {
  padding:35px;
}
.popup_admin .pop_footer {
  text-align:center;
  padding:0 35px 45px 35px;
}
.popup_admin .pop_adminclose {
  position: absolute;
  top: -25px;
  right: -25px;
}
.return_form dt{
  padding-bottom:15px;
  font-size:18px;
  font-weight:500;
}
.return_form dt span{
  font-size:14px;
  padding-left:40px;
}
.return_form dd textarea{
  width:100%;
  height:100px;
  background: #f4f4f4;
  resize: none;
}
.pop_modal {
  width:600px;
}
.pop_modal .modal_cont {
  text-align:center;
  padding:60px 10px 60px;
}
.pop_modal .modal_cont .message_box {
  text-align:center;
  font-size:30px;
}
.pop_modal .modal_cont .message_subtext {
  padding-top:30px;
  line-height:1.8em;
  font-size:14px;
}
.pop_modal .modal_cont .message_subtext .txt01{
  color:#c2def2;
  font-size:16px;
}
.pop_modal .modal_cont .message_btns {
  padding-top:40px;
  text-align:center;
}
/* select */
.join_wrap  select:invalid {
  color: #999;
}
.join_wrap option[value=""][disabled] {
  display: none;
}
.bootstrap-select > .dropdown-toggle {
  display: flex!important;
  width: 532px!important;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px!important;
  font-weight: 600;
  color: #555!important;
  background: url('../images/common/select2.svg') no-repeat 97% center #ffffff;
  outline: none;
  border: none;
}
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle, .bootstrap-select .dropdown-toggle:focus {
  outline: none!important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 532px;
}
.bootstrap-select .dropdown-menu {
  min-width: calc(29.3% - 10px);
  box-sizing: border-box;
}
.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
}
.bootstrap-select .dropdown-menu li {
  position: relative;
}
.bootstrap-select .dropdown-menu li a {
  cursor: pointer;
  user-select: none;
}
.bootstrap-select .dropdown-menu li a.opt {
  padding: 1px 10px 1px 40px;
}
.bootstrap-select .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 5px;
}
.bootstrap-select .bs-ok-default:after {
  content: '';
  display: block;
  width: 0.5rem;
  height: 1rem;
  border-style: solid;
  border-width: 0 0.26em 0.26em 0;
  transform: rotate(45deg);
}
.bootstrap-select.show-tick .dropdown-menu li a span.text {
  display: inline-block;
  margin: 0 34px 0 0;
}
.dropdown-menu {
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2.5px 0;
  font-size: 14px;
  color: #555;
  text-align: left;
  background-clip: padding-box;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0px 25px;
  clear: both;
  color: #555;
  white-space: nowrap;
  background: transparent;
}
.dropdown-item.disabled {
  display: none;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background: #00b4ff;
}
.dropdown-divider {
  height: 0;
  margin: 6px 15px -2px;
  overflow: hidden;
  border-top: 1px dashed #e1e1e1;
}
.dropdown-menu li.disabled + .optgroup-1div {
  display: none;
}
.dropdown-header {
  display: block;
  padding: 5px 25px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  white-space: nowrap;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-menu[x-placement^=bottom],
.dropdown-menu[x-placement^=left],
.dropdown-menu[x-placement^=right],
.dropdown-menu[x-placement^=top] {
  right: auto;
  bottom: auto;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #777!important;
}
.bootstrap-select.select_s > .dropdown-toggle {
  width: 230px!important;
}
.bootstrap-select.select_s:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 230px;
}
.bootstrap-select.select_s .dropdown-menu {
  min-width: 230px;
}
.bootstrap-select.select_xs > .dropdown-toggle {
  width: 150px!important;
}
.bootstrap-select.select_xs:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 150px;
}
.bootstrap-select.select_xs .dropdown-menu {
  min-width: 150px;
}
