body,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,
p,blockquote,th,td,table,small,b,article,aside,canvas,details,figcaption,figure,footer,
header,menu,nav,section,time,mark,audio,video,button{margin:0;padding:0;font-family:'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,AppleGothic;}
header,footer,article,aside,details,figcaption,figure,footer,header,menu,nav,section,video{display:block;}
html,body {margin:0; height:100%;}
body {height:100vh; min-width:1920px; overflow-x:auto;}
html{height:100%;}
td{vertical-align: middle;}
img,fieldset{border:none;}
address,caption,cite,code,em,strong,th{font-style:normal;}
ol,ul,li{list-style:none;}
caption{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:after,q:before{content:"";}
abbr,acronym{border:none;}
img,li{vertical-align:middle;}
hr, caption{display:none;}
a:link,a:visited{text-decoration: none;color:inherit;}
li img, dd img{vertical-align:top;}
button,input[type=button],input[type=submit]{border:none; margin:6px;}
* {font-size:13px; max-height: 1000000px; margin:0; padding: 0; }
a {color:#4c4c4e;text-decoration:none !important;vertical-align:top;}

@font-face {
font-family : "KT";
    src: url('../font/KTfontBold.eot'); /* IE9 Compat Modes */
    src: url('../font/KTfontBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/KTfontBold.woff') format('woff'); /* Pretty Modern Browsers */
font-weight: 600;
}

@font-face {
font-family : "KT";
    src: url('../font/KTfontMedium.eot'); /* IE9 Compat Modes */
    src: url('../font/KTfontMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/KTfontMedium.woff') format('woff'); /* Pretty Modern Browsers */
font-weight: 500;
}

@font-face {
font-family : "KT";
    src: url('../font/KTfontLight.eot'); /* IE9 Compat Modes */
    src: url('../font/KTfontLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/KTfontLight.woff') format('woff'); /* Pretty Modern Browsers */
font-weight: 400;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 10px;
	background-clip: padding-box;
}
::-webkit-scrollbar-track {
	background-color: #ddd;
	border-radius: 10px;
}

.Allwrap { position: relative;  overflow: hidden; min-height: 100%; box-sizing: border-box;}
.Allwrap2 { position: relative;  overflow: hidden; min-height: 100%;   box-sizing: border-box;}

/* 마진탑 */
.mgt10 {margin-top:10px !important;}
.mgt20 {margin-top:20px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}
.mgt80 {margin-top:80px !important;}
.mgt90 {margin-top:90px !important;}
.mgt100 {margin-top:100px !important;}
.mgt110 {margin-top:110px !important;}
.mgt120 {margin-top:120px !important;}
.mgt130 {margin-top:130px !important;}
.mgt140 {margin-top:140px !important;}
.mgt150 {margin-top:150px !important;}
.mgt160 {margin-top:160px !important;}
.mgt170 {margin-top:170px !important;}
.mgt180 {margin-top:180px !important;}
.mgt190 {margin-top:190px !important;}
.txalcen {text-align:center important;}
.txallef {text-align:left important;}
.txalrig {text-align:right important;}

/* 마진left */
.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl40 {margin-left:40px !important;}
.mgl50 {margin-left:50px !important;}
.mgl60 {margin-left:60px !important;}
.mgl70 {margin-left:70px !important;}
.mgl80 {margin-left:80px !important;}
.mgl90 {margin-left:90px !important;}
.mgl100 {margin-left:100px !important;}
.mgl110 {margin-left:110px !important;}
.mgl120 {margin-left:120px !important;}
.mgl130 {margin-left:130px !important;}
.mgl140 {margin-left:140px !important;}
.mgl150 {margin-left:150px !important;}
.mgl160 {margin-left:160px !important;}
.mgl170 {margin-left:170px !important;}
.mgl180 {margin-left:180px !important;}
.mgl190 {margin-left:190px !important;}

/*** Form ***/
select,
textarea {width:100%;padding:0 10px;border:1px solid #e1e1e1;box-sizing:border-box;background-color:#fff;font-family:'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,AppleGothic;font-size:12px;color:#4c4c4e;}
select {padding:5px;letter-spacing:-0.05em;}
textarea {padding:10px;}

.tecolred {color:#cc0000}
.tecolblk {color:#000}

/* 폰트사이트 */
.fts13 {font-size:13px !important;}
.fts15 {font-size:15px !important;}
.fts17 {font-size:17px !important;}
.fts19 {font-size:19px !important;}
.fts21 {font-size:21px !important;}
.fts23 {font-size:23px !important;}
.fts25 {font-size:25px !important;}
.fts27 {font-size:27px !important;}
.fts29 {font-size:29px !important;}
.fts31 {font-size:31px !important;}
.fts33 {font-size:33px !important;}
.fts35 {font-size:35px !important;}
.fts37 {font-size:37px !important;}
.fts39 {font-size:39px !important;}

/*width*/
.wid10per {width:10% !important;}
.wid11per {width:11.1% !important;}
.wid12per {width:12.5% !important;}
.wid20per {width:20% !important;}
.wid25per {width:25% !important;}
.wid30per {width:30% !important;}
.wid33per {width:33.3% !important;}
.wid40per {width:40% !important;}
.wid50per {width:50% !important;}
.wid60per {width:60% !important;}
.wid70per {width:70% !important;}
.wid80per {width:80% !important;}
.wid90per {width:90% !important;}
.wid100per {width:100% !important;}

.wid100 {width:100px !important;}
.wid150 {width:150px !important;}
.wid200 {width:200px !important;}
.wid250 {width:250px !important;}
.wid300 {width:300px !important;}
.wid350 {width:350px !important;}
.wid400 {width:400px !important;}
.wid450 {width:450px !important;}
.wid500 {width:500px !important;}
.wid550 {width:550px !important;}
.wid600 {width:600px !important;}
.wid650 {width:650px !important;}
.wid700 {width:700px !important;}
.wid750 {width:750px !important;}
.wid800 {width:800px !important;}
.wid850 {width:850px !important;}

/* padding-Left */
.pdl10 {padding-Left:10px !important;}
.pdl20 {padding-Left:20px !important;}
.pdl30 {padding-Left:30px !important;}
.pdl40 {padding-Left:40px !important;}
.pdl50 {padding-Left:50px !important;}
.pdl60 {padding-Left:60px !important;}
.pdl70 {padding-Left:70px !important;}
.pdl80 {padding-Left:80px !important;}
.pdl90 {padding-Left:90px !important;}
.pdl100 {padding-Left:100px !important;}

/**/
.Rig10 {right:10px !important;}
.Rig20 {right:20px !important;}
.Rig30 {right:30px !important;}
.Rig40 {right:40px !important;}
.Rig50 {right:50px !important;}
.Rig60 {right:60px !important;}
.Rig70 {right:70px !important;}
.Rig80 {right:80px !important;}
.Rig90 {right:90px !important;}
.Rig100 {right:100px !important;}
.Rig110 {right:110px !important;}
.Rig120 {right:120px !important;}
.Rig130 {right:130px !important;}
.Rig140 {right:140px !important;}
.Rig145 {right:145px !important;}
.Rig150 {right:150px !important;}
.Rig160 {right:160px !important;}
.Rig165 {right:165px !important;}
.Rig170 {right:170px !important;}
.Rig180 {right:180px !important;}
.Rig190 {right:190px !important;}
.Rig195 {right:195px !important;}
.Rig200 {right:200px !important;}
.Rig210 {right:210px !important;}
.Rig220 {right:220px !important;}

/* common content */
.bodyWrap {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.Contents_Wraps {
    width:100%; 
    padding: 0px 45px 40px;
}
.In_Contents {
    min-width:1200px;
}

/* footer */
.footer {
    width:100%;
    height:40px;
    background:#f8f8f8; 
    position:absolute; 
    left:0; 
    bottom:0;
    display:table; 
    table-layout:fixed;  
}
.footer p {
    color:#b8b8b8; 
    font-size:12px; 
    font-style:normal; 
    text-align:center; 
    letter-spacing:-0.05em; 
    display:table-cell; 
    vertical-align:middle;
    font-family:'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,AppleGothic;
}

/* login */
.Login_Wrap2 {
    text-align: center;
    font-size: 18px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}
.Login_Wrap2 .innerLogins {
    width:540px; 
    margin-top:-100px;
}
.Login_Wrap2 .Login_Logo2 {
    margin:0 auto; 
    padding-bottom:30px;
}
.Titles_Wrap {
    width:500px; 
    text-align:center; 
    height:70px; 
    margin:0 auto;
}
.Titles_Wrap h1 { 
    font-size: 27px; 
    font-family: "KT"; 
}
.LoginBox {
    display: flex;
    width: 950px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.LoginTable {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}
.LoginTable table th.blank {
    background: none;
}
.LoginTable table th,
.LoginTable table td {
    padding: 5px 10px;
    border-bottom: 2px dotted #fff;
}
.LoginTable table th {
    font-weight: 600;
    font-family: "KT";
    font-size: 14px;
}
.LoginTable table tr:last-child th,
.LoginTable table .noLine th,
.LoginTable table .noLine td,
.LoginTable table tr:last-child td {
    border-bottom: none;
}
.LoginTable table td.multiple {
    text-align: left;
}
.LoginTable table td.multiple input:nth-child(1) {
    display: inline-block;
    width: 253px;
    margin: 0 10px 0 0;
}
.LoginTable table td.multiple input:nth-child(2) {
    margin: 0 10px 0 0;
}
.LoginTable table td.multiple input:nth-child(2),
.LoginTable table td.multiple select {
    display: inline-block;
    width: 212px;
}
.LoginTable .idtexts {
    margin: 10px 10px 5px;
    display: inline-block;
}
.LoginTable .notice {
    padding: 10px 0 0;
}
.LoginTable .notice li {
    text-align: left;
    margin: 0 0 5px;
}
.LoginTable .notice li::before {
    content: '';
    display: inline-flex;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #ccc;
    margin: 0 5px 0 0;
}
.LoginTable .notice li strong {
    color: #cc0000;
}
/* btn */
a.btn_lm {
	display: inline-block;
	min-width: 94.5px;
	height: 34px;
	padding: 0 10px;
	box-sizing: border-box;
	line-height: 30px;
	letter-spacing: -0.05em;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	transition: all 0.3s;
	text-indent: 0;
}
a.btn_m {
	display: inline-block;
	min-width: 70px;
	height: 30px;
	padding: 0 10px;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 26px;
	letter-spacing: -0.05em;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	transition: all 0.3s;
}
a.btn_s {
	display: inline-block;
	min-width: 70px;
	width: auto !important;
	height: 24px;
	padding: 0 10px;
	box-sizing: border-box;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	transition: all 0.3s;
}
a.btn_util {	
	height: 26px;
	border: 1px solid #2c3345;
	background-color: #2c3345;
	line-height: 24px;
	color: #fff;
    border-radius: 5px;
}
a.btn_util:hover {
    color: #2c3345;
    background: transparent;
    border: 1px solid #2c3345;
}
a.btn_submit,
a.btn_cancel {
    color: #fff;
    height: 30px;
    font-size: 13px;
    font-weight: 600;
}
.btnsWrap {
    clear:both; 
    width:100%; 
    display:table; 
    text-align:center; 
    box-sizing:border-box;
}
.btnsWrap button {
    font-size:13px; 
    font-weight:bold; 
    margin:3px;
}
.btnsWrap a.btn + a.btn {
    margin: 0 0 0 5px;
}
.LoginBox .btnsWrap { 
    margin: 30px 0 0;
}
.btn.Login_Btns2 {
    height:60px; 
    border-radius: 50px; 
    font-size:18px; 
    font-weight: 600;
    margin: 0;
}
.btn.Login_Btns_st2,
.btn.Login_Btns_st3 {
    height: 45px; 
    border-radius: 50px; 
    font-size: 16px; 
    font-weight: 600;
    margin: 0;
}
.LoginBox .btnsWrap .Login_Btns_st2 { 
    width: 250px;
}
.LoginBox .btnsWrap .Login_Btns_st3 { 
    width: 150px;
}
.btnsWrap .btn + .btn {
    margin: 0 0 0 10px;
}
.login_area input[type="text"], 
.login_area input[type="password"]{
    border: none;
    background: #f8f8f8;
    height:60px;
    line-height:60px;
    font-size:16px;
    padding:0 30px; 
    outline:none;
    border-radius: 10px;
}
.login_texts input[type="text"], 
.login_texts input[type="password"]{
    border: 1px solid #eee;
    background: #fff;
    height:60px;
    line-height:60px;
    font-size:16px;
    padding:0 30px;
    outline:none;
}
.form-group.login_area_s {
    margin: 0;
    text-align: left;
}
.login_area_s input[type="text"], 
.login_area_s input[type="password"],
.login_area_s select {
    border: none;
    background: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    padding: 0 10px; 
    border-radius: 5px;
    outline:none;
}
.login_area_s input[type="text"].readonly,
.login_area_s input[type="password"].readonly {
    background: #ddd;
    cursor: default;
}
.login_area_s input[type="text"].readonly:focus,
.login_area_s input[type="password"].readonly:focus {
    border-color: transparent;
    box-shadow: none;
} 
.checkbox {
    position: relative;
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: wrap;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    overflow-y: auto;
}
.checkbox li {
    display: inline-flex;
    text-align: left;
    width: 170px;
}
.checkbox .form-control {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.checkbox label {
    display: block;
    font-size: 14px;
}
.LoginTable .date {
    text-align: left;
    font-weight: 600;
}
.LoginTable .editDate {
    color: #d23430;
}
.idtexts {
    text-align:left; 
    color:#cc0000; 
    line-height:150%; 
    letter-spacing:-.6px;
}

/* security */
.security_wrap{
    width:540px; 
    height:60px;
}
.security_wrap .Inleft {
    float:left; 
    width:470px; 
    text-align:left;
    border:1px solid #eee; 
    height:60px;
}
.security_wrap .Inright {
    float:left;
    width:70px; 
    height:60px; 
    text-align:right; 
}
.security_wrap .Inright .Onbtns {
    cursor:pointer;
    width:60px; 
    height:60px; 
    border:1px solid #eee; 
    display:inline-block; 
    background:url(../images/btn_refresh.png)no-repeat; 
    background-position:center; 
    transition:.5s;
}
.security_wrap .Inright .Onbtns:hover {
    border:1px solid #555; 
    transition:.5s;
}

/* popup */
.PopsBg {
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,0.5); 
    position:fixed; 
    top:0; 
    z-index:500;
    display: none;
}
.PopUpWRap2 {
    width: 700px; 
    height: 500px; 
    position: absolute; 
    background:#fff; 
    border-radius: 10px;
    box-shadow: 1px 1px 10px #454545;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index:510;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.PopUpWRap2.mini {
    width: 450px;
    height: 300px;
}
.PopUpWRap2.wide {
    width: 1100px;
    height: 700px;
}
.PopUpWRap2 .inPop {
    width: 100%; 
    overflow: hidden;
    position:relative; 
    font-size: 14px; 
    padding: 20px;
}
.PopUpWRap2 .inPop .scrollbar {
    overflow-y: auto; 
    height: 350px;
    margin: 0 0 20px;
}
.PopUpWRap2.mini .inPop .scrollbar {
    height: 150px;
}
.PopUpWRap2.wide .inPop .scrollbar {
    height: 550px;
}
.PopUpWRap2 .PopInTitle {
    width: 100%;
    height: 60px; 
    padding:0 30px;
    background-color:#2c3345;
    color:#fff;
    font-size:18px;
    line-height: 61px;
    font-weight:bold;
    letter-spacing:-0.02em;
    border-radius: 10px 10px 0 0;
}
.PopUpWRap2 .inPop p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    font-family:'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,AppleGothic;
}
.Pop_ClosBtn {
    position:fixed; 
    cursor:pointer;
    top:-17px;
    right:-17px;
    width:53px;
    height:53px;
    background:url(../images/btn_pop_close.png) no-repeat;
    text-indent:-9999px;
    z-index: 510;
    overflow:hidden;
}


