@charset "utf-8";

.opera_about {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .45);
    flex-flow: column;
    z-index: 500
}

.opera_about::before {
    content: '';
    display: block;
    height: 24px;
    min-height: 30px;
    flex-grow: 1;
}

.opera_about::after {
    content: '';
    display: block;
    height: 24px;
    min-height: 30px;
    flex-grow: 1;
}

.opera_about > .about_container {
    position: relative;
    display: block;
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
}

.opera_about > .about_container > div {
    color: gray;
    font-size: 13px;
}

.opera_about .logo {
    height: 90px;
    background: url('../images/logos.png') center no-repeat;
    margin-bottom: 20px;
}

.opera_about .about_copyright {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}