body,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,
p,blockquote,th,td,table,small,b,article,aside,canvas,details,figcaption,figure,footer,
header,menu,nav,section,time,mark,audio,video,button{margin:0;padding:0;}
header,footer,article,aside,details,figcaption,figure,footer,header,menu,nav,section,video{display:block;}
html,body {margin:0; height:100%;}
body {height:100vh; min-width:1920px; overflow-x:auto;}
html{height:100%;}
td{vertical-align: middle;}
img,fieldset{border:none;}
address,caption,cite,code,em,strong,th{font-style:normal;}
ol,ul,li{list-style:none;}
caption{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:after,q:before{content:"";}
abbr,acronym{border:none;}
img,li{vertical-align:middle;}
hr, caption{display:none;}
a:link,a:visited{text-decoration: none;color:inherit;}
li img, dd img{vertical-align:top;}
button,input[type=button],input[type=submit]{border:none; margin:6px;}
* {font-size:13px; max-height: 1000000px; margin:0; padding: 0; }
a {color:#4c4c4e;text-decoration:none !important;vertical-align:top;}

   .Allwrap { position: relative;  overflow: hidden; min-height: 100%; padding-bottom: 70px; box-sizing: border-box;}
   .Allwrap2 { position: relative;  overflow: hidden; min-height: 100%;   box-sizing: border-box;}
 @font-face {
 font-family : "notokrR";
  src: url('../font/notokr-regular.eot'); /* IE9 Compat Modes */
  src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/notokr-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/notokr-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/notokr-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
 font-family : "notokrM";
  src: url('../font/notokr-medium.eot'); /* IE9 Compat Modes */
  src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/notokr-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/notokr-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/notokr-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
 font-family : "notokrB";
  src: url('../font/notokr-bold.eot'); /* IE9 Compat Modes */
  src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/notokr-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/notokr-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/notokr-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


.Bigs input [type="checkbox"] {width:17px; height:17px; position:relative; top:3px;}

/* 마진탑 */
.mgt10 {margin-top:10px !important;}
.mgt20 {margin-top:20px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}
.mgt70 {margin-top:70px !important;}
.mgt80 {margin-top:80px !important;}
.mgt90 {margin-top:90px !important;}
.mgt100 {margin-top:100px !important;}
.mgt110 {margin-top:110px !important;}
.mgt120 {margin-top:120px !important;}
.mgt130 {margin-top:130px !important;}
.mgt140 {margin-top:140px !important;}
.mgt150 {margin-top:150px !important;}
.mgt160 {margin-top:160px !important;}
.mgt170 {margin-top:170px !important;}
.mgt180 {margin-top:180px !important;}
.mgt190 {margin-top:190px !important;}
.txalcen {text-align:center important;}
.txallef {text-align:left important;}
.txalrig {text-align:right important;}

/* 마진left */
.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl40 {margin-left:40px !important;}
.mgl50 {margin-left:50px !important;}
.mgl60 {margin-left:60px !important;}
.mgl70 {margin-left:70px !important;}
.mgl80 {margin-left:80px !important;}
.mgl90 {margin-left:90px !important;}
.mgl100 {margin-left:100px !important;}
.mgl110 {margin-left:110px !important;}
.mgl120 {margin-left:120px !important;}
.mgl130 {margin-left:130px !important;}
.mgl140 {margin-left:140px !important;}
.mgl150 {margin-left:150px !important;}
.mgl160 {margin-left:160px !important;}
.mgl170 {margin-left:170px !important;}
.mgl180 {margin-left:180px !important;}
.mgl190 {margin-left:190px !important;}


table thead th {text-align:center important;}
table thead th input[type="checkbox"]{position:relative; top:1px; margin-right:2px;}

table.centAll {width:100%;}
table.centAll tbody td {text-align:center !important;  }
table.centAll tbody td img{width:23px; cursor:pointer;}

table.cent {width:99.3%;}
table.cent tbody td {text-align:center !important;  }
table.cent tbody td img{width:23px; cursor:pointer;}

table.bot_cent {width:99.1%;}
table.bot_cent thead th {height: 27px; padding: 2px 5px 5px;}
table.bot_cent tbody td {text-align:center ; height: 27px; border-bottom:1px solid #eee; letter-spacing:-.7px}
table.bot_cent tbody tr:hover {background:#f8f8f8}
.bot_cent > tbody > tr > td:nth-child(3) {text-align:left; padding-left:15px;}


.op_screen{width:100%;height:265px;z-index:2;background-color:#fff;position:absolute;left:0; }
.op_screen.open{width:100%; height:905px;z-index:2;background-color:#fff;position:absolute;left:0;top:-9px;}
.op_screen.open .operating_area{border-top:none;margin-top:0;}
.op_screen.open .table_ty,
.op_screen.open .table_ty .mCustomScrollBox{max-height:834px !important;}


/* operating_area */
.operating_area{position:relative;background:#fff;border-top:2px solid #ccc; padding:10px 0 8px;text-align:center;}
.operating_area .left{position:absolute;left:0px;top:9px;}
.operating_area .type_area{display:inline-block;}
.operating_area .type_area a{display:block;color:#999;padding-right:73px;background:url('../images/btn_msg_more.png') no-repeat  right center;height:34px;line-height:34px;}

.op_type_sel{display:inline-block;width:120px;vertical-align:top;}
.op_srch{display:inline-block;position:relative;width:165px;height:30px;background-color:#fff;border:1px solid #d2d3d5;box-sizing:border-box;border-radius:20px;padding:0 40px 0 15px;margin-left:5px;}
.op_srch input{border:none !important;height:28px !important;line-height:28px !important; outline:none; width:130px; padding-right:15px;}
.op_srch .btn_srch{cursor:pointer;position:absolute;right:7px;top:-2px;background:url('../images/ico_msg_srch.png') no-repeat  center;width:30px;height:30px;font-size:0;}


.page_nav{text-align:center;display:inline-block;vertical-align:top;margin-top:-1px;}
.page_nav > a{display:inline-block;width:23px;height:30px;background:center no-repeat;font-size:0;text-indent:-9999px;overflow:hidden;transition:all 0.3s;}
.page_nav .first{margin-left:0;background-image:url('../images/btn_msg_first.png');}
.page_nav .prev{background-image:url('../images/btn_msg_prev.png');width:17px;}
.page_nav .next{background-image:url('../images/btn_msg_next.png');width:17px;}
.page_nav .last{margin-right:0;background-image:url('../images/btn_msg_last.png');}
.page_nav .first:hover{background-image:url('../images/btn_msg_first_on.png');}
.page_nav .prev:hover{background-image:url('../images/btn_msg_prev_on.png');}
.page_nav .next:hover{background-image:url('../images/btn_msg_next_on.png');}
.page_nav .last:hover{background-image:url('../images/btn_msg_last_on.png');}
.page_nav ul{display:inline-block;vertical-align:top;margin:0 5px;}
.page_nav li{display:inline-block;height:30px;line-height:30px;color:#b8b8b8;}
.page_nav .current{width:50px;height:30px;line-height:28px;border:1px solid #d2d3d5;border-radius:15px;box-sizing:border-box;color:#777;vertical-align:top;}
.page_nav small{padding:0 8px;}


.op_filter_sel{display:inline-block;width:80px;margin:0 20px;vertical-align:top;margin-top:-1px;}
.op_total_count{display:inline-block;line-height:30px;margin-top:-1px;}
.op_total_count .count{font-size:16px;color:#999;vertical-align:middle;}
.op_total_count .count strong{font-size:18px;line-height:30px;letter-spacing:-0.05em;}

.op_value{display: inline-block;padding-left:15px;vertical-align:middle;}
.op_value .ico_value{display:inline-block;font-size:9px;color:#fff;width:21px;height:21px;text-align:center;border-radius:50%;margin:0 0 0 2px;border:2px solid transparent;line-height:17px;cursor:pointer;}
.op_value .ico_value:first-child{margin-left:0;}

.operating_area .right{position:absolute;right:0px;top:9px;}
.op_mask_area{vertical-align:top;display:inline-block;width:125px;height:30px;border:1px solid #dcdcde;box-sizing:border-box;border-radius:20px;background-color:#fff;}
.op_mask_area a{display:inline-block;width:50%;height:100%;float:left;text-align:center;color:#888;font-size:12px;line-height:28px;letter-spacing:-0.05em;transition:all 0.3s;}
.op_mask_area a:hover{color:#000;}
.op_mask_area a + a{border-left: 1px solid #dcdcde;margin-left:-1px;}
.op_mask_area:after{content:"";display:block;clear:both;overflow:hidden;}

.op_play_area{background:#fff;display:inline-block;max-width:125px;height:30px;line-height:30px;border:1px solid #dcdcde;box-sizing:border-box;border-radius:20px;margin-left:20px; margin-right:20px;}
.op_play_area a{display:inline-block;width:50%;height:100%;float:left;text-align:center;font-size:0;overflow:hidden;text-indent:-9999px;transition:all 0.3s;box-sizing:border-box;background-repeat:no-repeat;background-position:center 8px;}
.op_play_area a + a{border-left:1px solid #dcdcde;margin-left:-1px;}
.op_play_area .btn_eye{background-image:url('../images/btn_msg_eye.png');width:42px;}
.op_play_area .btn_sound{background-image:url('../images/btn_msg_sound.png');width:42px;background-position:center 7px;}
.op_play_area .btn_pause{background-image:url('../images/btn_msg_pause.png');width:41px;}
.op_play_area .btn_eye.off{background-image:url('../images/btn_msg_eye_off.png');background-position:center 6px;}
.op_play_area .btn_sound.off{background-image:url('../images/btn_msg_sound_off.png');}
.op_play_area .btn_pause.off{background-image:url('../images/btn_msg_play.png');background-position:center 9px;}
.op_play_area .btn_eye:hover{background-image:url('../images/btn_msg_eye_on.png');}
.op_play_area .btn_sound:hover{background-image:url('../images/btn_msg_sound_on.png');}
.op_play_area .btn_pause:hover{background-image:url('../images/btn_msg_pause_on.png');}
.op_play_area .btn_eye.off:hover{background-image:url('../images/btn_msg_eye_off_on.png');}
.op_play_area .btn_sound.off:hover{background-image:url('../images/btn_msg_sound_off_on.png');}
.op_play_area .btn_pause.off:hover{background-image:url('../images/btn_msg_play_on.png');}

.op_play_area:after{content:"";display:block;clear:both;overflow:hidden;}
.operating_area .btn_op_list{display:inline-block;background:url('../images/btn_msg_window.png') no-repeat  center;width:23px;height:29px;font-size:0;text-indent:-9999px;overflow:hidden;margin:0 30px 0 15px;}
.operating_area .btn_op_list.active{background:url('../images/btn_msg_window_close.png') no-repeat  center;}

i.ico_mask{display:inline-block;background:url('../images/ico_mask.png') no-repeat  center;width:12px;height:9px;vertical-align:middle;font-size:0;text-indent:-9999px;overflow:hidden;}

/*** Form ***/
select,
textarea {width:100%;padding:0 10px;border:1px solid #e1e1e1;box-sizing:border-box;background-color:#fff;font-family:'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,AppleGothic;font-size:12px;color:#4c4c4e;}
.op_type_sel select, {height:30px;}
select {padding:5px;letter-spacing:-0.05em;}
textarea {padding:10px;}

.tecolred {color:#cc0000}
.tecolblk {color:#000}

/* 폰트사이트 */
.fts13 {font-size:13px !important;}
.fts15 {font-size:15px !important;}
.fts17 {font-size:17px !important;}
.fts19 {font-size:19px !important;}
.fts21 {font-size:21px !important;}
.fts23 {font-size:23px !important;}
.fts25 {font-size:25px !important;}
.fts27 {font-size:27px !important;}
.fts29 {font-size:29px !important;}
.fts31 {font-size:31px !important;}
.fts33 {font-size:33px !important;}
.fts35 {font-size:35px !important;}
.fts37 {font-size:37px !important;}
.fts39 {font-size:39px !important;}

/*width*/
.wid10per {width:10% !important;}
.wid11per {width:11.1% !important;}
.wid12per {width:12.5% !important;}
.wid20per {width:20% !important;}
.wid25per {width:25% !important;}
.wid30per {width:30% !important;}
.wid33per {width:33.3% !important;}
.wid40per {width:40% !important;}
.wid50per {width:50% !important;}
.wid60per {width:60% !important;}
.wid70per {width:70% !important;}
.wid80per {width:80% !important;}
.wid90per {width:90% !important;}
.wid100per {width:100% !important;}

.wid100 {width:100px !important;}
.wid150 {width:150px !important;}
.wid200 {width:200px !important;}
.wid250 {width:250px !important;}
.wid300 {width:300px !important;}
.wid350 {width:350px !important;}
.wid400 {width:400px !important;}
.wid450 {width:450px !important;}
.wid500 {width:500px !important;}
.wid550 {width:550px !important;}
.wid600 {width:600px !important;}
.wid650 {width:650px !important;}
.wid700 {width:700px !important;}
.wid750 {width:750px !important;}
.wid800 {width:800px !important;}
.wid850 {width:850px !important;}

/* padding-Left */
.pdl10 {padding-Left:10px !important;}
.pdl20 {padding-Left:20px !important;}
.pdl30 {padding-Left:30px !important;}
.pdl40 {padding-Left:40px !important;}
.pdl50 {padding-Left:50px !important;}
.pdl60 {padding-Left:60px !important;}
.pdl70 {padding-Left:70px !important;}
.pdl80 {padding-Left:80px !important;}
.pdl90 {padding-Left:90px !important;}
.pdl100 {padding-Left:100px !important;}

/**/
.Rig10 {right:10px !important;}
.Rig20 {right:20px !important;}
.Rig30 {right:30px !important;}
.Rig40 {right:40px !important;}
.Rig50 {right:50px !important;}
.Rig60 {right:60px !important;}
.Rig70 {right:70px !important;}
.Rig80 {right:80px !important;}
.Rig90 {right:90px !important;}
.Rig100 {right:100px !important;}
.Rig110 {right:110px !important;}
.Rig120 {right:120px !important;}
.Rig130 {right:130px !important;}
.Rig140 {right:140px !important;}
.Rig145 {right:145px !important;}
.Rig150 {right:150px !important;}
.Rig160 {right:160px !important;}
.Rig165 {right:165px !important;}
.Rig170 {right:170px !important;}
.Rig180 {right:180px !important;}
.Rig190 {right:190px !important;}
.Rig195 {right:195px !important;}
.Rig200 {right:200px !important;}
.Rig210 {right:210px !important;}
.Rig220 {right:220px !important;}

.setWrap {position:absolute; width:100%;}
.table-container {
    height: 350px;

}


.SetWRaps {width:716px; margin:0 auto;}
table.Sets {width:700px;}
table.Sets thead th {height:35px; text-align:center;background:#f4f4f4; border-top: 2px solid #ccc;}
table.Sets thead th.chk {width:50px; text-align:center;}
table.Sets thead th.groups {width:170px; text-align:center;}

table.Sets tbody tr {
    width: 100%;
}
table.Sets thead, table.Sets tbody tr {

}
table.Sets > thead, table.Sets tbody td {text-align:center; border-bottom:1px solid #eee; height:35px;}
table.Sets td.chks {width:50px; text-align:center;}
table.Sets td.groups {width:170px; text-align:center;}
table.Sets td.conts {padding-left:15px; text-align:left;}

.navsWrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 71px;
	line-height: 71px;
    min-width: 1920px;
    background: #fff;
    border-bottom: 1px solid #d1d2d4;
    z-index: 10;
    box-sizing: border-box;
	text-align:center;
}


/* 푸터 */
.footer {width:100%;height:40px;background:#f8f8f8; position:absolute; left:0; bottom:0 ;display:table; table-layout:fixed;  }
.footer li {color:#b8b8b8; font-size:12px; font-style:normal; text-align:center; letter-spacing:-0.05em; display:table-cell; vertical-align:middle;}
.footer.footer02 {position:relative;margin-top:-20px;height:49px;}
.footer.footer03 {position:relative;height:50px;margin-top:-30px;}


.Login_Wrap {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
	  height:100%;
    }
.Login_Wrap .innerLogins {width:540px; margin-top:-100px;}
.Login_Logo {margin:0 auto; padding-bottom:30px;}
.Login_Logo img{width:180px;}
.Titles_Wrap {width:500px; text-align:center; height:70px; margin:0 auto;}
.main-title {font-size:40px; margin-top:30px; font-family : "notokrR"; font-weight:normal;}
.Subs_Logos {position:relative; margin:0 auto; text-align:center; margin-top:170px;width:100%;}
.Subs_Logos img {width:180px;}
.Sub-title_wrap {margin:0 auto; text-align:center; font-family : "notokrR";}
.In_InfoTextWrap textarea {width:100%; height:100%; font-size: 13px; background:rgba(255,255,255,.0); color:#444; border:none; outline:none;resize:none; padding:15px;}

.btnsWrap {clear:both; width:100%; display:table; text-align:center; box-sizing:border-box;}
.btnsWrap button {font-size:13px; font-weight:bold; margin:3px;}


.guidetitle {position:relative;margin-bottom:20px;border-bottom:2px solid #ed2024;color:#000;font-size:16px;line-height:26px;letter-spacing:-0.05em;}
.guidetitle span {display:inline-block; padding:0 20px; margin-right:10px;color:#fff;background-color:#ed2024;border-radius:3px 3px 0 0;line-height:32px;font-size:14px;letter-spacing:0;}

.Guide_btnsWrap { height:38px; width:100%; text-align:left; box-sizing:border-box; display:-webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center;}
.Guide_btnsWrap button {font-size:13px; font-weight:bold; margin:3px; }

.Tabstitle01 {position:relative;margin-bottom:20px; border-bottom:2px solid #ed2024; font-size:16px;line-height:26px;letter-spacing:-0.05em;}
.Tabstitle01 span {display:inline-block; padding:0 20px; background:#ed2024; margin-right:10px;color:#fff;  border-radius:3px 3px 0 0; line-height:32px; font-size:14px;letter-spacing:0;}
.Tabstitle02 {position:relative;margin-bottom:20px; border-bottom:2px solid #2bb7b3; font-size:16px;line-height:26px;letter-spacing:-0.05em;}
.Tabstitle02 span {display:inline-block; padding:0 20px; background:#2bb7b3;margin-right:10px;color:#fff;  border-radius:3px 3px 0 0; line-height:32px; font-size:14px;letter-spacing:0;}
.Tabstitle03 {position:relative;margin-bottom:20px; border-bottom:2px solid #000; font-size:16px;line-height:26px;letter-spacing:-0.05em;}
.Tabstitle03 span {display:inline-block; padding:0 20px; background:#000; margin-right:10px;color:#fff;  border-radius:3px 3px 0 0; line-height:32px; font-size:14px;letter-spacing:0;}
.Tabstitle04 {position:relative;margin-bottom:20px; border-bottom:2px solid #009591; font-size:16px;line-height:26px;letter-spacing:-0.05em;}
.Tabstitle04 span {display:inline-block; padding:0 20px; background:#009591; margin-right:10px;color:#fff;  border-radius:3px 3px 0 0; line-height:32px; font-size:14px;letter-spacing:0;}
.Tabstitle05 {position:relative;margin-bottom:20px; border-bottom:2px solid #4c4c4e; font-size:16px;line-height:26px;letter-spacing:-0.05em;}
.Tabstitle05 span {display:inline-block; padding:0 20px; background:#4c4c4e; margin-right:10px;color:#fff;  border-radius:3px 3px 0 0; line-height:32px; font-size:14px;letter-spacing:0;}
.Tabstitle06 {position:relative;margin-bottom:20px; border-bottom:2px solid #b01116; font-size:16px;line-height:26px;letter-spacing:-0.05em;}
.Tabstitle06 span {display:inline-block; padding:0 20px; background:#b01116; margin-right:10px;color:#fff;  border-radius:3px 3px 0 0; line-height:32px; font-size:14px;letter-spacing:0;}


.Top_BtnsAll {float:right; display:inline-block; width:300px; height:60px;}
.btnsWrap2 {width:100%; text-align:right;  box-sizing:border-box; padding-top:18px;}
.btnsWrap2 button {font-size:13px; font-weight:bold; margin:3px;}
.Top_BtnsAll2 {float:right; display:inline-block; width:700px; height:50px; text-align:right; position:relative; top:13px;}
.Top_BtnsAll2 .OneBars {width:120px !important; display:inline-block; position:relative;top:2px;}
.Top_BtnsAll2 .OneBars select {border:1px solid #ddd; font-size:13px;height:35px !important; border-radius:5px;}
.Top_BtnsAll2 .Onebtns2 {width:150px !important;}


.In_InfoTextWrap {width:100%; height:200px;  background:#f4f4f4; border:1px solid #e1e1e1;
		text-align: center;
      font-size: 13px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
	  color:#cc0000;
}
.Login_Btns {height:60px; border-radius:2px !important; font-size:18px !important; font-family : "notokrM" !important; }
.login_Inputs {}
.login_area input[type="text"], .login_area input[type="password"]{border: none;background: #f8f8f8;height:60px;line-height:60px;font-size:16px;padding:0 30px; outline:none;}
.login_texts input[type="text"], .login_texts input[type="password"]{border: 1px solid #eee;;background: #fff;height:60px;line-height:60px;font-size:16px;padding:0 30px; outline:none;}
.in_tex {cursor:pointer;}
.security_wrap{width:540px; height:60px;}
.security_wrap .Inleft {float:left; width:470px; text-align:left;border:1px solid #eee; height:60px;}
.security_wrap .Inright {float:left;width:70px; height:60px; text-align:right; }
.security_wrap .Inright .Onbtns {cursor:pointer;width:60px; height:60px; border:1px solid #eee; display:inline-block; background:url(../images/btn_refresh.png)no-repeat; background-position:center; transition:.5s;}
.security_wrap .Inright .Onbtns:hover {border:1px solid #555; transition:.5s;}
.idtexts {text-align:left; color:#cc0000; line-height:150%; letter-spacing:-.6px;}

.Count_Sel {border:1px solid #ddd; border-radius:5px; width:100px; margin-left:10px; padding-left:5px; height:30px;}

.l_lines {width:1px; position:relative; top:2px; height:15px; display:inline-block; margin-left:10px; margin-right:10px; background:#888;}


/*네비 드롭다운*/
.down_Menu {display:table; position:absolute; background:#fff;width:100%; padding-bottom:20px; border-bottom:1px solid #ddd; padding:50px; padding-top:10px; box-sizing:border-box; letter-spacing:-.6px; z-index:2000;}
.down_Menu li.oneTabs {float:left; min-width:220px; height:100%; margin:5px; box-sizing:border-box;}
.down_Menu li.oneTabs:first-child {margin-left:280px;box-sizing:border-box;}
.down_Menu li.oneTabs > ul {margin-bottom:30px;}
.down_Menu li.oneTabs > ul:last-child {margin-bottom:0px;}
.down_Menu li.oneTabs > ul > li.Sub_Titles{font-size:19px; margin-bottom:5px; font-weight:bold;}
.down_Menu li.oneTabs > ul > li .tsmenus{font-size:16px; margin-bottom:10px; cursor:pointer; }

.down_Menu li.oneTabs > ul > li .tsmenus:hover{font-size:16px; margin-bottom:10px; color:#ed2024;  cursor:pointer; }
.down_Menu li.oneTabs > ul > li .tsmenus a{font-size:16px; margin-bottom:10px; text-decoration:none}
.down_Menu li.oneTabs > ul > li .tsmenus a:hover{font-size:16px; margin-bottom:10px; color:#ed2024; text-decoration:none}
.down_Menu li.oneTabs > ul > li {font-size:17px; margin-bottom:5px; }
.down_Menu li.oneTabs > ul > li > ul.inSubMEnus {padding-left:5px; margin-top:10px;}
.down_Menu li.oneTabs > ul > li > ul.inSubMEnus li{font-size:14px; margin-bottom:3px;color:#111;}
.down_Menu li.oneTabs > ul > li > ul.inSubMEnus li a{font-size:14px; text-decoration:none;}
.down_Menu li.oneTabs > ul > li > ul.inSubMEnus li a:hover{color:#ed2024;}
.plma {position:relative; margin-left:10px; top:-1px;background:url(../images/btn_paginate_next_on.png) no-repeat; display:inline-block; width:10px; height:10px; background-position:center;transition:.3s; }
.rot90 {-webkit-transform: rotate(90deg); /* Safari and Chrome */ -moz-transform: rotate(90deg);   /* Firefox */ -ms-transform: rotate(90deg);   /* IE 9 */ -o-transform: rotate(90deg);   /* Opera */    transform: rotate(90deg);transition:.3s;}
.rot00 {-webkit-transform: rotate(0deg); /* Safari and Chrome */ -moz-transform: rotate(0deg);   /* Firefox */ -ms-transform: rotate(0deg);   /* IE 9 */ -o-transform: rotate(0deg);   /* Opera */    transform: rotate(90deg);transition:.3s;}


/* 하단 네비*/
.Top_Navi_Bar {text-align:right;line-height:1;padding: 83px 45px 3px; z-index:-1}
.Top_Navi_Bar li {display:inline-block;position:relative;padding-left:15px;margin-left:7px;font-size:12px;font-weight:bold;}
.Top_Navi_Bar li:before {content:"";display:block;position:absolute;top:50%;left:0;width:5px;height:7px;margin-top:-2px;background:url('../images/img_navigation_division.png') no-repeat center;}
.Top_Navi_Bar li:first-child {padding-left:0;margin-left:0;}
.Top_Navi_Bar li:first-child:before {display:none;}
.Top_Navi_Bar li img {vertical-align:middle;margin-top:-2px;}

/* 컨텐츠공통 */
.Contents_Wraps {width:100%; padding: 0px 45px 40px;}
.NoFot_Contents_Wraps {width:100%; padding: 0px 45px 13px; overflow:hidden;}
.In_Contents {min-width:1200px;}
.In_Contents > ul {}
.In_Contents > ul .SubMTitles {font-size:22px; color:#000; font-family : "notokrB";}
.In_Contents > ul .SubMTitles .LtLine {background:#cc0000; width:3px; position:relative; top:1px; height:19px; display:inline-block; margin-right:8px;}
.In_Contents > ul .SubSTitlesWrap {width:100%; height:50px; }
.In_Contents > ul .SubSTitlesWrap .InfoText {float:left; padding-top:25px; letter-spacing:-.6px; font-family:Malgun Gothic; font-size: 16px; color:#666;}
.In_Contents > ul .SubSTitlesWrap .InfoText .insnum{color:#333; font-size:18px; font-weight:bold;}




/* 팝업공통 */
.Pop_SubMTitlesBig {font-size:30px; color:#000; text-align:center; margin-top:20px; font-family : "notokrB";}
.Pop_In_Logos {text-align:center;}
.Pop_In_Logos img {width:165px;}
.Pop_SubMTitles {font-size:20px; color:#000; margin-top:20px; font-family : "notokrB";}
.Pop_SubMTitles .LtLine {background:#cc0000; width:3px; position:relative; top:1px; height:19px; display:inline-block; margin-right:8px;}
.Pop_SubMTitles .InReds {color:#cc0000; font-family:nanum gothic !important;font-size:12px; letter-spacing:-.6px;}
.PopsBg {width:100%; height:100%; background:rgba(0,0,0,0.8); position:fixed; top:0; z-index:1000}
.PopUpWRap {width:100%; height:100%; position:fixed; background:rgba(0,0,0,0.8); top:0; z-index:1001;
/* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
.PopUpWRap .inPop {width:700px; min-height:350px; position:relative; border-radius:5px; background:#fff; text-align: left;font-size: 14px; }
.PopUpWRap .inPop .PopInTitle {height:50px; padding:0 30px;background-color:#2c3345;color:#fff;font-size:18px;line-height:51px;font-weight:bold;letter-spacing:-0.02em;}
.PopUpWRap .inPop ul.PopInWrap {padding:35px;}
table.PopIn{font-size:14px;}
table.PopIn th{background:#f1f1f1}
table.PopIn td {padding:5px; padding-left:15px; font-size:12px; line-height:180%;}
.Sub_resu{border:1px solid #ddd; font-family:nanum gothic; background:#f4f4f4; text-align:center; padding:40px;}

.PopUpWRap2 {width:100%; height:100%; position:fixed; background:rgba(0,0,0,0.8); top:0; z-index:1001;
/* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
       -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
.PopUpWRap2 .inPopSet {min-width:300px; min-height:100px; position:relative; top:0px;border-radius:5px; background:#fff; text-align: left;font-size: 14px; }
.PopUpWRap2 .inPopSet .PopInTitle {height:50px; padding:0 30px;  color:#fff; font-size:18px; line-height:51px; font-weight:bold; letter-spacing:-0.02em;}
.PopUpWRap2 .inPopSet ul.PopInWrap {padding:35px;}
.Bgset00 {background-color:#2c3345;}
.Bgset01 {background-color:#ed2124;}
.Bgset02 {background-color:#28B7B3;}
.Bgset03 {background-color:#000000;}

.pop_2cols {float:left; min-width:1px; display:table-cell; vertical-align:top;}
.Guidepop_2cols {float:left; padding-left:15px;margin-right:40px; padding-top:20px;}

.GuideinPopSet {width:350px; min-height:100px; position:relative; top:0px; border-radius:5px; background:#fff; text-align: left;font-size: 14px; }
.GuideinPopSet .PopInTitle {height:50px; padding:0 30px;  color:#fff; font-size:18px; line-height:51px; font-weight:bold; letter-spacing:-0.02em;}
.GuideinPopSet ul.PopInWrap {padding:35px;}


.rosW {width:20px; position:relative; right:0px; top:5px; height:20px; display:inline-block; background:url(../images/btn_paginate_next_on.png) no-repeat; background-position:center;}
.marins {float:left; margin-right:35px;}  /* 팝업 안 채크박스 간격 */

/* 테이블 안 버튼 */
.TbInbtns {padding:2px !important; padding-left:25px !important; padding-right:25px !important; border-radius:3px !important; }
.TbInbtns2 {padding:5px !important; padding-left:25px !important; padding-right:25px !important; border-radius:3px !important;}


/* 검색바 */
.search_areas {padding:10px 5px; display:table; width:100%; height:auto; margin-bottom:18px; margin-top:10px; border-top:2px solid #ccc;border-bottom:1px solid #e0e0e0; background-color:#f8f8f8;text-align:center;}
.search_areas .inner {position:relative;  top:3px;width:955px; height:30px; margin:0 auto; box-sizing:border-box; }
.search_areas .inner .sel {float:left;width:130px; height:35px;  display:table;}
.search_areas .inner .inputs {float:left; margin-left:10px; width:705px; height:30px; display:inline-block;}
.search_areas .inner .btns {float:left; width:100px;margin-left:10px; height:30px !important; display:inline-block; }

.search_areas2 {padding:10px 5px; display:table; width:100%; height:auto; margin-bottom:30px; margin-top:10px; border:1px solid #ccc;  background-color:#fff;text-align:center;}
.search_areas2 .inner_Table {position:relative; width:100%; min-height:35px; margin:0 auto; box-sizing:border-box; }
table.ContTAble {font-size:13px; width:750px;margin:0 auto;}
table.ContTAble th {text-align:left; height:40px; color:#000;padding-left:20px;}
table.ContTAble th > span {display: inline-block; text-align:left; position: relative; padding-left: 10px;}
table.ContTAble th > span:before {content: ""; display: block; position: absolute;top: 8px; left: 0; width: 3px; height: 3px;background-color: #4c4c4e;}
table.ContTAble td {text-align:left; height:40px;}
table.ContTAble td label {padding-left:20px;}

.search_btns {float:left; width:100px; background:#cc9900; font-size:13px !important; font-weight:bold !important; height:30px; display:inline-block;  border-radius:5px !important;}
.search_btns2 {width:120px; font-size:13px !important; font-weight:bold !important; height:33px; display:inline-block;  border-radius:5px !important;}

/* 탭메뉴 */
	ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
	letter-spacing:-.6px;
    border-bottom: 2px solid #ed2024;
   /*  border-left: 1px solid #eee; */
    width: 100%;

}
ul.tabs li {
	padding: 0 29px 0 19px;
    display: block;
    border-radius: 5px 0 0 0;
    float: left;
    text-align:center;
    cursor: pointer;
    height: 32px;
    line-height: 31px;
    border-bottom: 2px solid #ed2024;
    border-left: none;
    font-weight: bold;
    background: #e1e1e1;
    overflow: hidden;
    position: relative;
	font-size:14px;
}
ul.tabs li:before{content:'';display:block;position:absolute;right:0;top:-1px;width:13px;height:32px;background: url('../images/bg_tab03.gif') right bottom no-repeat;}
ul.tabs li.active:before{background: url('../images/bg_tab03_on.gif') right bottom no-repeat;top:0;}
ul.tabs li.active {
    background: #ed2024;
	color:#fff;
    border-bottom: 2px solid #ed2024;
}
.tab_container {
    border-top: none;
    clear: both;
/*     float: left; */
    width: 100%;
    display:table;
}
.tab_content {
	margin-top:5px;
    font-size: 11px;
    display: none;
	margin-bottom:20px;
}
.tab_container .tab_content > ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    list-style:none
}

 .Tabs_container {
    width:100%;
}


/* 탭 2*/
/* 탭메뉴 */
	ul.tabs2 {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
	letter-spacing:-.6px;
/*     border-bottom: 2px solid #ed2024; */
/*     border-left: 2px solid #4c4c4e; */
    width: 100%;

}
ul.tabs2 li {
	/* padding: 0 29px 0 19px;
	    display: block;
	    border-radius: 5px 0 0 0;
	    float: left;
	    text-align:center;
	    cursor: pointer;
	    height: 32px;
	    line-height: 31px;
	border-right: none;
	border: 2px solid #4c4c4e;
	    border-left: none;
	    font-weight: bold;
	background: #4c4c4e;
	    overflow: hidden;
	    position: relative;
	font-size:14px; */
	display:table-cell;vertical-align:bottom;text-align:center;
}

ul.tabs2 li a {display:block;position:relative;box-sizing:border-box;border:2px solid #4c4c4e; border-right:none;border-radius:5px 0 0 0;background-color:#4c4c4e;font-weight:bold;font-size:14px;color:#fff;line-height:32px;height:34px;z-index:2;}
ul.tabs2 li a:before {content:'';display:block;position:absolute;right:0;top:-2px;width:16px;height:34px; background:#fff url('../images/bg_tab04.png') 0 bottom no-repeat;}
/* ul.tabs2 li:before{content:'';display:block; position:absolute;right:0;top:-1px;width:13px;height:32px; background: url('../images/bg_tab04.png') right bottom no-repeat;}
 ul.tabs2 li.active:before{background: url('../images/bg_tab04_on.png') right bottom no-repeat;top:0;}*/
ul.tabs2 li.active a{color:#000;border-bottom:none;background-color:#f4f4f4;line-height:34px;}
ul.tabs2 li.active a:before {background: #fff url('../images/bg_tab04_on.png') 0 bottom no-repeat;z-index:1;}
ul.tabs2 li.active {
    background: #f4f4f4;
	color:#000;
/*     border-bottom: 2px solid #ed2024; */
}
.tab_container2 {

    clear: both;
/*     float: left; */
    width: 100%;
    /* display:table; */
	height:913px;
	border:2px solid #4c4c4e;
	border-top: none;
	padding:5px;
	padding-right:1px;
	padding-left:10px;
	overflow:hidden;
	box-sizing:border-box;

}
.tab_content2 {
	margin-top:5px;
    font-size: 12px;
    display: none;
	margin-bottom:50px;
}
.tab_container2 .tab_content2 > ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container2 .tab_content2 ul li {
    list-style:none
}

.tab_container2 .tab_content2 > ul.InOnes {
    width:100%;
    margin:0px;
    padding:10px;
}


.tab_container2 .tab_content2 ul li.OneMEnus {
    list-style:none;
	height:25px;   letter-spacing:-.7px; font-weight:bold; font-size:14px;
}
.tab_container2 .tab_content2 ul li.OneMEnus a{
    list-style:none;
	height:25px; color:#888;  letter-spacing:-.7px; font-weight:bold; font-size:14px;
}
.tab_container2 .tab_content2 ul li.OneMEnus a:hover, a:after, a:active{
color:#333;
}
.tab_container2 .tab_content2 ul li.OneMEnus a.active{
color:#333;
}
 .Tabs_container2 {
    width:100%;
	height:800px;
}



/* 탭메뉴 */
	ul.tabs3 {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
	letter-spacing:-.6px;
    border-bottom: 3px solid #2c3345;
   /*  border-left: 1px solid #eee; */
    width: 100%;

}
ul.tabs3 li {
	padding: 2px 29px 2px 19px;
    display: block;
    border-radius: 5px 0 0 0;
    float: left;
    text-align:center;
    cursor: pointer;
    height: 32px;
    line-height: 30px;
    border-bottom: 3px solid #2c3345;
    border-left: none;
    font-weight: bold;
    background: #e1e1e1;
    overflow: hidden;
    position: relative;
	font-size:14px;
}
ul.tabs3 li:before{content:'';display:block;position:absolute;right:0;top:-1px;width:13px;height:32px;background: url('../images/bg_tab02.gif') right bottom no-repeat;}
ul.tabs3 li.active:before{background: url('../images/bg_tab02_on.gif') right bottom no-repeat;top:0;}
ul.tabs3 li.active {
    background: #2c3345;
	color:#fff;
    border-bottom: 3px solid #2c3345;
}
.tab_container3 {
    border-top: none;
    clear: both;
/*     float: left; */
    width: 100%;
    display:table;
}
.tab_content3 {
	margin-top:5px;
    font-size: 11px;
    display: none;
	margin-bottom:20px;
}
.tab_container3 .tab_content3 > ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container3 .tab_content3 ul li {
    list-style:none
}

 .Tabs_container3 {
    width:100%;
}



.insScroll { width:100%; height:855px; }

#lnb.lnb_ns{position:relative;height:905px;}
#lnb.lnb_ns:before{content:'';display:block;position: absolute; left:0;top:34px;border:2px solid #4c4c4e;border-top:none;box-sizing:border-box;width:100%;height:calc(100% - 34px);background-color:#f4f4f4;}
#lnb.lnb_ns .scrollbar-inner{width:100px;margin:0 0 0 32px;height:810px;}
#lnb.lnb_ns .mCSB_scrollTools .mCSB_dragger{height:20% !important;}
#lnb.lnb_ns + .contents{width:calc(100% - 304px);}

.tab_ns{display:table;width:100%;height:34px;margin-bottom:28px;}
.tab_ns li{display:table-cell;vertical-align:bottom;text-align:center;}
.tab_ns li a{display:block;position:relative;box-sizing:border-box;border:2px solid #4c4c4e;border-right:none; border-radius:5px 0 0 0;background-color: #4c4c4e;font-weight:bold;font-size:14px;color:#fff;line-height:32px;height:34px;z-index:2;}
.tab_ns li a:before{content:'';display:block;position:absolute;right:0;top:-2px;width:16px;height:34px; background: #f4f4f4 url('../images/bg_tab04.png') 0 bottom no-repeat;}
.tab_ns li.on a{color:#000;border-bottom:none;background-color:#f4f4f4;line-height:34px;}
.tab_ns li.on a:before{background: #f4f4f4 url('../images/bg_tab04_on.png') 0 bottom no-repeat;z-index:1;}
.tab_ns + .tab_con{height:810px;}



.pagging_Wraps {clear:both; width:100%;}




/* 하단2단 */
.RlAls_Wrap {width:100%; display:table; clear:both; }
.InContsLeRisWrap {float:left; display:table; height:300px;}
.InContsLeRisWrap ul {padding:0; margin:0; }

table.Intables {width:98.3%;}
table.Intables thead th {height:35px; text-align:center; background:#f4f4f4; color: #777; border-top: 2px solid #ccc;}
table.Intables tbody td {height:35px; text-align:center; background:#fff; color: #777; border-bottom: 1px solid #ccc;}
table.Intables2 {width:98.9%;}
table.Intables2 thead th {height:35px; text-align:center; background:#f4f4f4; color: #777; border-top: 2px solid #ccc;}
table.Intables2 tbody td {height:35px; text-align:center; background:#fff; color: #777; border-bottom: 1px solid #ccc;}

.btn_updown {display:inline-block;width:34px;height:34px;border:1px solid #acacac;border-radius:3px;box-sizing:border-box;font-size:0;text-indent:-9999px;vertical-align:middle;transition:all 0.3s;background:no-repeat center;}
.btn_updown:hover,
.btn_updown:focus {border-color:#686868;}
.btn_updown.first {background-image:url('../images/btn_up_first.png');}
.btn_updown.prev {background-image:url('../images/btn_up_prev.png');}
.btn_updown.next {background-image:url('../images/btn_down_next.png');}
.btn_updown.last {background-image:url('../images/btn_down_last.png');}
.btn_updown + .btn_updown {margin-left:0;}

.btn_align {position:relative;display:inline-block;vertical-align:top;width:20px;height:12px;box-sizing:border-box;margin-top:2px;}
.btn_align .up,
.btn_align .down {display:block;position:relative;width:20px;height:8px;text-indent:-999px;overflow:hidden;}
.btn_align .up:before,
.btn_align .down:before {content:"";display:block;position:absolute;top:50%;left:50%;margin:-2px 0 0 -3px;border-top:4px solid #4c4c4e;border-left:3px solid transparent;border-right:3px solid transparent;}
.btn_align .up:before {border-top:none;border-bottom:4px solid #4c4c4e;}
.btn_align .up:focus:before,
.btn_align .up:hover:before {border-bottom:4px solid #000;}
.btn_align .down:focus:before,
.btn_align .down:hover:before {border-top:4px solid #000;}



/*말풍선*/
.box1 {position:absolute; left:-200px; background:#fff; border: 1px solid #bbb; z-index:2000; height:190px; border-radius:5px; font-size:13px; top:38px; right:25px;}
.box1:after, .box1:before {bottom: 100%;left: 60%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.box1:after {border-color: rgba(255, 255, 255, 0);border-bottom-color:#fff; border-width: 10px;margin-left: -10px;}
.box1:before {border-color: rgba(221, 221, 221, 0);border-bottom-color: #bbb;border-width: 11px;margin-left: -11px;}

.box2 {position:absolute; left:-230px;background:#fff; border: 1px solid #bbb; z-index:2000; height:190px; border-radius:5px; font-size:13px; top:38px; right:25px;}
.box2:after, .box2:before {bottom: 100%;left: 69.5%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.box2:after {border-color: rgba(255, 255, 255, 0);border-bottom-color:#fff;border-width: 10px;margin-left: -10px;}
.box2:before {border-color: rgba(221, 221, 221, 0);border-bottom-color: #bbb;border-width: 11px;margin-left: -11px;}

.box3 {position:absolute; left:-263px; background:#fff; border: 1px solid #bbb; z-index:2000; height:190px; border-radius:5px; font-size:13px; top:38px; right:25px;}
.box3:after, .box3:before {bottom: 100%;left: 78.5%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.box3:after {border-color: rgba(255, 255, 255, 0);border-bottom-color:#fff;  border-width: 10px; margin-left: -10px;}
.box3:before {border-color: rgba(221, 221, 221, 0);border-bottom-color: #bbb; border-width: 11px; margin-left: -11px;}


.box4 {position:absolute; background:#fff; border: 1px solid #bbb; z-index:2000; height:190px; border-radius:5px; font-size:13px; top:38px; right:25px;}
.box4:after, .box4:before {bottom: 100%;left: 51%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.box4:after {border-color: rgba(255, 255, 255, 0);border-bottom-color:#fff;border-width: 5px; margin-left: -10px;}
.box4:before {border-color: rgba(221, 221, 221, 0);border-bottom-color: #bbb;border-width: 6px; margin-left: -11px;}



.arrow_box ul {padding:12px !important; height:147px; padding-left:20px !important; padding-top:20px !important; padding-bottom:10px !important;}
.arrow_box ul dd{line-height:120% !important; min-height:23px !important; margin-bottom:3px; padding-top:5px;  }
.arrow_box ul dd a {color:#333; font-weight:normal}
.arrow_box ul dd a:hover {color:#ed2024;}
.arrow_box ul dd a span.sty01 {font-size:12px !important;}
.arrow_box ul dd a span.sty01:first-child { font-weight:bold;font-size:12px !important; margin-right:4px;}
.arrow_box ul dd a:hover span.sty01 {font-size:12px !important; color:#ed2024;}
.arrow_box ul dd a:hover span.sty01:first-child {color:#ed2024;}

.arrow_box ul dd a span.sty02 {font-size:12px !important; vertical-align:top}
.arrow_box ul dd a span.sty02:first-child { font-weight:bold; width:95px; display:inline-block; word-break:break-all; font-size:12px !important; margin-right:4px;}
.arrow_box ul dd a:hover span.sty02 {padding-left:4px;display:table-cell; vertical-align:top; font-size:12px !important; color:#ed2024;}
.arrow_box ul dd a:hover span.sty02:first-child {padding-left:0px;color:#ed2024;}


.arrow_box .BtnsWraps {text-align:right; padding:0px 15px 0px 15px}
.arrow_box .BtnsWraps .InsWraps {border-top:1px solid #bbb; padding-top:5px; margin:0; }
/* 기존네비게이션 */
/*** header ***/
/*** 네비게이션바 스크롤 이동되도록 수정 - 20190311 MNL jyongt ***/
/*nav {position:fixed;left:0;top:0; width:100%; height:71px; min-width:1920px; background:#fff; border-bottom:1px solid #d1d2d4;z-index:100; box-sizing:border-box; }*/
nav {left:0;top:0; width:100%; height:71px; min-width:1920px; background:#fff; border-bottom:1px solid #d1d2d4;z-index:100; box-sizing:border-box; margin-bottom: -71px;}
nav .logo {position:absolute;left:45px;top:15px; width:227px;height:42px;background: url('../images/logos.png') center no-repeat; background-size:195px; background-position:left center;text-indent:-9999px;overflow:hidden;z-index:2;}
nav .logo a{display:block;height:100%;}

/* NaviWrap > ul li a */

/* GNB */
.NaviWrap {position:relative;line-height:0; top:0px;  height:70px; margin-left:250px;}
.NaviWrap > ul {display:inline-block; background:#fff;line-height:30px; margin:0; padding:0;  }
.NaviWrap > ul:after {content:"";display:block;clear:both;}
/* flex conf 메뉴 추가로 인한 간격 조절 - 20201028 jyongt */
/*.NaviWrap > ul > li {float:left;position:relative; padding:0 25px; }*/
.NaviWrap > ul > li {float:left;position:relative; padding:0 20px; }
.NaviWrap > ul > li > a {position:relative;display:block; height:70px; text-align:center;color:#b7b7b8; font-size:17px;line-height:70px; box-sizing:border-box;font-weight:bold;letter-spacing:-0.5px;transition:all 0.3s;}
.NaviWrap > ul > li.on > a,
.NaviWrap > ul > li.active > a,
.NaviWrap > ul > li a:hover,
.NaviWrap > ul > li > a:focus {color:#ed2024; }
.NaviWrap > ul > li > a:after {content:""; display:block; position:absolute; left:50%; bottom:0; width:0; height:4px; background:#ec1f24; transition:all 0.3s;}
.NaviWrap > ul > li.on > a:after,
.NaviWrap > ul > li.active > a:after,
.NaviWrap > ul > li > a:hover:after,
.NaviWrap > ul > li > a:focus:after {left:0;width:100%;}
.NaviWrap > ul > li.on > a:after,
.NaviWrap > ul > li > a:hover:after,
.NaviWrap > ul > li > a:focus:after{display:none;}
.NaviWrap > ul > li.active.on > a:after{display:block; }
.NaviWrap > ul > li.hidden > a {color:#4c4c4c;}
.NaviWrap > ul > li.hidden > a:after {display:none;}
/*.NaviWrap > ul > li > ul { position:absolute; background:#fff;left:50px; top:70px;  margin-left:-5px;width:100%; padding:15px 15px 15px; border:1px solid #d1d2d4; box-sizing:border-box;}*/
/*** 네비게이션바 스크롤 이동되도록 수정 후 form 창에 네비게이션이 가려지는 문제 해결 - 20190311 MNL jyongt ***/
.NaviWrap > ul > li > ul { position:absolute; background:#fff;left:50px; top:70px;  margin-left:-5px;width:100%; padding:15px 15px 15px; border:1px solid #d1d2d4; box-sizing:border-box; z-index: 999;}
.NaviWrap > ul > li > ul li a {position:relative; font-weight:bold;color:#4c4c4e; font-size:16px;letter-spacing:-0.5px;  font-weight:bold;} /*MNL 수정*/

/* .NaviWrap > ul > li.active a{content:""; display:block;position:absolute; left:50%; bottom:0; width:0;height:4px; background:#ec1f24; transition:all 0.3s;}
 */
/* .NaviWrap > ul > li > ul li.NavTitles {text-align:left; padding:0; margin-top:0px; font-size:15px; cursor:pointer; font-weight:bold; letter-spacing:-0.6px}
.NaviWrap > ul > li > ul li.NavTitles:hover {color:#ed2024;}
.NaviWrap > ul > li > ul li.NavTitles a {position:relative; color:#4c4c4e;  font-size:15px; letter-spacing:-0.5px;  transition:.5s;}
.NaviWrap > ul > li > ul li.NavTitles a:hover {color:#ed2024; transition:.5s;}
.NaviWrap > ul > li > ul li.NavTitles a .kos{font-size:14px}
.NaviWrap > ul > li > ul li.NavTitles a:hover .kos{font-size:14px;font-weight:bold;}
.NaviWrap > ul > li > ul li.NavTitles.active a {color:#ed2024;} */
.NavTitleko {text-align:left; padding:0; margin-top:10px; margin-bottom:15px; font-size:14px; font-weight:bold;}
.NaviWrap > ul > li > ul li.active { color:#ec1f24 !important; font-weight:bold !important;/*font-weight:bold !important;*/} /*MNL 수정*/
.NaviWrap > ul > li > ul li.active a {color:#ec1f24 !important; font-weight:bold !important;}
.NaviWrap > ul > li > ul li.active a .kos {color:#ec1f24 !important; font-weight:bold !important;}
.NaviWrap > ul > li > ul li a:focus ,
.NaviWrap > ul > li > ul li a:focus span,
.NaviWrap > ul > li > ul li a:hover,
.NaviWrap > ul > li > ul li a:focus {color:#ec1f24 !important; font-weight:bold !important;/* letter-spacing:-0.8px; */ }
.NaviWrap > ul > li > ul li a:after {content:"";display:block;position:absolute;left:0;bottom:-5px;width:0;height:2px;background:#ec1f24; transition:all 0.3s;}
.NaviWrap > ul > li > ul li.active a:after,
.NaviWrap > ul > li > ul li a:hover:after,
.NaviWrap > ul > li > ul li a:focus:after {width:100%;}


/* ad_info */
.ad_info {position:absolute; height:25px; right:45px; top:22px;font-size:12px;line-height:24px;  margin:0; padding:0;}
.ad_info ul {padding:0; margin:0}
.ad_info a{display:inline-block;font-weight:600; font-size:12px; letter-spacing:-4px;}
.ad_info a:hover{color:#000;}
.ad_info .utll_menu li{position:relative; float:left; padding-left:5px; margin-left:5px;}
.ad_info .utll_menu li:before{content:''; position:absolute; left:0; top:8px; display:block; width:1px; height:10px; background:#d1d2d4;}
.ad_info .utll_menu li:first-child:before{display:none;}
.ad_info .utll_menu li:first-child{padding-left:0;margin-left:0;}
.ad_info .utll_menu li a{letter-spacing:-0.5px; font-size:12px;}
.ad_info .utll_menu .user{/* background:url('../images/ico_top_user.png') no-repeat 0;  */font-size:12px; padding-left:25px;}
.ad_info .utll_menu .userIco{position:relative; top:3px;background:url('../images/ico_top_user.png') no-repeat 0; width:19px; height:19px; font-size:8px; padding-left:5px; overflow:hidden; text-indent:-1515150px;}
.in_Nums {position:absolute !important; border:2px solid #fff; cursor:pointer;display:inline-block; font-size:8px !important; border-radius:10px; top:0px; right:0px !important; left:14px;color:#fff; width:16px; height:16px; letter-spacing:-.7px;  text-align:center; display:inline-block; line-height:12px; background:#cc0000; z-index:1000;}
.ad_info .utll_menu:after {content:"";display:block;clear:both;}

/* .ad_info .utill_notice{float:right; margin-top:5px;}
.ad_info .utill_notice li{float:left;}
.ad_info .utill_notice li a{font-size:0;text-indent:-9999px;overflow:hidden; width:12px;height:17px;line-height:17px; padding:0 15px;font-weight:500; } */
.ad_info .utll_menu .notice{background: url('../images/ico_top_notice.png') no-repeat 0 1px; padding:0 5px 0 18px; margin-right:1px; margin-lefT:4px;font-size:12px; font-weight:bold; text-indent:0;color:#ff1111;}
.ad_info .utll_menu .member{background:url('../images/ico_top_member.png') no-repeat center 1px;}
.ad_info .utll_menu .setup{background:url('../images/ico_top_setup.png') no-repeat center; width:17px;height:17px; margin-right:0px; text-indent:-1515150px; }
.ad_info .utll_menu:after {content:"";display:block;clear:both;}
.ad_info .utll_menu .icons_all {position:relative; top:-2px; height:33px;   display:table; }
.ad_info .utll_menu .icons_all span{position:relative; margin-right:5px; font-size:10px }
.ad_info .utll_menu .icons_all span:last-child {margin-right:0px;}
.me01 {width:25px; cursor:pointer; height:33px; background:url('../images/top_menu_icon.png') no-repeat; background-position:3px center;display:inline-block; }
.me02 {width:28px; cursor:pointer; height:33px; position:relative;top:-1px; background:url('../images/top_menu_icon.png') no-repeat; background-position:-66px center;display:inline-block; }
.me03 {width:25px; cursor:pointer; height:33px; position:relative;top:-1px; background:url('../images/top_menu_icon.png') no-repeat; background-position:2px center;display:inline-block; }
.me04 {width:25px; cursor:pointer; height:33px; background:url('../images/top_menu_icon.png') no-repeat; background-position:-103px center;display:inline-block; }
.me05 { width:20px; position:relative; margin-left:5px; top:-3px;cursor:pointer; height:33px; background:url('../images/top_menu_icon.png') no-repeat; background-position:-128px center; display:inline-block; }
.me06 {width:25px; position:relative; margin-left:3px; top:-3px; cursor:pointer; height:33px; background:url('../images/baseline_menu_black_18dp.png') no-repeat; background-position:0 center; background-size:21px;display:inline-block; }
/* .ad_info .utill_notice{float:right; margin-top:5px;}
.ad_info .utill_notice li{float:left;}
.ad_info .utill_notice li a{font-size:0;text-indent:-9999px;overflow:hidden; width:12px;height:17px;line-height:17px; padding:0 15px;font-weight:500; }
.ad_info .utill_notice .notice{background: url('../images/ico_top_notice.png') no-repeat 0 1px; padding:0 5px 0 16px; margin-right:10px;font-size:12px; font-weight:bold; text-indent:0;color:#ff1111;}
.ad_info .utill_notice .member{background:url('../images/ico_top_member.png') no-repeat center 1px;}
.ad_info .utill_notice .setup{background:url('../images/ico_top_setup.png') no-repeat center;width:17px;height:17px; margin-right:0px;}
.ad_info .utill_notice:after {content:"";display:block;clear:both;} */


/* 드롭다운 내부*/
.inDropWrap {width:100%; height:100%; display:table;padding:0; margin-left:2px; margin-top:5px; font-weight:normal; }
.inDropWrap .intex {padding:0; width:100%; margin:0; padding-left:0px; height:13px !important; margin-bottom:0px; display:table; }
.inDropWrap .intex a{font-size:13px !important;color:#4c4c4e; font-weight:normal; margin:0; padding:0; letter-spacing:-.6px; transition:all 0.3s;}
.inDropWrap .intex a:hover{font-size:13px !important;color:#4c4c4e;  font-weight:600 !important; margin:0; padding:0; letter-spacing:-.6px; transition:all 0.3s;}
.inDropWrap .intex a .kos  {font-size:13px !important; color:#4c4c4e; font-weight:normal; letter-spacing:-.6px;  transition:all 0.3s;}
.inDropWrap .intex a:hover .kos{color:#ed2024; letter-spacing:-.6px; font-weight:600 !important; transition:all 0.3s;} /* font-weight:800 !important; */


/* .NaviWrap > ul > li > ul > li > ul{display:table; display:none; padding-bottom:15px; } */
.cols2Wrap {width:100%; height:100%; padding:0; background:#fff; display:table; position:relative;}
.cols2Wrap .lefts {float:left; padding-left:18px !important; display:table; border-left:1px solid #eee; height:100%; padding:0; margin:0;  box-sizing:border-box}
.cols2Wrap .lefts:first-child {float:left; padding-left:0px  !important; display:table; border-left:none; height:100%; padding:0; margin:0; box-sizing:border-box}

.cols2Wrap .right {float:left; height:170px; padding-left:15px;  padding:0; margin:0; width:52%; padding:0;}
.cols2Wrap .alls {height:170px; height:170px; background:#cc0000; padding:0; margin:0; width:100%; padding:0;}

.cols2Wrap .lefts li.NavTitles {text-align:left; padding:0; margin-top:3px; font-size:15px; font-weight:bold; letter-spacing:-0.6px}
.cols2Wrap .lefts li.NavTitles:hover {color:#ed2024;}
.cols2Wrap .lefts li.NavTitles a {position:relative; font-weight:b;color:#4c4c4e; font-size:15px;letter-spacing:-0.5px; }
.cols2Wrap .lefts li.NavTitles a:hover {color:#ed2024;}
.cols2Wrap .lefts li.NavTitles .kos{font-size:14.5px;}


.cols2Wrap .right li.NavTitles {text-align:left; padding:0; margin-top:5px; margin-bottom:7px; padding-left:20px; font-size:15px; font-weight:bold; letter-spacing:-0.9px}
.cols2Wrap .right li.NavTitles:hover {color:#ed2024;}
.cols2Wrap .right li.NavTitles a {position:relative; font-weight:normal;color:#4c4c4e;font-size:15px;letter-spacing:-0.7px; transition:.5s;}
.cols2Wrap .right li.NavTitles .kos{font-size:14.5px;}


.cols2Wrap ul {padding-bottom:5px;}
.cols2Wrap .inlines {position:absolute;width:1px; height:167px; left:50%; top:10px; margin-left:-14px;background:#ddd; }
.borl1{border-left:1px solid #eee !important; height:185px !important;}
.borr1{border-right:1px solid #eee; height:310px !important; }
/* .Ham_menus {position:absolute;  width:34px; height:34px;top:2px; text-align:center; right:43px;}
.Ham_menus img {position:relative;opacity:.5; top:5px; width:34px; }
.Ham_menus img:hover {opacity:1;} */

.NaviWrap > ul > li > a{padding-left:5px; padding-right:5px;}
.NaviWrap > ul > li.memu01 > ul{left:30px; min-width:180px; }
.NaviWrap > ul > li.memu02 > ul{left:30px; min-width:200px; }
.NaviWrap > ul > li.memu03 > ul{left:30px; min-width:180px; }
.NaviWrap > ul > li.memu04 > ul{left:30px; min-width:400px; }
.NaviWrap > ul > li.memu05 > ul{left:30px; min-width:400px; }
.NaviWrap > ul > li.memu06 > ul{left:30px; min-width:200px; }
.NaviWrap > ul > li.memu07 > ul{left:30px; min-width:200px; }
.NaviWrap > ul > li.memu08 > ul{left:30px ;min-width:180px; }
.NaviWrap > ul > li.memu09 > ul{left:30px ;min-width:120px; }

.Cols1 {width:210px !important;}
.Cols2 {width:420px !important;}
.Cols3 {width:520px !important;}
.Cols4 {width:840px !important;}
.Cols5 {width:1050px !important;}
.Cols6 {width:1260px !important;}
.Cols7 {width:1470px !important;}
.Cols8 {width:1680px !important;}

.Cols1wid {width:10% !important;}
.Cols2wid {width:50% !important;}
.Cols3wid {width:33.3% !important;}
.Cols4wid {width:25% !important;}
.Cols5wid {width:20% !important;}
.Cols6wid {width:16.6% !important;}
.Cols7wid {width:14.28% !important;}
.Cols8wid {width:12.5% !important;}
.Cols9wid {width:11.11% !important;}
.Cols10wid {width:10% !important;}



/* 전체메뉴 */
.All_MenusWrap {background:rgba(0,0,0,.7); width:100%; height:100%; position:absolute; top:0px; z-index:12; letter-spacing:-.7px; display:none; }
.All_MenusWrap .In_wrap {position:fixed;width:100%; display:table; min-height:400px;display:inline-block; top:-180px; background:#fff; padding-top:30px; padding-bottom:40px; z-index:12;}
.All_MenusWrap .In_wrap > ul {width:1800px; margin:0 auto; }
.All_MenusWrap .In_wrap > ul .LogoWrap {text-align:center; }
.All_MenusWrap .In_wrap > ul .LogoWrap img {width:180px;}
.All_MenusWrap .In_wrap > ul h2.MenuTitle {text-align:center; font-size:30px; padding-bottom:50px;}
.All_MenusWrap .In_wrap > ul .InCols4 {float:left; padding-left:20px;  position:relative; top:0;width:180px; min-height:250px; border-right:1px solid #ddd;  box-sizing:border-box;}
.All_MenusWrap .In_wrap > ul .InCols4:last-child {float:left; padding-left:20px;  position:relative; top:0;width:177px; min-height:250px; border-right:none;  box-sizing:border-box;}
.All_MenusWrap .In_wrap > ul .InCols4 ul {}
.All_MenusWrap .In_wrap > ul .InCols4 ul li {font-size:17px; cursor:pointer; font-weight:800 !important; transition:.3s;  }
.All_MenusWrap .In_wrap > ul .InCols4 ul > li:hover {color:#ed2024 !important; transition:.3s;}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul {padding-bottom:20px; margin-top:5px;}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li {cursor:pointer; position:relative; font-weight:700 !important; display:table; color:#b7b7b8 !important; font-size:15px; font-weight:normal;m argin-top:0px; }
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li a{font-size:15px; transition:.2s; color:#b7b7b8 !important;}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li a:hover{ color:#ed2024 !important; transition:.2s; }
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li .kos {font-size:14px;}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li > ul.In_smenusWrap { padding:3px;padding-bottom:15px;width:100%; margin-right:50px;}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li > ul.In_smenusWrap  > li.intex {position:relative; display:table;font-size:12px; color:#4c4c4e !important; font-weight:200 !important; margin-top:0px; font-weight:normal;}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li > ul.In_smenusWrap  > li.intex a {font-size:12px; color:#999 !important; transition:.2s;}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li > ul.In_smenusWrap  > li.intex a:hover {color:#ed2024 !important; transition:.2s;}

.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li.active a,
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li a:hover,
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li a:focus {color:#ec1f24 !important;font-weight:bold;/* letter-spacing:-0.8px; */}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li a:after {content:"";display:block;position:absolute;left:0;bottom:-1px;width:0; height:2px; background:#ec1f24; transition:all 0.3s;}
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li.active a:after,
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li a:hover:after,
.All_MenusWrap .In_wrap > ul .InCols4 ul > li > ul > li a:focus:after {width:100%;}




/*팝업닫기 버튼*/
.Pop_ClosBtnsWrap {position:absolute; cursor:pointer; text-align:right; width:80px; height:80px; top:10px; right:00px !important; z-index:1999; }
.Pop_ClosBtnsWrap:hover {cursor:pointer; opacity:.5}
.Pop_ClosBtnsWrap .In_OneLine {width:40px; position:absolute; top:40px; height:1px; background:#666;
   -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.Pop_ClosBtnsWrap .In_OneLine2 {width:40px; position:absolute;top:40px; height:1px; background:#666;
   -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.Pop_ClosBtnsWrap2 {position:absolute; cursor:pointer;top:-17px;right:-17px;width:53px;height:53px;background:url(../images/btn_pop_close.png) no-repeat;text-indent:-9999px;overflow:hidden;}

.Pop_ClosBtnsWrap3 {position:absolute; cursor:pointer; display:inline-block; text-align:right; width:20px; top:5px; height:20px; right:10px; z-index:19999}
.Pop_ClosBtnsWrap3:hover {cursor:pointer; opacity:.5}
.Pop_ClosBtnsWrap3 .In_OneLine {width:20px; position:absolute; top:10px; height:2px; background:#fff;
   -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.Pop_ClosBtnsWrap3 .In_OneLine2 {width:20px; position:absolute; top:10px; height:2px; background:#fff;
   -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}


.leftopens {cursor:pointer; position:absolute; top:50%; margin-top:-50px; display:inline-block; width:16px; height:100px; background:url(../images/btn_act02_on.png) no-repeat;}
.rightopens {cursor:pointer; position:absolute; top:50%; margin-top:-50px; display:inline-block; width:16px; height:100px; background:url(../images/btn_act02.png) no-repeat;}

.updownwrap {height:16px; width:100%; margin-top:20px; text-align:center;}
.Upopens {cursor:pointer; display:inline-block; width:100px; height:16px; background:url(../images/btn_act01_upon.png) no-repeat; }
.Downopens {cursor:pointer; display:inline-block; width:100px; height:16px; background:url(../images/btn_act01_up.png) no-repeat;}



.threeWRaps {min-height:945px; position:relative; box-sizing:border-box; }
.threeWRaps .LeftwWRap{width:536px; padding:0; overflow:hidden;top:0; position:absolute; left:0; height:100%; background:#f4f4f4; box-sizing:border-box;}
.threeWRaps .rigsAll_WRap {width:100%;  padding-left:546px; height:667px; top:0; text-align:left; box-sizing:border-box;}
.threeWRaps .rigsAll_WRap .Lefts{float:left; padding:0 0 0 0px; width:45%;  height:100%; box-sizing:border-box;}
.threeWRaps .rigsAll_WRap .Lefts .inWrap {width:100%;   height:100%;}
.threeWRaps .rigsAll_WRap .right{float:left; padding:0 0 0 15px; width:55%; height:100%; box-sizing:border-box;}
.threeWRaps .rigsAll_WRap .right .inWrap {width:100%; height:100%;}
.threeWRaps .BottWrap {width:100%; clear:both; padding-left:546px; padding-top:25px;height:280px; overflow:hidden;box-sizing:border-box;}
.threeWRaps .BottWrap .Inners {width:100%; height:100%; box-sizing:border-box;}



.MovesWRaps {min-height:945px; height:945px;position:relative; overflow:hidden; box-sizing:border-box; }
.MovesWRaps .LeftwWRap{width:218px; border:1px solid #ddd; padding:0; overflow:hidden;top:0; position:absolute; left:0; height:100%; background:#fff; box-sizing:border-box;}
.MovesWRaps .rigsAll_WRap {width:100%;  padding-left:228px; height:910px; top:0; text-align:left; box-sizing:border-box; transition:.5s;}
.MovesWRaps .rigsAll_WRap .Lefts{float:left; padding:0 0 0 0px; width:100%; padding-right:26px; height:100%; box-sizing:border-box;}
.MovesWRaps .rigsAll_WRap .Lefts .inWrap {width:100%; background:#f4f4f4; height:100%;}
.MovesWRaps .rigsAll_WRap .Lefts .inWrap .Incont {width:100%; height:100%; background:#f4f4f4;}
.MovesWRaps .rigsAll_WRap .Lefts .inWrap .Incont img {width:100%; height:100%}
.MovesWRaps .rigsAll_WRap .right{float:left; position:absolute; right:0; width:auto; height:910px; box-sizing:border-box;}
.MovesWRaps .rigsAll_WRap .right .inWrap {width:100%; height:100%;}
.MovesWRaps .rigsAll_WRap .right .inWrap .inBtns{float:left; width:16px; margin:0 auto;  height:100%;}
.MovesWRaps .rigsAll_WRap .right .inWrap .inConts{float:left; width:0px;overflow:hidden; background:#ddd; height:100%; box-sizing:border-box; }
.MovesWRaps .rigsAll_WRap .right .inWrap .inConts .ins {width:100%; padding:10px; height:100%; background:#f8f8f8; }
.MovesWRaps .BottWrap {width:100%; position:relative; clear:both; padding-left:228px;  overflow:hidden; box-sizing:border-box;  z-index:1200}
.MovesWRaps .BottWrap .Inners {width:100%; background:#fff; height:255px; box-sizing:border-box;}

.leftsposi {float:left; width:320px; height:100%; background:#cc0000; transition:.5s;}
.rightsposi {float:left; position:relative; width:16px; height:100%; background:#ff9900; transition:.5s;}
.rightsposi span {position:absolute; top:50%; margin-top:-50px; cursor:pointer;}

.In_Wrap_All {height:100%; background:#f4f4f4;}


.Inwidths{width:378px !important; transition:.5s;}
.Nowidths{width:0px !important; transition:.5s;}
.respd1 {padding-right:404px !important; transition:.5s;}
.respd2 {padding-right:26px !important; transition:.5s;}

.select_area2 {width:100%; text-align:center;}
.Count_Sel2 {border:1px solid #ddd; width:180px; border-radius:5px; padding-left:5px; height:30px; margin:0 auto;}


table.TabsInTables { width:100%;}
table.TabsInTables th {height:27px; font-size:10px !important; padding:3px;font-weight:400; color:#000; line-height:110%; background:#e1e1e1; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
table.TabsInTables td {height:27px; font-size:10px !important;padding:3px; font-weight:normal; text-align:center;background:#fff; border-bottom:1px solid #ddd; border-left:none; border-right:none;}


.InTablesWraps {width:100%; height:880px; overflow:hidden; }
.InTablesWraps .Theads {padding-right:8px; }
.InTablesWraps .Theads .Titles {border-top:2px solid #bbb; font-size:10px; padding:5px; display:table;  border-bottom:1px solid #ddd; height:32px; line-height:110%;  width:99.6%;}
.InTablesWraps .Theads .Titles li {text-align:center; display:table-cell; vertical-align:middle; font-size:11px;}

.InTablesWraps .Theads .Titles li.th01 {font-size:13px; width:28%; font-weight:bold;}
.InTablesWraps .Theads .Titles li.th02 {font-size:13px; width:17%; font-weight:bold;}
.InTablesWraps .Theads .Titles li.th03 {font-size:13px; width:17%; font-weight:bold;}
.InTablesWraps .Theads .Titles li.th04 {font-size:13px; width:18%; font-weight:bold;}
.InTablesWraps .Theads .Titles li.th05 {font-size:13px; width:20%; font-weight:bold;}

.InTablesWraps ul.TreeConts {overflow:hidden; padding-right:8px;  width:99.6%;  }
.InTablesWraps ul.TreeConts div.Tree_oneWRaps {}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts {font-size:11px; margin:0 auto; padding:5px; display:table; background:#fff; border-bottom:1px solid #ddd; height:32px; line-height:110%; width:100%}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts li {position:relative; display:table-cell; text-align:center; vertical-align:middle; font-size:11px; }
/* .InTablesWraps ul.TreeConts > .conts:hover{background:#f8f8f8;} */
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts li .inTresImg_p {position:absolute; cursor:pointer; top:2px; left:2px;display:inline-block; width:15px; height:15px; background:url('../images/bg_tree_p.gif')no-repeat; }
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts li .inTresImg_m {position:absolute;  cursor:pointer; top:2px; left:2px;display:inline-block; width:15px; height:15px; background:url('../images/bg_tree_m.gif')no-repeat; }

.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts li.td01 {font-size:13px; width:28%; text-align:left; padding-left:22px;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts li.td02 {font-size:13px; width:17%;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts li.td03 {font-size:13px; width:17%;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts li.td04 {font-size:13px; width:18%;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .conts li.td05 {font-size:13px; width:20%; text-align:center}

.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts {font-size:10px;margin:0 auto;  padding:5px;display:table; background:#f8f8f8; border-bottom:1px solid #ddd; height:32px; line-height:110%;  width:100%;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts li {position:relative; display:table-cell; text-align:center; vertical-align:middle; font-size:9px; }
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts:hover{background:#f3f3f3;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts li .lines {position:absolute; top:2px; left:10px;display:inline-block; width:12px; height:10px; background:url('../images/bg_tree_line.gif')no-repeat; background-position:bottom 10px; }
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts li.td01 { font-size:13px; width:28%; text-align:left; padding-left:27px; }
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts li.td02 { font-size:13px; width:17%;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts li.td03 { font-size:13px; width:17%;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts li.td04 { font-size:13px; width:18%;}
.InTablesWraps ul.TreeConts div.Tree_oneWRaps .In_alls .conts li.td05 { font-size:13px; width:20%; text-align:center}



.alams01 {width:15px; height:15px; margin:2px; border-radius:10px; font-size:5px; display:inline-block; text-align:center; line-height:15px; font-weight:500; color:#fff; background:#e65052}
.alams02 {width:15px; height:15px; margin:2px; border-radius:10px; font-size:5px; display:inline-block; text-align:center; line-height:15px; font-weight:500; color:#fff; background:#fe8347}
.alams03 {width:15px; height:15px; margin:2px; border-radius:10px; font-size:5px; display:inline-block;  text-align:center; line-height:15px; font-weight:300; color:#fff; background:#fdd248}
.InNums_1 {color:#cc0000; font-size:13px;}
.InNums_0 {color:#000; font-size:13px;}


/* 기존테이블 */
.monitoring .table_ty thead th{height:27px;padding:2px 5px 5px;}
.monitoring .table_ty tbody td{height:26px;padding:2px 5px 3px;}
.monitoring .table_ty .btn_s{height:20px;line-height:18px;}



/*** Table ***/
.table_ty {position:relative; }
.table_ty h2.title{font-size:16px;}
.table_ty table {}
.table_ty table th, .table_ty td {padding:4px 5px 6px;box-sizing:border-box;line-height:18px;vertical-align:middle;word-wrap:break-word;word-break:break-all;letter-spacing:-0.05em;}
.table_ty table th input, .table_ty td input { vertical-align:middle;}
.table_ty table thead th {height:23px !important;background:#f4f4f4;color:#777;border-top:2px solid #ccc;}
.table_ty table > tbody td {height:26px !important;background:#fff;color:#666;border-bottom:1px solid #e1e1e1 !important; text-align:center !important;font-size:12px;transition:all 0.4s;}
.table_ty tbody tr:hover td {background:#f9f9f9;}
.table_ty tbody tr td a {display:block;width:100%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;transition:all 0.4s;}
.table_ty tbody tr.on td,
.table_ty tbody tr.on:hover td {background:#4c4c4e;color:#fff;}
.table_ty tbody tr.on td a {color:#fff;}
.table_ty tbody tr.select td{background:#f8f8f8;}
.table_ty .left {text-align:left;}
.table_ty .right {text-align:right;}
.table_ty thead th.btml{border-top:1px solid #ccc;}
/* .table_ty + .table_ty{margin-top:30px;} */
.table_ty + .table_ty.ty03{margin-top:20px;}
.table_ty.ty03{margin-top:20px;}

.table_ty.ty04 thead th{border-bottom:1px solid #e1e1e1;}
.table_ty.ty04 thead tr th:first-child{border-right:1px solid #e1e1e1;}
.table_ty.ty04 tbody th{background:#f4f4f4;color:#777;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;}
.table_ty.ty04 tbody tr:nth-child(even) td{background-color:#f9f9f9;}

.table_ty .btn_s {display:inline-block;width:auto;text-overflow:unset;white-space:unset;word-wrap:unset; overflow:unset;transition: all 0.3s;}
.table_ty .btn_align {position:relative;display:inline-block;vertical-align:top;width:20px;height:12px;box-sizing:border-box;margin-top:2px;}
.table_ty .btn_align .up,
.table_ty .btn_align .down {display:block;position:relative;width:20px;height:8px;text-indent:-999px;overflow:hidden;}
.table_ty .btn_align .up:before,
.table_ty .btn_align .down:before {content:"";display:block;position:absolute;top:50%;left:50%;margin:-2px 0 0 -3px;border-top:4px solid #4c4c4e;border-left:3px solid transparent;border-right:3px solid transparent;}
.table_ty .btn_align .up:before {border-top:none;border-bottom:4px solid #4c4c4e;}
.table_ty .btn_align .up:focus:before,
.table_ty .btn_align .up:hover:before {border-bottom:4px solid #000;}
.table_ty .btn_align .down:focus:before,
.table_ty .btn_align .down:hover:before {border-top:4px solid #000;}

.table_ty02 {position:relative;}
.table_ty02 th,
.table_ty02 td {height:21px;padding:5px;box-sizing:border-box;font-size:12px;line-height:16px;vertical-align:top;text-align:left;}
.table_ty02 tbody th {color:#000;}
.table_ty02 tbody td {padding-right:7px;}

.table_form {padding:0 15px;margin-bottom:30px}
.table_form table th,
.table_form table td {padding:5px;text-align:left;}
.table_form table th {letter-spacing:-0.05em;}
.table_form table th > span {display:inline-block;position:relative;padding-left:10px;}
.table_form table th > span:before {content:"";display:block;position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#4c4c4e;}
.table_form table td {color:#666;font-size:12px;}
.table_form tbody tr.bg th,
.table_form tbody tr.bg td {background:#d1d2d4;}
.table_form table .date {position:relative;}
.table_form table .hasDatepicker {padding-right:42px;}
.table_form table button.ui-datepicker-trigger {position:absolute;right:6px;top:6px;width:35px;height:30px;background:url('../images/layout/btn_datepicker.png') no-repeat center;text-indent:-1000px;overflow:hidden;cursor:pointer;}
.table_form.bg {padding:10px 15px;margin-bottom:10px;border-top:2px solid #ccc;border-bottom:1px solid #e0e0e0;background-color:#f8f8f8;}
.table_form.bg .btn_area {margin:15px 0 5px;text-align:center;}
.table_form.bg.ty02{padding:10px 35px;}
h3.title + .table_form {margin-top:-20px;border-top:none;}
.table_form + .table_form {margin-top:-25px;}
.table_form + .table_form02 {margin-top:-5px;}
.table_form.ty02 table th,
.table_form.ty02 table td {padding:10px 5px 7px;}
.table_form.ty02 table + table{margin-top:-10px;}
.table_form.ty03{padding-top: 5px;padding-bottom:5px;}
.required{color:#ed2024;display:inline-block;vertical-align:top;margin:7px 0 0 4px;background:url('../images/contents/ico_required.png') no-repeat center;text-indent:-9999px;width:6px;height:5px;font-size:0;}

.ty_flex {position: relative;padding-right:110px;}
.ty_flex.bgc {background: #f4f4f4;}
.ty_flex .btn_area {position: absolute;right:20px;top:50%;margin:-15px 0;}

.monitoring .table_ty thead th{height:27px !important;padding:2px 5px 5px;}
.monitoring .table_ty tbody td{height:26px !important;padding:2px 5px 3px;}
.monitoring .table_ty .btn_s{height:20px !important;line-height:18px;}

/* ico */
.ico_value{display:inline-block;border-radius:8px;width:8px;height:8px;margin-right:8px;background-color:#ccc;vertical-align:middle;box-sizing:border-box;transition:all 0.3s;}
/*.a{background-color:#70b850;}
.b{background-color:#fdd52e;}
.c{background-color:#ff863c;}
.d{background-color:#e84f4f;}
.e{background-color:#883b27;}
.f{background-color:#168ae3;}
.g{background-color:#6c6c6c;}*/

.a{background-color:#883b27;}
.b{background-color:#e84f4f;}
.c{background-color:#ff863c;}
.d{background-color:#fdd52e;}
.e{background-color:#6c6c6c;}
.f{background-color:#70b850;}
.g{background-color:#168ae3;}

.ico_value.on{border-width:2px;border-style:solid;}
/*.ico_value.a.on{background-color:#3a7b1c;border-color:#164202;}
.ico_value.b.on{background-color:#deb403;;border-color:#815c04;}
.ico_value.c.on{background-color:#ff6100;;border-color:#993a00;}
.ico_value.d.on{background-color:#f16f6f;;border-color:#8d0000;}
.ico_value.e.on{background-color:#c75537;;border-color:#000;}
.ico_value.f.on{background-color:#0f82da;;border-color:#013760;}
.ico_value.g.on{background-color:#6b6b6b;;border-color:#000;}*/

.ico_value.a.on{background-color:#c15337;border-color:#164202;}
.ico_value.b.on{background-color:#ec6f6f;;border-color:#815c04;}
.ico_value.c.on{background-color:#ffb486;;border-color:#993a00;}
.ico_value.d.on{background-color:#fdde64;;border-color:#8d0000;}
.ico_value.e.on{background-color:#8e8e8e;;border-color:#000;}
.ico_value.f.on{background-color:#97bf66;;border-color:#013760;}
.ico_value.g.on{background-color:#17afe1;;border-color:#000;}


i.ico_chk{display:inline-block;width:13px;height:9px;vertical-align:middle;background: url('../images/ico_check.png') no-repeat 0;font-size:0;text-indent:-9999px;overflow:hidden;}
i.ico_fail{display:inline-block;width:9px;height:9px;vertical-align:middle;background: url('../images/ico_fail.png') no-repeat 0;font-size:0;text-indent:-9999px;overflow:hidden;}
.scroll_ns{box-sizing:border-box;padding-right:17px;height:82px;}
.scroll_ns02{box-sizing:border-box;padding-right:17px;max-height:190px;}

/*** paginate ***/
.paginate {text-align:center;margin-top:20px;}
.paginate > a {display:inline-block;width:30px;height:30px;margin:0 3px;border:1px solid #e1e1e1;border-radius:2px;box-sizing:border-box;background:center no-repeat;font-size:0;text-indent:-9999px;overflow:hidden;transition:all 0.3s;}
.paginate > a:hover,
.paginate > a:focus {border-color:#666;}
.paginate .first {margin-left:0;background-image:url('../images/btn_paginate_first.png');}
.paginate .prev {background-image:url('../images/btn_paginate_prev.png');}
.paginate .next {background-image:url('../images/btn_paginate_next.png');}
.paginate .last {margin-right:0;background-image:url('../images/btn_paginate_last.png');}
.paginate .first:hover, .paginate .first:focus {background-image:url('../images/btn_paginate_first_on.png');}
.paginate .prev:hover, .paginate .prev:focus {background-image:url('../images/btn_paginate_prev_on.png');}
.paginate .next:hover, .paginate .next:focus {background-image:url('../images/btn_paginate_next_on.png');}
.paginate .last:hover, .paginate .last:focus {background-image:url('../images/btn_paginate_last_on.png');}
.paginate ul {display:inline-block;padding:0 25px;}
.paginate li {display:inline-block}
.paginate li a {display:block;position:relative;width:30px;height:30px;color:#4c4c4e;font-size:12px;line-height:28px;transition:all 0.3s;}
.paginate li a:after {content:"";display:block;position:absolute;bottom:0;left:50%;width:0;height:1px;background-color:#ed2024;transition:all 0.3s;}
.paginate li a:hover,
.paginate li.select a {color:#ed2024;font-weight:bold;}
.paginate li.select a:after,
.paginate li a:hover:after {left:0;width:100%;}

