.alarm aside {
    width: 250px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    background: #ffffff;
    padding: 0;
}
.alarm aside.half {
    grid-template-rows: 489px;
}
.alarm aside .bar.row {
    margin: 15px 0;
}
.alarm aside section article {
    background: #f4f4f4;
}
.alarm aside .alarm_status {
    align-content: flex-start;
}
.alarm aside .alarm_status .title,
.alarm aside .alarm_item .title {
    margin: 20px 20px 10px;
}
.alarm aside .alarm_item .title {
    margin: 10px 20px;
}
.alarm aside .alarm_status article,
.alarm aside .alarm_item article {
    height: auto;
    padding: 20px;
}
.alarm aside .alarm_item .chart_box {
    height: auto;
}
.alarm aside .local_status,
.alarm aside .local_data,
.alarm aside .local_status h2,
.alarm aside .local_data ul,
.alarm aside .local_data ul li h4,
.alarm aside .alarm_item .chart_area,
.alarm aside .alarm_item .week_data {
    width: 100%;
}
.alarm aside .local_status h2 {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: 0 0 10px;
    color: #000;
}
.alarm aside .local_status h2 span {
    display: inline-flex;
}
.alarm aside .local_status h2 span i {
    display: inline-flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0 0 0 10px;
}
.alarm aside .local_status h2 span i::before {
    content: '';
    display: inline-flex;
    width: 7px;
    height: 7px;
    border-radius: 10px;
    margin: 0 5px 0 0;
}
.alarm aside .local_data ul {
    display: flex;
}
.alarm aside .local_data ul li {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
}
.alarm aside .local_data .tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff; 
}
.alarm aside .local_data .tag.critical {
    border-radius: 5px 5px 0 0;
    margin: 0 3px 3px 0;
}
.alarm aside .local_data li:last-child .tag.critical {
    margin: 0 0 3px;
}
.alarm aside .local_data .tag.major {
    border-radius: 0 0 5px 5px;
    margin: 0 3px 0 0;
}
.alarm aside .local_data li:last-child .tag.major {
    margin: 0;
}
.alarm aside .local_data ul li h4 {
    display: inline-flex;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 10px 0 0;
    color: #000;
}
.alarm aside .alarm_item article {
    height: 584px;
    align-items: flex-start;
    flex-direction: row;
}
.alarm .content_wrap {
    width: 1670px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1124px 484px;
    grid-gap: 20px;
    grid-template-areas: '';
}
.alarm .content_wrap.wide {
    grid-template-columns: 100%;
    grid-gap: 0;
}
.alarm .content_wrap.half {
    grid-template-columns: 805px 805px;
}
.alarm .content_wrap.expend {
    padding: 20px 0 20px 20px;
    grid-template-columns: 1124px 500px;
}
.alarm .content_wrap.half .content {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
}
.alarm .content_wrap.half article {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}
.alarm .content_wrap article .bar {
    margin: 0;
}
.alarm .content_wrap .chart_box h2 {
    font-size: 1.8rem;
    height: 30px;
    margin: 0 0 10px;
}
.alarm aside .local_status h2 span i.critical::before,
.alarm aside .local_data .tag.critical,
.alarm .table_box .tag.critical,
.v-dialog .table_box .tag.critical {
    background: #de272a;
}
.alarm aside .local_status h2 span i.major::before,
.alarm aside .local_data .tag.major,
.alarm .table_box .tag.major,
.v-dialog .table_box .tag.major {
    background: #ea8918;
}
.alarm .content_wrap .chart_box.critical h2,
.alarm .content_wrap .chart_box.critical .this_week span,
.alarm aside .chart_box.critical h2,
.alarm aside .chart_box.critical .this_week span {
    color: #de272a;
}
.alarm .content_wrap .chart_box.major h2,
.alarm .content_wrap .chart_box.major .this_week span,
.alarm aside .chart_box.major h2,
.alarm aside .chart_box.major .this_week span {
    color: #ea8918;
}
.alarm .content_wrap .chart_area {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 0;                   
}
.alarm .content_wrap .chart_area .chart {
    border-radius: 5px 0 0 5px;
}
.alarm .content_wrap .chart_info {
    flex-direction: column;
}
.alarm .week_data {
    display: grid;
    grid-template-columns: 152px 1px 152px;
    grid-gap: 0;
    border-radius: 0 5px 0 0;
    background: #333;
    height: 48px;
}
.alarm .this_week,
.alarm .last_week {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 15px;
}
.alarm .this_week span,
.alarm .last_week span {
    display: inline-flex;
    font-size: 1.7rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
.alarm .week_data .bar {
    height: 25px;
    align-self: center;
    background: #787878;
    margin: 0 30px;
}
.alarm .week_data .last_week {
    flex-flow: row-reverse;
}
.alarm aside .chart_box h2 {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16px;
}
.alarm aside .chart_box h2 span {
    display: inline-flex;
    font-size: 0.7rem;
}
.alarm aside .chart_box.major h2 {
    margin: 18px 0 5px;
}
.alarm aside .week_data {
    grid-template-columns: calc(50% - 5.5px) 11px calc(50% - 5.5px);
    border-radius: 5px 5px 0 0;
    height: 33px;
}
.alarm aside .this_week,
.alarm aside .last_week {
    font-size: 0.7rem;
    padding: 5px 15px;
}
.alarm aside .this_week span,
.alarm aside .last_week span {
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.alarm aside .week_data .bar {
    height: 15px;
    margin: 0 5px;
}
.alarm .chart_progress {
    display: flex;
    position: relative;
    flex-direction: column;
}
.alarm .chart_progress .chart_box {
    flex-direction: column;
}
.alarm .chart_progress .mark {
    display: inherit;
    justify-content: space-between;
    margin: 0 67px 20px;
}
.alarm .chart_progress .mark .critical,
.alarm .chart_progress .mark .major {
    font-size: 0.7rem;
    color: #666;
}
.alarm .chart_progress .mark .critical::before,
.alarm .chart_progress .mark .major::after {
    content: '';
    display: inline-flex;
    width: 15px;
    height: 5px;
    border-radius: 5px;
    margin: 0 5px;
}
.alarm .chart_progress .mark .critical::before {
    background: #de272a;
}
.alarm .chart_progress .mark .major::after {
    background: #333;
}
.alarm .chart_progress .bar {
    margin: 13px 0;
}
.alarm .progress_box {
    display: inherit;
    position: inherit;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 37px;
}
.alarm .progress_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 84.5px;
}
.alarm .progress_wrap h2 {
    display: inherit;
    font-size: 1rem;
}
.alarm .progress_wrap.critical h2 {
    justify-content: flex-end;
    color: #de272a;
}
.alarm .progress_wrap.major h2 {
    color: #ea8918;
}
.alarm .progress {
    display: inherit;
    border-radius: 20px;
    background: #dcdfe1;
    width: 100%;
    height: 8px;
}
.alarm .progress_bar {
    display: inherit;
    border-radius: 20px;
    height: 8px;
}
.alarm .progress_wrap.critical {
    align-items: flex-end;
}
.alarm .progress_wrap.critical .progress {
    justify-content: flex-end;
}
.alarm .chart_progress .critical .progress_bar {
    background: linear-gradient(to right, #ff9e96, #de272a);
}
.alarm .chart_progress .major .progress_bar {
    background: linear-gradient(to right, #ea8918, #ffbd72);
}
.alarm .chart_progress .alarm_tag {
    display: inherit;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    width: 60px;
}
.alarm #detail article {
    height: 900px;
}
.alarm #action article {
    height: 908px;
}

