.automatic aside {
    width: 280px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    background: #ffffff;
    padding: 0;
}
.automatic aside.half {
    width: 250px;
}
.automatic aside .chart_box h2 {
    height: 16px;
    margin: 0 0 10px;
}
.automatic aside .local_status {
    align-items: flex-start;
}
.automatic aside .title {
    background: #fff;
    margin: 20px 20px 10px;
}
.automatic aside section article {
    width: 100%;
    height: auto;
    padding: 0;
    align-content: flex-start;
}
.automatic aside .local_status article {
    height: 920px;
}
.automatic aside .research {
    height: 365px;
    background: #f4f4f4;
}
.automatic aside .research .title {
    background: transparent;
}
.automatic aside .report {
    width: 100%;
}
.automatic aside .report ul li {
    padding: 7px 20px;
}
.automatic aside .report ul li + li {
    border-top: 1px solid #cccccc;
}
.automatic aside .report ul li p,
.automatic aside .report ul li h1 {
    display: inline-flex;
}
.automatic aside .report ul li h1 {
    width: 55px;
    font-size: 0.8rem;
    color: #000000;
}   
.automatic aside .report ul li p {
    font-size: 0.9rem;
}
.automatic aside .report ul li p.red {
    background: transparent!important;
    color: #f52a09;
}
.automatic aside .research article {
    padding: 0 20px 20px;
}
.automatic aside .research .chart_box {
    display: grid;
    grid-template-columns: auto repeat(3, 63px);
    grid-gap: 0;
    align-items: center;
}
.automatic aside .research .chart_box h2 {
    display: flex;
    height: auto;
    margin: 0;
    flex-direction: column;
}
.automatic aside .research .chart_box h2 span {
    display: flex;
    margin: 5px 0 0;
    color: #666666;
    font-weight: 600;
}
.automatic aside .research .chart_area {
    width: 100%;
}
.automatic aside .research .chart {
    align-items: center;
    justify-content: center;
}
.automatic aside .research .chart h3 {
    display: flex;
    font-size: 0.9rem;
}
.automatic aside .research p {
    font-size: 0.8rem;
    margin: 10px 0 0;
}
.automatic aside .local_status .title {
    margin: 10px 20px;
}
.automatic aside .local_status article {
    padding: 0 0 20px;
    height: 411px;
    overflow: hidden;
    overflow-y: auto;
}
.automatic aside.half .local_status article {
    height: 587px;
}
.automatic aside .local_status .local_data_box {
    display: inherit;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.automatic aside .local_status .local_data_box + .local_data_box {
    border-top: none;
    border-bottom: 1px solid #cccccc;
}
.automatic aside .local_status h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    padding: 0 0 0 20px;
    font-size: 1rem;
}
.automatic aside .local_status h2 span {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    margin: 5px 0 0;
    color: #b6afa7;
}
.automatic aside .local_status .local_data {
    display: inherit;
    flex-direction: column;
    width: 159px;
}
.automatic aside .local_status .data {
    display: inherit;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 4px 20px 4px 5px;
    font-size: 0.7rem;
}
.automatic aside .local_status div + div {
    border-top: 1px solid #cccccc;
}
.automatic aside .local_status .data span {
    font-size: 1rem;
    color: #b6afa7;
}
.automatic aside .local_status .data .severity,
.automatic aside .local_status h2 .severity {
    color: #f52a09;
}
.automatic aside .local_status .data span i {
    font-size: 0.8rem;
    color: #b6afa7;
}
.automatic aside .local_status .data span i::before {
    content: "/";
    margin: 0 5px;
}
.automatic aside .result .check_item h2 {
    justify-content: flex-start;
    padding: 20px 0 0 20px;
}
.automatic aside .result .chart_box h2 {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16px;
}
.automatic aside .result .chart_box h2 span {
    display: inline-flex;
    font-size: 0.7rem;
}
.automatic aside .result article {
    padding: 20px;
    background: #f1f1f1;
    height: 281px;
}
.automatic .chart_progress {
    display: flex;
    position: relative;
    flex-direction: column;
}
.automatic .chart_progress .chart_box {
    flex-direction: column;
}
.automatic .chart_progress .mark {
    display: inherit;
    justify-content: space-between;
    margin: 0 67px 20px;
}
.automatic .chart_progress .mark .critical,
.automatic .chart_progress .mark .major {
    font-size: 0.7rem;
    color: #666;
}
.automatic .chart_progress .mark .critical::before,
.automatic .chart_progress .mark .major::after {
    content: '';
    display: inline-flex;
    width: 15px;
    height: 5px;
    border-radius: 5px;
    margin: 0 5px;
}
.automatic .chart_progress .mark .critical::before {
    background: #de272a;
}
.automatic .chart_progress .mark .major::after {
    background: #333;
}
.automatic .chart_progress .bar {
    margin: 13px 0;
}
.automatic .progress_box {
    display: inherit;
    position: inherit;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 37px;
}
.automatic .progress_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 84.5px;
}
.automatic .progress_wrap h2 {
    display: inherit;
    font-size: 1rem;
}
.automatic .progress_wrap.critical h2 {
    justify-content: flex-end;
    color: #de272a;
}
.automatic .progress_wrap.major h2 {
    color: #ea8918;
}
.automatic .progress {
    display: inherit;
    border-radius: 20px;
    background: #dcdfe1;
    width: 100%;
    height: 8px;
}
.automatic .progress_bar {
    display: inherit;
    border-radius: 20px;
    height: 8px;
}
.automatic .progress_wrap.critical {
    align-items: flex-end;
}
.automatic .progress_wrap.critical .progress {
    justify-content: flex-end;
}
.automatic .chart_progress .critical .progress_bar {
    background: linear-gradient(to right, #ff9e96, #de272a);
}
.automatic .chart_progress .major .progress_bar {
    background: linear-gradient(to right, #ea8918, #ffbd72);
}
.automatic .chart_progress .error_tag {
    display: inherit;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    width: 60px;
}
.automatic aside .check_item .data:hover,
.automatic aside .check_item .data.selected {
    transition: 0.3s;
    color: #e25364;
    background: #faebec;
    cursor: pointer;
}


.automatic .content_wrap {
    width: 1640px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1124px 484px;
    grid-gap: 20px;
    grid-template-areas: '';
}
.automatic .content_wrap.wide {
    grid-template-columns: 100%;
    grid-gap: 0;
}
.automatic .content_wrap.half {
    grid-template-columns: 805px 805px;
}
.automatic .content_wrap.expend {
    width: 1670px;
    padding: 20px 0 20px 20px;
    grid-template-columns: 1124px 500px;
}
.automatic .content_wrap article {
    display: grid;
    grid-template-rows: 375px auto;
    row-gap: 30px;
}
.automatic .content_wrap.expend article {
    display: flex;
    row-gap: 0;
}
.automatic .automatic_table .table_header dl,
.automatic .automatic_table .table_header .condition,
.automatic .action_tab .table_header .condition {
    display: flex;
}
.automatic .automatic_table .table_header .condition,
.automatic .action_tab .table_header .condition {
    flex-flow: row-reverse;
    font-size: 0.9rem;
    font-weight: 600;
}
.automatic .automatic_table .table_header dl dt,
.automatic .automatic_table .table_header dl dd,
.automatic .automatic_table .table_header .condition,
.automatic .automatic_table .table_header .condition p,
.automatic .action_tab .table_header .condition,
.automatic .action_tab .table_header .condition p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.automatic .automatic_table .table_header dl dt,
.automatic .automatic_table .table_header .condition p,
.automatic .action_tab .table_header .condition p {
    height: 24px;
    width: 70px;
    background: #f3f7f9;
    color: #0376a7;
    font-size: 0.8rem;
    border-radius: 3px;
}
.automatic .automatic_table .table_header .condition p,
.automatic .action_tab .table_header .condition p {
    width: 120px;
    background: #faebec;
    color: #e25364;
    margin: 0 0 0 15px;
}
.automatic .action_tab .table_header .condition {
    font-size: 0.8rem;
    max-width: 355px;
}
.automatic .action_tab .table_header .condition p {
    text-align: center;
    width: 100px;
    font-size: 0.7rem;
    margin: 0 0 0 10px;
}
.automatic .automatic_table .table_header dl dd {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 15px;
}
.automatic .automatic_table .table_header dl .severity {
    align-items: flex-end;
}
.automatic .automatic_table .table_header dl .severity span {
    color: #f52a09;
    font-size: 1.1rem;
}
.automatic .automatic_table .table_header dl .severity span::after {
    content: '/';
    margin: 0 5px;
    color: #b6afa7;
    font-size: 0.9rem;
}
.automatic .automatic_status {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 14px));
    column-gap: 20px;
}
.automatic .automatic_status .status_box {
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
}
.automatic .automatic_status .status_box h2 {
    font-size: 1.05rem;
    font-weight: 600;
    margin: 0 0 15px;
}
.automatic .automatic_status .status_box ul {
    display: flex;
    width: 100%;
    max-width: 479px;
    margin: 0 0 10px;
}
.automatic .automatic_status .status_box ul li {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 16.67%;
    height: 60px;
}
.automatic .automatic_status .status_box ul li + li {
    margin: 0 0 0 5px;
}
.automatic .automatic_status .status_box ul li:nth-child(1) {
    background: #1dc46f;
}
.automatic .automatic_status .status_box ul li:nth-child(2) {
    background: #fd9824;
}
.automatic .automatic_status .status_box ul li:nth-child(3) {
    background: #22a7de;
}
.automatic .automatic_status .status_box ul li:nth-child(4) {
    background: #f84a2e;
}
.automatic .automatic_status .status_box ul li:nth-child(5) {
    background: #6B69D8;
}
.automatic .automatic_status .status_box ul li:nth-child(6) {
    background: #8895ac;
}
.automatic .automatic_status .status_box ul li h3 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 5px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #333333;
}
.automatic .automatic_status .status_box ul li p {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 1px 1px 2px #454545;
}
.automatic .automatic_status .status_box .table_box {
    display: flex;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}
