.parameter aside {
    width: 250px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
}
.parameter .content_wrap.wide {
    width: 1670px;
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
}
.parameter.wide_set aside {
    width: 420px;
    display: grid;
    grid-template-columns: calc(50% - 10.5px) 21px calc(50% - 10.5px);
    grid-gap: 0;
}
.parameter.wide_set aside.wide_area {
    width: 420px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
}
.parameter.wide_set .content_wrap {
    width: 1500px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1100px 340px;
    grid-gap: 20px;
} 
.parameter.wide_set .content_wrap.wide {
    width: 1500px;
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
}  
.parameter .detail_table article {
    height: 615px;
}
.parameter .bulk_cm {
    margin: 20px 0 0;
}
.parameter .bulk_cm article {
    height: 225px;
}
.parameter .para_set_value {
    width: 100%;
}
.parameter .parameter_table article,
.parameter .cluster_table article {
    height: 900px;
}