.status aside {
    width: 250px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    background: #ffffff;
    padding: 0;
}
.status aside .bar.row {
    margin: 15px 0;
}
.status aside .chart_box h2 {
    height: 16px;
    margin: 0 0 10px;
}
.status aside.half .severity_status {
    align-items: flex-start;
}
.status aside.half .title {
    background: #fff;
    margin: 20px 20px 10px;
}
.status aside.half section article {
    width: 100%;
    padding: 20px;
    align-content: flex-start;
}
.status aside.half .severity_status article {
    height: 920px;
    background: #f4f4f4;
}
.status aside.half .severity_status_action article {
    height: 448px;
    background: #f4f4f4;
}
.status aside.half .nokia_plnm h2,
.status aside.half .week_data_box h2 {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.status aside.half .nokia_plnm h2 span {
    display: inline-flex;
    font-size: 0.7rem;
}
.status aside.half .nokia_plnm .chart_wrap {
    align-items: center;
}
.status aside.half .nokia_plnm .chart_area {
    width: 50%;
}
.status aside.half .nokia_plnm .chart_area h4 {
    font-size: 0.8rem;
    margin: 15px 0;
}
.status aside.half .nokia_plnm .chart {
    width: 90px;
    height: 90px;
}
.status aside.half .nokia_plnm .chart h3 {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.status aside.half .nokia_plnm .chart h3::after {
    content: '%';
    font-size: 0.9rem;
}
.status aside.half .weekly_status .title {
    margin: 10px 20px;
}
.status aside.half .weekly_status article {
    background: #ffffff;
    padding: 0 0 20px;
}
.status aside.half .weekly_status .week_data_box {
    display: inherit;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.status aside.half .weekly_status .week_data_box + .week_data_box {
    border-top: none;
    border-bottom: 1px solid #cccccc;
}
.status aside.half .weekly_status h2 {
    width: 100px;
    padding: 0 0 0 20px;
    font-size: 0.9rem;
}
.status aside.half .weekly_status .week_data {
    display: inherit;
    flex-direction: column;
    width: 149px;
}
.status aside.half .weekly_status .this_week,
.status aside.half .weekly_status .last_week {
    display: inherit;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 7px 20px 7px 5px;
    font-size: 0.7rem;
}
.status aside.half .weekly_status div + div {
    border-top: 1px solid #cccccc;
}
.status aside.half .weekly_status .this_week span,
.status aside.half .weekly_status .last_week span {
    font-size: 1.1rem;
}
.status .content_wrap {
    width: 1670px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1124px 484px;
    grid-gap: 20px;
    grid-template-areas: '';
}
.status .content_wrap.wide {
    grid-template-columns: 100%;
    grid-gap: 0;
}
.status .content_wrap.half {
    grid-template-columns: 805px 805px;
}
.status .content_wrap.expend {
    padding: 20px 0 20px 20px;
    grid-template-columns: 1124px 500px;
}
.status .content_wrap article {
    height: auto;
}
.status .content_wrap .topic_table article {
    height: 580px;
}
.status #status_chart {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: repeat(3, 299px);
    grid-gap: 20px;
}
.status #status_table {
    display: grid;
    grid-template-columns: 480px 305px;
    grid-template-rows: 299px auto;
    grid-gap: 20px;
    grid-template-areas: 'traffic_plnm topic_stats'
                         'topic_table topic_table';
}
.status #status_chart .chart {
    height: 259px;
}
.status .content_wrap .traffic_plnm {
    grid-area: traffic_plnm;
}
.status .content_wrap .topic_stats {
    grid-area: topic_stats;
}
.status .content_wrap .topic_table {
    grid-area: topic_table;
}
#status_chart .week_data {
    display: grid;
    grid-template-columns: calc(50% - 10.5px) 21px calc(50% - 10.5px);
    grid-gap: 0;
    background: #333;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
}
#status_chart .this_week,
#status_chart .last_week {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 0.75rem;
    width: 100px;
}
#status_chart .this_week span,
#status_chart .last_week span {
    display: inline-flex;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
#status_chart .week_data .bar {
    height: 15px;
    align-self: center;
    background: #787878;
    margin: 0 10px;
}
#status_chart .week_data .last_week {
    flex-flow: row-reverse;
}
#status_chart .week_data .this_week span,
.status .progress_wrap.this_week h2,
aside .week_data .this_week span {
    color: #de272a;
}
.status .traffic_plnm article {
    height: 259px;
}
.status .topic_stats .chart_box {
    flex-direction: column;
}
.status .topic_stats .mark {
    display: inherit;
    justify-content: space-between;
    margin: 0 67px 20px;
}
.status .topic_stats .mark .this_week,
.status .topic_stats .mark .last_week {
    font-size: 0.7rem;
    color: #666;
}
.status .topic_stats .mark .this_week::before,
.status .topic_stats .mark .last_week::after {
    content: '';
    display: inline-flex;
    width: 15px;
    height: 5px;
    border-radius: 5px;
    margin: 0 5px;
}
.status .topic_stats .mark .this_week::before {
    background: #de272a;
}
.status .topic_stats .mark .last_week::after {
    background: #333;
}
.status .topic_stats .bar {
    margin: 13px 0;
}
.status .progress_box {
    display: inherit;
    position: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 37px;
}
.status .progress_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 110px;
}
.status .progress_wrap h2 {
    display: inherit;
    font-size: 1rem;
}
.status .progress {
    display: inherit;
    border-radius: 20px;
    background: #dcdfe1;
    width: 110px;
    height: 8px;
}
.status .progress_bar {
    display: inherit;
    border-radius: 20px;
    height: 8px;
}
.status .progress_wrap.this_week {
    align-items: flex-end;
}
.status .progress_wrap.this_week .progress {
    justify-content: flex-end;
}
.status .last_week .progress_bar {
    background: linear-gradient(to right, #333333, #999999);
}
.status .this_week .progress_bar {
    background: linear-gradient(to right, #ff9e96, #de272a);
}
.status .local_tag {
    display: inherit;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    width: 85px;
}
.status .topic_table .table_wrap {
    display: grid;
    grid-template-columns: 460px 285px;
    grid-gap: 20px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 5px;
}
.status .topic_table .table_wrap h2 {
    display: inherit;
    width: 100%;
    font-size: 1rem;
    height: 18px;
    margin: 0 0 10px;
}
.status #detail article {
    height: 900px;
}
.status #action article {
    height: 908px;
}
.status #action .chart_box {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: repeat(3, 180px);
    grid-gap: 20px;
    margin: 20px 0 0;
}
.status #action .chart {
    height: 180px;
}
.status #action .chart h1 {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 0.9rem;
    color: #fff;
}