 body{background: #0b0d19;overflow:auto;font-size:15px;}  
 
.gray_select{height:37px; -webkit-appearance: none;  background: #b2b2b2 url('../images/select_arrow_gray.png') no-repeat 90% 50%;box-sizing:border-box;padding-left:30px;} 
.gray_inp[type='text'] ,
.gray_inp[type='password'] {height:37px; line-height:37px; padding:0 24px; background: #b2b2b2; border:0; border-radius:0;box-sizing:border-box; }
.gray_textarea{height:114px;padding:12px 14px;background: #b2b2b2;}

.btn_com{position:relative;display:inline-block;vertical-align:middle;text-align:center;box-sizing:border-box;}
.btn_rd{border-radius:5px;}												  
.btn_rd18{border-radius:18px;}
.btn_point{color:#fff;background: #1bb1b0; border:1px solid #1bb1b0;  font-weight:700;}
.btn_point:hover{color:#fff;}
.btn_wtline{color:#fff;background: #000; border:1px solid #fff; font-weight:700;}
.btn_wtline:hover{color:#fff;}
.btn_gray{background:#9fa0a0; color:#fff;}
.btn_gray:hover{color:#fff;}
.btn_blue{background:#1b73b1; color:#fff;}
.btn_blue:hover{color:#fff;} 
.h37{line-height:37px;font-size:15px;}
.h49{line-height:49px;font-size:18px;}
.h54 {line-height:54px;font-size:18px;font-weight:500;}
.btn_bd{font-weight:700;}
.btn_in_icon{padding-left:20px;}
.btn_in_icon i{position:absolute;top:50%;left:24px; -webkit-transform:translateY(-50%);transform:translateY(-50%);}


/* .inp_gray{height:34px;line-height:34px;padding:0 15px;background: #b2b2b2;border:0;}
.select_gray{height:34px;background: #b2b2b2;border-color:#b2b2b2;padding:0 30px 0 10px;}
 */ 
				  
.w50{width:50px;}
.w60{width:60px;}
.w91{width:91px;}	
.w125{width:125px;}	
.w159{width:159px;}	
.w187{width:187px;}
.w214{width:214px;}	

.w37p{width:37%;}	  
.w80p{width:80%;}
.w1450{width:1450px;margin:0 auto;}



.radio label{display:inline-block;position:relative;padding-left:30px;}
.radio input[type=radio]{position:absolute;width:1px;height:1px;overflow:hidden;opacity:0; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:2} 
.radio label:before{position:absolute;top:-2px;left:0;display:inline-block;width:16px;height:16px;content:'';background:url('../images/radio.png') no-repeat;}  
.radio input[type=radio]:checked+label:before{background-image:url('../images/radio_on.png'); }	 
.radio input[type=radio]:disabled+label:before{opacity:0.5;}


.checkbox label{display:inline-block;position:relative;padding-left:30px;vertical-align:top;}
.checkbox input[type=checkbox]{position:absolute;width:1px;height:1px;overflow:hidden;opacity:0; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:2} 
.checkbox label:before{position:absolute;top:-2px;left:0;display:inline-block;width:20px;height:20px;content:'';background:url('../images/checkbox.png') no-repeat;}  
.checkbox input[type=checkbox]:checked+label:before{background-image:url('../images/checkbox_on.png'); }
.checkbox input[type=checkbox]:disabled+label:before{opacity:0.3;}
 
.admin_header{position: relative; height:92px; width:1678px; margin:0 auto; box-sizing: border-box; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; 
/* background: url('../images/bg_header.png') no-repeat 50% bottom;  */
} 
.admin_header:after{ /* position:absolute; bottom:-15px;left:0;right:0;height:30px; background: radial-gradient(ellipse  50% 20px, #20232f  ,  transparent 90%);content:''; */} 
.admin_header .logo{/* position:absolute;top:28px;left:0;z-index:10;padding:0; */}
.admin_header .logo img{ }
.admin_header .logo span{ /*display:inline-block;vertical-align:top; margin-top:7px;padding-left:15px;font-size:26px;font-weight:700;*/ }
.admin_header .gnb{ } 
.admin_header .gnb > ul{display: flex; flex-wrap: wrap; align-items: center; }
.admin_header .gnb > ul > li{position:relative;}
.admin_header .gnb > ul > li:after{position:absolute;top:50%;left:0;display:inline-block;width:1px;height:18px;margin-top:-9px;background: #fff;content:'';}
.admin_header .gnb > ul > li:first-child:after{display:none;}
.admin_header .gnb > ul > li > a{position: relative;display:block; margin: 0 25px; line-height:40px; font-size:20px; font-weight:700;color:#fff;} 
.admin_header .gnb > ul > li.arr > a:before{content:'';display:inline-block;width:6px;height:6px;background: #1bb1b0;border-radius:50%;position:absolute;top:40px;left:50%;margin-left:-9px;}
.admin_header .gnb > ul > li.arr > a:after{content:'';display:inline-block;width:6px;height:6px;background: #1bb1b0;border-radius:50%;position:absolute;top:40px;left:50%;margin-left:3px;}
.admin_header .gnb .on{border-bottom:3px solid #1bb1b0;}   
.admin_header .gnb li > div{position:absolute;top:40px;left:0;width:100%;background: #292a30;z-index:10}
.admin_header .gnb li > div li{text-align:center;border-bottom:1px solid #0b0d19;}									   
.admin_header .gnb li > div li a{display:block;padding:10px;font-size:14px;font-weight:500;color:#fff;}
.admin_header .gnb li > div li .on{background: #1bb1b0;}
.admin_header .util_area {/* position:absolute;top:34px;right:0; */font-size:18px;color:#fff;}
.admin_header .util_area span{position:relative;padding-left:30px;}
.admin_header .util_area span:after{position:absolute;top:50%;left:8px;display:inline-block;width:1px;height:16px;margin-top:-8px;background: #fff;content:'';}
.admin_header .util_area span:first-child:after{display:none;}
.admin_header .util_area .user{ /*padding-left:50px;background:url('../images/icon_profile.png') no-repeat 0 0; */ } 
.admin_header .util_area a{ /*padding-left:30px;color:#fff; */ }

.admin_container{ /*padding:0 0 20px; width:1678px; margin:0 auto;*/ } 

.page_tit{padding:30px 0;font-size:24px;font-weight:700;}

.search_box{padding:12px;text-align:center;border-image-width: 1px 0 1px 0;border-style: solid;
  border-image: linear-gradient(to right, #0b0d19 0%, #595b63 50%, #0b0d19 100%);
  border-image-slice: 0.5;}
/* .search_box select{width:265px; vertical-align:middle; }
.search_box input[type='text']{width:495px;vertical-align:middle;}  
.search_box .btn_point{width:214px;height:37px;vertical-align:middle;}  */

.board_top{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end;} 
/* .board_top .sort select{width:265px;} */

.table_admintype01{border-top:2px solid #fff;  border-bottom:1px solid #fff;}
.table_admintype01 th{padding:22px 0;border:1px solid #fff;font-weight:500;}
.table_admintype01 tr th:first-child{border-left:0;}
.table_admintype01 tr th:last-child{border-right:0;}
.table_admintype01 td{height:57px;padding:10px 0;border:1px solid #fff; text-align:center; box-sizing:border-box;}
.table_admintype01 tr td:first-child{border-left:0;}
.table_admintype01 tr td:last-child{border-right:0;}
.table_admintype01 thead th{background: #19203e;}
 
.table_admintype02{border-top:2px solid #fff;  border-bottom:1px solid #fff;}
.table_admintype02 tbody th{padding:20px 15px;text-align:left;border:1px solid #fff;font-weight:500;background: #19203e;}
.table_admintype02 tr th:first-child{border-left:0;}
.table_admintype02 tr th:last-child{border-right:0;}
.table_admintype02 tr td:first-child{border-left:0;}
.table_admintype02 tr td:last-child{border-right:0;}
.table_admintype02 tbody td{height:57px;padding:10px 15px;border:1px solid #fff; text-align:left; box-sizing:border-box;} 
.choice_list{display: flex; flex-wrap: wrap;}
.choice_list li{min-width:150px;padding:5px 0;}

/* 등록 */
.table_formtype tbody th{padding:10px 15px;text-align:left;border:1px solid #fff;font-weight:500;background: #19203e;}
.table_formtype tbody th em{color:#ff801b;}
.table_formtype tr th:first-child{border-left:0;}
.table_formtype tr th:last-child{border-right:0;}
.table_formtype tr td:first-child{border-left:0;}
.table_formtype tr td:last-child{border-right:0;}
.table_formtype tbody td{height:47px;padding:6px 15px;border:1px solid #fff; text-align:left; box-sizing:border-box;}
.table_formtype .gray_select{padding-left:24px;}
.spec_box {display: flex; flex-wrap: wrap;}		 
.spec_box p{padding-right:45px;}	
.spec_box p span{padding-right:12px;}
.spec_box .gray_inp{width:113px;text-align:center;}			 
.spec_box .gray_select{width:189px;}
.file_upload{display: flex; flex-wrap: wrap; align-items: center;padding:12px 0;}
.file_upload span{padding:0 45px 0 15px;}
.package_area_top{display: flex; flex-wrap: wrap; align-items: center;}
.package_area_top em{padding-right:14px;}								  
.package_area_top .gray_select{width:390px;margin-right:12px;}	 
.package_area_cont {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top:14px;}
.package_area_cont .package_item{width:405px;}														  
.package_area_cont .package_item .tit{padding:8px 0 8px 18px; background: #494c5b;}  						  
.package_area_cont .package_item .tit .gray_select{width:165px;margin:0 5px;}  						  
.package_area_cont .package_item .framebox{height:378px;background: #b2b2b2;}





.boad_bm_text{padding:50px; text-align:center; font-size:18px; background: #19203e;}

.paging{text-align:center;}
.paging a{display:inline-block;width:40px; line-height:40px;text-align:center;border:1px solid #aaaaaa;color:#ffffff;margin:0 2px;}
.paging a.on{border-color:#1bb1b0;background: #1bb1b0;}
.paging .prev,
.paging .next{width:73px;}

.boad_bm_btns{text-align:center;}

/* 로그인 */
.login_area{ width:450px; margin:245px auto 0; text-align:center; font-size:24px; font-weight:500; background: url('../images/expantion_shadow.png') no-repeat 50% 0;}
.lgn_box{position:relative;margin-bottom:16px;}
.login_area input[type='text'],
.login_area input[type='password']{width:100%;border:0;border-radius:3px; padding:20px 25px; height:60px;line-height:20px; font-size:18px; box-sizing:border-box;}

.login_group{margin-bottom:60px;} 
.login_group input[type='text'],
.login_group input[type='password']{background: #d6e3e3; padding:20px 25px 20px 80px;}
.login_group .id_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_userid.png') no-repeat 0 0 ;}
.login_group .pw_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_password.png') no-repeat 0 0 ;}

.login_group02{ margin-bottom:-30px;}
.login_group02 .code_box{position:relative;width:100%;border:0;border-radius:3px;height:60px; padding:10px 92px 10px 0;text-align:center;  box-sizing:border-box; background: #fff;}
.login_group02 .code_box a{position:absolute; top:13px; right:16px;}

.join_bottom {margin-top:49px; } 
.join_bottom button{position:relative; width:100%; height:60px; font-size:18px; color:#101320; border:0; border-radius:5px; font-weight:600; cursor: pointer; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa800+0,c65009+100 */
background: #ffa800; /* Old browsers */
background: -moz-linear-gradient(left,  #ffa800 0%, #c65009 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffa800 0%,#c65009 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffa800 0%,#c65009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#c65009',GradientType=1 ); /* IE6-9 */
} 
.join_bottom button:before{position:absolute;top:16px;left:28px;display:inline-block;width:28px;height:28px;background: url('../images/join_btn_icon.png') no-repeat 0 0;content:'';}

.join_bottom02{margin-top:20px; }  
.join_bottom02 a{font-size:18px; color:#fff; }



/* 팝업 */ 	
/* #mask{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(105,108,119,0.85);z-index:10;}
.popup_admin{ width:1000px;position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);z-index:20; border: 2px solid #ffffff;  
  box-sizing: border-box; border-radius: 20px; background:#0b0d19; box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%); -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);	
  overflow:hidden; }			
.popup_admin h1{padding:20px 70px 15px 35px;color:#fff;background: #1bb1b0;font-size:20px;font-weight:500;border-bottom:1px solid #ffffff;}		
.popup_admin .pop_admincont{padding:35px;}
.popup_admin .pop_footer{text-align:center;padding:0 35px 45px 35px;}
.popup_admin .pop_adminclose{position:absolute;top:0;right:0;padding:18px; }
		 
.return_form dt{padding-bottom:15px;font-size:18px;font-weight:500;}													   	
.return_form dt span{font-size:14px;font-weight:400;padding-left:40px;}	  
.return_form dd textarea{width:100%;height:100px;background: #b2b2b2; resize: none;} */ */

/* 알럿 */  
/* .pop_modal {width:600px;}
.pop_modal .modal_cont {text-align:center;padding:60px 10px 60px;}   
.pop_modal .modal_cont .message_box {text-align:center;font-size:35px;font-weight:500;} 
.pop_modal .modal_cont .message_subtext {padding-top:30px;line-height:1.8em;font-size:14px;} 
.pop_modal .modal_cont .message_subtext .txt01{color:#c2def2;font-weight:500;font-size:16px;}
.pop_modal .modal_cont .message_btns {padding-top:40px;text-align:center; }
 

/************************************** 210707 dashboard **************************************************/
/*  HEADER  */
.admin_header { 
  background: transparent; 
  width: 100%;
}
.header_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}
.header_bg:after { 
  position: absolute; 
  bottom: -15px;
  left: 0;
  right: 0;
  height: 30px; 
  background: radial-gradient(ellipse 80% 20px, #20232f, transparent 90%);
  content:'';
}  
.admin_header_wrap { 
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  z-index: 10;
}
.admin_header .logo {
  position: relative;
  display: block;
  width: 250px;
  height: 40px;
  background: url('../images/common/logo.svg') no-repeat ;
  background-size: contain;
  margin: 0;
  padding: 0;
}
.admin_header .gnb {
  position: absolute;
  display: flex;
  left: calc(50% - 936.27px / 2);
  align-items: center;
  z-index: 10;
}
.admin_header .util_area,
.admin_header .util_area li,
.admin_header .util_area a {
  display: flex;
  position: relative;
  align-items: center;
}
.admin_header .util_area a span {
  display: block;
  width: 20px;
  height: 20px;
}
.admin_header .util_area li {
  margin: 0 7px;
}
.admin_header .util_area li.bar::before {
  position: relative;
  display: inline-flex;
  content: '';
  background: #787878;
  width: 1px;
  height: 17px;
  margin: 0 14px 0 0;
}
.admin_header .util_area a p {
  color: #ffffff;
  font-size: 16.5px;
  height: 20px;
}
.admin_header .util_area .logout span {
  background: url('../images/icon_logout.png') no-repeat;
}
.admin_header .util_area .user span{
  background: url('../images/icon_profile.png') no-repeat;
}
.admin_header .util_area .logout p {
  font-size: 13px;
  height: 16px;
} 
.admin_header .gnb > ul > li:after {
  background: #787878;
}
/****************************************************************  CONTENTS  */
.w40 {
  width: 30%;
  margin: 0 1% 0 0;
}
.w60 {
  width: 70%;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/common/bg.png') no-repeat center center;
  background-attachment: fixed;
  z-index: -1;
}
.admin_container { 
  position: relative;
  display: flex;
  width: 90%; 
  margin: 0 auto; 
  padding: 0 0 50px;
} 
.d_container { 
  width: 90%; 
  margin: 0 auto; 
  padding: 15px 0 50px;
}
.contents {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
} 
.d_container .contents {
  display: grid;
  grid-template-columns: calc(30% - 0.5ch) calc(70% - 0.5ch);
  grid-gap: 1ch;
  grid-template-areas: 'overview mec_app' 
                       'overview mec_cluster' 
                       'list list';   
} 
.admin_container section {
  position: inherit;
  display: inherit;
  flex-direction: column;
  align-items: flex-start;
  background: #141a31;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px #000;
}
.admin_container .overview {
  order: 1;
  grid-area: overview;
}
.admin_container .mec_app {
  order: 2;
  grid-area: mec_app;
}
.admin_container .mec_cluster {
  order: 3;
  grid-area: mec_cluster;
}
.admin_container .list {
  order: 4;
  grid-area: list;
}
.admin_container article {
  position: inherit;
  display: inherit;
  flex-direction: column;
}
.admin_container section h1 {
  padding: 0 0 10px;
  box-sizing: border-box;
  border-style: solid;
  border-image: linear-gradient(to right, #01c9ca 0%, #3886FF 75%, #141a31 90%, #141a31 100%);
  border-image-slice: 1;
  background: #141a31;
  border-image-width: 0 0 1px 0;
}
.admin_container section h1 span {
  font-size: 23px;
  font-weight: 600;
  background: linear-gradient(to right, #bcffff 0%, #09f5f5 30%, #00d6d6 60%,  #3886FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.admin_container .chart {
  position: inherit;
  display: inherit;
}
.admin_container .chart_info {
  height: 100px;
}
.admin_container .chart_info.small {
  height: 70px;
}
.admin_container section h2 {
  font-size: 23px;
  font-weight: 500;
}
.admin_container section h3,
.admin_container section h4 {
  font-size: 15px;
  font-weight: 500;
}
.admin_container section h3::before,
.admin_container section h4::before {
  content: '';
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: #666666;
  border-radius: 50px;
  margin: 0 10px 0 0;
}
.admin_container section dl {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 33px;
}
.admin_container section dl dt {
  display: inline-flex;
  font-size: 16px;
  order: 1;
}
.admin_container section dl dt::before {
  content: '';
  position: relative;
  display: inline-flex;
  top: 1px;
  width: 8px;
  height: 8px;
  margin: 0 7px 0 0;
  border: 3px solid #fff;
  border-radius: 3px;
}
.admin_container section dl.co1 dt::before {
  border-color: #F25858;
}
.admin_container section dl.co2 dt::before {
  border-color: #4780FD;
}
.admin_container section dl.co3 dt::before {
  border-color: #F8CE69;
}
.admin_container section dl.co4 dt::before {
  border-color: #2BECD8;
}
.admin_container section dl.co5 dt::before {
  border-color: #5eccff;
}
.admin_container section dl.co6 dt::before {
  border-color: #896AE0;
}
.admin_container section dl dd {
  display: inline-flex;
  font-size: 27px;
  font-weight: 600;
  order: 2;
}
.admin_container section .co1 dd {
  color: #F25858;
}
.admin_container section .co2 dd {
  color: #4780FD;
}
.admin_container section .co3 dd {
  color: #F8CE69;
}
.admin_container section .co4 dd {
  color: #2BECD8;
}
.admin_container section .co5 dd {
  color: #5eccff;
}
.admin_container section .co6 dd {
  color: #896AE0;
}
.admin_container section .global dl {
  height: 35px;
  padding: 0;
  margin: 0;
}
.admin_container section .global dt {
  align-items: center;
}
.admin_container section .global dt::before {
  display: none;
}
.admin_container section .global dt i {
  display: inline-flex;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}
.admin_container section .global dt span {
  font-size: 19px;
}
.admin_container section .global dd {
  font-size: 33px;
  width: 120px;
}
.admin_container section i.ico1 {
  background: url('../images/common/app_down.svg') no-repeat center 4px;
  background-size: 22px;
}
.admin_container section i.ico2 {
  background: url('../images/common/app_reg.svg') no-repeat center 4px;
  background-size: 22px;
}
.admin_container section i.ico3 {
  background: url('../images/common/app_act.svg') no-repeat center 4px;
  background-size: 22px;
}
.admin_container section i.ico4 {
  background: url('../images/common/app_dec.svg') no-repeat center 4px;
  background-size: 22px;
}
.admin_container section .mini_list {
  padding: 0;
  height: 30px;
}
.admin_container section .mini_list dt::before {
  border: none;
  top: 8px;
  width: 10px;
  height: 4px;
  margin: 0 10px 0 0;
}
.admin_container section dl.mini_list.co3 dt::before {
  background: #F8CE69;
}
.admin_container section dl.mini_list.co4 dt::before {
  background: #2BECD8;
}
.admin_container section .mini_list dd {
  font-size: 23px;
}
.overview {
  display: grid;
  grid-template-columns: calc(50% - 1ch) calc(50% - 1ch);
  grid-gap: 2ch;
  grid-template-areas: 'header header'
                       'app cluster' 
                       'user event'; 
}
.mec_app {
  display: grid;
  grid-template-columns: calc(33% - 0.5ch) calc(33% - 0.5ch) calc(33% - 0.5ch);
  grid-gap: 1.5ch;
  grid-template-areas: 'header header header'
                       'st1 st2 st3'
                       'app_cate app_reg app_down'; 
}
.mec_cluster {
  display: grid;
  grid-template-columns: calc(33% - 0.5ch) calc(33% - 0.5ch) calc(33% - 0.5ch);
  grid-gap: 1.5ch;
  grid-template-areas: 'header header header'
                       'st3 st4 st5'
                       'chart_box chart_box chart_box'; 
}
.overview h1,
.mec_app h1,
.mec_cluster h1,
.mec_cluster .chart_wrap h4 {
  order: 1;
  grid-area: header;
}
.overview .app {
  order: 2;
  grid-area: app;
}
.overview .cluster {
  order: 3;
  grid-area: cluster;
}
.overview .user {
  order: 4;
  grid-area: user;
}
.overview .envet {
  order: 5;
  grid-area: envet;
}
.overview .chart {
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  width: 200px;
  height: 200px;
  border: 35px solid #262A45;
  border-radius: 500px;
}
.mec_app .st1 {
  order: 2;
  grid-area: st1;
}
.mec_app .st2 {
  order: 3;
  grid-area: st2;
}
.mec_app .app_cate {
  order: 4;
  grid-area: app_cate;
}
.mec_app .app_reg {
  order: 5;
  grid-area: app_reg;
}
.mec_app .app_down {
  order: 6;
  grid-area: app_down;
}
.mec_app .chart {
  margin: 10px 0 0;
  padding: 15px;
  width: 100%;
  height: 150px;
  background: #0b0d19;
}
.mec_cluster .st3 {
  order: 2;
  grid-area: st3;
}
.mec_cluster .st4 {
  order: 3;
  grid-area: st4;
}
.mec_cluster .chart_box {
  order: 4;
  grid-area: chart_box;
}
.mec_cluster .scrollbar {
  height: 250px;
  margin: 10px 0 0;
  overflow-y: auto;
}
.mec_cluster .chart_wrap {
  position: inherit;
  display: grid;
  align-items: center;
  grid-template-columns: auto calc(20% - 0.25ch) calc(20% - 0.25ch) calc(20% - 0.25ch) calc(20% - 0.25ch);
  grid-gap: 1.25ch;
  grid-template-areas: 'header header header header header'
                       'chart_info chart cpu mem disk'; 
  height: 210px;
  padding: 15px;
  margin: 0 0 15px;
  background: #0b0d19;
}
.mec_cluster .chart_wrap .chart_info {
  order: 2;
  grid-area: chart_info;
  height: 85px;
  padding: 10px;
  background: #262A45;
  border-radius: 5px;
}
.mec_cluster .chart_wrap .chart {
  order: 3;
  grid-area: chart;
}
.mec_cluster .chart_wrap .cpu {
  order: 4;
  grid-area: cpu;
}
.mec_cluster .chart_wrap .mem {
  order: 5;
  grid-area: mem;
}
.mec_cluster .chart_wrap .disk {
  order: 6;
  grid-area: disk;
}
.mec_cluster .node,
.mec_cluster .cpu,
.mec_cluster .mem,
.mec_cluster .disk {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mec_cluster .node .chart {
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 20px solid #262A45;
  border-radius: 500px;
}
.mec_cluster .node h2 {
  font-size: 20px;
}
.mec_cluster .cpu, 
.mec_cluster .mem, 
.mec_cluster .disk {
  height: 120px;
  align-items: flex-start;
} 
.mec_cluster .cpu .chart,
.mec_cluster .mem .chart,
.mec_cluster .disk .chart {
  height: 90px;
  overflow: hidden;
} 
.mec_cluster .chart .example {
  width: 180px;
  height: 180px;
  border: 25px solid #262A45;
  border-radius: 500px;
}
.mec_cluster h5 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  font-size: 15px;
}
.mec_cluster h5 span,
.mec_cluster p span {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.mec_cluster h5 span::after,
.mec_cluster p span::after {
  content: '%';
  margin: 0 0 0 5px;
  font-size: 16px;
  font-weight: 600;
  color: #787878;
}
.mec_cluster p {
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0;
}
.mec_cluster p span  {
  display: inline-flex;
  font-size: 20px;
}
.mec_cluster p span.core::after {
  content: 'Core';
}
.mec_cluster p span.gb::after {
  content: 'GB';
}
.mec_cluster p span.on {
  color: #FF9B26;
}
.mec_cluster p i {
  display: inline-flex;
  margin: 0 10px;
  color: #787878;
}  
.list article {
  display: grid;
  grid-template-rows: calc(85% - 2ch) calc(15% - 2ch);
  grid-gap: 4ch;
  grid-template-areas: 'list_table'
                       'paging'; 
}
.list .list_table {
  order: 2;
  grid-area: list_table;
}
.list .list_table th,
.list .list_table td{
  padding: 10px 0;
  text-align: center;
}
.list .list_table thead {
  background: linear-gradient(to right, #01c9ca 0%, #3886FF 100%);
}
.list .list_table th {
  font-weight: 500;
}
.list .list_table td {
  border-bottom: 1px solid #454545;
}
.list .list_table span {
  display: inline-flex;
  align-items: center;
}
.list .list_table span::before {
  content: '';
  margin: 0 10px 0 0;
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
.list .list_table .reg::before {
  background: #4780FD;
}
.list .list_table .mod::before  {
  background: #F8CE69;
}
.list .list_table .del::before  {
  background: #F25858;
}
.list .d_paging {
  order: 3;
  grid-area: paging;
  margin: 15px 0;
}
.list .d_paging ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .d_paging ul li {
  display: inline-flex;
  font-size: 17px;
  padding: 5px 13px;
  margin: 0 5px;
  border: 1px solid #141a31;
  border-bottom: 1px solid #787878;
  cursor: pointer;
  transition: 0.5s;
}
.list .d_paging ul li:hover {
  background: #262A45;
  transition: 0.5s;
}
.list .d_paging ul li.on {
  border-color: #00d6d6;
  font-weight: 600;
  color: #00d6d6;
}
.list .d_paging ul li.prev,
.list .d_paging ul li.next {
  font-size: 15px;
  line-height: 23px;
}
/****************************************************************  table list  */
.board_top {
  margin: 35px 0 15px;
}
.btn_com {
  display: inline-flex;
  position: relative;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 5px;
}
.btn_com:hover {
  color: #ffffff;
}
.btn_ok {
  background: #1bb1b0;
}
.btn_cancel {
  background: rgba(255,255,255,0.1);
  color: #bbbbbb;
}
.btn_confirm {
  background: #1bb1b0;
  padding: 5px 20px;
  font-size: 14px;
}
.btn_reject {
  background: rgba(255,255,255,0.1);
  color: #bbbbbb;
  padding: 5px 20px;
  font-size: 14px;
}
.btn_table {
  background: #1bb1b0;
  padding: 10px 15px;
  font-size: 13px;
}
.btn_verify {
  background: #1b73b1;
}
.btn_search {
  padding: 10px 30px;
}
.btn_big {
  padding: 20px 50px;
  font-size: 18px;
}
.btn_com span {
  display: flex;
}
.btn_com::before, 
.btn_com::after {
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.15s linear;
  background: #f4f4f4;
  transition-delay: 0s;
}
.btn_com::before{
  right: 0;
  top: 0;
}
.btn_com::after{
  left: 0;
  bottom: 0;
}
.btn_com:hover::before, 
.btn_com:hover::after{
  width: 100%;
  transition-delay: 0.15s;
}
.input_txt {
  background: #262A45;
  border-bottom: 1px solid #aaaaaa;
  font-size: 14px;
  color: #ffffff;
  min-width: 150px;
  padding: 10px;
}
.input_txt02 {
  background: #f1f1f1;
  font-size: 16px;
  color: #333333;
  min-width: 100px;
  padding: 10px 20px;
}
.input_txt::placeholder {
  color: #bbbbbb;
} 
.input_txt02::placeholder,
.textarea::placeholder {
  color: #999999;
  font-size: 14px;
} 
.input_txt.search {
  min-width: 400px;
} 
.input_small {
  width: 120px;
  font-size: 15px;
}
.select {
  -webkit-appearance: none;  
  border-bottom: 1px solid #aaaaaa;
  font-size: 14px;
  color: #ffffff;
  min-width: 150px;
  padding: 10px;
  background: url('../images/common/select.svg') no-repeat 95% center #262A45;
}
.select02 {
  -webkit-appearance: none;  
  font-size: 14px;
  color: #333333;
  min-width: 100px;
  padding: 10px 20px;
  background: url('../images/common/select2.svg') no-repeat 95% center #f1f1f1;
}
.select_small {
  width: 190px;
}
.textarea {
  height:110px;
  padding: 10px 15px;
  background: #f1f1f1;
}
.total {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.total span {
  font-size: 22px;
  font-weight: 600;
  margin: 0 10px;
}
.table_wrap .list_table th,
.table_wrap .list_table td{
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
}
.table_wrap .list_table thead {
  background: #262A45;
  border-top: 2px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.table_wrap .list_table th {
  font-weight: 500;
}
.table_wrap .list_table td {
  border-bottom: 1px solid #454545;
}
.table_wrap .list_table tbody th {
  background: #262A45;
  border-bottom: 1px solid #dddddd;
}
.table_wrap .list_table .top {
  border-top: 2px solid #dddddd;
}

/**************************************************************** popup ******/
#mask {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(105,108,119,0.85);
  z-index:9000;
}
.popup_admin { 
  width:1000px;
  position:absolute; 
  top:50%; 
  left:50%; 
  transform: translate(-50%, -50%);
  z-index:9999; 
  border-radius: 5px; 
  background:#0b0d19; 
  box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%); 
  -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);	
  overflow:hidden; 
}			
.popup_admin h1 { 
  position: relative;
  padding: 0 30px 15px;
  margin: 30px 0 0;
  color:#ffffff;
  font-size:20px;
  font-weight: 500;
  border-bottom:1px solid #f4f4f4;
}		
.popup_admin h1 span {
  position: relative;
  display: inline-flex;
}
.popup_admin h1 span::after {
  content: '';
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: 6px;
  bottom: -18px;
  left: 0;
  background: #1bb1b0;
  border-radius: 10px;
}
.popup_admin .pop_admincont {
  padding:35px;
}
.popup_admin .pop_footer {
  text-align:center;
  padding:0 35px 45px 35px;
}
.popup_admin .pop_adminclose {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px; 
} 
.popup_admin .pop_adminclose02 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px; 
} 
.return_form dt{
  padding-bottom:15px;
  font-size:18px;
  font-weight:500;
}													   	
.return_form dt span{
  font-size:14px;
  font-weight:400;
  padding-left:40px;
}	  
.return_form dd textarea{
  width:100%;
  height:100px;
  background: #f4f4f4; 
  resize: none;
}
/* 알럿 */  
.pop_modal {width:600px;}
.pop_modal .modal_cont {text-align:center;padding:60px 10px 60px;}   
.pop_modal .modal_cont .message_box {text-align:center;font-size:30px;font-weight:400;} 
.pop_modal .modal_cont .message_subtext {padding-top:30px;line-height:1.8em;font-size:14px;} 
.pop_modal .modal_cont .message_subtext .txt01{color:#c2def2;font-weight:400;font-size:16px;}
.pop_modal .modal_cont .message_btns {padding-top:40px;text-align:center; }