/*카테고리 영역*/
@keyframes close_category {
	from {
		height: 75px;
		opacity: 1;
	}
	to {
		height: 0;
		opacity: 0;
	}
}

@keyframes open_category {
	from {
		height: 0;
		opacity: 0;
	}
	to {
		height: 75px;
		opacity: 1;
	}
}

.close_category {
	animation-name: close_category;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

.open_category {
	animation-name: open_category;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

/*전체 서비스 영역*/
@keyframes normal_to_close_service {
	from {
		height: 290px;
		opacity: 1;
		padding-top: 22px;
		padding-bottom: 30px;
	}
	to {
		height: 0;
		opacity: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@keyframes close_to_normal_service {
	from {
		height: 0;
		opacity: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	to {
		height: 290px;
		opacity: 1;
		padding-top: 22px;
		padding-bottom: 30px;
	}
}

@keyframes normal_to_open_service {
	from {
		height: 290px;
	}
	to {
		height: 880px;
	}
}

@keyframes open_to_normal_service {
	from {
		height: 880px;
	}
	to {
		height: 290px;
	}
}

.normal_to_close_service {
	animation-name: normal_to_close_service;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

.close_to_normal_service {
	animation-name: close_to_normal_service;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

.normal_to_open_service {
	animation-name: normal_to_open_service;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

.open_to_normal_service {
	animation-name: open_to_normal_service;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

/*나의 서비스 영역*/
@keyframes normal_to_close_my {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes close_to_normal_my {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes normal_to_open_my {
	from {
		height: 150px;
	}
	to {
		height: unset;
	}
}

@keyframes open_to_normal_my {
	from {
		height: unset;
	}
	to {
		height: 150px;
	}
}

.normal_to_close_my {
	animation-name: normal_to_close_my;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

.close_to_normal_my {
	animation-name: close_to_normal_my;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

.normal_to_open_my {
	animation-name: normal_to_open_my;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

.open_to_normal_my {
	animation-name: open_to_normal_my;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

/*아이콘 로딩바*/
@keyframes open_loader {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes close_loader {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.open_loader {
	animation-name: open_loader;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}

.close_loader {
	animation-name: close_loader;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: both;
}
