@keyframes opacity-in {
	0% {
		opacity: 0.3;
	}
    100%{
        opacity: 0.7;
    }
}
@keyframes opacity-in-2 {
	0% {
		opacity: 0.2;
	}
    100%{
        opacity: 1;
    }
}
@keyframes opacity-in-3 {
	0% {
		opacity: 0.3;
	}
    100%{
        opacity: 1;
    }
}
@keyframes tab-in {
	0% {
		opacity: 0;
	}
    100%{
        opacity: 1;
    }
}
@keyframes nav-on {
	0% {
		width: 80px;
	}
    100%{
        width: 280px;
    }
}
@keyframes nav-off {
	0% {
		width: 280px;
	}
    100%{
        width: 80px;
    }
}
@keyframes ck-in {
	0% {
		opacity: 0.6;
	}
    100%{
        opacity: 1;
    }
}
@keyframes background-move {
	0% {
        width: 0;
        opacity: 0;
	}
    100%{
        width: 100%;
        opacity: 1;
    }
}

