/* logo */
#logo {
    position: relative;
    display: inherit;
}
#logo a {
    display: inline-flex;
    background: url("../../images/logo_mini.png") no-repeat;
    width: 40px;
    height: 33px;
    text-indent: -9999px;
    transition: 0.2s;
}
.active #logo a {
    background: url("../../images/logo.png") no-repeat;
    width: 214px;
    height: 35px;
    transition: 0.2s;
}
/* gnb */
#gnb_open,
#gnb_close {
    position: inherit;
    display: flex;
    width: 30px;
    height: 21px;
    font-size: 0;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.3s;
}
.active #gnb_open,
.active #gnb_close {
    transition: 0.3s;
}
#gnb_open {
    background: url("../../images/ico_nav_off.png") no-repeat;
}
#gnb_close {
    background: url("../../images/ico_nav_on.png") no-repeat;
    display: none;
}
.active #gnb_open {
    display: none;
}
.active #gnb_close {
    display: flex;
}
/* nav */
#nav {
    width: 100%;
    height: calc(100vh - 278px);
    min-height: 651px;
    justify-content: center;
    transition: 0.3s;
}
header ul,
header ul li {
    position: inherit;
    display: inherit;
    align-items: center;
    width: 100%;
}
header ul {
    flex-direction: column;
    padding: 0 20px;
}
header ul li {
    height: 40px;   
    justify-content: center;
}
header ul li a {
    position: inherit;
    display: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0;
    color: var(--gray_light2);
}
header ul li a:hover {
    color: var(--white);
}
header ul li a::before {
    content: '';
    display: inline-flex;
    width: 22px;
    height: 22px;
    opacity: 0.7;
    transition: 0.5s;
}
header ul li.dashboard a::before {
    content: url("../../images/ico_nav1.png");
} 
header ul li.status a::before {
    content: url("../../images/ico_nav2.png");
} 
header ul li.check_mgt a::before {
    content: url("../../images/ico_nav5.png");
} 
header ul li.result a::before {
    content: url("../../images/ico_nav4.png");
} 
header ul li.report a::before {
    content: url("../../images/ico_nav3.png");
} 
header ul li.history a::before {
    content: url("../../images/ico_nav6.png");
} 
header ul li.setting a::before {
    content: url("../../images/ico_nav7.png");
} 
header ul li.dashboard.on a::before,
header ul li.dashboard:hover a::before {
    content: url("../../images/ico_nav1_on.png");
    animation: opacity-in 0.5s ease-in-out;
} 
header ul li.status.on a::before,
header ul li.status:hover a::before {
    content: url("../../images/ico_nav2_on.png");
    animation: opacity-in 0.5s ease-in-out;
} 
header ul li.check_mgt.on a::before,
header ul li.check_mgt:hover a::before {
    content: url("../../images/ico_nav5_on.png");
    animation: opacity-in 0.5s ease-in-out;
} 
header ul li.result.on a::before,
header ul li.result:hover a::before {
    content: url("../../images/ico_nav4_on.png");
    animation: opacity-in 0.5s ease-in-out;
} 
header ul li.report.on a::before,
header ul li.report:hover a::before {
    content: url("../../images/ico_nav3_on.png");
    animation: opacity-in 0.5s ease-in-out;
} 
header ul li.history.on a::before,
header ul li.history:hover a::before {
    content: url("../../images/ico_nav6_on.png");
    animation: opacity-in 0.5s ease-in-out;
} 
header ul li.setting.on a::before,
header ul li.setting:hover a::before {
    content: url("../../images/ico_nav6_on.png");
    animation: opacity-in 0.5s ease-in-out;
} 
header ul li.user a::before {
    content: url("../../images/ico_user.png");
} 
header ul li.user a {
    color: var(--gray3);
}
header ul li.login a::before {
    content: url("../../images/ico_login.png");
} 
header ul li.login a {
    color: var(--blue);
}
header ul li.user:hover a::before,
header ul li.login:hover a::before {
    animation: opacity-in 0.5s ease-in-out;
}
header.active ul li {
    justify-content: flex-start;
}
header.active ul li a::before {
    margin: 0 10px 0 0;
}
header.active ul li.status a::after,
header.active ul li.check_mgt a::after,
header.active ul li.setting a::after {
    content: url("../../images/ico_nav_more.png");
    position: absolute;
    display: inline-flex;
    top: calc(50% - 7px);
    right: 0;
    opacity: 0.2;
}
header.active ul li a {
    justify-content: flex-start;
    font-size: var(--font_medium1);
    transition: 0.3s;
}
header.active ul li.on {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 280px;
    height: auto;
    left: 20px;
    padding: 20px;
    border-radius: var(--radius_10);
    background: var(--gradient);
    margin: 10px 0;
    transition: 0.3s;
}
header.active ul li:first-child.on {
    margin: 0 0 10px;
} 
header.active ul li:last-child.on {
    margin: 10px 0 0;
} 
header.active ul li.on a {
    color: var(--white);
}
header.active ul li.on a::before {
    opacity: 1;
}
header.active ul li.dashboard.on a::before,
header.active ul li.dashboard:hover a::before {
    content: url("../../images/ico_nav1.png");
} 
header.active ul li.status.on a::before,
header.active ul li.status:hover a::before {
    content: url("../../images/ico_nav2.png");
} 
header.active ul li.check_mgt.on a::before,
header.active ul li.check_mgt:hover a::before {
    content: url("../../images/ico_nav5.png");
} 
header.active ul li.result.on a::before,
header.active ul li.result:hover a::before {
    content: url("../../images/ico_nav4.png");
} 
header.active ul li.report.on a::before,
header.active ul li.report:hover a::before {
    content: url("../../images/ico_nav3.png");
} 
header.active ul li.history.on a::before,
header.active ul li.history:hover a::before {
    content: url("../../images/ico_nav6.png");
} 
header.active ul li.setting.on a::before,
header.active ul li.setting:hover a::before {
    content: url("../../images/ico_nav7.png");
} 
header ul li .s_nav,
header.active #nav .s_nav li a::after {
    display: none;
}
header.active #nav {
    width: 280px;
    transition: 0.3s;
}
header.active #nav li.on a::after {
    transform: rotate(180deg);
    opacity: 1;
}
header.active ul li.on .s_nav {
    display: flex;
    margin: 10px 0 0;
}
header.active ul li.on .s_nav li {
    height: 30px;
}
header.active ul li.on .s_nav li a::before {
    align-items: center;
    content: '-';
    margin: 0 5px 0 0;
    width: 15px;
    font-weight: var(--bold);
}
header.active ul li.on .s_nav li.current a::before {
    content: '>';
}
header.active ul li.on .s_nav li.current a {
    color: var(--yellow);    
}
#util ul li {
    height: auto;
}
#util ul li + li {
    margin: 20px 0 0;
}
header.active #util ul li {
    display: flex;
    width: auto;
    justify-content: center;
}
header.active #util ul li a {
    align-items: center;
}
#dim {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 49;
    background: linear-gradient(to right, var(--dark_gray1), transparent);
    -webkit-backdrop-filter: brightness(0.8) blur(3px);
    backdrop-filter: brightness(0.8) blur(3px);
    mix-blend-mode: overlay;
    transition: 0.3s;
    display: none;
}
/* title */
#title {
    font-size: var(--font_large1);
    color: var(--gray3);
    align-items: center;
}
#title::before {
    content: url("../../images/ico_tit.png");
    display: inline-flex;
    margin: 0 10px 0 0;
}
#title span {
    font-size: var(--font_small2);
    margin: 0 0 0 10px;
}
#title span::before {
    content: "[";
    margin: 0 3px 0 0;
}
#title span::after {
    content: "]";
    margin: 0 0 0 3px;
}
#h_title {
    font-size: var(--font_large1);
    color: var(--white);
    align-items: center;
}
#h_title span {
    font-style: oblique;
    font-size: var(--font_extralarge2);
    color: var(--white);
    text-shadow: 5px 0 1px var(--dark_gray4);
}

/* navigation */
#navigation {
    display: inherit;
}
#navigation li {
    color: var(--gray1);
    font-size: var(--font_medium1);
}
#navigation li + li::before {
    content: '>';
    display: inline-flex;
    margin: 0 10px;
    color: var(--gray1);
}
#navigation .home {
    background: url("../../images/ico_home.png") no-repeat;
    width: 15px;
    height: 15px;
    font-size: 0;
}
#navigation .current {
    color: var(--white);
}
/* treeview */
.data_list {
    border-radius: var(--radius_10);
    background: var(--dark_gray2);
}
.data_list article {
    width: 100%;
    padding: 20px;
}
.data_list .treeview {
    position: relative;
    width: 100%;
    height: calc(100vh - 255px);
    overflow-y: auto;
}
.data_list ul li {
    position: relative;
}
.data_list ul li span {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--font_small2);
    margin: 0 0 15px 20px;
    transition: 0.3s;
}
.data_list ul li span::before {
    content: url("../../images/ico_tree.png");
    display: inline-flex;
    margin: 0 10px 0 0;
}
.data_list ul li.on span,
.data_list ul li span:hover {
    color: var(--white);
    transition: 0.3s;
}
.data_list ul.tree_node li span {
    margin: 0 0 15px 40px;
}
.data_list ul.tree_node li span::before {
    content: url("../../images/ico_tree_node.png");
}
.data_list ul li .root {
    margin: 0 0 15px;
}
.data_list .btn_box {
    width: 100%;
}
.data_list .ck_treeview {
    height: calc(100vh - 137px);
}
.data_list .ck_treeview li span {
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.data_list .ck_treeview .checkbox {
    position: absolute;
    top: -1px;
    right: 0;
    margin: 0;
    height: 22px;
}
.dialog_box .data_list {
    height: 550px;
}
.dialog_box .data_list .ck_treeview {
    height: 485px;
    padding: 0 10px 0 0;
}

/* accodion */
#accordion {
    flex-flow: column;
    min-height: 283px;
}
#accordion,
#accordion li {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}
#accordion .item_header {
    padding: 10px;
    border-radius: var(--radius_5);
    background: var(--dark_gray3);
    margin: 0 0 10px;
    cursor: pointer;
    transition: 0.5s;
}
#accordion .item_header:hover,
#accordion .item_header.active {
    background: linear-gradient(to right, var(--dark_gray3), var(--dark_gray4), var(--dark_gray3));
    transition: 0.5s;
}
#accordion .expand_box {
    position: absolute;
    display: inherit;
    align-items: center;
    right: 0;
}
#accordion .expand_box .expand {
    position: absolute;
    top: 17px;
    right: 30px;
}
#accordion .expand_box .revert {
    position: absolute;
    top: 17px;
    right: 55px;
}
#accordion .icon_arrow {
    content: url("../../images/ico_nav_more.png");
    width: 13px;
    height: 7px;
    opacity: 0.8;
    margin: 0 0 0 10px;
}
#accordion .active .icon_arrow {
    transform: rotate(180deg);
}
#accordion .expand_on {
    position: fixed;
    flex-flow: column;
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
    top: 20px;
    left: 20px;
    padding: 20px;
    z-index: 100;
    width: calc(100vw - 37px);
    height: calc(100vh - 46px);
    overflow-y: auto;
}
#accordion .expand_on .table_box {
    display: flex!important;
    flex-direction: column;
}

/* table */
.table_header {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    height: 65px;
}
.table_header h1 {
    color: var(--gray_light1);
    font-size: var(--font_large3);
}
.table_header h2,
.item_header .item_tit {
    position: relative;
    font-size: var(--font_medium2);
    color: var(--gray3);
}
.dialog_box .table_header {
    height: auto;
    align-items: center;
    margin: 30px 0 0;
}
.table_header.mid {
    margin: 20px 0;
}
.table_header .eq_name {
    display: inherit;
    align-items: center;
}
.table_header .eq_name h1 {
    margin: 0 10px 0 0;
}
.table_box.bg {
    background: var(--dark_gray0);
    padding: 20px 10px 20px 20px;
    margin: 10px 0 0;
    border-radius: var(--radius_5);
}
.table_box h3 {
    position: relative;
    font-size: var(--font_small1);
    color: var(--gray2);
    margin: 0 0 10px;
}
.table_box h3::before {
    content: '';
    position: relative;
    top: -1px;
    display: inline-flex;
    width: 5px;
    height: 5px;
    background: var(--gray1);
    transform: rotate(45deg);
    margin: 0 5px 0 0;
}
.table_box table + h3 {
    margin: 30px 0 10px;
}
.table,
.data_detail .tab_content {
    border-radius: var(--radius_20);
    background: var(--dark_gray2);
    padding: 20px;
}
.data_detail .tab_content {
    background: var(--dark_gray3);
}
.data_table {
    display: grid;
    grid-template-rows: 65px auto;
    grid-gap: 20px;
}
.pagination_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/* details, tab, list */
.data_detail .scrollbar {
    width: 100%;
    height: calc(100vh - 191px);
    overflow: hidden;
    overflow-y: auto;
}
.data_detail .tab {
    position: relative;
    display: inherit;
    width: 100%;
}
.data_detail .tab_link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: var(--input_height);
    line-height: var(--input_height);
    background: var(--dark_gray2);
    border-radius: 10px 10px 0 0;
    font-size: var(--font_small1);
    margin: 0 5px 0 40px;
    cursor: pointer;
    transition: 0.3s;
}
.data_detail .tab_link + .tab_link {
    margin: 0 5px 0 0;
}
.data_detail .tab_link:hover,
.data_detail .tab_link.active {
    background: var(--dark_gray3);
    color: var(--blue);
    transition: 0.3s;
}
.detail_view .tab .scrollbar {
    height: 665px;
    flex-flow: column;
}
.detail_view .tab_link {
    width: 100%;
    padding: 0;
    margin: 0 0 5px;
    border-radius: var(--radius_5);
}
.data_detail .tab_content {
    display: flex;
    flex-direction: column;
    width: 1400px;
    border-radius: var(--radius_20);
    display: none;
}
.detail_view .tab_content {
    width: 100%;
    height: 580px;
    border-radius: var(--radius_20);
    padding: 0;
    background: transparent;
}
.data_detail .tab_content .scrollbar {
    display: inherit;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 231px);
}
.data_detail .tab_content.active {
    display: flex;
    animation: tab-in 0.3s ease-in-out;
}
.data_detail .info_box {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1220px;
    row-gap: 0;
    column-gap: 20px;
    margin: 20px 20px 0;
    align-items: flex-start;
}
.data_detail .info_box + .info_box {
    border-top: 2px dotted var(--dark_gray5);
    padding: 20px 0 0;
}
.data_detail .info_box2 {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1520px;
    column-gap: 20px;
    row-gap: 0;
    grid-template-areas: 'h2 dl';
    margin: 20px 20px 0;
}
.data_detail .info_box h2,
.data_detail .info_box2 h2,
.data_detail .file_box h2 {
    display: inherit;
    width: 150px;
    font-size: var(--font_medium1);
    color: var(--gray_light1);
    line-height: 1.2rem;
}
.data_detail dl {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 20px;
}
.data_detail dl:last-child {
    margin: 0;
}
.detail_result .info_box2 dl {
    height: auto;
    margin: 0 0 20px;
}
.data_detail dl dt,
.data_detail dl dd {
    display: inherit;
    align-items: center;
    justify-content: center;
    height: var(--input_height);
}
.data_detail dl dt {
    color: var(--white);
    font-size: var(--font_small2);
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
    width: 150px;
}
.data_detail dl dt.blank {
    background: none;
}
.data_detail .upload_box dl dt {
    background: var(--dark_gray4);
}
.data_detail dl dd {
    width: 460px;
    padding: 0 10px; 
}
.new {
    padding: 3px 10px;
    font-size: var(--font_small3);
    border-radius: var(--radius_20);
    color: var(--gray1);
    border: var(--gray_border);
    margin: 0 5px 0 0;
}
.failure {
    font-size: var(--font_small2);
    color: var(--red);
    margin: 0 10px 0 0;
}
.success {
    font-size: var(--font_small2);
    color: var(--white);
    margin: 0 10px 0 0;
}
.success2 {
    font-size: var(--font_small2);
    color: var(--green);
    margin: 0 10px 0 0;
}
.rate {
    font-size: var(--font_small1);
    color: var(--blue);
}
.rate::after {
    content: '%';
}
.data_detail dl dd.wide {
    width: 750px;
}
.data_detail dl dd.wide2 {
    flex-direction: column;
    width: 1360px;
    height: auto;
}
.data_detail dl dd.wide3 {
    width: 1490px;
    height: auto;
    align-items: flex-start;
}
.data_detail dl dd.wide2 .field_box,
.data_detail dl dd.medium2 .field_box {
    display: inherit;
    position: relative;
    width: 100%;
    margin: 0 0 10px;
}
.data_detail dl dd.medium2 .field_box {
    margin: 0;
}
.data_detail dl dd .text_field + .text_field,
.data_detail dl dd.medium2 .field_box div + div,
.data_detail dl dd.wide2 .field_box div + div,
.differ_dialog .table_box table th div + div,
.report_view .report_list .table_header div + div,
.report_view .info_box .calendar + .custom-select {
    margin: 0 0 0 10px;
}
.data_detail dl dd.small {
    width: 53px;
}
.data_detail dl dd.small2 {
    width: 170px;
}
.data_detail dl dd.small3 {
    width: 227px;
}
.data_detail dl dd.medium {
    width: 450px;
}
.data_detail dl dd.medium2 {
    width: 300px;
}
.data_detail dl dd.medium3 {
    width: 755px;
}
.dialog_box .data_detail dl dt {
    background: var(--dark_gray0);
}
.dialog_box .data_detail dl dt {
    width: 40%
}
.dialog_box .data_detail dl dd {
    width: 60%;
    padding: 0 0 0 10px;
}
.data_detail dl dd .custom-select,
.data_detail dl dd .select_box,
.data_detail dl dd .text_field {
    width: 100%;
    margin: 0;
}
.data_detail dl dd .w_s + .w_s {
    margin: 0 0 0 10px;
}
.data_detail dl dd .checkbox {
    width: auto;
}
.data_detail dl dd .checkbox + .checkbox {
    margin: 0 0 0 20px;
}
.detail_view .info_box2 dl dt,
.detail_view .info_box2 dl dd,
.detail_script .info_box2 dl dt,
.detail_script .info_box2 dl dd {
    margin: 0 0 10px;
}
/* detail */
.detail_box {
    width: 100%;
    padding: 20px;
    background: var(--dark_gray3);
    border-radius: var(--radius_20);
}
.table_list {
    position: relative;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
    width: 100%;
    height: calc(100vh - 331px);
    grid-template-areas: 'eq_box item_box';
}
.detail_view .table_list {
    grid-template-rows: 400px 750px;
    grid-template-areas: 'eq_box item_box'
                         'result_box result_box';
    height: calc(100vh - 276px);
}
.detail_result .table_list {
    grid-template-columns: 150px 1510px;
    grid-template-rows: 400px auto;
    grid-template-areas: 'blank eq_box'
                         'blank result_box';
    height: calc(100vh - 292px);
    margin: 0 20px 20px;
}
.report_view .table_list {
    grid-template-columns: auto 1500px;
    grid-template-areas: 'date_list result_list';
    height: 100%;
}
.report_view .table_list .tab_wrap {
    display: grid;
    grid-template-rows: 305px 700px;
    grid-template-columns: repeat(2, 740px);
    column-gap: 20px;
    row-gap: 20px;
    height: calc(100vh - 256px);
    grid-template-areas: 'eq_box item_box'
                         'report_box report_box';
}
.table_list .eq_box,
.table_list .item_box,
.table_list .date_box,
.table_list .result_box,
.table_list .report_box,
.table_list .todo_box,
.table_list .eq_list_box {
    position: relative;
    display: inherit;
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
    padding: 20px;
}
.table_list .eq_box {
    grid-area: eq_box;
}
.table_list .item_box {
    grid-area: item_box;
}
.table_list .result_box {
    grid-area: result_box;
    flex-direction: column;
    padding: 20px;
}
.table_list .report_box {
    grid-area: report_box;
    padding: 20px;
    grid-template-rows: 45px auto;
}
.table_list .date_box {
    grid-area: date_box;
    padding: 0;
}
.table_list .eq_box .btn_box,
.table_list .item_box .btn_box,
.table_list .item_header .btn_box {
    width: auto;
    justify-content: flex-end;
    margin: 0;
}
.detail_box .table_header {
    align-items: center;
    height: 35px;
    margin: 0 0 10px;
}
.detail_box .table_header h3 {
    color: var(--white);
}
.detail_box .table_header h3 span {
    font-size: var(--font_small2);
    margin: 0 10px;
}
/* pregress */
.progress,
.progress_bar {
    border-radius: var(--radius_20);
    background: url("../../images/ico_slash.png") repeat-x var(--dark_gray4);
    background-size: contain;
    height: var(--button_height3);
}
.progress_bar {
    overflow: hidden;
}
.progress_bar span {
    display: inherit;
    width: 100%;
    height: var(--button_height3);
    background: var(--blue);
    animation: background-move 0.5s ease-in-out;
}
.progress_list {
    width: 335px;
    display: inherit;
    align-items: center;
    justify-content: space-between;
}
.progress_list li {
    width: 33.33%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress_list li h2 {
    display: inherit;
    margin: 0 0 5px;
    font-size: var(--font_small3);
}
.progress_list li p {
    display: inherit;
}
.progress_list li p em {
    font-size: var(--font_large2);
}
.progress_list li p em::after {
    content: '%';
}
.progress_list li p b {
    font-size: var(--font_large2);
    margin: 0 0 0 5px;
}
.progress_list li p b::before {
    content: '(';
}
.progress_list li p b::after {
    content: ')';
}
.progress_list li p em,
.progress_list li p b {
    color: var(--gray_light1);
}
.progress_list li.success p em,
.progress_list li.success p b {
    color: var(--green);
}
.progress_list li.fail p em,
.progress_list li.fail p b {
    color: var(--red);
}
/* result */
.result_wrap {
    display: grid;
    grid-template-columns: auto 1500px;
    grid-gap: 20px;
    grid-template-areas: 'date_list result_list';
    height: 665px;
}
.result_wrap.no_date {
    grid-template-columns: 100%;
    grid-gap: 0;
    height: 665px;
}
.detail_result .result_list {
    margin: 0 0 30px;
}
.detail_result .result_list:last-child {
    margin: 0;
}
.detail_result .result_list .table_header {
    height: auto;
}
.detail_result .result_box .table_header h3::after {
    content: '-';
    margin: 0 5px;
}
.view_eq_name {
    display: flex;
    align-items: center;
    font-size: var(--font_large2);
}
.result_status {
    padding: 5px 10px;
    margin: 0 0 0 10px;
    border-radius: var(--radius_3);
    font-size: var(--font_small3);
}
.result_status.complete {
    border: 2px solid var(--green);
    color: var(--green);
}
.result_status.error {
    border: 2px solid var(--red);
    color: var(--red);
}
.item_name,
.item_info {
    width: 100%;
    display: flex;
}
.item_name {
    flex-direction: column;
}
.item_name h2,
.item_header .item_tit {
    display: flex;
    align-items: center;
    height: var(--button_height);
}
.item_name h2 b,
.item_header .item_tit b {
    color: var(--blue);
    font-size: var(--font_large1);
    font-style: italic;
    margin: 0 10px 0 0;
}
.item_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_info {
    align-items: center;
    justify-content: space-between;
    border-top: 3px double var(--dark_gray5);
    padding: 10px 0 0;
    margin: 10px 0 0;
}
#accordion .item_info {
    border-top: none;
    margin: 10px 0;
    padding: 0;
}
.item_info p,
.form_box p {
    display: flex;
    align-items: center;
}
.form_box p {
    margin: 0 20px;
    height: var(--button_height);
}
.item_info p i,
.form_box p i {
    font-size: var(--font_large2);
    margin: 0 10px;
}
.threshold_dialog .table_box {
    margin: 30px 0 0;
}
/* differ */
.differ_dialog .differ {
    padding: 10px;
    border: 2px solid var(--gray1);
    border-radius: var(--radius_10);
}
.differ_dialog .differ .differ_inner {
    text-align: left;
    height: 350px;
    overflow-y: auto;
}
.differ_dialog .differ .differ_inner span {
    background: var(--yellow);
    color: var(--red);
    font-weight: var(--bold);
}
/* item field */
.data_detail .field_table {
    width: 100%;
    display: inherit;
    position: inherit;
    flex-direction: column;
}
.data_detail .field_table .table_box,
.data_detail .field_table .field_info {
    padding: 20px;
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
}
.data_detail .field_table .table_box .scrollbar {
    height: calc(100vh - 476px);
}
.data_detail .field_table .field_add_area {
    margin: 0;
}
/* item script */
.detail_script .scrollbar,
.detail_eq .scrollbar {
    height: calc(100vh - 191px);
}
.detail_eq .scrollbar {
    display: block;
}
.detail_script .model_box {
    position: relative;
    display: flex;
    width: 100%;
    overflow: auto;
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
    padding: 20px 15px;
}
.detail_script .file_box {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.detail_script .file_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    margin: 0 0 10px;
}
.detail_script .file_header h2 {
    align-items: center;
}
.detail_script .file_header .tab {
    margin: 0;
    padding: 0;
    width: auto;
    background: var(--dark_gray3);
}
.detail_script .file_header .tab_link {
    margin: 0;
    border-radius: var(--radius_5);
    height: var(--button_height2);
}
.detail_script .file_header .tab_link + .tab_link {
    margin: 0 0 0 5px;
}
.detail_script .tab_link:hover, 
.detail_script .tab_link.active {
    background: var(--navy);
}
.detail_script .tab_content {
    width: 100%;
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
    padding: 20px;
    min-height: 125px;
}
.detail_script .upload_box {
    position: relative;
    display: flex;
    flex-direction: column;
}
.detail_script .command_add {
    display: flex;
}
.detail_script .command_add .text_field {
    width: 500px;
    margin: 0 10px 0 0;
}
.detail_script .command_add .btn_box {
    width: auto;
    margin: 0;
}
.detail_script .command_box {
    margin: 0 0 0 50px;
}
.detail_script .command_box .scrollbar {
    height: auto;
    max-height: 200px;
    min-height: 55px;
}
.detail_script .editor_box ul {
    display: grid;
    width: 1643px;
    grid-template-columns: repeat(3, calc(33.33% - 6.67px));
    column-gap: 10px;
}
.detail_script .editor_box ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detail_script .editor_box ul li h3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: var(--font_small2);
    background: var(--dark_gray4);
    border-radius: var(--radius_10);
    color: var(--white);
}
.detail_script .editor_box .editor {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
}
.detail_script .editor_box .editor .file {
    margin: 0;
    width: 100%;
}
/* detail report_view */
.report_view {
    display: grid;
    grid-template-rows: 65px auto;
    grid-gap: 20px;
}
.report_view .detail_box {
    width: auto;
}
.report_view .date_list {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.report_view .tab .scrollbar {
    flex-flow: column;
    height: calc(100vh - 266px);
}
.report_view .scrollbar {
    height: calc(100vh - 223px);
}
.report_view .date_list .tab {
    flex-direction: column;
}
.report_view .tab_link {
    width: 100%;
    margin: 0;
    border-radius: var(--radius_5);
    background: none;
}
.report_view .tab_link + .tab_link {
    margin: 5px 0 0;
}
.report_view .tab_link:hover,
.report_view .tab_link.active {
    background: var(--dark_gray2);
}
.report_view .report_list {
    position: relative;
    display: flex;
}
.report_view .tab_content {
    width: 100%;
    padding: 0;
    background: none;
}
.report_view .report_list .table_header {
    justify-content: flex-start;
}
.report_view .report_area {
    position: relative;
    display: flex;
    margin: 10px 0 0;
}
.report_view .report_area ul,
.report_view .report_area ul li,
.report_view .report_header,
.report_view .report_content {
    position: inherit;
    display: inherit;
}
.report_view .report_area ul {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.report_view .report_area ul li,
.report_view .report_area ul li:nth-child(7n+1) {
    margin: 5px 0 0;
}
.report_view .report_area ul li + li {
    margin: 5px 0 0 5px;
}
.report_view .report_unit {
    position: inherit;
    display: inline-flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    border-radius: var(--radius_5);
    border: 3px solid var(--dark_gray4);
    padding: 10px;
    background: var(--dark_gray5);
    transition: 0.3s;
    cursor: pointer;
}
.report_view .report_unit .report_header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 67px;
}
.report_view .report_unit .report_header h1 {
    display: inherit;
    font-size: var(--font_large1);
    color: var(--white);
    text-shadow: 0px 0px 2px var(--dark_gray2);
    margin: 0 0 10px;
}
.report_view .report_unit .report_header p {
    display: inherit;
    color: var(--white);
    text-shadow: 0px 0px 2px var(--dark_gray2);
    font-size: var(--font_small2);
}
.report_view .report_unit .report_content {
    flex-direction: column;
}
.report_view .report_unit .report_content .date_type {
    border-top: 1px dashed rgba(255,255,255,0.3);
    border-bottom: 1px dashed rgba(255,255,255,0.3);
    padding: 10px 0 5px;
    margin: 10px 0;
}
.report_view .report_unit .report_content dl dt, 
.report_view .report_unit .report_content dl dd {
    height: var(--button_height4);
    padding: 2px 5px;
    margin: 0 0 5px;
    color: var(--white);
    text-shadow: 0px 0px 2px var(--dark_gray1);
} 
.report_view .report_unit .report_content dl dt {
    width: 45%;
    background: rgba(0,0,0,0.3);
    font-size: var(--font_small3);
    border-radius: var(--radius_3);
}
.report_view .report_unit .report_content dl dd {
    width: 55%;
    font-size: var(--font_medium1);
}
.report_view .report_unit .report_content dl dd span {
    font-weight: var(--bold);
    color: var(--white);
}
.report_view .report_unit .report_content dl dd span::after {
    content: "%";
    font-size: var(--font_small3);
    margin: 0 0 0 5px;
}
.report_view .report_area li.error .report_unit {
    border: 3px solid var(--dark_red);
    background: var(--red);
}
.report_view .report_area li.success .report_unit {
    border: 3px solid var(--dark_green);
    background: var(--green);
}
.report_view .report_area li .report_unit:hover {
    border: 3px solid var(--white);
    transition: 0.3s;
}
.report_view .report_area li.error .report_unit .report_content .date_type {
    border-top: 1px dashed rgba(255,255,255,0.7);
    border-bottom: 1px dashed rgba(255,255,255,0.7);
}
.report_view .report_area li.success .report_unit .report_content .date_type {
    border-top: 1px dashed rgba(255,255,255,1);
    border-bottom: 1px dashed rgba(255,255,255,1);
}
.report_view .type2 .report_unit .report_header {
    height: 102px;
}
.report_view .type2 .report_unit .report_header h1 {
    margin: 0;
}
/* dashboard */
.data_dashboard {
    display: grid;
    grid-template-rows: 200px calc(100vh - 317px);
    row-gap: 20px;
}
.data_dashboard .status_view {
    display: grid;
    grid-template-columns: 300px 300px 300px;
}
.data_dashboard .eq_check {
    background: var(--gray1);
}
.data_dashboard .status_view {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.data_dashboard .summary_status {
    position: inherit;
    display: inherit;
    background: var(--dark_gray0);
    border-radius: var(--radius_10);
    padding: 20px;
    flex-direction: column;
}
.data_dashboard .summary_status h2 {
    display: inherit;
    color: var(--gray_light2);
    font-size: var(--font_medium2);
    margin: 0 0 10px;
}
.data_dashboard .summary_status ul {
    position: inherit;
    display: inherit;
    flex-wrap: wrap;
    flex-grow: 1;
}
.data_dashboard .summary_status ul li {
    position: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 115px;
}
.data_dashboard .summary_status ul li + li::before {
    content: "";
    position: absolute;
    display: inline-flex;
    width: 1px;
    height: 30px;
    left: 0;
    background: var(--dark_gray4);
}
.data_dashboard .summary_status ul li h1 {
    font-size: var(--font_extralarge2);
    color: var(--gray_light2);
}
.data_dashboard .summary_status ul li p {
    font-size: var(--font_medium2);
    color: var(--gray1);
    font-weight: var(--bold);
    margin: 0 0 15px;
}
.data_dashboard .summary_status ul li p span {
    display: inline-flex;
    margin: 0 5px;
}
.data_dashboard .summary_status ul .ico_server {
    width: 125px;
    margin: 0 30px 0 0;
}
.data_dashboard .summary_status ul .ico_server::before {
    content: url("../../images/ico_server.png");
    height: 75px; 
}
.data_dashboard .summary_status ul .ico_server + li::before {
    display: none;
}
.data_dashboard .summary_wide {

}
.data_dashboard .summary_status .red {
    color: var(--red);
}
.data_dashboard .summary_status .blue {
    color: var(--blue);
}
.data_dashboard .summary_status .green {
    color: var(--green);
}
.data_dashboard .summary_status .orange {
    color: var(--orange);
}


/* login */
#login_wrap {
    width: 100%;
    background: url("../../images/login_bg.png") no-repeat;
    background-size: 100%;
    justify-content: center;
}
#login_wrap section {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 70%;
    align-items: center;
}
#login_wrap article {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#login_wrap .logo {
    position: relative;
    display: flex;
}
#login_wrap .logo a {
    display: inline-flex;
    background: url("../../images/login_logo.png") no-repeat;
    width: 239px;
    height: 46px;
    text-indent: -9999px;
}
#login_wrap .login_box {
    display: inherit;
    width: 90%;
    flex-direction: column;
    margin: 50px 0;
    padding: 50px;
    border-radius: var(--radius_10);
    background: rgba(38, 38, 38, 0.9);
    box-shadow: 1px 1px 10px var(--dark_gray1);
}
#login_wrap .login_box h1 {
    color: var(--white);
    font-size: var(--font_extralarge1);
    margin: 0 0 20px;
}
#login_wrap .login_box .text_field input,
#login_wrap .login_box .btn {
    height: 60px;
}
#login_wrap .login_box .find {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 30px;
}
#login_wrap .login_box .find p {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font_large3);
}
#login_wrap .login_box .find p::before {
    content: "";
    display: inline-flex;
    width: 4px;
    height: 4px;
    border-radius: var(--radius_10);
    background: var(--gray1);
    margin: 0 5px 0 0;
}
#login_wrap .login_box .find a {
    display: inline-flex;
    color: var(--white);
}
#login_wrap .login_box .find a:hover {
    border-bottom: 1px solid var(--white);
    transition: 0.25s;
}

/* etc */
.notice {
    padding: 0 10px;
    letter-spacing: 1px;
}
.align_start {
    justify-content: flex-start!important;
}
.fd_c {
    flex-direction: column!important;
}
.d_if {
    display: inline-flex!important;
}
.d_n {
    display: none!important;
}
.t_l {
    text-align: left!important;
}
.w_xs {
    width: 60px!important;
}
.w_s {
    width: 125px!important;
}
.w_xm {
    width: 200px!important;
}
.w_m {
    width: 250px!important;
}
.w_l {
    width: 415px!important;
}