html,
body {
    min-width: 1920px;
    min-height: 929px;
}
#app,
#wrap,
#login_wrap,
.header_box,
#header,
#main,
.logo
.login_box,
.content_wrap,
.content_header,
.content,
.form_box,
.scrollbar,
header,
nav,
section,
article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}   
#app {
    width: 100%;
    height: 100vh;
}
#wrap {
    display: grid;
    grid-template-columns: 80px calc(100vw - 150px);
    grid-gap: 20px;
    padding: 25px;
    background: var(--dark_gray1);
}
.header_box {
    width: 280px;
}
header {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80px;
    height: calc(100% - 50px);
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
    padding: 25px 0;
    z-index: 99;
    animation: nav-off 0.3s ease-in-out;
}
header.active {
    width: 280px;
    animation: nav-on 0.3s ease-in-out;
}
.content_wrap {
    width: 100%;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-rows: 30px calc(100vh - 135px);
    grid-gap: 15px;
    grid-template-areas: 'content_header'
                         'content';
}
.content_wrap.dashboard {
    grid-template-rows: 45px calc(100vh - 96px);
    row-gap: 0;
}
.content_header {
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}
.dashboard .content_header {
    height: 45px;
}
.content {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    height: calc(100vh - 96px);
    min-height: 833px;
}
.content.tree_table {
    grid-template-columns: 240px auto;
    grid-gap: 20px;
}
.content.tree_detail {
    grid-template-columns: 280px auto;
    grid-gap: 20px;
}

