/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* KT */
@font-face {
    font-family: "KT";
    font-style: normal;
    font-weight: 400;
    src: url("../../font/KTfontLight.woff") format('woff'),
         url("../../font/KTfontLight.eot"),
         url("../../font/KTfontLight.eot?#iefix") format('embedded-opentype');
}

@font-face {
    font-family: "KT";
    font-style: normal;
    font-weight: 500;
    src: url("../../font/KTfontMedium.woff") format('woff'),
         url("../../font/KTfontMedium.eot"),
         url("../../font/KTfontMedium.eot?#iefix") format('embedded-opentype');
}

@font-face {
    font-family: "KT";
    font-style: normal;
    font-weight: 600;
    src: url("../../font/KTfontBold.woff") format('woff'),
         url("../../font/KTfontBold.eot"),
         url("../../font/KTfontBold.eot?#iefix") format('embedded-opentype');
}
