html, body, h1, h2, h3, h4, h5, h6, div, p, span, strong, em, blockquote, pre, address, ul, ol, li, dl, dt, dd, table, th, td, hr,
form, fieldset, input, select, button, label, textarea, img, a, i { margin: 0; padding: 0; outline: none; box-sizing: border-box; }
body { background: #fff; }
div, p, dt, dd, li, h1, h2, h3, h4, h5, h6, span, strong, b, em, th, td, a, button, input, select, textarea {
    font-family: "KT", "Noto Sans KR", "맑은 고딕", "MalgunGothic", "Malgun Gothic", MalgunGothic_web, arial, helvetica, sans-serif; font-weight: 500; font-size: 15px; color: #333; letter-spacing: 0px; word-break: keep-all;}
em, i { font-style: normal; }
fieldset { border: 0; }
ul, ol { list-style: none; }
table { table-layout: fixed; width: 100%; border-collapse: separate !important; border-spacing: 0; }
table { clear: both; border-collapse: collapse; }
img { border: 0; }
img, input, select, textarea, button { vertical-align: middle; }
hr { border: 0; visibility: hidden; }
a { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; font-size: 1.1rem; }
button { border: 0; background: none; cursor: pointer; overflow: visible; }

legend, caption, .hidden, .blind { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; clip: rect(1px,1px,1px,1px); clip-path: inset(50%); }
caption span { color: inherit; }
.clearfix:after { content:''; display: block; clear: both; }
.clearfix{ *zoom: 1; }
textarea, input { font-size: 14px; }
textarea { -webkit-appearance: none; padding: 5px 10px; border: 1px solid #cccccc; resize:none; }
select { height: 28px; line-height: 28px; font-size: 14px; color: #333; border: 1px solid #cccccc; }
input[type="text"], input[type="password"] { -webkit-appearance: none; height: 25px; padding: 5px 10px; color: #333; border:none; vertical-align: middle; }
input[type="text"] { line-height: 25px; }
input[type="password"] { font-family: verdana; font-size: 14px; line-height: 25px; }
input[type="checkbox"][aria-hidden="true"], input[type="radio"][aria-hidden="true"]{ display: none; }
.formHidden { z-index: -1; }
a.intxt label{ cursor: pointer !important; }


/* scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 10px;
	background-clip: padding-box;
}
::-webkit-scrollbar-track {
	background-color: #ddd;
	border-radius: 10px;
}
.tui-grid-container ::-webkit-scrollbar-thumb {
	background-color: #999!important;
}
#detail_grid .tui-grid-body-area::-webkit-scrollbar,
#parameter_result_grid .tui-grid-body-area::-webkit-scrollbar,
#default_value .tui-grid-body-area::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}
/* selection */
::selection {
	color: #fff;
	background-color: #333;
}

