html, body, h1, h2, h3, h4, h5, h6, div, p, span, strong, em, blockquote, pre, address, ul, ol, li, dl, dt, dd, table, th, td, hr,
form, fieldset, input, select, button, label, textarea, img, a, i { 
	margin: 0; 
	padding: 0; 
	outline: none; 
	box-sizing: border-box; 
}
body { 
	background: var(--black); 
}
div, p, dt, dd, li, h1, h2, h3, h4, h5, h6, span, strong, b, em, th, td, a, button, input, select, textarea {
    font-family: "KT", "맑은 고딕", "MalgunGothic", "Malgun Gothic", MalgunGothic_web, arial, helvetica, sans-serif; 
	font-weight: var(--medium); 
	font-size: 15px; 
	color: var(--gray2); 
	letter-spacing: 0px; 
	word-break: keep-all;
}
em, i { 
	font-style: normal; 
}
fieldset { 
	border: 0; 
}
ul, ol { 
	list-style: none; 
}
table { 
	table-layout: fixed; 
	width: 100%; 
	border-collapse: separate !important; 
	border-spacing: 0; 
}
table { 
	clear: both; 
	border-collapse: collapse; 
}
img { border: 0; }
img, input, select, textarea, button { 
	vertical-align: middle; 
}
hr { 
	border: 0; 
	visibility: hidden; 
}
a { 
	text-decoration: none; 
}
h1, h2, h3, h4, h5, h6 { 
	font-weight: var(--bold); 
}
button { 
	border: 0; 
	background: none; 
	cursor: pointer; 
	overflow: visible; 
}
legend, caption { 
	overflow: hidden; 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	margin: -1px; 
	border: 0; 
	clip: rect(1px,1px,1px,1px); 
	clip-path: inset(50%); 
}
caption span { 
	color: inherit; 
}
.clearfix:after { 
	content:''; 
	display: block; 
	clear: both; 
}
.clearfix{ 
	*zoom: 1; 
}
textarea, input, select { 
	font-size: var(--font_small1); 
	padding: 10px; 
	color: var(--gray_light2); 
	border: 2px solid var(--gray1); 
	background: transparent; 
	background-clip: padding-box; 
	border-radius: var(--radius_10); 
	transition: 0.5s; 
}
textarea { 
	height: var(--textarea_height); 
	-webkit-appearance: none; 
	resize:none; 
}
textarea:focus, 
input:focus, 
select:focus { 
	border: 2px solid var(--white); 
	transition: 0.5s; 
}
input[type="text"], 
input[type="password"] { 
	-webkit-appearance: none; 
	height: var(--input_height); 
	line-height: var(--input_height); 
	vertical-align: middle; 
}
input[type="password"] { 
	font-family: verdana; 
}
input[type="checkbox"][aria-hidden="true"], 
input[type="radio"][aria-hidden="true"]{ 
	display: none; 
}
select { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	appearance: none; 
	background: url("../../images/ico_select.png") no-repeat calc(100% - 10px) 50%; 
	height: var(--input_height); 
}
select option {
	background: var(--dark_gray2);
	color: var(--white);
	font-size: var(--font_small1);
}
select::-ms-expand {
    display: none;
}
textarea.readonly, 
input.readonly, 
select.readonly { 
	color: var(--gray3); 
	border: 2px solid var(--dark_gray5); 
	background: var(--dark_gray5); 
}

/* scrollbar */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--dark_gray5);
	border-radius: var(--radius_20);
	background-clip: padding-box;
}
::-webkit-scrollbar-track {
	background-color: var(--dark_gray2);
	border-radius: 10px;
}
.tui-grid-container ::-webkit-scrollbar {
	width: 10px!important;
	height: 10px!important;
	background-color: transparent!important;
}
.tui-grid-container ::-webkit-scrollbar-thumb {
	border: 2px solid transparent!important;
	background-color: var(--dark_gray5)!important;
}

/* selection */
::selection {
	color: var(--blue);
	background-color: var(--black);
}

