html,
body {
    /* width, height */
    --td_height: 45px;
    --input_height: 40px;
    --button_height: 35px;
    --button_height2: 30px;
    --button_height3: 17px;
    --button_height4: 20px;
    --textarea_height: 100px;

    /* padding */
    --input_padding: 10px 40px 10px 10px;

    /* color */
    --white: #ffffff;
    --black: #000000;
    --dark_gray0: #1d1d1d;
    --dark_gray1: #111111;
    --dark_gray2: #262626;
    --dark_gray3: #2e2e2e;
    --dark_gray4: #3A404D; /* status off */
    --dark_gray5: #4d4d4d; /* line */
    --gray1: #808080; /* text checkbox input-botder */
    --gray2: #909090;
    --gray3: #b3b3b3;
    --gray_light1: #dddddd;
    --gray_light2: #e9e9e9;
    --dark_navy: #3A404D;
    --navy: #363b47;
    --navy2: #3A404D;
    --blue: #1bc0e1; /* button paging button-border ( 30%, 50% ) */
    --light_blue: #99A9CC; /* status on */
    --red: #FF3333;
    --dark_red: #4F2B2B;
    --green: #9CCC3D;
    --dark_green: #2F3B18;
    --orange: #FF9933;
    --dark_orange: #423D35;
    --yellow: #EEFF00;

    --gradient: linear-gradient(-45deg, #FF3333, #FF34BB);

    /* font */
    --font_extralarge1: 1.5rem;
    --font_extralarge2: 2.6rem;
    --font_large1: 1.2rem;
    --font_large2: 1.1rem;
    --font_large3: 1rem;
    --font_medium2: 0.95rem;
    --font_medium1: 0.9rem;
    --font_small1: 0.85rem;
    --font_small2: 0.8rem;
    --font_small3: 0.7rem;
    --font_small4: 0.6rem;

    /* weight */
    --bold: 600;
    --medium: 500;
    --light: 400;

    /* radius */
    --radius_50: 50px;
    --radius_20: 20px;
    --radius_10: 10px;
    --radius_5: 5px;
    --radius_3: 3px;

    /* border */
    --btn_border: 3px solid #0B5A6A;
    --gray_border: 3px solid #808080;
}