@charset "utf-8";
/*
    contents.css
*/

/*** date_area02 ***/
.date_area02 {position:relative;}
.date_area02 button.ui-datepicker-trigger {position:absolute;right:6px;top:0px;width:35px;height:30px;background:url('../../images/layout/btn_datepicker.png') no-repeat center;text-indent:-1000px;overflow:hidden;cursor:pointer;}
.time_area input {width:60px;}

.radio_area li{float:left;margin-left:30px;}
.radio_area li:first-child{margin-left:0;}
.radio_area li input[type="radio"]{width:20px;height:20px;vertical-align:top;}
.radio_area li input + label{padding-left:7px;}
.radio_area:after{content:"";display:block;clear:both;}

/* list */
.inp_list li {position:relative;margin-top:10px;padding-left: 57px;line-height:30px;font-size:14px;color: #4c4c4e;}
.inp_list li .s_tit {position:absolute;left:0;top:0;padding-left:13px;letter-spacing:-0.05em;}
.inp_list li .s_tit:before {content:"";display:block;position:absolute;top:15px;left:0;width:4px;height:1px;background-color:#4c4c4e;}

.inp_list02 .inp_area{position:relative;padding-right:63px;}
.inp_list02 .inp_area a{position: absolute;right:0;top:3px;border-color:#404b57;background-color:#404b57;}
.inp_list02 .txt{padding:15px 15px 10px 12px;}
.inp_list02 .txt li{padding-top:5px;}
.inp_list02 .txt li:first-child{padding-top:0;}

.btn_list{position:relative;padding-right:80px;}
.btn_list a{position:absolute;right:0;top:0;}
.btn_list .btn_co03.on {border-color:#4c4c4e;background-color:#4c4c4e;color:#fff;}
.btn_list.ty02{position:relative;padding-right:140px;}

.data_list_ty > .li{position:relative;margin-top:10px;padding:0 102px 0 134px;}
.data_list_ty > .li .tit{position:absolute;left:20px;top:5px;padding-left:10px;color:#000;}
.data_list_ty .li .tit:before{content:"";display:block;position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#4c4c4e;}
.data_list_ty .li.ty_flex{background-color:#f4f4f4;padding:10px 20px 10px 134px;}
.data_list_ty .li.ty_flex .ti {top:15px;}
.data_list_ty .inp_list > li.li:first-child{margin-top:0;}
.data_list_ty .inp_list > li.li{padding-right:80px;}

.data_list_ty02 .li{position:relative;padding-left:130px;margin-top:10px;}
.data_list_ty02 .li:first-child {margin-top:0;}
.data_list_ty02 .tit {position:absolute;left:0;top:5px;letter-spacing:-0.05em;}

.data_list_ty02 .li{min-height:30px;}
.data_list_ty02 p.def{color:#777;font-size:12px;padding-top:5px;}
.data_list_ty02 .li.ty02{padding-left:0;}
.data_list_ty02 .info_txt{display:table;width:100%;table-layout:fixed;}
.data_list_ty02 .info_txt dt{display:table-cell;width:130px;font-weight:bold;}
.data_list_ty02 .info_txt dd{display:table-cell;font-size:12px;color:#777;}

.data_list_ty02.wide .li{float:left;width:50%;min-height:40px;box-sizing:border-box;padding-left:160px;padding-right:35px;padding-bottom:10px;margin:0;}
.data_list_ty02.wide .li.ty03{width:100%;}
.data_list_ty02.wide:after{content:"";display:block;clear:both;}

.txt_list{display:table;width:100%;}
.txt_list span{display:table-cell;vertical-align:middle;}
.txt_list .btn{float: right;padding-left:20px;}

.time_list li{margin-top:5px;}
.time_list li:first-child{margin-top:0;}
.time_list .tit{position:relative;color:#000;padding:0 18px 0 9px;display: inline-block;}
.time_list .tit:before{content:'';position:absolute;left:0;top:8px;width:3px;height:3px;background:#000;}
.time_list .txt{display:inline-block;width:140px;float:right;}
.time_list li:after{content:"";display:block;clear:both;}

/* table_head */
.table_head {position:relative;margin-bottom:10px;min-height:34px;text-align:center;}
.table_head .count {position:absolute;left:0;top:10px;font-size:16px;text-align:left;}
.table_head .count span {font-size:18px;font-weight:bold;}
.table_head .count .total{display:inline-block;padding-left:20px;padding-top:10px;}
.table_head .count.ty02{padding-right:110px;}

.table_head .count.ty03{position:absolute;left:0;top:0;text-align:left;font-size:16px;color:#000;}
.table_head .count.ty03 span{display:inline-block;vertical-align:-1px;}
.table_head .count.ty03 .select_area02 + .total{padding-top:0;}

.table_head .btn_area {position:absolute;bottom:0;right:0;margin:0;}
.table_head02 {margin-bottom:15px;}
.table_head03 {position:relative;padding-top:15px;margin-bottom:-22px;}
.table_head03 .right{position: absolute;right:0;top:0;}
.table_head h6.title{position: absolute;left:0;top:0;}

.table_head .select_area select{width:90px;position: absolute;right:0;top:-5px;}
.table_head .select_area02{display: inline-block;}
.table_head .select_area02 select{width:132px;}
.table_head .select_area02.ty02 select{width:100%;}

/* status_board */
.status_board {display:inline-block;margin:10px auto 0;}
.status_board li {position:relative;float:left;padding:0 15px;color:#666;}
.status_board li a {color:#666;}
.status_board li:first-child {padding-left:0;}
.status_board li strong {color:#4c4c4c;}
.status_board li:after {content:"";display:block;width:1px;height:8px;background-color:#ccc;position:absolute;left:0;top:6px;}
.status_board li:first-child:after {display:none;}
.status_board:after {content:"";display:block;clear:both;}

.status_board.ty02 li {padding:0 30px;font-size:14px;color:#000;font-weight:bold;letter-spacing:-0.05em;}
.status_board.ty02 li:first-child {padding-left:0;}
.status_board.ty02 li strong {display:inline-block;padding-left:12px;font-size:14px;color:#666;font-weight:normal;letter-spacing:0;}
.status_board.ty02 li:after {height:10px;top:4px;}
.status_board.ty03{display:block;text-align:center;margin:0 auto;}
.status_board.ty03 li{display:inline-block;float:none;color:#000;font-size:14px;padding:0 20px;letter-spacing:-0.05em;}
.status_board.ty03 li strong{font-size:15px;color:#000;font-weight:bold;padding-left:20px;}
.status_board.ty03 li:after{height:10px;top:5px;}

/* step_ty */
.step_ty{position:relative;width:961px;margin:30px auto 70px;}
.step_ty:before{content:"";position:absolute;left:68px;top:24px;display:inline-block;width:829px;height:2px;background:#999;}
.step_ty ol{display:block;text-align:justify;width:100%;height:103px;}
.step_ty li{position:relative;display:inline-block;width:150px;height:100%;text-align:center;vertical-align:top;letter-spacing:-0.05em;}
.step_ty li:before{content:'';display:block;position:absolute;left:136%;bottom:16px;width:12px;height:22px;background: url('../../images/contents/bg_step_arr.png') no-repeat 0;}
.step_ty li i{display:block;overflow:hidden;position:absolute;left:50%;top:5px;width:36px;height:36px;margin-left:-18px;background:#fff;border:2px solid #999;border-radius:100%;box-sizing:border-box;color:#777;line-height:32px;font-weight:bold;}
.step_ty li .word{display:block;margin:0 -50px;padding-top:65px;font-size:18px;color:#777;font-weight:normal;}
.step_ty li .s_txt{display:block;padding-top:11px;color:#777;}
.step_ty li:after{position:absolute;left:90px;top:21px;width:121px;height:8px;border-radius:5px;}

.step_ty li.active i{left:48%;top:0;width:45px;height:45px;border:none;background: #70b850 url('../../images/contents/bg_step01.png') no-repeat center;font-size:0;text-indent:-9999px;}
.step_ty li.active .word{font-size:23px;color:#2c3345;font-weight:bold;padding-top:55px;}
.step_ty li.active .s_txt{font-size:15px;}
.step_ty li.active:after{content:'';background-color:#70b850;}

.step_ty li.fail i{left:48%;top:0;width:45px;height:45px;border:none;background: #ed2024 url('../../images/contents/bg_step02.png') no-repeat center;font-size:0;text-indent:-9999px;}
.step_ty li.fail .word{font-size:23px;color:#ed2024;font-weight:bold;padding-top:55px;}
.step_ty li.fail .s_txt{font-size:15px;}
.step_ty li.fail:after{content:'';background-color:#ed2024;}

.step_ty li.on i{border:none;background: #2c3345 url('../../images/contents/bg_step03.png') no-repeat center;text-indent: -999px;}
.step_ty li.on .word{font-size:18px;font-weight:bold;color:#2c3345;}
.step_ty li.on .s_txt{padding-top:8px;}
.step_ty li.on:after{content:'';top:22px;width:255px;height:5px;border-radius:0;background-color:#2c3345;}
.step_ty li:last-child:before,
.step_ty li:last-child:after{display:none;}
.step_ty ol:after{display:inline-block;width:99%;height:0;content:"";}

.step_ty02{position:relative;width:540px;margin:50px auto 60px;}
.step_ty02:before{content:"";position:absolute;left:30px;top:24px;display:inline-block;width:480px;height:2px;background:#999;}
.step_ty02 ol{display:block;text-align:justify;width:100%;height:103px;}
.step_ty02 li{position:relative;display:inline-block;width:71px;height:100%;text-align:center;vertical-align:top;letter-spacing:-0.05em;}
.step_ty02 li:after{z-index:1;position:absolute;left:50px;top:21px;width:128px;height:8px;border-radius:5px;}
.step_ty02 li:before{content:'';display:block;position:absolute;left:136%;top:56px;width:7px;height:12px;background: url('../../images/contents/bg_step_arr02.png') no-repeat 0;}
.step_ty02 li i{display:block;overflow:hidden;position:absolute;left:50%;top:5px;width:36px;height:36px;margin-left:-18px;background:#fff;border:2px solid #999;border-radius:100%;box-sizing:border-box;color:#777;line-height:32px;font-weight:bold;z-index:2;}
.step_ty02 li .word{display:block;padding-top:53px;color:#777;}
.step_ty02 ol:after{display:inline-block;width:99%;height:0;content:"";}

.step_ty02 li.active i{left:48%;top:0;width:45px;height:45px;border:none;background: #70b850 url('../../images/contents/bg_step01.png') no-repeat center;font-size:0;text-indent:-9999px;}
.step_ty02 li.active .word{font-size:18px;color:#70b850;padding-top:50px;}
.step_ty02 li.active:after{content:'';background-color:#70b850;}

.step_ty02 li.fail i{left:48%;top:0;width:45px;height:45px;border:none;background: #ed2024 url('../../images/contents/bg_step02.png') no-repeat center;font-size:0;text-indent:-9999px;}
.step_ty02 li.fail .word{font-size:18px;color:#ed2024;padding-top:50px;}
.step_ty02 li.fail:after{content:'';background-color:#ed2024;}

.step_ty02 li.on i{border:none;background: #2c3345 url('../../images/contents/bg_step03.png') no-repeat center;text-indent: -999px;}
.step_ty02 li.on .word{color:#2c3345;}

.step_ty02 li.on:after{content:'';height:4px;top:23px;border-radius:0;background-color:#2c3345;}
.step_ty02 li:last-child:before,
.step_ty02 li:last-child:after{display:none;}
.step_ty02 li:last-child:before{display:none;}

.step_ty02.ty02 li:after{left:40px;}


/*** usr ***/
.login_area{position:absolute;left:50%;top:50%;width:540px;height:538px;margin-left:-270px;margin-top:-269px;}
.login_area .logo{overflow:hidden;height:45px;background:url('../../images/contents/img_logo_login.png') center no-repeat;text-indent:-9999px;font-size:0;}
.login_area .input_list{margin-top:60px;}
.login_area input[type="text"],
.login_area input[type="password"]{border: none;background: #f8f8f8;height:60px;line-height:60px;font-size:16px;padding:0 30px;}
.login_area .input_list p{margin-top:15px;}
.login_area .input_list p:first-child{margin-top:0;}
.login_area .error{color:#ed2024;font-size:12px;margin-top:10px;}
.login_area .security_zone{margin-top:30px;}
.login_area .security_express{}
.login_area .security_express .num{vertical-align:top;display:inline-block;width:400px;height:60px;border:1px solid #e1e1e1;box-sizing:border-box;background-color:#fff;}
.login_area .security_express .num img{max-width:100%;}
.login_area .security_express .right{display:inline-block;float:right;}
.login_area .security_express button{display:inline-block;width:60px;height:60px;border:1px solid #e1e1e1;box-sizing:border-box;background-color:#fff;background-repeat:no-repeat;background-position:center;font-size:0;text-indent:-9999px;overflow:hidden;transition:all 0.3s;}
.login_area .security_express button:hover{border-color:#666;}
.login_area .security_express .btn_refresh{background-image: url('../../images/contents/btn_refresh.png');}
.login_area .security_express .btn_sound{background-image: url('../../images/contents/btn_sound.png');margin-left:5px;}
.login_area .security_zone p{margin-top:15px;}
.login_area .security_zone input{background:#fff;border:1px solid #e1e1e1;}
.login_area .btn_area{text-align:center;margin:30px 0 0;}
.login_area .btn_area a{display: block;background: #ed2024;height:60px;line-height:60px;font-weight:bold;color:#fff;font-size:18px;}
.login_area .option{margin-top:15px;}
.login_area .id_save{display:inline-block;}
.login_area .id_save input[type="checkbox"]{width:24px;height:24px;}
.login_area .id_save label{display:inline-block;height:24px;font-size:16px;vertical-align:top;padding-top:3px;}
.login_area .option .right{float:right;}
.login_area .option .right > a{display: inline-block;font-size:16px;border-bottom:1px solid #999;line-height:26px;letter-spacing:-0.05em;margin-left:20px;}

.login_area input::-webkit-input-placeholder {color:#bbb;}
.login_area input:-ms-input-placeholder {color:#bbb;}
.login_area input::-placeholder {color:#bbb;}

.usr_area{width:540px;margin:123px auto 60px;}
.usr_area .group{padding:40px 0 0;}
.usr_area .group:first-child{padding-top:0px;}

.usr_area.ty02{width:825px;}
.usr_area h3.title + .group{padding:0;}

h3.title + .access_area {margin-top:-20px;}
.access_area {padding:30px 40px;background:#f8f8f8;border-bottom:1px solid #e0e0e0;}
.access_menu {margin-top:30px;width:100%;}
.access_menu:first-child {margin-top:0;}
.access_menu dt{float:left;width:30%;color:#000;font-weight:bold;}
.access_menu dt input[type="checkbox"] {width:18px;height:18px;vertical-align:top;margin-right:7px;}
.access_menu dd {float:left;width:70%;font-size:12px;}
.access_menu:after {content:"";display:block;clear:both;height:0;}


/*** one view ***/
.filter_output {display:inline-block;margin:10px auto 5px;}
.filter_output li {position:relative;float:left;padding-left:55px;color:#888;}
.filter_output li a {color:#888;}
.filter_output li:first-child {padding-left:0;}
.filter_output input[type="checkbox"]{width:18px;height:18px;vertical-align:top;}
.filter_output .cate{display:inline-block;vertical-align:top;margin-left:10px;border:1px solid #ed2024;box-sizing:border-box;border-radius:2px;padding:0 4px;min-width:30px;height:18px;font-size:11px;line-height:16px;color:#ed2024;}
.filter_output .num{display:inline-block;vertical-align:top;color:#262626;margin-left:7px;}
.filter_output:after {content:"";display:block;clear:both;}

/* design_wrap */
.design_wrap{position:relative;overflow:hidden;}

.plte{position:relative;overflow:hidden;}

/* lnb_fold */
#lnb.lnb_fold{width:304px;height:896px;position:absolute;left:0;top:0px;padding-right:26px;box-sizing:border-box;transition:all 0.5s ease-in-out;}

.lnb_search {position:relative;margin-bottom:20px;}
.lnb_search .inner {position:relative;border:2px solid #4c4c4c;box-sizing:border-box;border-radius:3px;height:34px;}
.lnb_search .inner input {width:calc(100% - 33px);border:0;padding:8px;box-sizing:border-box;font-size:11px;line-height:18px;}
.lnb_search .inner .btn {position:absolute;right:-1px;top:-1px;width:33px;height:32px;background: #4c4c4e url('../../images/layout/btn_lnb_search.png') no-repeat center;text-indent:-9999px;overflow:hidden;}
.lnb_search .inner :-ms-input-placeholder {color:#b4b4b4;}
.lnb_search .inner ::placeholder {color:#b4b4b4;}

#lnb.lnb_fold .lnb_nav{height: calc(100% - 54px);}
#lnb.lnb_fold .lnb_nav > li > a{font-size:15px;height:40px;line-height:40px;letter-spacing:0;padding:0 20px;}
#lnb.lnb_fold .lnb_dep .dep_sub{padding:10px;}
.lnb_dep .dep_sub > li{margin-top:15px;}
.lnb_dep .dep_sub > li > a{background: #d1d2d4;font-weight:bold;font-size:14px;height:30px;line-height:28px;padding-left:20px;}
.lnb_dep .dep_sub > li > a:before{display: none;}
.lnb_dep .dep_sub > li > a:after{content:"";display:block;position:absolute;top:12px;right:20px;width:9px;height:6px;background: #d1d2d4 url('../../images/layout/bg_lnb_sub.png') no-repeat center;}
.lnb_dep .dep_sub > li.on > a:after{background: #d1d2d4 url('../../images/layout/bg_lnb_sub02.png') no-repeat center;}
.lnb_dep .dep_sub_area ul{padding:20px;}
.lnb_dep .dep_sub_area ul > li{margin-top:15px;height:30px;line-height:32px;}
.lnb_dep .dep_sub_area ul > li:first-child{margin-top:0;}
/*.lnb_dep .dep_sub_area ul > li > a{padding-left:0;font-size:13px;font-weight:bold;color:#4c4c4e;}*/
.lnb_dep .dep_sub_area ul > li > a{padding-left:0;font-size:11px;font-weight:bold;color:#4c4c4e;}
.lnb_dep .dep_sub_area ul > li > a:before{display:none;}
.lnb_dep .dep_sub_area ul > li > a img{width:32px;height:32px;margin-right:11px;}
.lnb_fold .lnb_dep .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.lnb_fold .lnb_dep .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:6px;margin:20px 0 12px;}
.lnb_fold button.btn_act{position:absolute;right:10px;top:50%;width:16px;height:100px;margin-top:-50px;background: url('../../images/contents/btn_act01.png') no-repeat center;font-size:0;}
.lnb_fold button.btn_act.on{background: url('../../images/contents/btn_act01_on.png') no-repeat center;}
#lnb.lnb_fold + .contents{overflow:hidden;width:auto;margin-left:304px;float:none;height:896px;padding-top:54px;box-sizing:border-box;position:relative;transition:all 0.5s ease-in-out;}

/* dep_sub_area.ty02 */
.lnb_dep .dep_sub_area.ty02 ul > li{position:relative;}
.lnb_dep .dep_sub_area.ty02 ul > li > a{position:absolute;width:100%;height:100%;display:block;z-index:8;}
.lnb_dep .dep_sub_area.ty02 ul > li .inner{display:table;width:100%}
.lnb_dep .dep_sub_area.ty02 ul > li .inner img{position:absolute;top:0;left:0;width:32px;height:32px;}
.lnb_dep .dep_sub_area.ty02 ul > li .inner ul {padding:0;height:32px;display:table-cell;vertical-align:middle}
.lnb_dep .dep_sub_area.ty02 ul > li .inner ul  > li{height:16px;line-height:16px;margin-top:0;margin-left:46px;font-size:12px;font-weight:600;}
.lnb_dep .dep_sub_area.ty02 ul > li .inner ul  > li:first-child{font-size:13px}

/*.lnb_dep.subarea .ty02 */
.lnb_dep.subarea.ty02 ul > li{position:relative;}
.lnb_dep.subarea.ty02 ul > li > a{position:absolute;width:100%;height:100%;display:block;z-index:8;}
.lnb_dep.subarea.ty02 ul > li .inner{display:table;width:100%}
.lnb_dep.subarea.ty02 ul > li .inner img{position:absolute;top:0;left:0;width:32px;height:32px;}
.lnb_dep.subarea.ty02 ul > li .inner ul {padding:0;height:32px;display:table-cell;vertical-align:middle}
.lnb_dep.subarea.ty02 ul > li .inner ul  > li{height:16px;line-height:16px;margin-top:0;margin-left:46px;font-size:12px;font-weight:600;}
.lnb_dep.subarea.ty02 ul > li .inner ul  > li:first-child{font-size:13px}

/* topology */
.topology_btn{position:absolute;right:0;top:0px;}
.topology_btn > a{margin-left:7px;}
.topology_btn > a:first-child{margin-left:0;}
.topology_canvas{position:relative;min-height:842px;background:#f4f4f4 url('../../images/layout/cont_bg.png') repeat;margin-right:626px;transition:all 0.5s ease-in-out;}

/* control_nav */
.control_nav a {position:absolute;top:50%;display:block;width:54px;height:54px;margin-top:-28px;border-radius:100px;box-sizing:border-box;text-indent:-9999px;overflow:hidden;z-index:5;transition:all 0.4s;}
.control_nav .prev a {left:30px;background: url('../../images/layout/btn_prev.png') 19px center no-repeat;}
.control_nav .prev a:hover, .control_nav .prev a:focus {background: url('../../images/layout/btn_prev_on.png') 19px center no-repeat;}
.control_nav .next a {right:30px;background: url('../../images/layout/btn_next.png') 23px center no-repeat;}
.control_nav .next a:hover, .control_nav .next a:focus {background: url('../../images/layout/btn_next_on.png') 23px center no-repeat;}

/* palette */
.palette{background-color:#fff;width:626px;height: calc(100% - 54px);position:absolute;right:0;top:54px;box-sizing:border-box;padding-left:26px;transition:all 0.5s ease-in-out;}
.palette > .inner{position:relative;height:100%;}
.palette > .inner:before{content:'';width:100%;height:100%;display:block;box-sizing:border-box;border:2px solid #4c4c4e;position:absolute;left:0;top:0;}
.palette_con_wrap{padding:30px;box-sizing:border-box;}
.palette_con_wrap.scrollbar-inner{max-height:809px;}
.tab_con_area{padding:30px;box-sizing:border-box;}
.tab_con_area.scrollbar-inner{max-height:800px;}
.palette .mCSB_container > h6.title{margin-top:0;}

.palette .tab{position:relative;height:30px;margin-bottom:0px;background-color:#fff;border-bottom:none;}
.palette .tab li{vertical-align:top;width:25%;display: block;float:left;}
.palette .tab li a{position:relative;box-sizing:border-box;border:2px solid #4c4c4e;border-right:none;border-radius:5px 0 0 0;background-color: #4c4c4e;transition:none;font-weight:bold;font-size:11px;color:#d1d2d4;line-height:26px;height:30px;z-index:2;}
.palette .tab li a:before{content:'';display:block;position:absolute;right:0;top:-2px;width:13px;height:30px;background: #fff url('../../images/contents/bg_palette_tab.png') 0 bottom no-repeat;}
.palette .tab li.on a{color:#ed2024;border-bottom:none;background-color:#fff;line-height:30px;}
.palette .tab li.on a:before{background: #fff url('../../images/contents/bg_palette_tab_on.png') 0 bottom no-repeat;z-index:1;}
.palette .tab:before{content:"";display:block;width:100%;height:2px;background-color:#4c4c4e;position: absolute;left:0;bottom:0;}
.palette .tab:after{content:"";display:block;clear:both;height:0;}

.time_list_area h6.title{display:inline-block;margin:0 0 7px;vertical-align:top;}
.time_list_area .time_list{display:inline-block;float:right;margin-top:-2px;}
.time_list_area:after{content:"";display:block;clear:both;overflow:hidden;}

.palette .table_ty th,
.palette .table_ty td{letter-spacing:-0.05em;line-height:16px;}
.palette .table_ty tbody tr:hover td{background:none;}
.palette .table_ty .btn_s{min-width:52px;}
.palette .table_ty tbody tr.add_area > td{border-bottom:none;padding:10px 0;background:#fff;}

.nsd_tarea > textarea{width:100%;height:735px;}

.vnf_pm_top{position:relative;padding-right:115px;}
.vnf_pm_top > .table_form{padding:0;margin-bottom:5px;}
.vnf_pm_top .sec_area{position:relative;padding-right:40px;}
.vnf_pm_top .sec_area .sec{position:absolute;right:5px;top:5px;}
.vnf_pm_top .right{position: absolute;right:0;top:6px;}

.palette .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.palette .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:10px;margin-top:25px;}
.palette .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.palette .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.palette .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:#d1d2d4;}

.palette button.btn_act{position:absolute;left:10px;top:50%;width:16px;height:100px;margin-top:-50px;background: url('../../images/contents/btn_act02.png') no-repeat center;font-size:0;}
.palette button.btn_act.on{background: url('../../images/contents/btn_act02_on.png') no-repeat center;}

#wrap.slid_fold .lnb_fold{left:-278px;}
#wrap.slid_fold .contents{margin-left:26px;}
#wrap.slide_palette .topology_canvas{margin-right:26px;}
#wrap.slide_palette .palette{right:-600px;}
#wrap.slid_fold.slide_palette .lnb_fold{right:-575px;}
#wrap.slid_fold.slide_palette .contents{margin-left:26px;}


/*** PROVISIONING ***/
/* menu_list */
.menu_list ul{padding:20px 28px 20px 20px;}
.menu_list ul > li{margin-top:14px;}
.menu_list ul > li:first-child{margin-top:0;}
/*20180611 임성준 : Provisioning < NS Instance List. NS Name 이 길어질 경우 글자 겹치는 현상때문에 폰트 사이즈 줄임(13 -> 12)*/
/*.menu_list ul > li > a{position:relative;display:block;width:100%;padding:0 72px 0 0;box-sizing:border-box;color:#4c4c4e;font-size:13px;}*/
.menu_list ul > li > a{position:relative;display:block;width:100%;padding:0 72px 0 0;box-sizing:border-box;color:#4c4c4e;font-size:12px;}
.menu_list ul > li > a:before{display:none;}
.menu_list ul > li.on > a{color:#000;font-weight:bold;}
.menu_list ul > li .state{position:absolute;right:12px;top:0;}
.menu_list .mCustomScrollBox{height:96%;}

/* date_time_area */
.date_time_area .tit{padding-right:20px;font-size:14px;color:#000;}
.date_time_area .b_br{padding:0 2px;}
.date_time_area .date {position:relative;display:inline-block;width:150px}
.date_time_area .date button.ui-datepicker-trigger {position:absolute;right:6px;top:0px;width:35px;height:30px;background:url('../../images/layout/btn_datepicker.png') no-repeat center;text-indent:-1000px;overflow:hidden;cursor:pointer;}
.date_time_area .time_area{display:inline-block;margin-left:10px;}
.date_time_area.ty02{text-align:right;margin-top:10px;}

/* operating_area */
.operating_area{position:relative;background:#fff;border-top:2px solid #ccc;margin-top:30px;padding:10px 0 8px;text-align:center;}
.operating_area .left{position:absolute;left:0px;top:9px;}
.operating_area .type_area{display:inline-block;}
.operating_area .type_area a{display:block;color:#999;padding-right:73px;background:url('../../images/contents/btn_msg_more.png') no-repeat  right center;height:34px;line-height:34px;}

.op_type_sel{display:inline-block;width:120px;vertical-align:top;}
.op_srch{display:inline-block;position:relative;width:182px;height:30px;background-color:#fff;border:1px solid #d2d3d5;box-sizing:border-box;border-radius:20px;padding:0 40px 0 12px;margin-left:19px;}
.op_srch input{border:none;height:28px;line-height:28px;}
.op_srch .btn_srch{position:absolute;right:7px;top:-2px;background:url('../../images/contents/ico_msg_srch.png') no-repeat  center;width:30px;height:30px;font-size:0;}

.page_nav{text-align:center;display:inline-block;vertical-align:top;margin-top:-1px;}
.page_nav > a{display:inline-block;width:23px;height:30px;background:center no-repeat;font-size:0;text-indent:-9999px;overflow:hidden;transition:all 0.3s;}
.page_nav .first{margin-left:0;background-image:url('../../images/contents/btn_msg_first.png');}
.page_nav .prev{background-image:url('../../images/contents/btn_msg_prev.png');width:17px;}
.page_nav .next{background-image:url('../../images/contents/btn_msg_next.png');width:17px;}
.page_nav .last{margin-right:0;background-image:url('../../images/contents/btn_msg_last.png');}
.page_nav .first:hover{background-image:url('../../images/contents/btn_msg_first_on.png');}
.page_nav .prev:hover{background-image:url('../../images/contents/btn_msg_prev_on.png');}
.page_nav .next:hover{background-image:url('../../images/contents/btn_msg_next_on.png');}
.page_nav .last:hover{background-image:url('../../images/contents/btn_msg_last_on.png');}
.page_nav ul{display:inline-block;vertical-align:top;margin:0 5px;}
.page_nav li{display:inline-block;height:30px;line-height:30px;color:#b8b8b8;}
.page_nav .current{width:50px;height:30px;line-height:28px;border:1px solid #d2d3d5;border-radius:15px;box-sizing:border-box;color:#777;vertical-align:top;}
.page_nav small{padding:0 8px;}

.op_filter_sel{display:inline-block;width:100px;margin:0 20px;vertical-align:top;margin-top:-1px;}
.op_total_count{display:inline-block;line-height:30px;margin-top:-1px;}
.op_total_count .count{font-size:16px;color:#999;vertical-align:middle;}
.op_total_count .count strong{font-size:18px;line-height:30px;letter-spacing:-0.05em;}

.op_value{display: inline-block;padding-left:15px;vertical-align:middle;}
.op_value .ico_value{display:inline-block;font-size:9px;color:#fff;width:21px;height:21px;text-align:center;border-radius:50%;margin:0 0 0 2px;border:2px solid transparent;line-height:17px;cursor:pointer;}
.op_value .ico_value:first-child{margin-left:0;}

.operating_area .right{position:absolute;right:0px;top:9px;}
.op_mask_area{vertical-align:top;display:inline-block;width:125px;height:30px;border:1px solid #dcdcde;box-sizing:border-box;border-radius:20px;background-color:#fff;}
.op_mask_area a{display:inline-block;width:50%;height:100%;float:left;text-align:center;color:#888;font-size:12px;line-height:28px;letter-spacing:-0.05em;transition:all 0.3s;}
.op_mask_area a:hover{color:#000;}
.op_mask_area a + a{border-left: 1px solid #dcdcde;margin-left:-1px;}
.op_mask_area:after{content:"";display:block;clear:both;overflow:hidden;}

.op_play_area{background:#fff;display:inline-block;max-width:125px;height:30px;line-height:30px;border:1px solid #dcdcde;box-sizing:border-box;border-radius:20px;margin-left:20px;}
.op_play_area a{display:inline-block;width:50%;height:100%;float:left;text-align:center;font-size:0;overflow:hidden;text-indent:-9999px;transition:all 0.3s;box-sizing:border-box;background-repeat:no-repeat;background-position:center 8px;}
.op_play_area a + a{border-left:1px solid #dcdcde;margin-left:-1px;}
.op_play_area .btn_eye{background-image:url('../../images/contents/btn_msg_eye.png');width:42px;}
.op_play_area .btn_sound{background-image:url('../../images/contents/btn_msg_sound.png');width:42px;background-position:center 7px;}
.op_play_area .btn_pause{background-image:url('../../images/contents/btn_msg_pause.png');width:41px;}
.op_play_area .btn_eye.off{background-image:url('../../images/contents/btn_msg_eye_off.png');background-position:center 6px;}
.op_play_area .btn_sound.off{background-image:url('../../images/contents/btn_msg_sound_off.png');}
.op_play_area .btn_pause.off{background-image:url('../../images/contents/btn_msg_play.png');background-position:center 9px;}
.op_play_area .btn_eye:hover{background-image:url('../../images/contents/btn_msg_eye_on.png');}
.op_play_area .btn_sound:hover{background-image:url('../../images/contents/btn_msg_sound_on.png');}
.op_play_area .btn_pause:hover{background-image:url('../../images/contents/btn_msg_pause_on.png');}
.op_play_area .btn_eye.off:hover{background-image:url('../../images/contents/btn_msg_eye_off_on.png');}
.op_play_area .btn_sound.off:hover{background-image:url('../../images/contents/btn_msg_sound_off_on.png');}
.op_play_area .btn_pause.off:hover{background-image:url('../../images/contents/btn_msg_play_on.png');}

.op_play_area:after{content:"";display:block;clear:both;overflow:hidden;}
/* 181114 알람 숨김 영역 만들기 위해 추가 > 기존에서 margin 삭제*/
/*.operating_area .btn_op_list{display:inline-block;background:url('../../images/contents/btn_msg_window.png') no-repeat  center;width:23px;height:29px;font-size:0;text-indent:-9999px;overflow:hidden;margin:0 30px 0 15px;}*/
.operating_area .btn_op_list{display:inline-block;background:url('../../images/contents/btn_msg_window.png') no-repeat  center;width:23px;height:29px;font-size:0;text-indent:-9999px;overflow:hidden;}
.operating_area .btn_op_list.active{background:url('../../images/contents/btn_msg_window_close.png') no-repeat  center;}

/* 181114 알람 숨김 영역 만들기 위해 추가 > DownClass */
.operating_area .btn_op_list.down{background:url('../../images/contents/btn_msg_window_close.png') no-repeat  center;}

i.ico_mask{display:inline-block;background:url('../../images/contents/ico_mask.png') no-repeat  center;width:12px;height:9px;vertical-align:middle;font-size:0;text-indent:-9999px;overflow:hidden;}

/* input_area */
.input_area {padding:10px;margin-bottom:30px;border:1px solid #e1e1e1;text-align:center;}
.input_area table {max-width:835px;margin:0 auto;}
.input_area table th,
.input_area table td {padding:5px;text-align:left;}
.input_area table th > span {display:inline-block;position:relative;padding-left:10px;color:#000;}
.input_area table th > span:before {content:"";display:block;position:absolute;top:7px;left:0;width:3px;height:3px;background-color:#4c4c4e;}

/* cs_manage_area */
.btn_area + .manage_list{margin-top:-10px;}
.manage_list{border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.manage_list li{padding:10px 15.35% 10px 11%;}
.manage_list .item{display: table;width:100%;}
.manage_list .item dt{display: table-cell;width:122px;font-weight:bold;box-sizing:border-box;vertical-align:top;}
.manage_list .item dt span{display:inline-block;position:relative;padding-left:10px;margin-top:5px;}
.manage_list .item dt span:before{content:"";display:block;position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#4c4c4e;}
.manage_list .item dd{display: table-cell;position:relative;}
.manage_list .item dd input[type="text"]{width:100%;}
.manage_list .item dd input[type="checkbox"]{width:18px;height:18px;position: absolute;right:0;top:7px;}
.manage_list .item dd{padding-right:30px;}
.manage_list .sub{background:#f4f4f4;}
.manage_list .sub dt{padding-left:122px;width:187px;}
.manage_list .sub .item dt span:before{top:10px;left:0;width:5px;height:1px;background-color:#4c4c4e;}
.manage_list .item + .item{padding-top:20px;}

.filebox{position:relative;padding-right:80px;}
.filebox .upload_name:disabled{background-color:#fff;}
.filebox input[type="file"]{position:absolute;right:0;top:0;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;border:0;}
.filebox label{position:absolute;right:0;top:0;cursor:pointer;display:inline-block;min-width:70px;height:30px;padding:0 10px;border-radius:3px;box-sizing:border-box;font-size:12px;line-height:26px;letter-spacing:-0.05em;text-align:center;font-weight:bold;vertical-align:middle;border-color:#4c4c4e;background-color:#4c4c4e;color:#fff;}

/*NS MONITORING*/
#wrap.monitoring{padding-bottom:0;}
#wrap.monitoring .contents{position:relative;height:901px;}

#lnb.lnb_ns{position:relative;height:905px;}
#lnb.lnb_ns:before{content:'';display:block;position: absolute;left:0;top:34px;border:2px solid #4c4c4e;border-top:none;box-sizing:border-box;width:100%;height:calc(100% - 34px);background-color:#f4f4f4;}
#lnb.lnb_ns .scrollbar-inner{width:200px;margin:0 0 0 32px;height:810px;}
#lnb.lnb_ns .mCSB_scrollTools .mCSB_dragger{height:20% !important;}
#lnb.lnb_ns + .contents{width:calc(100% - 304px);}

.tab_ns{display:table;width:100%;height:34px;margin-bottom:28px;}
.tab_ns li{display:table-cell;vertical-align:bottom;text-align:center;}
.tab_ns li a{display:block;position:relative;box-sizing:border-box;border:2px solid #4c4c4e;border-right:none;border-radius:5px 0 0 0;background-color: #4c4c4e;font-weight:bold;font-size:14px;color:#fff;line-height:32px;height:34px;z-index:2;}
.tab_ns li a:before{content:'';display:block;position:absolute;right:0;top:-2px;width:16px;height:34px;background: #fff url('../../images/contents/bg_tab04.png') 0 bottom no-repeat;}
.tab_ns li.on a{color:#000;border-bottom:none;background-color:#f4f4f4;line-height:34px;}
.tab_ns li.on a:before{background: #fff url('../../images/contents/bg_tab04_on.png') 0 bottom no-repeat;z-index:1;}
.tab_ns + .tab_con{height:810px;}


/*20180517 임성준 : monitor > NS Instance List 스타일 수정
.tree_monitor{margin:-2px 32px 0;}
.tree_monitor li{padding:13px 0 11px;}*/
.tree_monitor{margin:-2px 0;}
.tree_monitor li{padding:13px 0 11px;word-break: break-all;}
.tree_monitor li:first-child{padding:0 0 11px;}
.tree_monitor li a{position:relative;display:block;font-weight:bold;padding-left:24px;}
.tree_monitor li a:before{content:'';display:inline-block;position: absolute;left:0;top:2px;width:15px;height:15px;background:url('../../images/contents/bg_tree_m.gif') no-repeat 0;}

/* tree_nav */
.tree_nav{overflow:hidden;}
.tree_nav > ul{margin-top:-2px;}
.tree_nav ul li:first-child:before{content:'';display:block;width:1px;height:25px;background-color:#ccc;position:absolute;left:8px;top:-25px;}
.tree_nav ul ul{padding:10px 0 0;}
.tree_nav li.open ul li a{color:#000}
.tree_nav li.open> ul> li> ul> li> ul> li a{color:#999999}
.tree_nav ul ul > li > ul{padding:7px 0 0;}
.tree_nav ul li > ul{margin:0 0 0 -29px;}
/*.tree_nav ul li > ul > li{padding:5px 0 5px 48px;}*/
.tree_nav ul li > ul > li{padding:0px 0 10px 48px;}
.tree_nav ul li > ul > li:first-child{position:relative;}
.tree_nav ul li > ul > li > a{margin-top:-5px;background: none;color:#999999}
.tree_nav ul li > ul > li > ul{margin:0 0 0 -24px;}
/*.tree_nav ul li > ul > li > ul > li > ul > li{padding:5px 0 5px 30px;}*/
.tree_nav ul li > ul > li > ul > li > ul > li{padding:0px 0 10px 30px;}

.tree_nav li{position:relative;padding:0px 0 6px 28px;white-space:nowrap;line-height:18px;background:url('../../images/contents/bg_tree_line.gif') no-repeat 8px 0;}
.tree_nav li a{display:inline-block;font-weight:bold;margin-top:1px;}
.tree_nav li.last{background-position:8px -1766px;}
.tree_nav .toggle{position:absolute;top:2px;left:0;width:15px;height:15px;padding:0;overflow:hidden;border:0;font-size:0;text-indent: -9999px;color:#fff;vertical-align:middle;cursor:pointer;z-index:2;}
.tree_nav ul li > ul li .toggle{left:25px;top:2px}
.tree_nav .toggle.plus{background: url('../../images/contents/bg_tree_p.gif') no-repeat 0;}
.tree_nav .toggle.minus{background: url('../../images/contents/bg_tree_m.gif') no-repeat 0;}
.tree_nav + .tree_nav{margin-top:25px;}



.monitor_section{overflow:hidden;}
.ns_monitoring .fl{float:left;}
.ns_monitoring .fr{float:right;}
.ns_display:first-child {width:55%;}
.ns_display {width:calc(45% - 25px);}
/*.ns_display .tit_area h4.title{border-bottom:none;display:inline-block;padding:0 0 7px;vertical-align:top;margin:-4px 0 2px;}*/
.ns_display .tit_area h4.title{border-bottom:none;display:inline-block;padding:0 0 7px;vertical-align:top;margin:0px 0 2px;}
/*.ns_display .tit_area .chk_board{display:inline-block;float:right;margin-top:-1px;}*/
.ns_display .tit_area .chk_board{display:inline-block;float:right;margin-top:-1px;margin-bottom:5px;}
.ns_display .tit_area .chk_board li{margin-left:10px;font-size:14px;color:#000;font-weight:bold;}
.ns_display .tit_area:after{content:"";display:block;clear:both;}
.ns_display .drawing_box{height:442px;box-sizing:border-box;}
.ns_display .canvas_box{position:relative;background: url('../../images/layout/cont_bg02.png') repeat;}

.ns_display .graph_box{border:1px solid #e1e1e1;}
.ns_display .graph_box dl{height:33.33%;border-top:1px solid #e1e1e1;box-sizing:border-box;}
.ns_display .graph_box dl:first-child{height:33.34%;border-top:none;}
.ns_display .graph_box dt{float: left;width:35px;height:100%;background:#f4f4f4;text-align:center;position:relative;}
.ns_display .graph_box .r_tit{transform: rotate(-90deg);display: inline-block;width:111px;position:absolute;left:-40px;top:65px;color:#000;}
.ns_display .graph_box dd{float:left;width:calc(100% - 35px);text-align:center;display: table;table-layout:fixed;height:100%;}
.ns_display .graph_box dd .inner{display: table-cell;vertical-align:middle;}
.ns_display .graph_box dd img{max-width:100%;min-width:126px;}
.ns_display .graph_box dl:after{content:"";display:block;clear:both;}
.ns_monitoring:after{content:"";display:block;clear:both;}

.ns_tit_area{position:relative;height:30px;background:#dcdcdc;padding:0 30px;margin-top:10px;}
.ns_tit_area h4.title{font-size:16px;border-bottom:none;padding:0;line-height:30px;}
.ns_tit_area .refresh_area{position:absolute;right:30px;top:2px;font-size:12px;}
.ns_tit_area .refresh_area .btn_refresh{font-size:0;overflow:hidden;text-indent:-9999px;background: url('../../images/contents/bg_refresh.png') no-repeat center;width:25px;height:27px;vertical-align:top;}
.ns_tit_area .refresh_area .now{display:inline-block;vertical-align:-4px;}
.ns_tit_area .refresh_area strong{color:#000;}
.ns_tit_area + .table_ty{margin-top:10px;}

.op_screen{width:100%;height:265px;z-index:2;background-color:#fff;position:absolute;left:0;top:631px;}
.op_screen.open{width:100%;height:905px;z-index:2;background-color:#fff;position:absolute;left:0;top:-9px;}
.op_screen.open .operating_area{border-top:none;margin-top:0;}
.op_screen.open .table_ty,
.op_screen.open .table_ty .mCustomScrollBox{max-height:834px !important;}
/* 181114 알람 숨김 영역 만들기 위해 추가 > 기존 op_screen 에서 top 사이즈 수정 */
.op_screen.hidden {width:100%;height:265px;z-index:2;background-color:#fff;position:absolute;left:0;top:840px;}

/* op_screen2 생성 by lanian 20180517.. 일단...*/
/** 일단 주석처리...불안하니까 낼 끝나고 ***/
.op_screen2{width:100%;height:265px;z-index:2;background-color:#fff;position:absolute;left:0;top:466px;}
.op_screen2.open{width:100%;height:905px;z-index:2;background-color:#fff;position:absolute;left:0;top:-9px;}
.op_screen2.open .operating_area{border-top:none;margin-top:0;}
.op_screen2.open .table_ty,
.op_screen2.open .table_ty .mCustomScrollBox{max-height:540px !important;height:auto;}
.op_screen2 .btn_scale{position:absolute;right:60px;top:0;width:23px;height:30px;background: url('../../images/contents/btn_msg_window.png') no-repeat center;font-size:0;overflow:hidden;text-indent:-9999px;outline:none;}
.op_screen2.open .btn_scale{background: url('../../images/contents/btn_msg_window_close.png') no-repeat center;}


.monitoring .table_ty thead th{height:27px;padding:2px 5px 5px;}
.monitoring .table_ty tbody td{height:26px;padding:2px 5px 3px;}
.monitoring .table_ty .btn_s{height:20px;line-height:18px;}

.site_monitoring{height:595px;max-height:595px;}
.site_monitoring .mCSB_scrollTools .mCSB_dragger{height:30% !important;}
.site_monitoring.pd{padding-right:17px;}
.site_cont .tit_area{position:relative;height:30px;line-height:32px;background:#dcdcdc;}
.site_cont .tit_area h4.title{display:inline-block;border-bottom:none;width:130px;padding:0 0 0 30px;box-sizing:border-box;}
.site_cont .tit_area h4.title em{font-weight:normal;}
.site_cont .tit_area .op_value{vertical-align:top;}
.site_cont .tit_area .op_value .ico_value{vertical-align:2px;}
.site_cont .tit_area .btn_site{position:absolute;right:25px;top:0;width:28px;height:30px;background: url('../../images/contents/btn_site_open.png') no-repeat center;font-size:0;overflow:hidden;text-indent:-9999px;outline:none;}
.site_cont .tit_area .btn_scale{position:absolute;right:60px;top:0;width:23px;height:30px;background: url('../../images/contents/btn_msg_window.png') no-repeat center;font-size:0;overflow:hidden;text-indent:-9999px;outline:none;}

.site_cont .chk_board{text-align:left;margin:9px 0 -2px;display:none;}
.site_cont .chk_board li{font-weight:bold;color:#000;font-size:14px;}
.site_cont .chk_board:after{content:"";display:block;clear:both;}
.site_cont .table_ty{display:none;}
.site_cont + .site_cont{margin-top:10px;}

.site_cont.active .btn_site{background: url('../../images/contents/btn_site_close.png') no-repeat center;}
.site_cont.active.ty02 .btn_scale{background: url('../../images/contents/btn_msg_window_close.png') no-repeat center;}
.site_cont.active .table_ty{display:block;overflow:hidden;}
.site_cont.active .chk_board{display:block;}

/* NS MONITORING 스크롤 */
.site_cont .scroll_stie{padding-right:17px;max-height:130px;}
.site_cont.active.ty02 .scroll_stie{max-height:410px;height:410px;}

.scroll_ns{box-sizing:border-box;padding-right:17px;height:82px;}
.scroll_ns02{box-sizing:border-box;padding-right:17px;max-height:190px;}

/* dashboard_area */
.dashboard_area{overflow:hidden;box-sizing:border-box;}

.dashboard_area .left{position:relative;width:658px;height:612px;background: url('../../images/contents/img_map.gif') no-repeat center top;float:left;}
.dashboard_area .left:before{content:'';display:block;width:100%;height:100%;position:absolute;left:0;top:0;background: url('../../images/layout/cont_bg03.png') repeat;opacity:0.3;}

.dashboard_area .balloon{position:absolute;left:0;top:0;width:142px;height:167px;padding:32px 23px 0;box-sizing:border-box;background:url('../../images/contents/img_dashboard01.png') no-repeat center;cursor:pointer;transition:all 0.3s;}
.dashboard_area .balloon:hover,
.dashboard_area .balloon.on{background:url('../../images/contents/img_dashboard01_on.png') no-repeat center;}
.dashboard_area .s_info{text-align:center;width:100%;}
.dashboard_area .s_info dt{font-weight:bold;color: #2c3345;font-size:16px;padding-bottom:15px;}
.dashboard_area .s_info dd{font-weight:normal;color:#999;font-size:12px;width:50%;float:left;}
.dashboard_area .s_info dd strong{color:#000;font-size:14px;display:block;}
.dashboard_area .s_info .error.on strong{color:#ed2024;}
.dashboard_area .s_info dd:after{content:"";display:block;clear:both;height:0;}

.balloon.area01{top:37px;left:130px;}/* 구로 */
.balloon.area02{top:18px;left:261px;}/* 혜화 */
.balloon.area03{top:111px;left:330px;}/* 중앙 */
.balloon.area04{top:76px;left:423px;}/* 횡계 */
.balloon.area05{top:63px;left:516px;}/* 동강릉 */
.balloon.area06{top:147px;left:226px;}/* 용인 */
.balloon.area07{top:auto;bottom:204px;left:258px;}/* 대전 */
.balloon.area08{top:auto;bottom:88px;left:202px;}/* 광주 */
.balloon.area09{top:auto;bottom:180px;left:432px;}/* 대구 */
.balloon.area10{top:auto;bottom:75px;left:530px;}/* 부산 */
.balloon.area11{top:auto;bottom:44px;left:50px;}/* 제주 */

.dashboard_area .balloon.ty02{width:118px;height:137px;padding:22px 20px 0;background:url('../../images/contents/img_dashboard02.png') no-repeat center;}
.dashboard_area .balloon.ty02:hover,
.dashboard_area .balloon.ty02.on{background:url('../../images/contents/img_dashboard02_on.png') no-repeat center;}
.dashboard_area .balloon.ty02 .s_info dt{padding-bottom:12px;font-size:14px;}
.dashboard_area .balloon.ty02 .s_info dd{font-size:11px;}
.dashboard_area .balloon.ty02 .s_info dd strong{font-size:14px;}
.dashboard_area .balloon.ty03{width:102px;height:119px;padding:22px 14px 0;background:url('../../images/contents/img_dashboard03.png') no-repeat center;}
.dashboard_area .balloon.ty03:hover,
.dashboard_area .balloon.ty03.on{background:url('../../images/contents/img_dashboard03_on.png') no-repeat center;}
.dashboard_area .balloon.ty03 .s_info dt{padding-bottom:8px;font-size:14px;}
.dashboard_area .balloon.ty03 .s_info dd{font-size:11px;line-height:14px;}
.dashboard_area .balloon.ty03 .s_info dd strong{font-size:13px;}

.dashboard_area .right{float:right;height:612px;width:calc(100% - 678px);}

/* db_summary */
.db_summary{display:table;width:100%;table-layout:fixed;border:2px solid #e1e1e1;box-sizing:border-box;height:127px;}
.db_summary > li{display:table-cell;vertical-align:middle;text-align: center;}
.db_summary > li *{letter-spacing:-0.05em;}
.db_summary > li:first-child{padding-left:30px;}
.db_summary .tit{display:block;font-size:17px;color:#000;}
.db_summary .s_tit{display:block;font-size:13px;color:#4c4c4e;margin-top:10px;}
.db_summary > li:last-child .s_tit{color: #189288;}
.db_summary .total{display:inline-block;text-align: center;}
.db_summary .number{display:inline-block;font-size:40px;line-height:40px;color:#199289;}
.db_summary .total .s_tit{margin-top:5px;}
.db_circle{position:relative;}
.db_circle li.num{width:35px;position:absolute;left:22px;top:30px;font-size:16px;text-align:center;}

/* db_status 180605*/
.db_status{position:relative;height:374px;}
.db_status > .tit{position:absolute;top:12px;left:0;display:block;color:#000;font-size:17px;}
.db_status > .tit02{position:absolute;top:12px;left:428px;display:block;color:#000;font-size:17px;}
.db_status_list{margin-top:1px;width:calc(100% / 2 - 4px);float:left;margin-top:30px}
.db_status_list > li{width:100%;height:55px;position:relative;box-sizing:border-box;margin-top:4px;padding:7px 7px 0 55px;border:2px solid #70b850;border-left:5px solid #70b850;background-color:#dff4cf;text-align:right;}
.db_status_list:last-child{float:right;}
.db_status_list > li *{letter-spacing:-0.05em;}
.db_status_list > li .tit{color:#000;font-size:16px;position:absolute;left:7px;top:18px;}
.db_status_list dl{display: inline-block;width:50px;height:37px;border-left:3px solid #70b850;background-color:#b7d896;padding:2px 0 0 5px;box-sizing:border-box;text-align:left;}
.db_status_list dl + dl{margin-left:-5px;}
.db_status_list dl dt{color:#4c4c4e;font-size:11px;line-height:14px;}
.db_status_list dl dd{color:#000;font-size:15px;line-height:18px;font-weight:bold;}
.db_status_list :after,
.db_status_list:after{content:"";display:block;clear:both;}

/*20180601*/
/*.db_status_list > li.value.a{border-color: #70b850;background-color:#dff4cf;}
.db_status_list > li.value.b{border-color: #fdd52e;background-color:#fcf1c1;}
.db_status_list > li.value.c{border-color: #ff863c;background-color:#fdd4a9;}
.db_status_list > li.value.d{border-color: #e84f4f;background-color:#fbdaeb;}
.db_status_list > li.value.e{border-color: #883b27;background-color:#e1b8a7;}
.db_status_list > li.value.f{border-color: #168ae3;background-color:#cce8fd;}
.db_status_list > li.value.g{border-color: #6c6c6c;background-color:#ededed;}

.db_status_list dl.value.a{border-color: #70b850;background-color:#b7d896;}
.db_status_list dl.value.b{border-color: #fdd52e;background-color:#ffe6ad;}
.db_status_list dl.value.c{border-color: #ff863c;background-color:#ffb05d;}
.db_status_list dl.value.d{border-color: #e84f4f;background-color:#fea5d3;}
.db_status_list dl.value.e{border-color: #883b27;background-color:#bf876f;}
.db_status_list dl.value.f{border-color: #168ae3;background-color:#95cffb;}
.db_status_list dl.value.g{border-color: #6c6c6c;background-color:#dadada;}*/

/*20180604*/
.db_status_list > li.value.a{border-color: #70b850;background-color:#dff4cf;}
.db_status_list > li.value.b{border-color: #EE82EE;background-color:#fbdaeb;} /*Warning*/
.db_status_list > li.value.c{border-color: #FFDD03;background-color:#fcf1c1;} /*Minor*/
.db_status_list > li.value.d{border-color: #FFA500;background-color:#fdd4a9;} /*Major*/
.db_status_list > li.value.e{border-color: #FF0000;background-color:#e1b8a7;} /*Critical*/
.db_status_list > li.value.f{border-color: #168ae3;background-color:#cce8fd;}
.db_status_list > li.value.g{border-color: #6c6c6c;background-color:#ededed;}

.db_status_list dl.value.a{border-color: #70b850;background-color:#b7d896;}
.db_status_list dl.value.b{border-color: #EE82EE;background-color:#fea5d3;}
.db_status_list dl.value.c{border-color: #FFDD03;background-color:#ffe6ad;}
.db_status_list dl.value.d{border-color: #FFA500;background-color:#ffb05d;}
.db_status_list dl.value.e{border-color: #FF0000;background-color:#bf876f;}
.db_status_list dl.value.f{border-color: #168ae3;background-color:#95cffb;}
.db_status_list dl.value.g{border-color: #6c6c6c;background-color:#dadada;}

.dashboard_area:after{content:"";display:block;clear:both;}


/* LOG MANAGEMENT 스크롤 */
.lm_scroll{box-sizing:border-box;max-height:609px;}
#lm_scroll.pd{padding-right:17px;}

/* 사용자 가입요청 */
.equipment_list{position:relative;padding-top:5px;padding-left:80px;}
.equipment_list input[type="checkbox"]{width:18px;height:18px;margin-right:9px;vertical-align:top;}
.equipment_list label{font-size:14px;color:#000;font-weight:bold;}
.equipment_list .all{display:inline-block;position:absolute;left:0;top:5px;}
.equipment_list .chk_list{margin-top:-13px;}
.equipment_list .chk_list li{width:25%;float:left;margin-top:13px;}
.equipment_list .chk_list:after{content:"";display:block;clear:both;height:0;}

/* board_ty */
.board_ty{width:1130px;margin:124px auto 0;border-top:2px solid #ccc;}
.board_ty table tbody th,
.board_ty table tbody td{height:50px;box-sizing:border-box;padding:10px 0 9px;border-bottom:1px solid #e1e1e1;letter-spacing:-0.05em;text-align:left;}
.board_ty table tbody th{padding:10px 0 9px 40px;}
.board_ty table tbody tr.def th{padding:14px 20px 15px 40px;}
.board_ty table tbody tr.def td{padding:14px 0 15px;}
.board_ty table tbody tr.title th{background-color:#f8f8f8;border-bottom:none;padding-left:40px;}
.board_ty table tbody tr.title td{background-color:#f8f8f8;border-bottom:none;padding:10px 40px 9px 0;}
.board_ty .rdo_set label{margin-left:15px;vertical-align:middle;}
.board_ty .rdo_set label:first-child{margin-left:0;}
.board_ty .rdo_set label input[type="radio"]{width:20px;height:20px;margin-right:10px;vertical-align:middle;}
.board_ty .add_info{float:right;}
.board_ty .add_info .li{float:left;position:relative;padding:0 24px;font-weight:bold;}
.board_ty .add_info .li:before{content:'';display:block;position:absolute;left:0;top:5px;width:1px;height:10px;background:#e1e1e1;}
.board_ty .add_info .li:first-child{padding:0 24px 0 0;}
.board_ty .add_info .li:first-child:before{display:none;}
.board_ty .add_info .txt{font-weight:normal;display:inline-block;margin-left:20px;}
.board_ty .add_info:after{content:"";display:block;clear:both;}
.board_ty .edit_area{border:none;padding:10px 0 0;}
.board_ty .filebox{width:354px;}
.board_ty .filebox.ty02{width:509px;}
.board_ty .filebox.ty02{padding-right:155px;box-sizing:border-box;}
.board_ty .filebox.ty02 label{right:75px}
.board_ty .filebox.ty02 input[type="file"]{right:75px}
.board_ty .filebox.ty02 a.btn_m{position: absolute;right:0;top:0;background-color:#4c4c4e;border-color:#4c4c4e;}
.board_ty + .btn_area{text-align:center;margin:50px auto 0;}

.board_ty table tbody tr.title02 th{background-color:#f8f8f8;height:70px;;padding-left:40px;}
.board_ty table tbody tr.title02 td{background-color:#f8f8f8;height:70px;}
.board_ty .add_info02{float:right;margin-right:40px;font-size:12px;text-align:right;}
.board_ty .add_info02 p{margin-top:5px;color:#444;}
.board_ty .add_info02:after{content:"";display:block;clear:both;}
.board_ty .view_area{padding:40px 30px 60px;color:#444;font-size:12px;line-height:24px;}
.board_ty + .board_ty{margin-top:-1px;}
.board_ty .file_txt{display:inline-block;margin-right:25px;}

.result_val{position:relative;display:inline-block;padding-left:17px;}
.result_val:before{content:'';display:inline-block;position: absolute;left:0;top:6px;width:8px;height:8px;border-radius:8px;box-sizing:border-box;}
.result_val.sucess:before{background-color:#70b850;}
.result_val.fail:before{background-color:#e84f4f;}

.board_ty .add_info03{float:right;margin-right:30px;font-size:12px;text-align:right;}
.board_ty .add_info03 .li{float:left;position:relative;padding:0 15px;}
.board_ty .add_info03 .li:before{content:'';display:block;position:absolute;left:0;top:5px;width:1px;height:10px;background:#e1e1e1;}
.board_ty .add_info03 .li:first-child{padding:0 15px 0 0;}
.board_ty .add_info03 .li:first-child:before{display:none;}
.board_ty .add_info03 .tit{font-weight:bold;}
.board_ty .add_info03 .txt{font-weight:normal;display:inline-block;}
.board_ty .add_info03 .tit + .txt{margin-left:5px;}
.board_ty .add_info03:after{content:"";display:block;clear:both;}

/* 권한관리 */
.manage_groups .table_ty + .table_ty{margin-top:20px;}
.manage_groups .groups_scroll{max-height:282px;}
.manage_groups .groups_scroll02{max-height:650px;}
.manage_groups + .btn_area{text-align:center;}
.manage_groups .groups_scroll,
.manage_groups .scroll_y.pd{padding-right:17px;}
.manage_groups #tab02{padding-top:20px;}

i.ico_chk{display:inline-block;width:13px;height:9px;vertical-align:middle;background: url('../../images/contents/ico_check.png') no-repeat 0;font-size:0;text-indent:-9999px;overflow:hidden;}
i.ico_fail{display:inline-block;width:9px;height:9px;vertical-align:middle;background: url('../../images/contents/ico_fail.png') no-repeat 0;font-size:0;text-indent:-9999px;overflow:hidden;}

/* 국데이터 조회 */
.view_data_area{padding:0 0 5px 22px;}
.view_data_area .table_form{background:#f4f4f4;padding:5px 0 10px;margin-bottom:0;}
.view_data_area .table_form th{padding:5px 5px 0 34px;box-sizing:border-box;}
/*.view_data_area .table_form td{padding:5px 35px 0 0;box-sizing:border-box;}*/
.view_data_area .table_form td{padding:5px 36px 0 0;box-sizing:border-box;}
.view_data_area .table_form tr td:last-child{padding:5px 36px 0 0;}
.view_data_area .table_form + .table_form{margin-top:10px;}

h3.title + .table_ty.ty02{margin-top:-10px;}
.table_ty.ty02 thead th{height:25px;padding:3px 5px 5px;}
.table_ty.ty02 tbody td{height:25px;padding:2px 5px 3px;}
.table_ty.ty02 .btn_s{height:20px;line-height:18px;}

/* NMS/NFVO 모니터링 */
#lnb.lnb_ns.ty02:before{border:none;}
#lnb.lnb_ns.ty02 h2{background-color:#4c4c4e;height:43px;line-height:43px;color:#fff;font-size:15px;padding-left:20px;}
#lnb.lnb_ns.ty02 .scrollbar-inner{margin-top:24px;height:805px;}
.title_area{position:relative;padding-top:7px;}
h2.title.ty02{font-size:16px;}
.title_area .right{position:absolute;right:0;top:10px;}
.ico_refresh02{display:inline-block;background:url('../../images/contents/bg_refresh02.png') no-repeat 0 top;padding-left:23px;}
.ico_refresh02 strong{color:#000;}

/*** DASHBOARD ***/
.table_ty.pd{padding-right:17px;}

/* GURO_MME#1 성능 그래프 */
.table_merge_area{margin-top:20px;}
.table_merge_area .table_ty + .table_ty{margin-top:0;}

/* site_cont */
.table_merge_area02 .table_ty{padding-bottom:0;}
.table_merge_area02 .table_ty + .table_ty{margin-top:0;}
.site_cont.active .table_merge_area02{margin:10px 0;padding-bottom:6px;}

/* op_screen */
.table_merge_area03 .table_ty + .table_ty{margin-top:0;}

/* NS Component */
.table_merge_area04{margin-top:10px;}
.table_merge_area04 .table_ty + .table_ty{margin-top:0;}

.ty_inquiry{margin:10px 0;padding-bottom:6px;}
.op_screen > .operating_area{margin-top:0;margin-right:17px;}

/*.value_area{display:inline-block;width:65px;text-align:left;}*/
.value_area{display:inline-block;width:80px;text-align:left;}
.value_area02{display:inline-block;width:74px;text-align:left;}
.value_area03{display:inline-block;width:110px;text-align:left;}

