@keyframes btn_on {
	0% {
		opacity: 0;
        background-size: 0;
	}
    100%{
        opacity: 1;
        background-size: 100%;
    }
}
@keyframes btn_off {
	0% {
		opacity: 1;
        background-size: 100%;
	}
    100%{
        opacity: 1;
        background-size: 0%;
    }
}
@keyframes link_on {
	0% {
        opacity: 0;
        width: 0;
	}
    100%{
        opacity: 1;
        width: 100%;
    }
}
