/* title */
.title {
    position: inherit;
    display: inherit;
    align-items: center;
    justify-content: space-between;
}
.title h1,
.title p {
    position: inherit;
    display: inherit;
}
.title h1 span {
    display: inline-flex;
    align-items: center;
    background: #f4f4f4;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 0.8rem;
    margin: 0 0 0 10px;
}
.title h1 span strong {
    display: inline-flex;
    margin: 0 0 0 10px;
    font-size: 1rem;
    font-weight: 600;
}
.title h1 span b {
    display: inline-flex;
    margin: 0 5px 0 0;
    font-size: 0.8rem;
}
.title h1 span b.mismatch {
    color: #f52a09;
}
.title h1 span b.match {
    color: #0376a7;
}
.title p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #e25364;
    align-items: center;
}
.title p::before {
    display: inline-flex;
    content: url("../../images/notice.png");
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}
.title h1 .bar {
    display: inline-flex;
    align-self: center;
    width: 1px;
    height: 18px;
    background: #ccc;
    margin: 0 8px;
}

/* table header */
.table_header .btn_box {
    width: auto;
    margin: 0;
}
.table_header .btn_box .btn {
    margin: 0 5px 0 0;
}
.table_header .btn_box button:last-child {
    margin: 0;
}
.table_header .v-select {
    max-width: 120px;
    height: 25px;
}
.table_header .eq_name {
    font-size: 1.2rem;
    color: #0376a7;
    font-weight: 600;
}
.table_header .eq_name span {
    display: inline-flex;
    color: #6f8188;
    font-size: 0.8rem;
    margin: 0 10px 0 0;
}

/* list header */
.list_header {
    width: 100%;
    height: 33px;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
}
.list_header li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    font-size: 0.9rem;
}
.list_header .wide_value {
    width: 50%;
}
.scrollbar {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    overflow-y:auto;
}

/* navigation */
#navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    line-height: 1rem;
    padding: 7px 20px;
}
#navigation li {
    display: inline-flex;
    position: relative;
    padding: 0 0 0 15px;
    margin: 0 0 0 7px;
    font-size: 0.8rem;
    font-weight: 600;
}
#navigation li:before {
    content: "";
    display: inline-flex;
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 5px;
    height: 7px;
    background: url('../../images/img_navigation_division.png') no-repeat center;
}
#navigation li:first-child {
    padding: 0;
    margin: 0;
}
#navigation li:first-child:before {
    display: none;
}
#navigation li .home {
    position: inherit;
    display: inline-flex;
    background: url("../../images/img_navigation_home.png");
    width: 17px;
    height: 14px;
}

/* v-overlay */
.v-overlay__scrim {
    background: #fff!important;
    border-color: #fff!important;
}
.side_overlay .v-overlay__scrim {
    height: 0!important;
    background: transparent!important;
    border-color: transparent!important;
    width: 0!important;
    display: none!important;
    opacity: 0!important;
}
.popup {
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #e25364;
    border-radius: 3px;
    box-shadow: 1px 1px 10px #ddd;
    background: #fff;
}
.popup .popup_content {
    padding: 35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup .popup_content i {
    display: inline-flex;
    width: 30px;
    height: 30px;
    margin: 0 0 20px;
    background-position: center center;
}
.popup .popup_content i.error {
    background: url("../../images/popup_error.png") no-repeat transparent!important;
}
.popup .popup_content i.success {
    background: url("../../images/popup_success.png") no-repeat transparent!important;
}
.popup .popup_content i.delete {
    background: url("../../images/popup_delete.png") no-repeat transparent!important;
}
.popup .popup_content i.download {
    background: url("../../images/popup_download.png") no-repeat transparent!important;
}
.popup .popup_content i.password {
    background: url("../../images/popup_password.png") no-repeat transparent!important;
}
.popup .popup_content h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 10px;
}
.popup .popup_content p {
    text-align: center;
    font-size: 0.9rem;
}
.popup .popup_content p b {
    font-size: 0.9rem;
    color: #e25364;
}
.popup .btn_box {
    bottom: 0;
    background: #e25364;
}
.popup .btn_box .btn,
.popup .btn_box.blue_box .btn {
    border-radius: 0;
    border: none;
    width: 100%;
    height: 45px;
}
.popup .btn_box .btn span {
    font-size: 0.9rem;
    font-weight: 500;
}
.popup .btn_box .btn:hover {
    background: transparent;
}
.popup .confirm_btn {
    width: 50%;
}
.popup .confirm_gray,
.popup .confirm_btn .btn_gray,
.popup .confirm_btn .btn_gray:hover {
    background: #666;
}
.popup.size_s {
    width: 350px;
    min-height: 200px;
}
.popup.size_l2 {
    width: 700px;
}
.popup.size_l3 {
    width: 500px;
    height: calc(100vh - 150px);
}
.popup.pop_blue {
    border: 2px solid #0376a7;
}
.popup.pop_blue .popup_content p b {
    font-size: 0.9rem;
    color: #0376a7;
}
.popup .btn_box.blue_box {
    background: #0376a7;
}
.popup .btn_box2 {
    background: #fff;
    justify-content: center;
    margin: 20px 0;
}
.popup .btn_box2 .btn {
    border-radius: 20px;
    height: 35px;
    width: auto;
    border: 2px solid #999;
    padding: 0 30px;
    margin: 0 5px;
}
.popup .btn_box2 .btn span {
    color: #999;
    font-size: 0.8rem!important;
}
.popup .btn_box.blue_box .btn span {
    color: #fff;
}
.popup .btn_box2 .btn:hover {
    background: #999;
}
.popup .btn_box2 .btn:hover span {
    color: #fff;
}
.popup .btn_box2 .btn_blue {
    border: 2px solid #0376a7;
}
.popup .btn_box2 .btn_blue:hover,
.popup .btn_box.blue_box .btn:hover {
    background: #0376a7;
}
.popup .btn_box2 .btn_blue span {
    color: #0376a7;
}
.popup .popup_content .eq_action {
    width: 100%;
}
.popup .popup_content.wide {
    padding: 20px 0 20px 20px;
}

/* chart */
aside .chart_box h2 {
    font-size: 0.9rem;
    margin: 0 0 5px;
    color: #000;
}
aside .chart_data {
    position: absolute;
    display: flex;
    width: 100%;
    top: 53%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
aside .chart_data h3 {
    display: flex;
    font-size: 0.85rem;
    color: #666;
}
aside .chart_data p {
    display: flex;
    font-size: 0.6rem;
    font-weight: 600;
    color: #999;
}

/* notice */
aside .notice_box {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 5px 0 0;
}
aside .notice {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    width: 33.33%;
    height: 50px;
    background: #c0cfd6;
    background: linear-gradient(150deg, #D7E7EE, #c0cfd6, #B2C4CC);
}
aside .notice:nth-child(2) {
    margin: 0 5px;
}
aside .notice h3 {
    font-size: 0.95rem;
    color: #666;
}
aside .notice p {
    font-size: 0.7rem;
    font-weight: 600;
    color: #888;
    margin: 5px 0 0;
}
aside .severity_notice .notice {
    background: linear-gradient(150deg, #FF4646, #D70707, #9B0202);
}
aside .severity_notice .notice h3 {
    color: #fff;
}
aside .severity_notice .notice p {
    color: #ddd;
}

/* action_utilbar */
#action_utilbar {
    position: absolute;
    right: 5px;
    bottom: 0;
    width: 500px;
    height: 40px;
    background: #0376a7;
    z-index: 50;
}
#action_utilbar ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}
#action_utilbar ul li {
    display: inline-flex;
}

/* tag */
.table_box .tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    font-size: 0.6rem;
    line-height: 0.95rem;
    font-weight: 600;
    color: #fff!important; 
    border-radius: 5px;
}
.table_box .tag.critical {
    background: #de272a;
}
.table_box .tag.major {
    background: #ea8918;
}
.table_box .tag.ru,
.table_box .tag.normal {
    background: #16a78d;
}
.table_box .tag.du {
    background: #6f5ce1;
}
.table_box .tag.regular {
    background: #0376a7;
}
.table_box .tag.free {
    background: #8895ac;
}

/* window popup */
#popup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
#popup .table_header {
    flex-direction: column;
    height: 55px;
    align-items: flex-start;
}
#popup .automatic_table .table_header .condition {
    flex-flow: row;
    margin: 5px 0 0;
}
#popup .automatic_table .table_header .condition p {
    margin: 0 15px 0 0;
}

/* v-speed-dial */
.v-speed-dial {
    z-index: 100;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.v-speed-dial--direction-top .v-speed-dial__list, 
.v-speed-dial--direction-bottom .v-speed-dial__list {
    left: auto;
    right: 0;
    width: 500px;    
}
.v-speed-dial__list .default_value_box {
    position: relative;
    display: flex;
    width: 500px;
    background: #ffffff;
    box-shadow: 2px 2px 10px #ccc;
    padding: 20px;
    border-radius: 10px;
}

/* etc definition */
.v-application {
    line-height: initial!important;
}
.align_right {
    justify-content: flex-end!important;
}
.size_xs {
    max-width: 120px;
}
.size_l {
    max-width: 150px!important;
}
.size_xl {
    max-width: 250px;
}
.size_xl2 {
    max-width: 200px;
}
.size_xs2 {
    min-width: 60px;
}
.mt-10 {
    margin-top: 10px!important;
}
.mr-05 {
    margin-right:5px!important;
}
.point_blue {
    color: #0376a7;
}
.point_red {
    color: #DE272A;
}
.chart.example_none {
    border-radius: 100px;
    border: double 4px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#f4f4f4, #f4f4f4), linear-gradient(#c0cfd6, #c0cfd6);
}
.chart.example_red {
    border-radius: 100px;
    border: double 4px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#f4f4f4, #f4f4f4), linear-gradient(150deg, #FF8874, #FF4646, #D70707, #9B0202);
}
.chart.example_red h3 {
    color: #de272a;
}
.chart.example_blue {
    border-radius: 100px;
    border: double 4px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#f4f4f4, #f4f4f4), linear-gradient(150deg, #5fcfff, #30bbf6, #15a2de, #0f6f98);
}
.chart.example_blue h3 {
    color: #0376a7;
}
.chart.example_orange {
    border-radius: 100px;
    border: double 4px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#f4f4f4, #f4f4f4), linear-gradient(150deg, #ffce95, #ff9921, #e16913, #bf2807);
}
.chart.example_orange h3 {
    color: #e97a0a;
}