/* v-treeview */
.v-sheet {
    width: 120px;
}
.v-treeview {
    width: 100%;
    height: 865px;
    overflow: auto;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 0;
}
.v-treeview-node__root {
    min-height: 20px;
    margin: 0 0 10px;
}
.v-treeview-node__level {
    width: 8px;
}
.v-treeview-node__label {
    display: inline-flex;
    font-size: 0.95rem;
}
.v-treeview-node__children .v-treeview-node__content::before {
    position: relative;
    display: inline-flex;
    content: url("../../images/minus.png");
    width: 10px;
    height: 10px;
    top: -4px;
    margin: 0 7px 0 0;
}
.v-treeview-node--selected .v-treeview-node__content {
    color: #e25364;
    font-weight: 600;
}
.v-application--is-ltr .v-treeview-node__content {
    margin: 0 0 0 5px;
}
.v-treeview-node--selected .v-treeview-node__label {
    color: #e25364;
}
.v-treeview-node__root .mdi::before {
    position: relative;
    top: -2px;
}
.v-treeview-node__children .mdi::before {
    position: relative;
    top: -5px;
}
.tui-grid-cell input[type="checkbox"]::before,
.mdi-checkbox-blank-outline::before {
    content: url("../../images/ck_none.png");
}
.mdi-minus-box::before {
    content: url("../../images/ck_half.png");
}
.tui-grid-cell input[type="checkbox"]:checked,
.mdi-checkbox-marked::before {
    content: url("../../images/ck_full.png");
}
.mdi-menu-down::before {
    content: url("../../images/plus.png");
}
/* result v-treeview */
.para_set_value .v-treeview {
    border: none;
    background: #f3f7f9;
    width: 340px;
    height: 830px;
    padding: 0; 
}
.para_set_value .v-treeview .v-treeview-node__root {
    padding: 0 0 0 10px;
    margin: 0;
    height: 33px;
}
.para_set_value .v-treeview .para_value {
    max-width: 91px;
    font-weight: 600;
    color: #0376a7;
    line-height: 10px;
}
.para_set_value .v-treeview .para_name {
    max-width: 238px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0;
    line-height: 35px;
    height: 33px;
}
.para_set_value .v-treeview .v-treeview-node__label {
    height: 33px;
}
/* v-input */
.v-input__slot {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 20px;
    height: 25px;
    margin: 0;
}
.v-input input  {
    height: 25px;
}
.v-text-field input {
    flex: 1 1 auto;
    line-height: 25px;
    padding: 0;
    max-width: 100%;
    min-width: 0px;
    width: 100%;
}
aside .v-text-field__details,
.action_tab .v-text-field__details,
.eq_action .v-text-field__details {
    font-size: 0.7rem;
    display: none;
}
.v-label {
    color: #999;
    font-size: 0.75rem;
}
.v-input__icon--clear {
    width: 15px;
    height: 15px;
    min-width: 15px;
}
.v-input__icon--clear .mdi-close-circle-outline {
    font-size: 20px;
}
.v-text-field__slot {
    align-items: center;
}
.search .v-text-field__slot::after {
    position: relative;
    display: inline-flex;
    content: url("../../images/search.png");
    width: 12px;
    height: 12px;
    top: -2px;
}
.parameter_result .v-text-field .v-label--active,
.cluster_set .v-text-field .v-label--active,
#action .v-text-field .v-label--active {
    transform: scale(0)!important;
    color: #fff!important;
}
.parameter_result .form_box {
    width: 200px;
    margin: 0;
}
.parameter_result .v-input__slot,
.cluster_set .v-input__slot,
.action_tab .table_header .v-input__slot {
    padding: 0 10px;
}
/* v-select */
.parameter_set .form_box,
.cluster_set .form_box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    margin: 0 0 10px;
}
.parameter_set .form_box label {
    font-size: 0.75rem;
}
.verification .v-select,
.code_set .v-select {
    height: 25px;
    margin: 0 0 10px;
}
.v-select .mdi-menu-down::before {
    content: url("../../images/select.png");
    position: relative;
    top: -5px;
}
.v-select .v-input__icon {
    width: 12px;
    min-width: 12px;
    height: 12px;
}
.v-text-field.v-text-field--solo .v-label {
    top: calc(50% - 8px);
}
.v-menu__content .v-sheet {
    width: auto;
}
.v-menu__content .v-list-item {
    min-height: 30px;
    padding: 0 15px;
}
.v-menu__content .v-list-item__content {
    padding: 8px 0;
}
.v-application .v-menu__content .primary--text {
    color: #e25364!important;
    caret-color: #e25364!important;
}
.eq_action .v-input__slot {
    border: none;
    background: #E7EFF2!important;
    border-radius: 3px;
}
.v-menu__content {
    z-index: 100!important;
}
.popup .popup_content .v-input__slot {
    height: 25px;
    width: 100%;
}
.popup .popup_content .v-input__icon i {
    margin: 0;
}
.popup .popup_content .v-select__slot .v-label,
.popup .popup_content .v-textarea .v-label,
.popup .popup_content .v-input__slot .v-label {
    color: #999;
}
.popup .popup_content .v-textarea .v-label,
.v-dialog .v-textarea .v-label {
    top: 0!important;
}
/* v-btn */
.btn_box {
    justify-content: space-around;
    width: 100%;
    margin: 10px 0 0;
}
.btn {
    display: inline-flex;
    height: 25px;
    padding: 0 10px;
    border: 2px solid #666;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 20px;
    animation: btn_off 0.25s ease-in-out;
}
.btn:hover {
    border: 2px solid transparent;
    background: #666;
    color: #fff;
    animation: btn_on 0.25s ease-in-out;
}
.v-btn__content {
    font-size: 0.8rem;
    font-weight: 600;
}
.btn_pink {
    border: 2px solid #e25364;
    color: #e25364;
}
.btn_pink:hover {
    background: #e25364;
}
.btn_blue {
    border: 2px solid #0376a7;
    color: #0376a7;
}
.btn_blue:hover {
    background: #0376a7;
}
#action_utilbar .btn {
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    background: #0376a7;
    padding: 3px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    transition: 0.2s;
}
#action_utilbar .btn:hover,
#action_utilbar .btn.on {
    color: #0376a7;
    background: #fff;
    transition: 0.2s;
}
/* v-checkbox */
.v-input--selection-controls__input {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}
.table_box .v-input {
    margin: 0;
    padding: 0;
}
.table_box .v-input .v-input__control {
    align-items: center;
}
.table_box .v-input__slot {
    height: 18px;
    width: 18px;
    border: none;
    padding: 0;
    background: transparent;
}
.table_box .v-messages,
.table_box .v-input--checkbox .v-label {
    display: none!important;
}
/* v-tabs */
.v-tabs-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    z-index: 10;
    background: #fff;
}
.v-tabs-slider-wrapper {
    display: none;
}
.v-tabs-bar__content {
    background: #d9dee0;
    border-radius: 20px;
}
.v-tab {
    display: inline-flex;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.7rem;
    color: #6f8188;
    letter-spacing: -0.5px;
    background: transparent;
    transition: 0.5s;
}
.v-tab--active {
    background: #0376a7;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.v-tabs-bar.tab_pink {
    background: #f4f4f4;
}
.tab_pink .v-tabs-bar__content {
    background: #faebec;
}
.tab_pink .v-tab {
    color: #876E71;
}
.tab_pink .v-tab--active {
    background: #e25364;
    color: #fff;
}
#action .action_tab .v-tabs-bar {
    position: relative;
    height: 30px;
}
#action .action_tab .v-tab {
    /* border-radius: 0; */
    padding: 5px 0;
    font-size: 0.8rem;
    color: #8095a0;
    min-width: 80px;
    margin: 0 10px 0 0;
    transition: 0.2s;
}
#action .action_tab .v-tab:hover {
    color: #0376a7;
    transition: 0.2s;
}
#action .action_tab .v-tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background: #0376a7;
    transition: 0.2s;
}
#action .action_tab .v-tab--active {
    background: transparent;
    color: #0376a7;
}
#action .action_tab.theme--light.v-tabs .v-tab--active:hover::before, 
#action .action_tab.theme--light.v-tabs .v-tab--active::before,
#action .action_tab .v-tab:before {
    opacity: 0;
    transition: none;
    background-color: transparent;
}
#action .action_tab .v-tab--active::after {
    width: 100%;
    transition: 0.2s;
}
#action .action_tab .v-tabs-bar__content {
    background: #fff;
}
#action .action_sub_tab .v-tabs-bar {
    right: auto;
    left: 0;
    height: 25px;
    margin: 10px 0;
}
#action .action_sub_tab .v-tab {
    font-size: 0.7rem;
    margin: 0;
    min-width: 70px;
    height: 25px;
}
#action .action_sub_tab .v-tab::after {
    display: none;
}
#action .action_sub_tab .v-tab--active,
#action .action_sub_tab .v-tab:hover {
    background: #0376a7;
    color: #fff;
}
#action .action_sub_tab .v-tabs-bar__content {
    background: #d9dee0;
    flex-grow: 0;
}
#action .action_sub_tab .table_header {
    justify-content: flex-start;
    margin: 0;
}
#action .action_sub_tab .table_header.condition_box {
    justify-content: space-between;
    margin: 0 0 7px;
}
/* v-dialog */
.v-dialog {
    position: absolute;
    right: 5px;
    bottom: 10px;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
    width: 500px;
    height: auto;
    min-height: 200px;
    background: #fff;
}
.v-dialog__content {
    z-index: 49!important;
    position: fixed;
    max-width: 1920px;
    max-height: 977.99px;
}
.v-dialog .panel {
    padding: 20px;
}
.v-dialog .panel .pin {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.v-dialog .panel .pin a:before {
    content: url("../../images/pin.png");
    display: inline-flex;
    height: 22px;
    margin: 0 5px 0 0;
}
.v-dialog .panel .pin a {
    display: inline-flex;
    align-items: flex-end;
    font-size: 0.75rem;
    color: #999;
    font-weight: 600;
}
.v-dialog .panel .pin a.pin_in::before {
    content: url("../../images/pin_in.png");
}
.v-dialog .panel .pin a.pin_in {
    color: #e25364;
}
.v-dialog .panel h3,
.popup .popup_content h3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.9rem;
    height: 21px;
    margin: 0 0 10px;
}
.popup .popup_content h3 {
    font-size: 1.1rem;
    align-items: center;
    height: 31px;
}
.v-dialog .panel .eq_action,
.popup .popup_content .eq_action {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 100%;
    grid-template-areas: 'f_side';
}
.v-dialog .panel .eq_action.half,
.popup .popup_content .eq_action.half {
    grid-template-columns: 50% 50%;
    grid-template-areas: 'l_side r_side';
}
.v-dialog .panel .eq_action.half2 {
    grid-template-columns: calc(40% - 20.5px) 41px calc(60% - 20.5px);
    grid-template-areas: 'l_side bar r_side';
}
.v-dialog .panel .eq_action h3 {
    width: 185px;
    align-items: center;
}
.v-dialog .panel .bar.row {
    background: #B2C4CC;
}
.v-dialog .panel .eq_action .bar {
    background: #B2C4CC;
    height: calc(100% - 10px);
    align-self: center;
    margin: 0 20px;
}
.v-dialog .panel dl,
.popup .popup_content dl {
    display: flex;
    width: 100%;
    align-items: center;
}
.v-dialog .panel dl dt,
.v-dialog .panel dl dd,
.popup .popup_content dl dt,
.popup .popup_content dl dd {
    display: inline-flex;
    height: 25px;
    margin: 0 0 5px;
    align-items: center;
}
.v-dialog .panel dl dt,
.popup .popup_content dl dt {
    color: #787878;
    font-size: 0.75rem;
}
.v-dialog .panel dl dt::before,
.popup .popup_content dl dt::before {
    content: '';
    display: inline-flex;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #0376a7;
    margin: 0 5px 0 0;
}
.v-dialog .panel dl dd,
.popup .popup_content dl dd {
    font-size: 0.8rem;
    font-weight: 600;
    justify-content: space-between;
}
.popup .popup_content dl dt,
.popup .popup_content dl dd {
    font-size: 0.9rem;
}
.v-dialog .gps_map {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 243px;
    height: 255px;
    background: #232323;
}
.v-dialog .w_30 dl dt {
    width: 30%;
}
.v-dialog .w_30 dl dd {
    width: 70%;
}
.v-dialog .w_40 dl dt {
    width: 40%;
}
.v-dialog .w_40 dl dd {
    width: 60%;
}
.v-dialog .w_100 dl {
    flex-direction: column;
}
.v-dialog .w_100 dl dt {
    width: 100%;
}
.v-dialog .w_100 dl dd {
    width: 100%;
}
.v-dialog .w_70p dl dt {
    width: 70px;
}
.v-dialog .w_70p dl dd {
    width: calc(100% - 70px);
}
.v-dialog .aling_top {
    align-content: flex-start;
}
.v-dialog .aling_top dl {
    height: 30px;
    margin: 0 0 10px;
}
.popup .popup_content dl dt {
    width: 90px;
}
.popup .popup_content dl dd {
    width: calc(100% - 110px);
}
/* v-textarea */
.v-textarea .v-input__slot {
    padding: 10px!important;
}
.v-textarea .v-input__slot,
.h_100p {
    height: 100px!important;
}
.v-textarea .v-text-field__slot {
    margin: 0 -8px 0 0!important;
}
.v-textarea .v-text-field__slot textarea {
    margin: 0!important;
    font-size: 0.8rem;
    line-height: 1rem;
    resize: none;
}
.v-textarea .v-text-field__slot .v-label {
    top: 4px;
}
.v-textarea .v-text-field__slot textarea,
.v-textarea .v-text-field__details .v-messages {
    color: #333;
    caret-color: #333;
}
.popup .popup_content .v-textarea .v-input__slot, 
.h_150p {
    height: 150px!important;
}
/* calendar */
.mdi-calendar {
    content: url("../../images/calendar.png");
    width: 12px!important;
    height: 14px!important;
}
.v-input__prepend-outer {
    margin: 0;
}
.v-input.calendar {
    background: #E7EFF2;
    border-radius: 3px 0 0 3px;
}
.v-input.calendar input {
    color: #333;
}
.v-picker .v-date-picker-title__year {
    font-size: 1rem;
    color: #fff;
}
.v-picker .v-date-picker-title__date div {
    font-size: 1.7rem;
    color: rgba(255,255,255,0.5);
}
.v-picker .v-date-picker-years .active {
    color: #0376a7!important;
}
.v-picker .v-date-picker-table--month .v-btn {
    padding: 10px 0;
}
.v-application .accent--text {
    caret-color: #0376a7!important;
    color: #0376a7!important;
}
.v-picker .v-btn--active {
    background: #0376a7!important;
    border-color: #0376a7!important;
    color: #fff!important;
}
.auto_calendar {
    max-width: 200px;
    position: relative;
}
.v-input.calendar.auto_calendar {
    background: transparent;
    border: none;
}
.auto_calendar .mdi-calendar {
    content: url("../../images/calendar2.png");
    width: 14px!important;
    height: 15px!important;
}
.auto_calendar .v-text-field__details {
    display: none;
}
.auto_calendar .v-text-field__slot input {
    padding: 5px 10px;
    line-height: 30px;
    height: 30px;
    font-size: 1rem;
}
.auto_calendar .v-input__prepend-outer {
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 10;
}
.auto_calendar .v-input__slot {
    height: 30px;
}

/* otp */
.v-otp-input input {
    color: #333!important;
    caret-color: #333!important;
    font-size: 20px;
}
.v-otp-input .v-input__control .v-input__slot {
    min-height: 45px!important;
}