html,
body {
    width: 100%;
    height: 100%;
    min-width: 1920px;
    min-height: 1009px;
    overflow: hidden;
}
#app_wrap,
#app,
.nav_box,
#wrap,
#main,
.content,
header,
aside,
section,
article,
.bar,
.title,
.form_box,
.btn_box,
.table_box,
.table_header,
.list_header,
.para_set_value,
.popup,
.popup_content,
.accordion_box,
.accordion_header,
.accordion_content,
.chart_box,
.chart_wrap,
.chart_area,
.chart,
.local_status,
.local_data,
.chart_info,
.week_data,
.panel,
.eq_action,
.l_side,
.r_side,
.f_side,
.gps_map {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
aside {
    padding: 20px;
    background: #f4f4f4;
    border-right: 1px solid #ccc;
}
section .title {
    height: 30px;
    margin: 0 0 10px;
    width: 100%;
}
section article {
    width: 100%;
    height: 898px;
}
aside .chart_box {
    width: 100%;
    flex-direction: column;
}
aside .chart_area {
    width: 33.33%;
    flex-direction: column;
    align-items: center;
}
aside .chart {
    width: 57px;
    height: 57px;
}
.content_wrap .chart {
    border-radius: 5px;
    background: #232323;
    width: 100%;
    height: 100%;
}
aside,
.content_wrap {
    height: 978px;
}
.nav_box {
    width: 1920px;
    justify-content: flex-end;
    background: #f9f9f9;
    border-bottom: 1px solid #ccc;
}
.bar {
    width: 1px;
    height: 898px;
    margin: 0 10px;
    background: #ccc;
    align-self: flex-end;
}
.bar.row {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background: #ccc;
}
