.tui-grid-content-area {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}
.tui-grid-body-area .tui-grid-cell {
    background: #fff!important;
    border: none;
    border-bottom: 1px solid #ddd!important;
    padding: 0 5px;
}
.tui-grid-cell-has-input .tui-grid-cell-content {
    padding: 0;
    font-size: 0.85rem;
}
.tui-grid-row-odd,
.tui-grid-row-even {
    height: 33px!important;
}
.tui-grid-header-area {
    border-bottom: 1px solid #333!important;
}
.tui-grid-cell-header {
    border: none!important;
    border-top: 2px solid #333!important;
    color: #333!important;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 5px;
}
.tui-grid-border-line-top,
.tui-grid-border-line-left,
.tui-grid-border-line-right,
.tui-grid-border-line-bottom {
    border: none!important;
    display: none!important;
}
.tui-grid-header-area .tui-grid-table {
    border: none!important;
}
.tui-grid-layer-focus .tui-grid-layer-focus-border,
.tui-grid-layer-focus-deactive .tui-grid-layer-focus-border {
    background-color: #e25364!important;
}
.tui-grid-body-area {
    overflow-y: auto!important;
    background: #fff;
}
.table_header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 25px;
    margin: 0 0 10px;
}
.tui-grid-btn-sorting {
    height: 12px;
}
.tui-grid-btn-sorting-up {
    background-position: -112px -10px;
}
.tui-grid-btn-sorting-down {
    background-position: -133px -10px;
}
.tui-grid-cell input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 3px;
}
.tui-grid-body-container{
    height: fit-content !important; 
}
#detail .tui-grid-cell,
#default_value .tui-grid-cell {
    border-bottom: none!important;
    border-right: 1px solid #aaa!important;
    background: #f1f1f1!important;
}
#detail .tui-grid-rside-area .tui-grid-cell:last-child,
#default_value .tui-grid-rside-area .tui-grid-cell:last-child {
    border-right: none!important;
}
#detail .tui-grid-cell-header,
#default_value .tui-grid-cell-header {
    background: #fff!important;
    border:none!important;
    border-top: 2px solid #333!important;
}
#detail .tui-grid-row-even .tui-grid-cell,
#default_value .tui-grid-row-even .tui-grid-cell {
    background: #f7f7f7!important;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
#detail .tui-grid-body-area,
#default_value .tui-grid-body-area {
    background: #f4f4f4;
}
#detail .tui-grid-layer-selection,
#default_value .tui-grid-layer-selection {
    background: #e25364!important;
}
#detail .tui-grid-cell-current-row .tui-grid-cell,
#default_value .tui-grid-cell-current-row .tui-grid-cell {
    background: #f3e7e8!important;
}
#detail .tui-grid-cell-current-row .tui-grid-cell-content,
#default_value .tui-grid-cell-current-row .tui-grid-cell-content {
    color: #e25364;
    font-weight: 600;
}
.verification .tui-grid-body-area,
.code_set .tui-grid-body-area {
    height: 790px!important;
}
.detail_table .tui-grid-body-area {
    height: 545px!important;
    overflow: hidden;
}
.parameter_table .tui-grid-body-area,
.cluster_table .tui-grid-body-area {
    height: 830px!important;
    overflow: hidden;
}
.parameter_result_table .tui-grid-body-area {
    height: calc(100vh - 265px)!important;
}
.parameter_result_table .summary .tui-grid-body-area {
    height: 780px!important;
    overflow: scroll!important;
}
.bulk_cm .tui-grid-body-area {
    height: 155px!important;
    overflow: hidden;
}
#default_value .table_box {
    margin: 75px 0 0;
}
#default_value .tui-grid-body-area {
    height: 825px!important;
    overflow: scroll!important;
}
.alarm_table .tui-grid-body-area,
.automatic_table .tui-grid-body-area {
    height: 830px!important;
    overflow: scroll!important;
}
#detail .tui-grid-cell-summary {
    border: none!important;
    border-bottom: 1px solid #333!important;
    background: #fff!important;
    font-weight: 600;
}
.verification .tui-grid-layer-focus,
.code_set .tui-grid-layer-focus {
    display: none;
}
.tui-grid-layer-state {
    background: transparent;
    height: calc(100% - 33px)!important;
}
.automatic_detail .tui-grid-body-area {
    height: 422px!important;
}
/* tui-pagination */
.pagination_box {
    position: relative;
    display: flex;
}
.tui-pagination {
    margin: 0 10px 0 0;
}
.tui-pagination .tui-page-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    transition: 0.3s;
}
.tui-pagination .tui-is-selected .tui-page-input {
    text-align: center;
    width: 50px;
    padding: 5px 0;
    margin: 0 5px;
    color: #e25364;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.9rem;
}
.tui-pagination .tui-is-selected .total {
    display: inline-flex;
    margin: 2.5px 5px 0;
}
.tui-pagination .tui-is-selected .total::before {
    content: '/';
    margin: 0 5px;
}
.tui-pagination .tui-is-selected:hover .tui-page-input {
    background: #f3e7e8;
    transition: 0.3s;
}
.tui-pagination .tui-is-selected:hover .tui-g-page-input {
    background: #f3e7e8;
}
.tui-pagination .tui-first, .tui-pagination .tui-prev, .tui-pagination .tui-next, .tui-pagination .tui-last, .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
    margin: 0 2px;
    padding: 0 5px;
}
.tui-pagination .tui-prev {
    margin: 0 10px 0 2px;
}
.tui-pagination .tui-next {
    margin: 0 2px 0 10px;
}
.tui-pagination .tui-ico-last, 
.tui-pagination .tui-ico-first {
    background: url("../../images/arrow_db.png")!important;
    width: 9px;
    height: 8px;
}
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-prev {
    background: url("../../images/arrow.png")!important;
    width: 5px;
    height: 8px;
}
.tui-pagination .tui-ico-ellip {
    background: url("../../images/ellip.png");
    width: 10px;
    height: 2px;
}
.tui-pagination .tui-ico-next {
    transform: rotate(180deg);
}
.tui-pagination .tui-ico-last {
    transform: rotate(180deg);
}
.tui-pagination .tui-is-disabled span {
    opacity: 1;
}
/* .tui-pagination .tui-is-disabled:hover {
    background: #fff;
} */
/* table */
.table_box {
    border-radius: 0 0 5px 5px;
}
.table_box table th,
.table_box table td {
    font-size: 0.85rem;
    height: 33px;
    padding: 0 5px;
    text-align: center;
}
.table_box table th {
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    background: #fff;
    font-weight: 600;
    color: #333;
}
.table_box table td {
    border-bottom: 0;
}
.table_box table tr {
    transition: 0.5s;
}
.table_box table tr:hover {
    transition: 0.5s;
}
.parameter_result .scrollbar,
#result .scrollbar {
    height: 830px;
    background: #f3f7f9;
}
.parameter_result .table_box table tr:nth-child(2n), 
#result .table_box table tr:nth-child(2n),
#action .table_box table tr:nth-child(2n),
.v-dialog .table_box table tr:nth-child(2n),
.v-speed-dial .table_box table tr:nth-child(2n) {
    background: #fefefe;
}
.parameter_result .table_box table tr:first-child, 
.parameter_result .table_box table tr:nth-child(2n + 1), 
#result .table_box table tr:first-child,
#result .table_box table tr:nth-child(2n + 1),
#action .table_box table tr:first-child,
#action .table_box table tr:nth-child(2n + 1),
.v-dialog .table_box table tr:first-child,
.v-dialog .table_box table tr:nth-child(2n + 1),
.v-speed-dial .table_box table tr:nth-child(2n + 1) {
    background: #f3f7f9;
}
.parameter_result .table_box table tr.seleted,
.parameter_result .table_box table tr:hover,
.cluster_set .table_box table tr:hover,
.cluster_set .table_box table tr.seleted,
#result .table_box table tr:hover,
.alarm .chart_info .table_box table tr:hover,
.alarm .chart_info .table_box table tr.seleted,
#action .table_box table tr.severity,
#action .table_box table tr.new {
    background: #faebec;
}
.parameter_result .table_box table tr.seleted td,
.parameter_result .table_box table tr:hover td,
.cluster_set .table_box table tr:hover td,
.cluster_set .table_box table tr.seleted td,
#result .table_box table tr:hover td,
.alarm .chart_info .table_box table tr:hover td,
.alarm .chart_info .table_box table tr.seleted td,
.alarm .chart_info .table_box table tr:hover td span,
.alarm .chart_info .table_box table tr.seleted td span {
    color: #e25364;
}
.parameter_result .table_box table td,
#result .table_box table td,
.alarm .chart_info .table_box table td,
#action .table_box table td,
.v-dialog .table_box table td,
.v-speed-dial .table_box table td {
    border-right: 1px solid #B2C4CC;
}
.parameter_result .table_box table td:last-child,
#result .table_box table td:last-child,
.alarm .chart_info .table_box table td:last-child,
#action .table_box table td:last-child,
.v-dialog .table_box table td:last-child,
.v-speed-dial .table_box table td:last-child {
    border-right: none!important;
}
.parameter_result .table_box .match, 
#result .table_box .match {
    color: #0376a7;
}
.parameter_result .table_box .mismatch,
#result .table_box .mismatch {
    color: #f52a09;
}
.parameter_result .table_box span,
#result .table_box span {
    display: inline-flex;
    padding: 2px 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.parameter_result .table_box span,
#result .table_box span, 
.cluster_set .table_box td:nth-child(2) {
    cursor: pointer;
}
.parameter_result .table_box .on span,
.parameter_result .table_box td:hover span,
#result .table_box td:hover span {
    color: #fff;
}
.parameter_result .table_box td:hover .mismatch,
.parameter_result .table_box .on .mismatch,
#result .table_box td:hover .mismatch {
    background: #f52a09;
    transition: 0.5s;
}
.parameter_result .table_box td:hover .match,
.parameter_result .table_box .on .match,
#result .table_box td:hover .match {
    background: #0376a7;
    transition: 0.5s;
}
.parameter_result .table_box td:nth-child(2),
.cluster_set .table_box td:nth-child(2),
#result .table_box td:nth-child(2) {
    text-align: left;
}
.cluster_set .scrollbar {
    height: 796px;
    background: #fff;
}
.cluster_set .table_box table td {
    border-bottom: 1px solid #ddd;
}
#result .table_box table td:last-child {
    border: none;
}
aside .table_box td,
aside .tui-grid-cell-has-input .tui-grid-cell-content {
    font-size: 0.8rem;
    font-weight: 600;
}
.parameter_set .scrollbar {
    height: 796px;
    background: #fff;
}
.alarm .content_wrap .chart_info .scrollbar {
    height: 298px;
    background: #fefefe;
} 
.alarm .chart_info .table_box tr:nth-child(2n),
#status_table .table_box tr:nth-child(2n) {
    background: #f7f7f7;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.alarm .chart_info .table_box td {
    font-size: 0.95rem;
    font-weight: 500;
}
.alarm .chart_info .table_box td span {
    font-size: 0.85rem;
}
.alarm .chart_info .table_box td.none {
    color: #ccc!important;
}
.alarm .chart_info .table_box td:hover span {
    cursor: pointer;
}
.alarm .chart_info .table_box td.on span::before {
    content: '';
    display: inline-flex;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin: 0 5px 0 0;
    background: #e25364;
}
.alarm .table_box span.tag,
.v-dialog .table_box span.tag,
.status .table_box span.tag {
    color: #fff!important;
    font-size: 0.6rem!important;
    line-height: 0.95rem!important;
}
.alarm .chart_info .table_box table th {
    font-size: 0.7rem;
}
.alarm .chart_info .table_box table td,
.alarm .chart_info .table_box table td span {
    font-size: 0.8rem;
}
.alarm aside .chart_info .scrollbar {
    height: 176px;
    background: #eee;
}
#action .table_header {
    margin: 10px 10px 10px 0;
    justify-content: flex-end;
}
#action .table_box table th, 
#action .table_box table td,
#action .table_box table td span,
#status_table .table_box table td,
#status_table .table_box table th {
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 0.7rem;
}
#action .scrollbar {
    height: 850px;
    background: #f3f7f9;
    border-radius: 0;
    padding-bottom: 40px;
}
#action .action_sub_tab .scrollbar {
    height: 819px;
}
#action .table_box table tr.severity td,
#action .table_box table tr.severity span,
#action .table_box table td.fail,
#action .table_box table tr.new td,
.v-dialog .table_box table td.severity {
    color: #DE272A;
}
#action .table_box table tr.severity span {
    display: inline-flex;
    align-items: center;
}
#action .action_sub_tab .table_box table tr.severity span:before {
    content: url("../../images/error.png");
    display: inline-flex;
    width: 12px;
    height: 12px;
    margin: 0 5px 0 0;
}
.v-dialog .table_box th,
.v-dialog .table_box td {
    font-size: 0.7rem;
}
.v-dialog .table_box tbody th {
    border-top: none;
}
#status_table .table_box .scrollbar {
    height: 199px;
    background: #eee;
}
.automatic .automatic_status .status_box table thead th {
    position: relative;
    border-top: none;
    border-bottom: 2px solid #333333;
}
.automatic .automatic_status .status_box table .table_tag {
    font-size: 0.8rem;
}
.automatic .automatic_status .status_box table .table_tag span {
    font-size: 0.7rem;
    margin: 0 5px; 
}
.automatic .automatic_status .status_box table tbody th {
    border-top: none;
    border-bottom: 1px solid #999999; 
    font-weight: 600;
    font-size: 0.8rem;
    color: #333333;
}
.automatic .automatic_status .status_box table td,
.automatic .automatic_status .status_box table td a {
    color: #aeb4be;
    font-size: 1rem;
    font-weight: 600;
}
.automatic .automatic_status .status_box table td + td,
.automatic .automatic_status .status_box table th + td {
    border-left: 1px solid #999999; 
    border-bottom: 1px solid #999999; 
}
.automatic .automatic_status .status_box table tbody tr:last-child th,
.automatic .automatic_status .status_box table tbody tr:last-child td {
    border-bottom: none;
}
.automatic .automatic_status .status_box table td.severity a {
    position: relative;
    color: #f52a09;
}
.automatic .automatic_status .status_box table td.severity a::after {
    content: "";
    display: inline-flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #f52a09;
}
.automatic .automatic_status .status_box table td.severity a:hover::after {
    animation: link_on 0.3s ease-in-out;
}
.automatic .automatic_status .status_box table td.severity.active {
    background: #faebec;
}
.v-speed-dial__list .table_box .scrollbar {
    height: calc(100vh - 300px);
    overflow-y: auto;
}
.v-speed-dial__list .table_box table td {
    word-break: break-all;
    line-height: 1rem;
}
.v-speed-dial .table_box table td {
    border-bottom: 1px solid #B2C4CC;
}

/* tui-grid input */
#detail .tui-grid-cell-current-row .tui-grid-cell-editable .tui-grid-cell-content {
    font-weight: 500;
    color: #333;
}
.tui-grid-layer-editing {
    border-color: #e25364!important;
}
.tui-grid-cell-editable .tui-grid-cell-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px dashed #bbb;
    border-radius: 20px;
    cursor: text;
    height: 25px;
    line-height: 25px;
    word-break: keep-all;
}
.tui-grid-cell-content input[type='text'] {
    font-family: 'KT';
    font-size: 0.85rem;
    position: relative;
    top: 1px;
    left: 2px;
    width: calc(100% - 5px);
    height: 22px;
    padding: 0 10px;
    border-radius: 20px;
    text-align: center;
    background: #fff;
    color: #e25364;
    font-weight: 600;
}
.tui-grid-cell-content input[type='text']::selection {
	background-color: #e25364;
}
