@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');*/

@font-face {
	font-family:'NotoKr';
	font-style: normal;
	font-weight: 200;
	src:url("../font/NotoSansCJKkr-Light.eot");
	src:url("../font/NotoSansCJKkr-Light.eot?#iefix") format('embedded-opentype'),
	url("../font/NotoSansCJKkr-Light.woff") format('woff');
}
@font-face {
	font-family:'NotoKr';
	font-style: normal;
	font-weight: 400;
	src:url("../font/NotoSansCJKkr-Regular.eot");
	src:url("../font/NotoSansCJKkr-Regular.eot?#iefix") format('embedded-opentype'),
	url("../font/NotoSansCJKkr-Regular.woff") format('woff');
}
@font-face {
	font-family:'NotoKr';
	font-style: normal;
	font-weight: 500;
	src:url("../font/NotoSansCJKkr-Medium.eot");
	src:url("../font/NotoSansCJKkr-Medium.eot?#iefix") format('embedded-opentype'),
	url("../font/NotoSansCJKkr-Medium.woff") format('woff');
}
@font-face {
	font-family:'NotoKr';
	font-style: normal;
	font-weight: 600;
	src:url("../font/NotoSansCJKkr-Bold.eot");
	src:url("../font/NotoSansCJKkr-Bold.eot?#iefix") format('embedded-opentype'),
	url("../font/NotoSansCJKkr-Bold.woff") format('woff');
}
/* exo */
@font-face {
	font-family:'Exo';
	font-style: normal;
	font-weight: 200;
	src:url("../font/Exo-Light.eot");
	src:url("../font/Exo-Light.eot?#iefix") format('embedded-opentype'),
	url("../font/Exo-Light.woff") format('woff');
}
@font-face {
	font-family:'Exo';
	font-style: normal;
	font-weight: 400;
	src:url("../font/Exo-Regular.eot");
	src:url("../font/Exo-Regular.eot?#iefix") format('embedded-opentype'),
	url("../font/Exo-Regular.woff") format('woff');
}
@font-face {
	font-family:'Exo';
	font-style: normal;
	font-weight: 500;
	src:url("../font/Exo-Medium.eot");
	src:url("../font/Exo-Medium.eot?#iefix") format('embedded-opentype'),
	url("../font/Exo-Medium.woff") format('woff');
}
@font-face {
	font-family:'Exo';
	font-style: normal;
	font-weight: 600;
	src:url("../font/Exo-SemiBold.eot");
	src:url("../font/Exo-SemiBold.eot?#iefix") format('embedded-opentype'),
	url("../font/Exo-SemiBold.woff") format('woff');
}
@font-face {
	font-family:'Exo';
	font-style: normal;
	font-weight: 900;
	src:url("../font/Exo-Bold.eot");
	src:url("../font/Exo-Bold.eot?#iefix") format('embedded-opentype'),
	url("../font/Exo-Bold.woff") format('woff');
}


/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 10px;
	background-clip: padding-box;
	border: 1px solid transparent;
}
::-webkit-scrollbar-track {
	background-color: #333;
	border-radius: 10px;
}


/* reset */
*{box-sizing:border-box;}
html, body, div, object,iframe, h1, h2, h3, h4, h5, h6, p, blockquote,address, dl, dt, dd, ol, ul,li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea{margin:0; padding:0;outline: none!important;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
img, fieldset{border:none;vertical-align:middle;}
table{border-collapse:collapse;width:100%;}
ul, ol, li{list-style:none;}
address, em, optgroup{font-style:normal;}
li img, object{vertical-align:middle;}
input, select, textarea, form img{vertical-align:middle;}
i{font-style:normal;}

/* -----base------ */

/* font */
body{color:#fff; font-weight:400; font-size:16px; font-family: 'Noto Sans KR', 'NotoKr', 'Nanum Gothic',NanumGothicWeb,NanumGothic,dotum,Helvetica, "돋움",Dotum,"굴림",Gulim,Arial,sans-serif;/* overflow-y:scroll; _overflow-y:hidden; *overflow-y:hidden;*/; letter-spacing:-0.5px;overflow: hidden}
input, select, textarea{color:#555; font-size:100%; font-family: 'Noto Sans KR', 'NotoKr', 'Nanum Gothic',NanumGothicWeb,NanumGothic,dotum,Helvetica,"돋움",Dotum,"굴림",Gulim,Arial,sans-serif;}

/* anchor */
a{color:#555; text-decoration:none;}
a:hover, a:active, a:focus{color:#000;text-decoration:none;}

/* skip */
.screen_out{display: block;font-size: 0;height: 1px;left: -9999px;line-height: 0;overflow: hidden;position: absolute;text-indent: -9999px;width: 1px;}
.screen_hide{font-size:0;line-height:0;visibility:hidden;}

/* skipNavi */
#skipNavi{width:100%; position:absolute; left:0; top:0; z-index:2;}
#skipNavi li{width:100%; position:absolute; left:0; top:0; z-index:2;}
#skipNavi a{display:block; height:0; overflow:hidden;}
#skipNavi a:active, #skipNavi a:focus{top:1px; width:100%; height:20px; padding-top:4px; text-align:center; font-size:1em; font-weight:bold; background-color:#8285ec; color:#fff; text-decoration:none; position:absolute; top:0; left:0; }

/* ios */
/* body{overflow-scrolling:touch; -webkit-overflow-scrolling:touch; -moz-overflow-scrolling:touch; -ms-overflow-scrolling:touch; -o-overflow-scrolling:touch;}
 */
.frame_bx{position:relative;overflow:auto; -webkit-overflow-scrolling: touch;  }
.frame_bx iframe{overflow:hidden; display:inline-block; width:100%; height:100%;}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.position_w{position:relative;}
.position_w .p_r{position:absolute;top:0;right:0;}
.f_l{float:left;}
.f_r{float:right;}

.icn{display:inline-block;vertical-align:middle;text-align:center;box-sizing:border-box;}

.ess{ font-weight:bold;color:#ff8f23;}
.fs_15{font-size:15px;}
.f_b{font-weight:500;}
.f_ygrn{color:#adbd27 !important;}
.f_grn{color:#28bd1d !important;}
.f_blue{color:#4086cd !important;}
.f_org{color:#ff5a34 !important;}
.f_sky{color:#2bbac6 !important;}
.f_bk{color:#222 !important;}

.btn_wt{background:#fff;border:1px solid #555;color:#555;}
.btn_wt02{background:#fff;border:1px solid #ccc;color:#555;}
.btn_wt03{background:#fff;border:1px solid #ccc;color:#888;}
.btn_gray{background:#a1a5a5; color:#fff;}
.btn_sky{background:#2bbac6; color:#fff;}
.btn_s{line-height:30px;height:30px; font-size:15px;}
.btn_sm{line-height:36px;height:36px;}
.btn_m{line-height:50px;height:50px; }
.btn_ml{line-height:55px;height:55px; font-size:18px;}
.btn_l{line-height:60px;height:60px; font-size:20px;}
.btn_h50{line-height:50px;height:50px;}
.btn_h50.btn_rd{border-radius:25px;}
.btn_h58{line-height:58px;height:58px; font-size:20px;}
.btn_h58.btn_rd{border-radius:29px;}
.btn_h64{line-height:64px;height:64px; font-size:20px;}
.btn_h64.btn_rd{border-radius:32px;}
.btn_l.btn_rd{border-radius:30px;}

@media all and (max-width: 650px) {
	.btn_s{line-height:24px;height:24px;}
	.btn_sm{line-height:28px;height:28px;}
	.btn_50{line-height:35px;height:35px;}
	.btn_m,
	.btn_h50{line-height:38px;height:38px; }
	.btn_h50.btn_rd{border-radius:19px;}
	.btn_ml{line-height:40px;height:40px; font-size:1.3em;}
	.btn_l,
	.btn_h58{line-height:45px;height:45px; font-size:1.3em;}
	.btn_h58.btn_rd{border-radius:23px;}
	.btn_h64{line-height:50px;height:50px; font-size:1.4em;}
	.btn_h64.btn_rd{border-radius:25px;}

}

.w60{width:60px;}
.w140{width:140px;}
.w150{width:150px;}
.w180{width:180px;}
.w200{width:200px;}
/*
.w_30p{width:30%;display:inline-block;}
.w_30p .SelectBox{width:100%;}
.w_100p{width:100%;} */
.h180{height:180px;}

.inp{ border:1px solid #ccc;height:50px;line-height:50px;box-sizing:border-box;text-indent:10px;}
textarea{width:100%;border:1px solid #ccc;padding:10px 15px;box-sizing:border-box;}
.SelectBox1{ border:1px solid #ccc;;height:48px;line-height:48px;box-sizing:border-box;}

@media all and (max-width: 650px) {
	.inp{height:35px;line-height:35px; text-indent:5px;}
}




.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}

