body{background: #101320;}
header{ position: relative; overflow:hidden; /* position: fixed; left: 0; top: 0; width: 100%; */  z-index: 10; width: 1920px; height: 90px; margin:0 auto; box-sizing: border-box;}
header:after{ position:absolute; bottom:-15px;left:0;right:0;height:30px; background: radial-gradient(ellipse  50% 20px, #20232f  ,  transparent 90%);content:'';}
header .util_area {position:absolute;top:40px;right:25px;font-size:18px;color:#fff;}
header .util_area span{padding-left:10px;border-left:1px solid #949494;}
header .util_area span:first-child{border-left:0;}
header .util_area .user{padding-left:34px;background:url('../images/icon_profile.png') no-repeat 0 0;}
header .util_area a{padding-left:10px;}
header .logo {
    position: relative;
    display: flex;
    left: 25px;
    width: 270px;
    height: 90px;
    background: url('../images/common/logo.svg') no-repeat center center;
}
.join_top .logo {
    position: relative;
    display: flex;
    width: 310px;
    height: 50px;
    background: url('../images/common/logo.svg') no-repeat center center;
    background-size: 100%;
}

.btn_fullview{position:absolute;top:10px;right:30px; width:110px;line-height:34px;border:1px solid #fff;color:#fff;text-align:center;border-radius:5px;font-size:16px;font-weight:500;z-index:10;}
.btn_fullview:hover,
.btn_fullview:focus,
.btn_fullview:active{color:#fff;}

.btn_return{position:absolute;top:20px;right:30px; width:110px;line-height:34px;border:1px solid #fff;color:#fff;text-align:center;border-radius:5px;font-size:16px;font-weight:500;z-index:10;}
.btn_return:hover,
.btn_return:focus,
.btn_return:active{color:#fff;}

#gnb { padding:0 60px 0 0 ; }
#gnb ul{ display:inline-block;}
#gnb li{display:inline-block; padding:0 15px; line-height:55px;  font-size:18px;font-weight:500;}
#gnb li a{position:relative;color:#fff;}
#gnb li.active a,
#gnb li a:hover{color:#ffa800;}
#gnb li a .icon_noti{position:absolute;top:0;left:-10px; display:inline-block;width:4px;height:4px;border-radius:50%;background: #ffa800;  }

#container_full{position: relative;width: 1920px; margin:0 auto; box-sizing: border-box;}
#container_full #container{ }
#container_full .Sidebar{ position: absolute;left:0;top:0;bottom:0;width:158px; text-align:center;}
#container_full .Sidebar .all_memu{ display: inline-block;padding:24px;}
#container_full  #nav_snb{ position: absolute;left:0;top:-97px;bottom:0;width:450px;background: #545660;z-index:20; overflow-y:auto; box-sizing:border-box;padding:10px;  opacity:0.8;}
#container_full .contents {
    position:relative;
    padding-left: 85px;
}


.app_cont{position: relative;display: table;table-layout: fixed;width: 400px;}
.app_cont .badge{position:absolute;top:-17px;left:-22px;font-size:0;border-radius:999px; box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5); }
.app_cont .thumb{display:table-cell; vertical-align:top; width:90px;font-size:0;}
.app_cont .thumb .thumb_frame{position:relative;width:100%; height:0; padding-bottom:100%; border-radius:6px; 
    box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5); overflow:hidden;}
.app_cont .thumb .thumb_frame img{ position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%; }
.app_cont .thumb .thumb_frame .per{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);font-size:12px;font-weight:700;}
.app_cont .thumb .thumb_frame .per_bg{position:absolute;left:0;right:0;bottom:0;top:25%;background:rgba(0,0,0,0.7);}
.app_cont .cont{display:table-cell; vertical-align:top; padding:0 0 0 20px;}
.app_cont .app_name{font-size:24px;line-height:26px;transition: 0.5s;}
.app_cont .app_name .icon_noti{display:inline-block;width:5px;height:5px;border-radius:50%;background: #ffa800; vertical-align:top;}
.app_cont .app_desc{margin-top:6px;font-size:14px;color:#7f7f7f;}
.app_cont .app_version{margin-top:6px;font-size:14px; }
.app_cont .app_btns{ position:relative;margin:10px 0 0;font-size:13px;font-weight: 400;}
.app_cont .app_btns .tooltip,
.app_cont .app_btns .tooltipText  {position: relative; display:inline-block; padding:0 10px; line-height:23px;border-radius:999px; font-size:11px; margin: 0 5px 0 0; cursor: help;  
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#254992+0,3072a1+100 */
    background: #254992; /* Old browsers */
    background: -moz-linear-gradient(left,  #254992 0%, #3072a1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #254992 0%,#3072a1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #254992 0%,#3072a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#254992', endColorstr='#3072a1',GradientType=1 ); /* IE6-9 */
}
.app_cont .app_btns .tooltip{
    margin: 5px 5px 0 0;
}
.app_cont .app_btns .btn_down{ display:inline-block; padding:0 10px; line-height:23px;border-radius:999px; color:#fff; font-weight:400;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa800+0,c65009+100 */
    background: #ffa800; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffa800 0%, #c65009 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffa800 0%,#c65009 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffa800 0%,#c65009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#c65009',GradientType=1 ); /* IE6-9 */
}
.app_cont .app_btns .install{display:inline-block; padding:0 10px; line-height:23px;border-radius:999px; color:#fff; font-weight:400; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48946c+0,93c16b+100 */
    background: #48946c; /* Old browsers */
    background: -moz-linear-gradient(left,  #48946c 0%, #93c16b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #48946c 0%,#93c16b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #48946c 0%,#93c16b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48946c', endColorstr='#93c16b',GradientType=1 ); /* IE6-9 */
}
.app_cont .app_btns .update{display:inline-block; padding:0 10px; line-height:23px;border-radius:999px; color:#fff; font-weight:400; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48946c+0,93c16b+100 */
    background: #48946c; /* Old browsers */
    background: -moz-linear-gradient(left,  #48946c 0%, #93c16b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #48946c 0%,#93c16b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #48946c 0%,#93c16b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48946c', endColorstr='#93c16b',GradientType=1 ); /* IE6-9 */
}
.app_cont .app_btns .del{display:inline-block; padding:0 10px; line-height:23px;border-radius:999px; color:#fff; font-weight:400; background: #6c6c6c;}
.app_cont .app_btns .tooltipText {
    font-size: 16px;
    visibility: hidden;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    width: 150%;
    padding: 5px 10px;
}
.app_cont .app_btns .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #254992 transparent transparent transparent;
}
.app_cont .app_btns .tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

#container .app_list_area {position: relative;display: flex;flex-wrap: wrap;padding: 22px 80px 50px;box-sizing: border-box;align-content: flex-start;}
#container .app_list_area .app_item{padding:15px 30px;width:33.33%;box-sizing:border-box; border-radius: 20px; transition: 0.5s;}
#container .app_list_area .app_item:hover { background: linear-gradient(to right, transparent, #282828, transparent); transition: 0.5s;}
#container .app_list_area .app_name:hover { color: #00b4ff; cursor: pointer; transition: 0.5s;}
#container .app_list_area .thumb_frame:hover { cursor: pointer; }
#container .app_list_area .prev{position: absolute;top:50%;left:40px;margin-top:-15px;width:20px;height:30px;background:url('../images/prev.png') no-repeat;font-size:0;}
#container .app_list_area .next{position: absolute;top:50%;right:40px;margin-top:-15px;width:20px;height:30px;background:url('../images/next.png') no-repeat;font-size:0;}

#container .myservice_area{position:relative;padding:30px 40px;  border-radius:25px 0 0 0;
    background: radial-gradient( farthest-side at 50% 0%, #73778a, #19203e 70% );
}

#container .myservice_area .frame_cotrol_up_btn{position:absolute; left:50%; top:0; display:inline-block; width:32px; height:22px; margin:-22px 0 0 -16px; background:url('../images/frame_cotrol_btn_up.png') no-repeat 50% 50%; cursor:pointer;}
#container .myservice_area .frame_cotrol_down_btn{position:absolute; left:50%; top:0; display:inline-block; width:32px; height:22px; margin:0 0 0 -16px; background:url('../images/frame_cotrol_btn_down.png') no-repeat 50% 50%; cursor:pointer;}
.down-pointing{display:inline-block;vertical-align:middle;width:11px;height:9px;margin-right:5px;background:url('../images/icon_down_pointing.png') no-repeat center center; background-size: 7px;}
.loading{display:inline-block;vertical-align:middle;width:17px;height:17px;margin-right:5px;background:url('../images/btn_loading.png') no-repeat;}

.scrollbox-wrapper{position: relative;overflow:hidden;margin-right:-40px;padding:25px 0 50px;}
.scrollbox-wrapper .scroll_box {position: relative;width: 100%;height: unset;z-index: 1;display: flex;transition-property: transform;box-sizing: content-box;}
.scrollbox-wrapper .scroll_box .scroll_box_inner{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: flex-start;height: 150px;justify-content: flex-start;}
.scrollbox-wrapper .scroll_bar{position:absolute;bottom:10px;left:0;right:40px; height:6px; border-radius:999px;background: #ffffff;box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5);}
.scrollbox-wrapper .scroll_bar span{position:absolute;top:-7px;display:inline-block;width:146px;height:20px;border-radius:5px;	text-align:center; box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a8d176+0,00a6ba+70 */
    background: #a8d176; /* Old browsers */
    background: -moz-linear-gradient(left,  #a8d176 0%, #00a6ba 70%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #a8d176 0%,#00a6ba 70%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #a8d176 0%,#00a6ba 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8d176', endColorstr='#00a6ba',GradientType=1 ); /* IE6-9 */
}

.myservice_area h3{padding:0 0 0 48px; line-height:28px; font-size:24px; font-weight:500;background: url('../images/tit_bg_myservice.png') no-repeat 9px 0;}
.myservice_area .app_item{display:inline-block;position:relative;width:486px;min-height:150px;margin-right:30px;border:2px solid #ffffff; padding:27px 40px; box-sizing:border-box;border-radius:10px; 
/* background: radial-gradient( farthest-side at 50% 0%, #454a5e, #0e142f 70% );  */ 
background:#0c122d url('../images/bg_radius_wt.png') no-repeat 50% 0; box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5); transition: 0.5s; background-size: 100%;}
.myservice_area .app_item:hover { background:#182341 url('../images/bg_radius_wt.png') no-repeat 50% 0; transition: 0.5s; background-size: 100%;}
.myservice_area .app_name:hover { color: #00b4ff; cursor: pointer; transition: 0.5s;}
.myservice_area .app_item.cart{border:1px solid #888c9b; padding: 28px 40px; background-color:#52545e;}
.myservice_area .app_item.cart .app_delete {position: absolute;top: -40px;right: -53px;font-size: 0;border-radius: 999px;overflow: hidden;box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .5);-webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .5);}
.myservice_area .app_item.cart .app_delete {display: inline-block;}



/* 확장 */
.myservice_expantion .app_cont{padding:22px 0 0;}
.expantion_cont {min-height: unset;height: 0;padding: 0;overflow: hidden;position: relative;background: url("/images/expantion_shadow.png") no-repeat 50% 20px;box-sizing: border-box;}
.expantion_cont .setinfo{padding-top:55px;text-align:center;color:#fff;opacity:0.5;font-size:14px;}
.expantion_cont .setinfo i{display:block;padding-bottom:20px;}
.expantion_cont .status{padding-bottom: 20px;font-size: 14px;}
.expantion_cont .status em{position:relative;padding-right:20px;font-weight:500;}
.expantion_cont .status em:after{position:absolute;top:50%;right:8px;margin-top:-7px;width:1px;height:13px;background: #ffffff;content:'';}
.expantion_cont .status span{padding-right:25px;}
.expantion_cont .graph p{position:relative; padding:0 0 12px 55px;}
.expantion_cont .graph p em{position: absolute;left: 0;top: 0;width: 42px;font-size: 18px;font-weight: 700;line-height: 24px;text-align: right;}

.icon_running{display:inline-block; vertical-align:middle; width:10px; height:10px;	border-radius:50%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#44916c+0,95c26b+100 */
    background: #44916c; /* Old browsers */
    background: -moz-linear-gradient(left,  #44916c 0%, #95c26b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #44916c 0%,#95c26b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #44916c 0%,#95c26b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44916c', endColorstr='#95c26b',GradientType=1 ); /* IE6-9 */
}
.gpu_box{display:block; line-height:22px;font-size:14px; font-weight:500;/*  border:1px solid #fff; text-indent:20px; */}
.gpu_box .icon_play{display:inline-block; vertical-align:top; width:35px; height:22px;background: url('../images/icon_play.png') no-repeat 50% 50%;}
.gpu_box .icon_pause{display:inline-block; vertical-align:top; width:35px; height:22px;background: url('../images/icon_pause.png') no-repeat 50% 50%;}


.resource_box{position:relative;display: flex; flex-wrap: wrap; padding:40px 0;background: url('../images/bg_edgebox.png') no-repeat 465px 40px;}
.resource_box .prev{position: absolute;top:50%;left:0        ;margin-top:-15px;width:20px;height:30px;background:url('../images/prev.png') no-repeat;font-size:0;}
.resource_box .next{position: absolute;top:50%;right:0;margin-top:-15px;width:20px;height:30px;background:url('../images/next.png') no-repeat;font-size:0;}
.resource_box .edgebox{position:relative;width:490px;height:200px;overflow:hidden; }
.resource_box .edgebox .img{float:left;width:260px;margin-left:30px;text-align:center;}
.resource_box .edgebox .cont{float:left;width:200px;}
.resource_box .edgebox .cont h4{font-size:30px;font-weight:700;  }
.resource_box .edgebox .cont p{position:absolute;bottom:0;right:0;width:200px;line-height:22px;padding-top:15px;}
.resource_box .edgebox .cont p:before{content:'';position:absolute;top:0;left:0;display:inline-block;width:30px;height:4px;background: #fff;}
.resource_box .resource{width:1192px;overflow:hidden;}
.resource_box .resource h4{margin-left:75px;padding-left:53px;font-size:24px;font-weight:700; background: url('../images/bg_resource_tit.png') no-repeat 0 1px;}
.resource_box .resource h4 span{position:relative;display:inline-block;vertical-align:middle;padding:0 50px 0 18px; line-height:29px;font-size:14px;border:1px solid #fff;border-radius:5px;font-weight:500;}
.resource_box .resource h4 span a{position:absolute;top:5px;right:9px; width:20px;height:20px;background: url('../images/del.png') no-repeat 0 0;font-size:0;}
.resource_box .resource .graph01{float: left;width: 530px;height: 190px;margin-left: 75px;padding-top: 0;}
.resource_box .resource .graph01 p{position:relative; padding:0 0 14px 65px;}
.resource_box .resource .graph01 p em{position:absolute;left:0;top:0; width:65px;font-size:18px; font-weight:700;line-height:24px;}
.resource_box .resource .graph02{float:left;width:435px;margin-left:65px;}
.resource_box .resource .graph02 h5{text-align:right;font-weight:700;padding-bottom:5px;font-size:15px;}
.resource_box .resource .graph02 h5 span{display:inline-block;padding-left:23px;background:url('../images/bg_traffic_tit.png') no-repeat 0 0;}

.total_resource {position: relative;height: 85px;margin-top: -40px;padding: 0;}
.total_resource .title{position:absolute;top:0;left:0;width:130px;}
.total_resource .title em{font-weight:700;}
.total_resource .bar_box{position:relative;overflow:hidden;display:block;height:17px;background: rgb(240,240,240);
    background: -moz-linear-gradient(90deg, rgba(240,240,240,1) 75%, rgba(195,195,195,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(240,240,240,1) 75%, rgba(195,195,195,1) 100%);
    background: linear-gradient(90deg, rgba(240,240,240,1) 75%, rgba(195,195,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f0",endColorstr="#c3c3c3",GradientType=1);}
.total_resource .bar_box i{display:block;position:absolute;top:0;left:0;height:17px;background: rgb(64,111,175);
    background: -moz-linear-gradient(90deg, rgba(64,111,175,1) 0%, rgba(101,169,123,1) 25%, rgba(220,161,49,1) 50%, rgba(198,75,85,1) 75%, rgba(126,48,142,1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(64,111,175,1) 0%, rgba(101,169,123,1) 25%, rgba(220,161,49,1) 50%, rgba(198,75,85,1) 75%, rgba(126,48,142,1) 95%);
    background: linear-gradient(90deg, rgba(64,111,175,1) 0%, rgba(101,169,123,1) 25%, rgba(220,161,49,1) 50%, rgba(198,75,85,1) 75%, rgba(126,48,142,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#406faf",endColorstr="#7e308e",GradientType=1);}
.total_resource .bar_box i:after{content:'';position:absolute;top:0;right:-17px;width: 0; height: 0; border-top: 17px solid #7e308e; border-right: 17px solid transparent; }
.total_resource .bar_box i em{position:absolute;top:0;right:5%;line-height:17px;display:inline-block;font-weight:700;}


/*추가된 스타일 시트*/
.service_banner {width: 100%;height: 238px;display: flex;flex-wrap: wrap;}/*서비스 리스트 스크립트영역 wrap*/
.scrollbox-wrapper .scroll_bar span img {margin-top: 4px;}/*나의 서비스 스크롤바 내부 이미지 vertical-align 중양정렬*/
.expantion_cont_chart {height: 208px;}/*나의 서비스 확장시 출력되는 차트 영역*/


/* 팝업 */
#mask{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(105,108,119,0.85);z-index:900;}
.popup{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);z-index:950; border: 2px solid #ffffff;  box-sizing: border-box; border-radius: 10px; /* background: radial-gradient( farthest-side at 50% 0%, #454a5e, #19203e 70% );  */ background:#19203e url('../images/bg_radius_wt.png') no-repeat 50% 0;background-size:100% auto ;box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%); -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);
}
.popup .popup_close{position:absolute;top:-25px;right:-25px;border-radius:50%; box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%); -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);}

.pop_appserviceinfo{width:1200px;}
.pop_appserviceinfo .app_cont .thumb .thumb_frame { transform: translateY(5px);}
.pop_appserviceinfo .app_item {overflow:hidden;position:relative;padding:50px;}
.pop_appserviceinfo .app_item:before{position:absolute; bottom:0;left:50px;right:50px;height:60px; background:url('../images/expantion_shadow.png') no-repeat 50% 0;background-size:100% 60px;content:'';}
.pop_appserviceinfo .app_item .app_cont{width:auto; margin:0 30px;}
.pop_appserviceinfo .app_item .app_cont .badge{top:-25px; left:-33px;}
.pop_appserviceinfo .app_item .app_cont .badge img{width:67px;}
.pop_appserviceinfo .app_item .app_cont .thumb{width:132px;}
.pop_appserviceinfo .app_item .app_cont .cont{padding-left:45px;}
.pop_appserviceinfo .app_item .app_cont .app_btns{margin:0 0 18px 0;}
.pop_appserviceinfo .app_item .app_cont .app_btns .tooltip { padding: 0 20px; height:30px; line-height:33px; font-size:16px;}
.pop_appserviceinfo .app_item .app_cont .app_name {font-size:35px;font-weight:500;line-height:40px;margin:10px 0;}
.pop_appserviceinfo .app_item .app_cont .app_etc {line-height:35px;font-size:18px;font-weight:500;}
.pop_appserviceinfo .app_item .app_cont .app_etc i { display: inline-block; width:20px; margin:0; }
.pop_appserviceinfo .app_item .app_cont .app_etc img{vertical-align:middle;}
.pop_appserviceinfo .app_item .app_cont .app_etc span:first-child i img { width: 12px;}
.pop_appserviceinfo .app_item .app_cont .app_etc span:nth-child(2) i img { width: 20px;}
.pop_appserviceinfo .app_item .app_cont .app_etc span:last-child i img { width: 15px;}
.pop_appserviceinfo .app_item .app_cont .app_etc span{display:inline-block;padding-right:50px;margin:0 0 10px;}
.pop_appserviceinfo .app_item .app_cont .app_etc span:last-child{ padding-right:0;}
.pop_appserviceinfo .app_item .app_cont .app_etc span em{display:inline-block;color:#f39801;padding-right:5px;}
.pop_appserviceinfo .app_item .app_cont .app_etc span select{width:auto!important; min-width:150px;height:35px;line-height:37px;border:1px solid #fff; border-radius:5px; padding: 0 0 0 10px; color:#fff; -webkit-appearance: none;
    background: url('../images/select_arrow_l.png' ) no-repeat 90% 50% #19203e ; background-size: 10px;}
    .pop_appserviceinfo .app_item .app_cont .app_etc span select option { background: #19203e ;}
.pop_appserviceinfo .pop_app_cont { position:relative;margin:0 80px 50px;  }
.pop_appserviceinfo .pop_app_cont:before{/* position:absolute; top:-15px;left:0;right:0;height:30px; background: radial-gradient(ellipse  50% 20px, #383e57  ,  transparent 90%);content:''; */}
.pop_appserviceinfo .pop_app_cont .inner_box { overflow-y:auto;height:300px;position:relative;padding:0 10px 0 0; }
.pop_appserviceinfo .pop_app_cont dl{position:relative; padding:15px 0 0;}
.pop_appserviceinfo .pop_app_cont dl + dl{padding-top:50px;}
.pop_appserviceinfo .pop_app_cont dt{position:relative;padding:0 0 15px 80px;color:#f39801;font-weight:600;font-size:25px;}
.pop_appserviceinfo .pop_app_cont dt:before{position:absolute;top:8px;left:0;display:inline-block;width:64px;height:7px;background: #f39801;content:'';}
.pop_appserviceinfo .pop_app_cont dd{padding-left:80px;font-size:20px;font-weight:500;line-height:1.8em;}
.pop_appserviceinfo .pop_app_cont dd input[type='text'],
.pop_appserviceinfo .pop_app_cont dd input[type='password']{width:auto;height:35px;padding:10px 25px;}
.pop_appserviceinfo .pop_app_cont dd .radio label:before{top:8px;}
.pop_appserviceinfo .pop_app_cont dd .checkbox label:before{top:8px;}
.pop_appserviceinfo .pop_app_cont dd .selectbox{display:inline-block;min-width:200px;}
.pop_appserviceinfo .pop_app_cont dd .selectbox select{display:inline-block; height: 40px; line-height: 40px;}
.pop_appserviceinfo .pop_app_cont .service-list dd { margin:0 0 10px;}
.pop_appserviceinfo .pop_app_cont .service-list dd h2 { display: inline-block; width:200px; font-size: 20px; font-weight: 500; vertical-align: top;}
.pop_appserviceinfo .pop_app_cont .service-list dd input { min-width: 350px; font-size: 20px; font-weight: 500; border:1px solid #fff; border-radius: 5px; background: transparent; padding:5px 15px; color: #fff; }
.pop_appserviceinfo .pop_app_cont .service-list dd input::placeholder { font-size: 16px; color: #787878;}
.pop_appserviceinfo .pop_app_cont .service-list dd .intxt { display: block; margin: 10px 0 0 210px; }
/* .pop_appserviceinfo .pop_app_cont .service-list .dep_list h2 { display: block; } */
.pop_appserviceinfo .pop_app_cont .service-list .dep_list ul { position: relative; margin: 10px 0 0;}
.pop_appserviceinfo .pop_app_cont .service-list .dep_list ul li { vertical-align: top; display:inline-block;}
.pop_appserviceinfo .pop_app_cont .service-list .dep_list ul li h2 { min-width: 130px; color: #aaa; font-size: 20px; font-weight: 500;}
.pop_appserviceinfo .pop_app_cont .service-list .dep_list ul li h2::before { content: ''; position: relative; display: inline-block; top: -2px; width: 4px; height:4px; background: #ccc; border-radius: 10px; margin:0 10px 0 0;}
.pop_appserviceinfo .pop_app_cont .service-list .dep_list ul li input { display: block; min-width: 350px; margin: 0 0 10px;}
.pop_appserviceinfo .pop_app_cont .tabs { position: relative; margin:0 0 15px;}
.pop_appserviceinfo .pop_app_cont .tabs li { display: inline-block; margin: 0 10px 0 0;}
.pop_appserviceinfo .pop_app_cont .tabs li a { display: inline-block; color: #fff; font-size: 18px; font-weight: 500; background: #454545; border-radius: 20px; padding: 10px 25px; transition: 0.25s;}
.pop_appserviceinfo .pop_app_cont .tabs li.on a { background: #f39801; transition: 0.25s;}
.pop_appserviceinfo .btn_setup_area{position:relative;bottom:0; margin:30px 0 0; text-align: right;}
.pop_appserviceinfo .btn_setup_area .hold{position:relative;display:inline-block; width:328px; line-height:72px; padding-left:30px; box-sizing:border-box; text-align:center; border-radius:15px; color:#fff; font-weight:500; font-size:24px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#44916c+0,95c26b+100 */
    background: #44916c; /* Old browsers */
    background: -moz-linear-gradient(left,  #44916c 0%, #95c26b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #44916c 0%,#95c26b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #44916c 0%,#95c26b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44916c', endColorstr='#95c26b',GradientType=1 ); /* IE6-9 */
}
.pop_appserviceinfo .btn_setup_area .hold:before{position:absolute;top:20px;left:25px;display:inline-block;width:40px;height:28px;background:url('../images/icon_hold.png') no-repeat 0 0;content:'';}

.pop_appserviceinfo .btn_setup_area .install{position:relative;display:inline-block; width:200px; height: 55px; line-height:60px; box-sizing:border-box; text-align:center; border-radius:10px; color:#fff; font-weight:500; font-size:19px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c65009+0,ffa800+100 */
    background: #c65009; /* Old browsers */
    background: -moz-linear-gradient(left,  #c65009 0%, #ffa800 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #c65009 0%,#ffa800 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #c65009 0%,#ffa800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c65009', endColorstr='#ffa800',GradientType=1 ); /* IE6-9 */
}
/* .pop_appserviceinfo .btn_setup_area .install:before{position:absolute;top:20px;left:25px;display:inline-block;width:40px;height:28px;background:url('../images/icon_install.png') no-repeat center -5px;content:'';background-size: 28px;} */

.pop_modal {width:600px;}
.pop_modal .modal_cont {text-align:center;padding:40px 10px 40px;}
.pop_modal .modal_cont .message_box {text-align:center;font-size:35px;font-weight:500;}
.pop_modal .modal_cont .message_subtext {padding-top:30px;line-height:1.8em;font-size:14px;}
.pop_modal .modal_cont .message_subtext .txt01{color:#c2def2;font-weight:500;font-size:16px;}
.pop_modal .modal_cont .message_btns {padding-top:60px;text-align:center;background: url('../images/expantion_shadow.png') no-repeat 50% 0;}
.pop_modal .modal_cont .message_btns a{display:inline-block;width:150px;height:49px;border-radius:10px;border:2px solid #ffffff;color:#fff;line-height:49px;font-size:22px;font-weight:500; margin:0 12px;}
.pop_modal .modal_cont .message_btns a.on{background: #323b62;}


/* 회원가입 */
.join_wrap{ position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; width:600px; height: 100%; margin:0 auto; padding:50px 0; }
.join_wrap .join_top{ display: flex; justify-content: center; align-items: center; padding:50px 0 0; /*padding:0 0 40px; text-align:center; font-size:48px; font-weight:500;*/}
.join_wrap .join_tit{ display: flex; width:100%; justify-content: center; padding:65px 0 30px; text-align:center; font-size:24px; font-weight:500; background: url('../images/expantion_shadow.png') no-repeat 50% 10%;}

.join_wrap .join_confirm_txt {width:100%; margin-top:30px; padding:105px 0; text-align:center; border:1px solid #fff; border-radius:5px; font-weight:500; font-size:18px;background: url('../images/bg_radius_wt_reverse.png') no-repeat bottom center;box-sizing:border-box;}
.join_wrap .join_confirm_txt em {color:#55b5ff; font-weight:600;}

.join_wrap .join_reject_txt {width:100%; margin-top:30px; padding:20px 50px; text-align:center; border:1px solid #fff; border-radius:5px; font-weight:500; font-size:18px;background: url('../images/bg_radius_wt_reverse.png') no-repeat bottom center; box-sizing:border-box;}
.join_wrap .join_reject_txt dt{padding:45px 0; border-bottom:1px solid #fff;}
.join_wrap .join_reject_txt dt em {color:#55b5ff; font-weight:600;}
.join_wrap .join_reject_txt dd{padding:40px 0 40px; display:inline-block; text-align:left; line-height:1.5em; }

.join_wrap .join_bottom {margin-top:49px; }
.join_wrap .join_bottom button{position:relative; width:100%; height:60px; font-size:18px; color:#101320; border:0; border-radius:5px; font-weight:600; cursor: pointer; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa800+0,c65009+100 */
    background: #ffa800; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffa800 0%, #c65009 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffa800 0%,#c65009 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffa800 0%,#c65009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#c65009',GradientType=1 ); /* IE6-9 */
}
.join_wrap .join_bottom button:before{position:absolute;top:16px;left:28px;display:inline-block;width:28px;height:28px;background: url('../images/join_btn_icon.png') no-repeat 0 0;content:'';}

.join_wrap .join_bottom02{margin-top:20px; }
.join_wrap .join_bottom02 a{font-size:18px; color:#fff; }

input[type='text'],
input[type='password']{width:100%;border:0;border-radius:3px; padding:20px 25px; height:60px;line-height:20px; font-size:18px; box-sizing:border-box;}
.selectbox select{width:100%;border:0; border-radius:3px; padding:0 25px;  height:55px; line-height:55px; font-size:15px; box-sizing:border-box; *height: auto; -webkit-appearance: none;outline: 0; /*background:#fff url('../images/select_arrow_bk.png') no-repeat 95% 50%;*/ }

.join_formbox { display: flex; flex-direction: column; width: 100%;}
.join_formbox input[type='text'],
.join_formbox input[type='password']{ /*padding:20px 60px 20px 25px;*/ height: 55px; font-size: 15px;  }
.join_formbox .selectbox{ width:290px; height:55px; background: #fff;border-radius:3px; overflow: hidden;}

.flex_box{position: relative;display: -webkit-box; display: flex; flex-wrap: wrap;}
.flex_box .column{-webkit-box-flex: 1; flex: 1;}
.flex_box .column:last-child{-webkit-box-flex: 0; flex: none; width: 50%; margin-left: 8px;}

.flex_box.flex_box_id .column:last-child {width: 110px;}
.flex_box_id button{ width: 110px; height: 55px; border-radius: 5px;  font-weight: 600; background:#00b4ff; border:0; color:#fff; font-size:16px ;}

.row_group02{margin-top:60px; margin-bottom:-25px;}

.ps_box{position:relative;margin-bottom:13px;}
.tx_box{position:relative;margin-bottom:13px;}


.login_area{ padding:120px 110px 30px; text-align:center; font-size:24px; font-weight:500; background: url('../images/expantion_shadow.png') no-repeat 50% 0;}
.lgn_box{position:relative;margin-bottom:16px;}

.login_group{margin-bottom:60px;}
.login_group input[type='text'],
.login_group input[type='password']{background: #d6e3e3; padding:20px 25px 20px 80px;}
.login_group .id_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_userid.png') no-repeat 0 0 ;}
.login_group .pw_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_password.png') no-repeat 0 0 ;}

.login_group02{ margin-bottom:-30px;}
.login_group02 .code_box{position:relative;width:100%;border:0;border-radius:3px;height:60px; padding:10px 92px 10px 0;text-align:center;  box-sizing:border-box; background: #fff;}
.login_group02 .code_box a{position:absolute; top:13px; right:16px;}

/* 내정보 */
.mypage_wrap{width:1450px;margin-left:58px;}
.tit24{padding: 30px 0; font-size: 24px; font-weight: 700;}

.table_type_left{border-top:2px solid #fff;  border-bottom:1px solid #fff;}
.table_type_left tbody th{padding:20px 15px;text-align:left;border:1px solid #fff;font-weight:500;background: #19203e;}
.table_type_left tr th:first-child{border-left:0;}
.table_type_left tr th:last-child{border-right:0;}
.table_type_left tr td:first-child{border-left:0;}
.table_type_left tr td:last-child{border-right:0;}
.table_type_left tbody td{height:69 px;padding:15px 18px;border:1px solid #fff; text-align:left; box-sizing:border-box;}
.table_type_left input[type='text'],
.table_type_left input[type='password']{width:80%;height:37px; line-height:37px; padding:0 30px;border-radius:0;border:1px solid #b8b9bd; font-size:15px;}
.table_type_left select{width:80%;height:37px;border:1px solid #b8b9bd; border-radius:0; padding: 0 0 0 20px;  -webkit-appearance: none;
    background:  #fff url('../images/select_arrow_bk.png' ) no-repeat 95% 50%;}
.table_type_left .user_box{display: -webkit-box; display: flex;justify-content: space-between; align-items: center; }
.table_type_left .user_box a{width:122px;line-height:35px;border-radius:15px;font-weight:500;text-align:center;}

.table_type_left02 tbody th{padding:20px 15px;text-align:left;border:1px solid #fff;font-weight:500;background: #101320;}
.table_type_left02 tbody th em{color:#ff801b;}
.table_type_left02 tr th:first-child{border-left:0;}
.table_type_left02 tr th:last-child{border-right:0;}
.table_type_left02 tr td:first-child{border-left:0;}
.table_type_left02 tr td:last-child{border-right:0;}
.table_type_left02 tbody td{height:69px;padding:15px 18px;border:1px solid #fff; text-align:left; box-sizing:border-box;}
.table_type_left02 input[type='text'],
.table_type_left02 input[type='password']{width:100%;height:35px;line-height:35px;border-radius:0; padding:0 15px;font-size:15px;}

.myinfo_bottom{display: -webkit-box; display: flex; justify-content: flex-end; margin-top:35px; }
.myinfo_bottom a{position:relative;box-sizing:border-box;width:160px;line-height:53px;padding-left:23px;margin-right:35px;text-align:center;color:#fff;border-radius:20px;font-size:18px;font-weight:500;}
.myinfo_bottom a.btn_org:before{position:absolute;top:20px;left:23px;display:inline-block;width:22px;height:12px;background: url('../images/btn_icon_ok.png') no-repeat 0 0;content:'';}
.myinfo_bottom a.btn_gray:before{position:absolute;top:18px;left:30px;display:inline-block;width:16px;height:16px;background: url('../images/btn_icon_del.png') no-repeat 0 0;content:'';}

.pop_password{width:1055px;}
.pop_password h1{padding:35px 0 0;text-align:center;font-size:20px;font-weight:500;}
.pop_password .passwordcont{padding:95px 0 55px;width:750px;margin:0 auto; background: url('../images/expantion_shadow.png') no-repeat 50% 0;background-size:100% 60px ;}
.pop_password .passwordcont .table_type_left02{border-top:0; border-bottom:0;}
.pop_password .password_noti{padding-top:15px;line-height:26px;}
.pop_password .password_bottom{display: -webkit-box; display: flex; justify-content: center; padding-top:45px; }
.pop_password .password_bottom a{position:relative;box-sizing:border-box;width:160px;line-height:53px;padding-left:23px;margin-right:35px;text-align:center;color:#fff;border-radius:20px;font-size:18px;font-weight:500;}
.pop_password .password_bottom a.btn_green:before{position:absolute;top:20px;left:23px;display:inline-block;width:22px;height:12px;background: url('../images/btn_icon_ok.png') no-repeat 0 0;content:'';}
.pop_password .password_bottom a.btn_gray:before{position:absolute;top:18px;left:30px;display:inline-block;width:16px;height:16px;background: url('../images/btn_icon_del.png') no-repeat 0 0;content:'';}

.btn_org{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa800+0,c65009+100 */
    background: #ffa800; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffa800 0%, #c65009 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffa800 0%,#c65009 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffa800 0%,#c65009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#c65009',GradientType=1 ); /* IE6-9 */
}
.btn_green{color:#fff; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48946c+0,93c16b+100 */
    background: #48946c; /* Old browsers */
    background: -moz-linear-gradient(left,  #48946c 0%, #93c16b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #48946c 0%,#93c16b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #48946c 0%,#93c16b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48946c', endColorstr='#93c16b',GradientType=1 ); /* IE6-9 */}
.btn_gray{background: #6c6c6c;}


.radio label{display:inline-block;position:relative;padding-left:30px;}
.radio input[type=radio]{position:absolute;width:1px;height:1px;overflow:hidden;opacity:0; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:2}
.radio label:before{position:absolute;top:-2px;left:0;display:inline-block;width:16px;height:16px;content:'';background:url('../images/radio.png') no-repeat;}
.radio input[type=radio]:checked+label:before{background-image:url('../images/radio_on.png'); }
.radio input[type=radio]:disabled+label:before{opacity:0.5;}


.checkbox label{display:inline-block;position:relative;padding-left:30px;vertical-align:top;}
.checkbox input[type=checkbox]{position:absolute;width:1px;height:1px;overflow:hidden;opacity:0; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:2}
.checkbox label:before{position:absolute;top:-2px;left:0;display:inline-block;width:20px;height:20px;content:'';background:url('../images/checkbox.png') no-repeat;}
.checkbox input[type=checkbox]:checked+label:before{background-image:url('../images/checkbox_on.png'); }
.checkbox input[type=checkbox]:disabled+label:before{opacity:0.3;}





























/**************************** Add CSS Style *******************************/
/**************************** CHA YOUNG JU *******************************/
/* Sidebar (GNB) */
.Sidebar {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 90px;
    bottom: 0;
    width: 85px;
    background: linear-gradient( to bottom, #1C202E, #101420);
    z-index: 850;
}
.nav_area {
    width: 85px;
    height: 100%;
}
.nav_area ul {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.nav_area ul li,
.nav_area ul li a {
    position: inherit;
    display: inherit;
    width: 100%;
    height: 70px;
    color: #FFFFFF;
    align-items: center;
    font-size: 0;
    transition: 0.3s ease-in;
}
.nav_area ul li.nav_allmenu,
.nav_area ul li.nav_allmenu a {
    height: 100%;
    align-items: flex-start;
}
.nav_area ul li a i {
    position: absolute;
    display: inherit;
    top: 65px;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    color: #FFFFFF;
}
.nav_area li::before {
    content: '';
    position: absolute;
    display: inline-flex;
    top: 3px;
    left: 0;
    width: 5px;
    height: 65px;
    border-radius:  5px;
    background: #FFFFFF;
    opacity: 0;
    transition: 0.3s ease-in;
}
.nav_area li:hover,
.nav_area li.nav_active {
    background: linear-gradient(to right, #32374A, #1A1F2C);
    transition: 0.3s ease-in;
}
.nav_area li:hover::before,
.nav_area li.nav_active::before {
    opacity: 1;
    transition: 0.3s ease-in;
}
.nav_area li.nav_active {
    flex-direction: column;
}
.nav_area li .snb,
.nav_area li.nav_active .snb {
    position: inherit;
    display: inherit;
    padding: 0 0 0 85px;
    width: 0;
    height: 0;
}
#nav_snb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    transition: 0.5s ease-in;
}
#nav_snb .nav_area {
    position: absolute;
    left: -350px;
    top: 90px;
    /* width: 350px; */
    width: 0;
    height: 100%;
    background: linear-gradient(to bottom, #1C202E, #111521);
    z-index: 900;
    overflow-y: auto;
    box-sizing: border-box;
}
#nav_snb .nav_area ul li.nav_allmenu {
    margin: 0 0 20px 0;
    height: 70px;
}
#nav_snb .nav_area ul li a i {
    justify-content: flex-start;
    padding: 0px 28px;
}
#nav_snb .nav_area li::after {
    content: '';
    display: inline-flex;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 10px;
    height: 10px;
    background: url('../images/common/plus.svg') no-repeat;
    transition: 0.2s ease-in;
}
#nav_snb .nav_area li.nav_active {
    height: auto;
    padding: 0 0 10px;
}
#nav_snb .nav_area li.nav_active::before,
#nav_snb .nav_area li.nav_active:hover::before {
    height: calc(100% - 5px);
}
#nav_snb .nav_area li.nav_active::after {
    transform: rotate(45deg);
    transition: 0.2s ease-in;
}
#nav_snb .nav_area li a {
    font-size: 18px;
}
#nav_snb .nav_area li.nav_active .snb {
    width: 100%;
    height: 100%;
}
#nav_snb .nav_area li.nav_active .snb li {
    height: 35px;
}
#nav_snb .nav_area li.nav_active .snb li a {
    font-size: 16px;
    height: 35px;
    align-items: center;
    transition: 0.2s ease-in;
}
#nav_snb .nav_area li.nav_active .snb li.snb_active a,
#nav_snb .nav_area li.nav_active .snb li a:hover {
    color: #61B2FF;
    transition: 0.2s ease-in;
}
#nav_snb .nav_area li.nav_active .snb li a::before,
#nav_snb .nav_area li.nav_active .snb li a::after {
    content: '';
    display: inherit;
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    transition: 0.2s ease-in;
}
#nav_snb .nav_area li.nav_active .snb li.snb_active a::before,
#nav_snb .nav_area li.nav_active .snb li.snb_active a::after,
#nav_snb .nav_area li.nav_active .snb li:hover a::before,
#nav_snb .nav_area li.nav_active .snb li:hover a::after {
    display: inherit;
    background: #61B2FF;
    transition: 0.2s ease-in;
}
#nav_snb .nav_area li.nav_active .snb li.snb_active a::after,
#nav_snb .nav_area li.nav_active .snb li:hover a::after {
    display: inherit;
    left: 10px;
}
.nav_area .all_memu {
    width: 85px;
    height: 70px;
    background: url('../images/common/menu.svg') no-repeat center center ;
}
.nav_area .nav_ico1 {
    width: 85px;
    height: 70px;
    background: url('../images/common/ico1_mec.svg') no-repeat center center ;
}
.nav_area .nav_ico2 {
    width: 85px;
    height: 70px;
    background: url('../images/common/ico2_onprem.svg') no-repeat center center ;
}
.nav_area .nav_ico3 {
    width: 85px;
    height: 70px;
    background: url('../images/common/ico3_ktcloud.svg') no-repeat center center ;
}
.nav_area .nav_ico4 {
    width: 85px;
    height: 70px;
    background: url('../images/common/ico4_cloud.svg') no-repeat center center ;
}
.nav_area li.nav_allmenu:hover,
.nav_area li.nav_allmenu.nav_active,
.nav_area li.nav_active .snb li {
    background: transparent;
}
.nav_area li.nav_allmenu:hover::before,
.nav_area li.nav_allmenu.nav_active::before,
.nav_area li.nav_allmenu::after,
.nav_area li.nav_allmenu.nav_active::after,
.nav_area li.nav_active .snb li::before,
.nav_area li .snb li::after {
    display: none!important;
}
.background {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}
/* intro */
#intro {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: url('../images/intro/intro_bg.png') no-repeat right bottom;
    background-attachment: fixed;
    margin: 20px 30px 0 20px;
}
#intro article {
    position: inherit;
    display: inherit;
    flex-wrap: inherit;
}
.mec_info {
    display: inherit;
}
.mec_info ul {
    display: inherit;
    flex-wrap: inherit;
    width:100%;
}
.mec_info ul li {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(25% - 18.75px);
    height: 175px;
    background: #1F2940;
    border-radius: 5px;
    padding: 25px 30px;
}
.mec_info ul li + li {
    margin: 0 0 0 25px;
}
.mec_info h1 span {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}
.mec_info h1 .en {
    font-size: 28px;
}
.mec_info h1 .ko {
    font-size: 30px;
}
.mec_info h2 {
    font-family: 'Exo';
    font-size: 25px;
    align-self: flex-start;
    margin:0 0 20px;
}
.mec_info p {
    font-size: 18px;
    color: #cccccc;
    margin: 10px 0 0;
}
.mec_info .co1 span {
    background: linear-gradient(to right, #20CEF6, #7A53E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mec_info .co2 span {
    background: linear-gradient(to right, #2AF698, #14A8B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mec_info .co3 span {
    background: linear-gradient(to right, #D9668C, #FFC95D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mec_info .co4 span {
    background: linear-gradient(to right, #43B5FF, #CB92DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mec_slider {
    display: inherit;
    flex-wrap: inherit;
    width: 100%;
    height: calc(100vh - 175px - 97px);
}
.glide {
    position: relative;
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
}
.glide__track,
.glide__slides,
.glide__slide {
    height: 100%;
}
.glide__slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glide__arrow {
    background: transparent;
    outline: none;
    border: none;
    font-size: 0;
    z-index: 90;
    opacity: 0.4;
    transition: 0.5s;
}
.glide__arrow:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.glide__arrow--prev,
.glide__arrow--next {
    position: absolute;
    top: calc(50% - 29px);
    width: 30px;
    height: 58px;
}
.glide__arrow--prev {
    left: 25%;
}
.glide__arrow--next {
    right: 25%;
}
.glide__arrow--prev:before,
.glide__arrow--next:before {
    content: '';
    display: block;
    width: 30px;
    height: 58px;
    background: url('../images/intro/arrow.svg') no-repeat center center;
}
.glide__arrow--next:before {
    transform: rotate(180deg);
}
.glide__bullets {
    position: absolute;
    display: inherit;
    width: 100%;
    bottom: 80px;
    justify-content: center;
}
.glide__bullet {
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 0;
    font-size: 0;
    background: #FFFFFF;
    outline: none;
    border: none;
    opacity: 0.2;
}
.glide__bullet--active {
    opacity: 1;
}
.glide__slides {
    position: inherit;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    margin: 0;
    outline: none;
}
.glide__slide--active {
    opacity: 1;
}
.mec_wrap {
    position: inherit;
    display: inherit;
    flex: inherit;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 100%;
    left: -50px;
    border-radius: 220px;
    margin: 0 auto;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active + .glide__slide .mec_wrap{
    left: 50px;
}
.mec_box {
    position: inherit;
    display: inherit;
    width: 220px;
    height: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 220px;
    border: 1px dashed #787878;
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
    animation-fill-mode: forwards;
}
.mec_box h1 {
    font-family: 'Exo';
    font-size: 20px;
    line-height: 27px;
    width: 180px;
    text-align: center;
    color: #ffffff;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.mec_ico1,
.mec_ico2,
.mec_ico3,
.mec_ico4 {
    display: none;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.mec_box ul {
    position: inherit;
    display: inherit;
    flex-direction: column;
    margin: 30px 0 0;
    display: none;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.mec_box ul li {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    font-size: 19px;
    font-weight: 300;
}
.mec_box ul li i {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    background: url('../images/intro/ico1_service.svg') no-repeat center right;
    transition: 0.5s ease-in;
}
.mec_box ul li .ico2 {
    background: url('../images/intro/ico2_map.svg') no-repeat center right;
}
.mec_box ul li .ico3 {
    background: url('../images/intro/ico3_ip.svg') no-repeat center right;
}
.dot {
    position: absolute;
    display: inline-flex;
    top: calc(50% - 150px);
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border-radius: 5px;
    background: #999999;
    opacity: 1;
    animation: fadeout 0.2s;
    -moz-animation: fadeout 0.2s; /* Firefox */
    -webkit-animation: fadeout 0.2s; /* Safari and Chrome */
    -o-animation: fadeout 0.2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active + .glide__slide .dot {
    top: calc(50% + 140px);
    left: 50%;
}
.circle {
    display: none;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.bg {
    position: absolute;
    width: 245px;
    height: 245px;
    border-radius: 245px;
    border: 1px solid #999999;
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .mec_wrap{
    width: 550px;
    height: 550px;
    border-radius: 550px;
    margin: 0 auto;
    left: 0;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .mec_box {
    width: 550px;
    height: 550px;
    border: double 2px transparent;
    border-radius: 550px;
    background-image: linear-gradient(#101320, #101320), linear-gradient(0deg, #319CFF, #CCCCCC, transparent, #CCCCCC, #319CFF, transparent, #319CFF, #CCCCCC, transparent);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: 200% 200%;
    animation: gradient 8s ease-in infinite;
    z-index: 20;
}
.glide__slide--active .mec_box h1 {
    position: inherit;
    top: -50px;
    font-size: 42px;
    line-height: 2.5rem;
    font-weight: 500;
    width: 500px;
    background: transparent;
    color: #FFFFFF;
    text-shadow: -1px -1px 10px #339DFE;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .mec_ico1,
.glide__slide--active .mec_ico2,
.glide__slide--active .mec_ico3,
.glide__slide--active .mec_ico4 {
    display: flex;
    width: 100%;
    height: 327px;
    background: url('../images/intro/mec_ico1_edgebox.svg') no-repeat center center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .mec_ico2 {
    background: url('../images/intro/mec_ico2_onprem.svg') no-repeat center center;
}
.glide__slide--active .mec_ico3 {
    background: url('../images/intro/mec_ico3_ktcloud.svg') no-repeat center center;
}
.glide__slide--active .mec_ico4 {
    background: url('../images/intro/mec_ico4_cloud.svg') no-repeat center center;
}
.glide__slide--active .mec_box ul {
    top: -50px;
    display: flex;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .bg {
    width: 825px;
    height: 825px;
    border-radius: 825px;
    border: 1px dashed #333333;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
    z-index: 0;
}
.glide__slide--active .dot {
    display: none;
    animation: fadeout 0.2s;
    -moz-animation: fadeout 0.2s; /* Firefox */
    -webkit-animation: fadeout 0.2s; /* Safari and Chrome */
    -o-animation: fadeout 0.2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .circle {
    display: inherit;
    position: absolute;
    width: 680px;
    height: 680px;
    border-radius: 680px;
    border: 1px dashed #319CFF;
    background: transparent;
    opacity: 0.7;
    animation: scale-big 4s ease-in infinite;
}
.glide__slide--active .circle::before,
.glide__slide--active .circle::after {
    position: absolute;
    display: flex;
    top: calc(50% - 326px);
    left: calc(50% - 326px);
    content: '';
    width: 650px;
    height: 650px;
    border-radius: 650px;
    border: 1px dashed #245582;
    animation: scale-big 4s ease-in infinite;
}
.glide__slide--active .circle::after {
    top: calc(50% - 349.5px);
    left: calc(50% - 349.5px);
    width: 695px;
    height: 695px;
    border-radius: 695px;
    animation: scale-small 4s ease-in infinite;
}
@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
        transition: 0.1s ease-in;
    }
    100% {
        background-position: 50% 0%;
        transition: 0.1s ease-in;
    }
}
@keyframes scale-big {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
        transition: 0.5s ease-in;
    }
    100% {
        transform: scale(1);
        transition: 0.5s ease-in;
    }
}
@keyframes scale-small {
    0% {
        transform: scale(0.98);
    }
    50% {
        transform: scale(1);
        transition: 0.5s ease-in;
    }
    100% {
        transform: scale(0.98);
        transition: 0.5s ease-in;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transition: 0.5s ease-in;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.7;
        transition: 0.5s ease-out;
    }
}
/* select */
.join_wrap  select:invalid { 
    color: #999; 
}
.join_wrap option[value=""][disabled] {
    display: none;
}
.bootstrap-select > .dropdown-toggle {
    display: flex!important;
    width: 290px!important;
    height: 55px;
    line-height: 55px;
    padding: 0 25px;
    font-size: 15px!important;
    font-weight: 600;
    color: #555!important;
    background: url('../images/common/select2.svg') no-repeat 95% 24px #ffffff;
    background-size: 20px;
    outline: none;
    border: none;
}
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle, .bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 290px;
}
.bootstrap-select .dropdown-menu {
    min-width: 280px;
    box-sizing: border-box;
}
.bootstrap-select .dropdown-menu.inner {
    position: static;
    float: none;
}
.bootstrap-select .dropdown-menu li {
    position: relative;
}
.bootstrap-select .dropdown-menu li a {
    cursor: pointer;
    user-select: none;
}
.bootstrap-select .dropdown-menu li a.opt {
    padding: 1px 10px 1px 40px;
}
.bootstrap-select .dropdown-menu li a span.check-mark {
    display: none;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 5px;
}
.bootstrap-select .bs-ok-default:after {
    content: '';
    display: block;
    width: 0.5rem;
    height: 1rem;
    border-style: solid;
    border-width: 0 0.26em 0.26em 0;
    transform: rotate(45deg);
}
.bootstrap-select.show-tick .dropdown-menu li a span.text {
    display: inline-block;
    margin: 0 34px 0 0;
}
.dropdown-menu {
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2.5px 0;
    font-size: 14px;
    color: #555;
    text-align: left;
    background-clip: padding-box;
    border-radius: 3px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0px 25px;
    clear: both;
    color: #555;
    white-space: nowrap;
    background: transparent;
}
.dropdown-item.disabled {
    display: none;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background: #00b4ff;
}
.dropdown-divider {
    height: 0;
    margin: 6px 15px -2px;
    overflow: hidden;
    border-top: 1px dashed #e1e1e1;
}
.dropdown-menu li:nth-child(2) {
    display: none;
}
.dropdown-header {
    display: block;
    padding: 5px 25px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #555;
    white-space: nowrap;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu[x-placement^=bottom], 
.dropdown-menu[x-placement^=left], 
.dropdown-menu[x-placement^=right], 
.dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder, 
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover, 
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #777!important;
}







/*리소스현황 차트 타이틀 옆 선택된 서비스명 노출 시, line-height 설정*/
.resource_box .resource h4 {margin-left: 75px;padding-left: 53px;font-size: 24px;font-weight: 700;background: url("./images/bg_resource_tit.png") no-repeat 0 1px;line-height: 31px;}

/*로딩바 영역*/
.app_cont .thumb .thumb_frame .per_bg {position: absolute;left: 0;right: 0;bottom: 0;top: 0;background: rgba(0, 0, 0, 0.7);opacity: 0;}

/*20210525 추가 : 로딩이미지*/
.per_bg img {width: 60px !important;height: 60px !important;position: absolute !important;top: 50% !important;left: 50% !important;transform: translate(-50%, -50%) !important;}

/*20210701 추가 : 트래픽 차트 select box*/
.selectbox_traffic select {margin-left: 196px !important;width: 150px !important;border: 1px solid #fff !important;border-radius: 5px !important;padding: 0 25px !important;line-height: 31px !important;font-size: 18px !important;color: #fff !important;-webkit-appearance: none;background: transparent url("./images/select_arrow_l.png") no-repeat 90% 50% !important;}

/*20210701 추가 : 트래픽 차트 select box option*/
.selectbox_traffic select option {background-color: #192032 !important;}

.app_etc select option {background-color: #192032 !important;}

/*20210701 추가 : 트래픽 차트 타이틀*/
.selectbox_traffic h4.traffic_title {display: inline-block !important;height: 31px !important;margin-left: 90px !important;padding-left: 53px !important;font-size: 24px !important;font-weight: 700 !important;line-height: 31px !important;}









/* apexcharts */
.apexcharts-canvas {
    position: relative;
    user-select: none;
    /* cannot give overflow: hidden as it will crop tooltips which overflow outside chart area */
}


/* scrollbar is not visible by default for legend, hence forcing the visibility */
.apexcharts-canvas ::-webkit-scrollbar {
-webkit-appearance: none;
width: 6px;
}

.apexcharts-canvas ::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0, 0, 0, .5);
box-shadow: 0 0 1px rgba(255, 255, 255, .5);
-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.apexcharts-inner {
position: relative;
}

.apexcharts-text tspan {
font-family: inherit;
}

.legend-mouseover-inactive {
transition: 0.15s ease all;
opacity: 0.20;
}

.apexcharts-series-collapsed {
opacity: 0;
}

.apexcharts-tooltip {
border-radius: 5px;
box-shadow: 2px 2px 6px -4px #999;
cursor: default;
font-size: 14px;
left: 62px;
opacity: 0;
pointer-events: none;
position: absolute;
top: 20px;
display: flex;
flex-direction: column;
overflow: hidden;
white-space: nowrap;
z-index: 12;
transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-active {
opacity: 1;
transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-theme-light {
border: 1px solid #e3e3e3;
background: rgba(255, 255, 255, 0.96);
}

.apexcharts-tooltip.apexcharts-theme-dark {
color: #fff;
background: rgba(30, 30, 30, 0.8);
}

.apexcharts-tooltip * {
font-family: inherit;
}


.apexcharts-tooltip-title {
padding: 6px;
font-size: 15px;
margin-bottom: 4px;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
background: #ECEFF1;
border-bottom: 1px solid #ddd;
}

.apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
background: rgba(0, 0, 0, 0.7);
border-bottom: 1px solid #333;
}

.apexcharts-tooltip-text-value,
.apexcharts-tooltip-text-z-value {
display: inline-block;
font-weight: 600;
margin-left: 5px;
}

.apexcharts-tooltip-text-z-label:empty,
.apexcharts-tooltip-text-z-value:empty {
display: none;
}

.apexcharts-tooltip-text-value,
.apexcharts-tooltip-text-z-value {
font-weight: 600;
}

.apexcharts-tooltip-marker {
min-width: 12px;
min-height: 12px;
position: relative;
top: 0px;
margin-right: 10px;
border-radius: 50%;
}

.apexcharts-tooltip-series-group {
padding: 0 10px;
display: none;
text-align: left;
justify-content: left;
align-items: center;
}

.apexcharts-tooltip-series-group.apexcharts-active .apexcharts-tooltip-marker {
opacity: 1;
}

.apexcharts-tooltip-series-group.apexcharts-active,
.apexcharts-tooltip-series-group:last-child {
padding-bottom: 4px;
}

.apexcharts-tooltip-series-group-hidden {
opacity: 0;
height: 0;
line-height: 0;
padding: 0 !important;
}

.apexcharts-tooltip-y-group {
padding: 6px 0 5px;
}

.apexcharts-tooltip-box, .apexcharts-custom-tooltip {
padding: 4px 8px;
}

.apexcharts-tooltip-boxPlot {
display: flex;
flex-direction: column-reverse;
}

.apexcharts-tooltip-box>div {
margin: 4px 0;
}

.apexcharts-tooltip-box span.value {
font-weight: bold;
}

.apexcharts-tooltip-rangebar {
padding: 5px 8px;
}

.apexcharts-tooltip-rangebar .category {
font-weight: 600;
color: #777;
}

.apexcharts-tooltip-rangebar .series-name {
font-weight: bold;
display: block;
margin-bottom: 5px;
}

.apexcharts-xaxistooltip {
opacity: 0;
padding: 9px 10px;
pointer-events: none;
color: #373d3f;
font-size: 13px;
text-align: center;
border-radius: 2px;
position: absolute;
z-index: 10;
background: #ECEFF1;
border: 1px solid #90A4AE;
transition: 0.15s ease all;
}

.apexcharts-xaxistooltip.apexcharts-theme-dark {
background: rgba(0, 0, 0, 0.7);
border: 1px solid rgba(0, 0, 0, 0.5);
color: #fff;
}

.apexcharts-xaxistooltip:after,
.apexcharts-xaxistooltip:before {
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.apexcharts-xaxistooltip:after {
border-color: rgba(236, 239, 241, 0);
border-width: 6px;
margin-left: -6px;
}

.apexcharts-xaxistooltip:before {
border-color: rgba(144, 164, 174, 0);
border-width: 7px;
margin-left: -7px;
}

.apexcharts-xaxistooltip-bottom:after,
.apexcharts-xaxistooltip-bottom:before {
bottom: 100%;
}

.apexcharts-xaxistooltip-top:after,
.apexcharts-xaxistooltip-top:before {
top: 100%;
}

.apexcharts-xaxistooltip-bottom:after {
border-bottom-color: #ECEFF1;
}

.apexcharts-xaxistooltip-bottom:before {
border-bottom-color: #90A4AE;
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:after {
border-bottom-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:before {
border-bottom-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-top:after {
border-top-color: #ECEFF1
}

.apexcharts-xaxistooltip-top:before {
border-top-color: #90A4AE;
}

.apexcharts-xaxistooltip-top.apexcharts-theme-dark:after {
border-top-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-top.apexcharts-theme-dark:before {
border-top-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip.apexcharts-active {
opacity: 1;
transition: 0.15s ease all;
}

.apexcharts-yaxistooltip {
opacity: 0;
padding: 4px 10px;
pointer-events: none;
color: #373d3f;
font-size: 13px;
text-align: center;
border-radius: 2px;
position: absolute;
z-index: 10;
background: #ECEFF1;
border: 1px solid #90A4AE;
}

.apexcharts-yaxistooltip.apexcharts-theme-dark {
background: rgba(0, 0, 0, 0.7);
border: 1px solid rgba(0, 0, 0, 0.5);
color: #fff;
}

.apexcharts-yaxistooltip:after,
.apexcharts-yaxistooltip:before {
top: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.apexcharts-yaxistooltip:after {
border-color: rgba(236, 239, 241, 0);
border-width: 6px;
margin-top: -6px;
}

.apexcharts-yaxistooltip:before {
border-color: rgba(144, 164, 174, 0);
border-width: 7px;
margin-top: -7px;
}

.apexcharts-yaxistooltip-left:after,
.apexcharts-yaxistooltip-left:before {
left: 100%;
}

.apexcharts-yaxistooltip-right:after,
.apexcharts-yaxistooltip-right:before {
right: 100%;
}

.apexcharts-yaxistooltip-left:after {
border-left-color: #ECEFF1;
}

.apexcharts-yaxistooltip-left:before {
border-left-color: #90A4AE;
}

.apexcharts-yaxistooltip-left.apexcharts-theme-dark:after {
border-left-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-left.apexcharts-theme-dark:before {
border-left-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-right:after {
border-right-color: #ECEFF1;
}

.apexcharts-yaxistooltip-right:before {
border-right-color: #90A4AE;
}

.apexcharts-yaxistooltip-right.apexcharts-theme-dark:after {
border-right-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-right.apexcharts-theme-dark:before {
border-right-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip.apexcharts-active {
opacity: 1;
}

.apexcharts-yaxistooltip-hidden {
display: none;
}

.apexcharts-xcrosshairs,
.apexcharts-ycrosshairs {
pointer-events: none;
opacity: 0;
transition: 0.15s ease all;
}

.apexcharts-xcrosshairs.apexcharts-active,
.apexcharts-ycrosshairs.apexcharts-active {
opacity: 1;
transition: 0.15s ease all;
}

.apexcharts-ycrosshairs-hidden {
opacity: 0;
}

.apexcharts-selection-rect {
cursor: move;
}

.svg_select_boundingRect, .svg_select_points_rot {
pointer-events: none;
opacity: 0;
visibility: hidden;
}
.apexcharts-selection-rect + g .svg_select_boundingRect,
.apexcharts-selection-rect + g .svg_select_points_rot {
opacity: 0;
visibility: hidden;
}

.apexcharts-selection-rect + g .svg_select_points_l,
.apexcharts-selection-rect + g .svg_select_points_r {
cursor: ew-resize;
opacity: 1;
visibility: visible;
}

.svg_select_points {
fill: #efefef;
stroke: #333;
rx: 2;
}

.apexcharts-svg.apexcharts-zoomable.hovering-zoom {
cursor: crosshair
}

.apexcharts-svg.apexcharts-zoomable.hovering-pan {
cursor: move
}

.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-reset-icon,
.apexcharts-pan-icon,
.apexcharts-selection-icon,
.apexcharts-menu-icon,
.apexcharts-toolbar-custom-icon {
cursor: pointer;
width: 20px;
height: 20px;
line-height: 24px;
color: #6E8192;
text-align: center;
}

.apexcharts-zoom-icon svg,
.apexcharts-zoomin-icon svg,
.apexcharts-zoomout-icon svg,
.apexcharts-reset-icon svg,
.apexcharts-menu-icon svg {
fill: #6E8192;
}

.apexcharts-selection-icon svg {
fill: #444;
transform: scale(0.76)
}

.apexcharts-theme-dark .apexcharts-zoom-icon svg,
.apexcharts-theme-dark .apexcharts-zoomin-icon svg,
.apexcharts-theme-dark .apexcharts-zoomout-icon svg,
.apexcharts-theme-dark .apexcharts-reset-icon svg,
.apexcharts-theme-dark .apexcharts-pan-icon svg,
.apexcharts-theme-dark .apexcharts-selection-icon svg,
.apexcharts-theme-dark .apexcharts-menu-icon svg,
.apexcharts-theme-dark .apexcharts-toolbar-custom-icon svg {
fill: #f3f4f5;
}

.apexcharts-canvas .apexcharts-zoom-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-selection-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-reset-zoom-icon.apexcharts-selected svg {
fill: #008FFB;
}

.apexcharts-theme-light .apexcharts-selection-icon:not(.apexcharts-selected):hover svg,
.apexcharts-theme-light .apexcharts-zoom-icon:not(.apexcharts-selected):hover svg,
.apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
.apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
.apexcharts-theme-light .apexcharts-reset-icon:hover svg,
.apexcharts-theme-light .apexcharts-menu-icon:hover svg {
fill: #333;
}

.apexcharts-selection-icon,
.apexcharts-menu-icon {
position: relative;
}

.apexcharts-reset-icon {
margin-left: 5px;
}

.apexcharts-zoom-icon,
.apexcharts-reset-icon,
.apexcharts-menu-icon {
transform: scale(0.85);
}

.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon {
transform: scale(0.7)
}

.apexcharts-zoomout-icon {
margin-right: 3px;
}

.apexcharts-pan-icon {
transform: scale(0.62);
position: relative;
left: 1px;
top: 0px;
}

.apexcharts-pan-icon svg {
fill: #fff;
stroke: #6E8192;
stroke-width: 2;
}

.apexcharts-pan-icon.apexcharts-selected svg {
stroke: #008FFB;
}

.apexcharts-pan-icon:not(.apexcharts-selected):hover svg {
stroke: #333;
}

.apexcharts-toolbar {
position: absolute;
z-index: 11;
max-width: 176px;
text-align: right;
border-radius: 3px;
padding: 0px 6px 2px 6px;
display: flex;
justify-content: space-between;
align-items: center;
}

.apexcharts-menu {
background: #fff;
position: absolute;
top: 100%;
border: 1px solid #ddd;
border-radius: 3px;
padding: 3px;
right: 10px;
opacity: 0;
min-width: 110px;
transition: 0.15s ease all;
pointer-events: none;
}

.apexcharts-menu.apexcharts-menu-open {
opacity: 1;
pointer-events: all;
transition: 0.15s ease all;
}

.apexcharts-menu-item {
padding: 6px 7px;
font-size: 12px;
cursor: pointer;
}

.apexcharts-theme-light .apexcharts-menu-item:hover {
background: #eee;
}

.apexcharts-theme-dark .apexcharts-menu {
background: rgba(0, 0, 0, 0.7);
color: #fff;
}

@media screen and (min-width: 768px) {
.apexcharts-canvas:hover .apexcharts-toolbar {
opacity: 1;
}
}

.apexcharts-datalabel.apexcharts-element-hidden {
opacity: 0;
}

.apexcharts-pie-label,
.apexcharts-datalabels,
.apexcharts-datalabel,
.apexcharts-datalabel-label,
.apexcharts-datalabel-value {
cursor: default;
pointer-events: none;
}

.apexcharts-pie-label-delay {
opacity: 0;
animation-name: opaque;
animation-duration: 0.3s;
animation-fill-mode: forwards;
animation-timing-function: ease;
}

.apexcharts-canvas .apexcharts-element-hidden {
opacity: 0;
}

.apexcharts-hide .apexcharts-series-points {
opacity: 0;
}

.apexcharts-gridline,
.apexcharts-annotation-rect,
.apexcharts-tooltip .apexcharts-marker,
.apexcharts-area-series .apexcharts-area,
.apexcharts-line,
.apexcharts-zoom-rect,
.apexcharts-toolbar svg,
.apexcharts-area-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
.apexcharts-line-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
.apexcharts-radar-series path,
.apexcharts-radar-series polygon {
pointer-events: none;
}


/* markers */

.apexcharts-marker {
transition: 0.15s ease all;
}

@keyframes opaque {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/* Resize generated styles */

@keyframes resizeanim {
from {
opacity: 0;
}
to {
opacity: 0;
}
}

.resize-triggers {
animation: 1ms resizeanim;
visibility: hidden;
opacity: 0;
}

.resize-triggers,
.resize-triggers>div,
.contract-trigger:before {
content: " ";
display: block;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
overflow: hidden;
}

.resize-triggers>div {
background: #eee;
overflow: auto;
}

.contract-trigger:before {
width: 200%;
height: 200%;
}