/*dashboard : 좌우 슬라이더*/
@keyframes horizontal_slider_left {
	from {
		transform: translateX(-500px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes horizontal_slider_right {
	from {
		transform: translateX(500px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.horizontal_slider_left_in {
	animation-name: horizontal_slider_left;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.horizontal_slider_left_out {
	animation-name: horizontal_slider_left;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: reverse;
	animation-fill-mode: both;
}

.horizontal_slider_right_in {
	animation-name: horizontal_slider_right;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.horizontal_slider_right_out {
	animation-name: horizontal_slider_right;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: reverse;
	animation-fill-mode: both;
}

/*dashboard : 서비스 리스트*/
@keyframes service_list_open {
	from {
		height: 290px;
	}
	to {
		height: 908px;
	}
}

@keyframes service_list_close {
	from {
		height: 908px;
	}
	to {
		height: 290px;
	}
}

.service_list_open {
	animation-name: service_list_open;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.service_list_close {
	animation-name: service_list_close;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

/*dashboard : 나의 서비스*/
@keyframes my_service_top {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-365px);
	}
}

@keyframes my_service_bottom {
	from {
		transform: translateY(-365px);
	}
	to {
		transform: translateY(0);
	}
}

.my_service_top {
	animation-name: my_service_top;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.my_service_bottom {
	animation-name: my_service_bottom;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

@keyframes my_service_list_open {
	from {
		height: 150px;
	}
	to {
		height: 515px;
	}
}

@keyframes my_service_list_close {
	from {
		height: 515px;
	}
	to {
		height: 150px;
	}
}

.my_service_list_open {
	animation-name: my_service_list_open;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.my_service_list_close {
	animation-name: my_service_list_close;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

@keyframes my_service_chart_open {
	from {
		height: 0;
		padding-top: 0;
	}
	to {
		height: 368px;
		padding-top: 90px;
	}
}

@keyframes my_service_chart_close {
	from {
		height: 368px;
		padding-top: 90px;
	}
	to {
		height: 0;
		padding-top: 0;
	}
}

.my_service_chart_open {
	animation-name: my_service_chart_open;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.my_service_chart_close {
	animation-name: my_service_chart_close;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

/*dashboard : 나의 서비스 담기*/
@keyframes my-service-enter {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes my-service-leave {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100px);
		opacity: 0;
	}
}

.my-service-enter-active {
	animation-name: my-service-enter;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.my-service-leave-active {
	animation-name: my-service-leave;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.my-service-move {
	transition: all 300ms ease-in-out;
}

/*팝업창*/
@keyframes modal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modal-enter-active {
	animation-name: modal;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: both;
}

.modal-leave-active {
	animation-name: modal;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: reverse;
	animation-fill-mode: both;
}

/*로딩바*/
.clear_loader {
	animation-name: modal;
	animation-duration: 300ms;
	animation-delay: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-direction: reverse;
	animation-fill-mode: both;
}
