 body{background: #0b0d19;overflow:auto;font-size:15px;}  
 
.gray_select{height:37px; -webkit-appearance: none;  background: #b2b2b2 url('../images/select_arrow_gray.png') no-repeat 90% 50%;box-sizing:border-box;padding-left:30px;} 
.gray_inp[type='text'] ,
.gray_inp[type='password'] {height:37px; line-height:37px; padding:0 24px; background: #b2b2b2; border:0; border-radius:0;box-sizing:border-box; }
.gray_textarea{height:114px;padding:12px 14px;background: #b2b2b2;}

.btn_com{position:relative;display:inline-block;vertical-align:middle;text-align:center;box-sizing:border-box;}
.btn_rd{border-radius:5px;}												  
.btn_rd18{border-radius:18px;}
.btn_point{color:#fff;background: #1bb1b0; border:1px solid #1bb1b0;  font-weight:700;}
.btn_point:hover{color:#fff;}
.btn_wtline{color:#fff;background: #000; border:1px solid #fff; font-weight:700;}
.btn_wtline:hover{color:#fff;}
.btn_gray{background:#9fa0a0; color:#fff;}
.btn_gray:hover{color:#fff;}
.btn_blue{background:#1b73b1; color:#fff;}
.btn_blue:hover{color:#fff;} 
.h37{line-height:37px;font-size:15px;}
.h49{line-height:49px;font-size:18px;}
.h54 {line-height:54px;font-size:18px;font-weight:500;}
.btn_bd{font-weight:700;}
.btn_in_icon{padding-left:20px;}
.btn_in_icon i{position:absolute;top:50%;left:24px; -webkit-transform:translateY(-50%);transform:translateY(-50%);}


/* .inp_gray{height:34px;line-height:34px;padding:0 15px;background: #b2b2b2;border:0;}
.select_gray{height:34px;background: #b2b2b2;border-color:#b2b2b2;padding:0 30px 0 10px;}
 */ 
				  
.w50{width:50px;}
.w60{width:60px;}
.w91{width:91px;}	
.w125{width:125px;}	
.w159{width:159px;}	
.w187{width:187px;}
.w214{width:214px;}	

.w37p{width:37%;}	  
.w80p{width:80%;}
.w1450{width:1450px;margin:0 auto;}



.radio label{display:inline-block;position:relative;padding-left:30px;}
.radio input[type=radio]{position:absolute;width:1px;height:1px;overflow:hidden;opacity:0; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:2} 
.radio label:before{position:absolute;top:-2px;left:0;display:inline-block;width:16px;height:16px;content:'';background:url('../images/radio.png') no-repeat;}  
.radio input[type=radio]:checked+label:before{background-image:url('../images/radio_on.png'); }	 
.radio input[type=radio]:disabled+label:before{opacity:0.5;}


.checkbox label{display:inline-block;position:relative;padding-left:30px;vertical-align:top;}
.checkbox input[type=checkbox]{position:absolute;width:1px;height:1px;overflow:hidden;opacity:0; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:2} 
.checkbox label:before{position:absolute;top:-2px;left:0;display:inline-block;width:20px;height:20px;content:'';background:url('../images/checkbox.png') no-repeat;}  
.checkbox input[type=checkbox]:checked+label:before{background-image:url('../images/checkbox_on.png'); }
.checkbox input[type=checkbox]:disabled+label:before{opacity:0.3;}
 
.admin_header{position: relative; height:92px; width:1678px; margin:0 auto; box-sizing: border-box; display: flex; flex-wrap: wrap; justify-content: space-between;  align-items: center;background: url('../images/bg_header.png') no-repeat 50% bottom;} 
.admin_header:after{ /* position:absolute; bottom:-15px;left:0;right:0;height:30px; background: radial-gradient(ellipse  50% 20px, #20232f  ,  transparent 90%);content:''; */} 
.admin_header .logo{/* position:absolute;top:28px;left:0;z-index:10;padding:0; */}
.admin_header .logo img{ }
.admin_header .logo span{display:inline-block;vertical-align:top; margin-top:7px;padding-left:15px;font-size:26px;font-weight:700;}
.admin_header .gnb{ } 
.admin_header .gnb > ul{display: flex; flex-wrap: wrap; align-items: center; }
.admin_header .gnb > ul > li{position:relative;}
.admin_header .gnb > ul > li:after{position:absolute;top:50%;left:0;display:inline-block;width:1px;height:18px;margin-top:-9px;background: #fff;content:'';}
.admin_header .gnb > ul > li:first-child:after{display:none;}
.admin_header .gnb > ul > li > a{position: relative;display:block; margin: 0 25px; line-height:40px; font-size:20px; font-weight:700;color:#fff;} 
.admin_header .gnb > ul > li.arr > a:before{content:'';display:inline-block;width:6px;height:6px;background: #1bb1b0;border-radius:50%;position:absolute;top:40px;left:50%;margin-left:-9px;}
.admin_header .gnb > ul > li.arr > a:after{content:'';display:inline-block;width:6px;height:6px;background: #1bb1b0;border-radius:50%;position:absolute;top:40px;left:50%;margin-left:3px;}
.admin_header .gnb .on{border-bottom:3px solid #1bb1b0;}   
.admin_header .gnb li > div{position:absolute;top:40px;left:0;width:100%;background: #292a30;z-index:10}
.admin_header .gnb li > div li{text-align:center;border-bottom:1px solid #0b0d19;}									   
.admin_header .gnb li > div li a{display:block;padding:10px;font-size:14px;font-weight:500;color:#fff;}
.admin_header .gnb li > div li .on{background: #1bb1b0;}
.admin_header .util_area {/* position:absolute;top:34px;right:0; */font-size:18px;color:#fff;}
.admin_header .util_area span{position:relative;padding-left:30px;}
.admin_header .util_area span:after{position:absolute;top:50%;left:8px;display:inline-block;width:1px;height:16px;margin-top:-8px;background: #fff;content:'';}
.admin_header .util_area span:first-child:after{display:none;}
.admin_header .util_area .user{padding-left:50px;background:url('../images/icon_profile.png') no-repeat 0 0;} 
.admin_header .util_area a{padding-left:30px;color:#fff;}

.admin_container{padding:0 0 20px; width:1678px; margin:0 auto; } 

.page_tit{padding:30px 0;font-size:24px;font-weight:700;}

.search_box{padding:12px;text-align:center;border-image-width: 1px 0 1px 0;border-style: solid;
  border-image: linear-gradient(to right, #0b0d19 0%, #595b63 50%, #0b0d19 100%);
  border-image-slice: 0.5;}
.search_box select{width:265px; vertical-align:middle; }
.search_box input[type='text']{width:495px;vertical-align:middle;}  
.search_box .btn_point{width:214px;height:37px;vertical-align:middle;} 

.board_top{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end;} 
.board_top .sort select{width:265px;}

.table_admintype01{border-top:2px solid #fff;  border-bottom:1px solid #fff;}
.table_admintype01 th{padding:22px 0;border:1px solid #fff;font-weight:500;}
.table_admintype01 tr th:first-child{border-left:0;}
.table_admintype01 tr th:last-child{border-right:0;}
.table_admintype01 td{height:57px;padding:10px 0;border:1px solid #fff; text-align:center; box-sizing:border-box;}
.table_admintype01 tr td:first-child{border-left:0;}
.table_admintype01 tr td:last-child{border-right:0;}
.table_admintype01 thead th{background: #19203e;}
 
.table_admintype02{border-top:2px solid #fff;  border-bottom:1px solid #fff;}
.table_admintype02 tbody th{padding:20px 15px;text-align:left;border:1px solid #fff;font-weight:500;background: #19203e;}
.table_admintype02 tr th:first-child{border-left:0;}
.table_admintype02 tr th:last-child{border-right:0;}
.table_admintype02 tr td:first-child{border-left:0;}
.table_admintype02 tr td:last-child{border-right:0;}
.table_admintype02 tbody td{height:57px;padding:10px 15px;border:1px solid #fff; text-align:left; box-sizing:border-box;} 
.choice_list{display: flex; flex-wrap: wrap;}
.choice_list li{min-width:150px;padding:5px 0;}

/* 등록 */
.table_formtype tbody th{padding:10px 15px;text-align:left;border:1px solid #fff;font-weight:500;background: #19203e;}
.table_formtype tbody th em{color:#ff801b;}
.table_formtype tr th:first-child{border-left:0;}
.table_formtype tr th:last-child{border-right:0;}
.table_formtype tr td:first-child{border-left:0;}
.table_formtype tr td:last-child{border-right:0;}
.table_formtype tbody td{height:47px;padding:6px 15px;border:1px solid #fff; text-align:left; box-sizing:border-box;}
.table_formtype .gray_select{padding-left:24px;}
.spec_box {display: flex; flex-wrap: wrap;}		 
.spec_box p{padding-right:45px;}	
.spec_box p span{padding-right:12px;}
.spec_box .gray_inp{width:113px;text-align:center;}			 
.spec_box .gray_select{width:189px;}
.file_upload{display: flex; flex-wrap: wrap; align-items: center;padding:12px 0;}
.file_upload span{padding:0 45px 0 15px;}
.package_area_top{display: flex; flex-wrap: wrap; align-items: center;}
.package_area_top em{padding-right:14px;}								  
.package_area_top .gray_select{width:390px;margin-right:12px;}	 
.package_area_cont {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top:14px;}
.package_area_cont .package_item{width:405px;}														  
.package_area_cont .package_item .tit{padding:8px 0 8px 18px; background: #494c5b;}  						  
.package_area_cont .package_item .tit .gray_select{width:165px;margin:0 5px;}  						  
.package_area_cont .package_item .framebox{height:378px;background: #b2b2b2;}





.boad_bm_text{padding:50px; text-align:center; font-size:18px; background: #19203e;}

.paging{text-align:center;}
.paging a{display:inline-block;width:40px; line-height:40px;text-align:center;border:1px solid #fff;color:#fff;}
.paging a.on{border-color:#1bb1b0;background: #1bb1b0;}
.paging .prev,
.paging .next{width:73px;}

.boad_bm_btns{text-align:center;}

/* 로그인 */
.login_area{ width:450px; margin:245px auto 0; text-align:center; font-size:24px; font-weight:500; background: url('../images/expantion_shadow.png') no-repeat 50% 0;}
.lgn_box{position:relative;margin-bottom:16px;}
.login_area input[type='text'],
.login_area input[type='password']{width:100%;border:0;border-radius:3px; padding:20px 25px; height:60px;line-height:20px; font-size:18px; box-sizing:border-box;}

.login_group{margin-bottom:60px;} 
.login_group input[type='text'],
.login_group input[type='password']{background: #d6e3e3; padding:20px 25px 20px 80px;}
.login_group .id_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_userid.png') no-repeat 0 0 ;}
.login_group .pw_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_password.png') no-repeat 0 0 ;}

.login_group02{ margin-bottom:-30px;}
.login_group02 .code_box{position:relative;width:100%;border:0;border-radius:3px;height:60px; padding:10px 92px 10px 0;text-align:center;  box-sizing:border-box; background: #fff;}
.login_group02 .code_box a{position:absolute; top:13px; right:16px;}

.join_bottom {margin-top:49px; } 
.join_bottom button{position:relative; width:100%; height:60px; font-size:18px; color:#101320; border:0; border-radius:5px; font-weight:600; cursor: pointer; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa800+0,c65009+100 */
background: #ffa800; /* Old browsers */
background: -moz-linear-gradient(left,  #ffa800 0%, #c65009 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffa800 0%,#c65009 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffa800 0%,#c65009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#c65009',GradientType=1 ); /* IE6-9 */
} 
.join_bottom button:before{position:absolute;top:16px;left:28px;display:inline-block;width:28px;height:28px;background: url('../images/join_btn_icon.png') no-repeat 0 0;content:'';}

.join_bottom02{margin-top:20px; }  
.join_bottom02 a{font-size:18px; color:#fff; }



/* 팝업 */ 	
#mask{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(105,108,119,0.85);z-index:10;}
.popup_admin{ width:1000px;position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);z-index:20; border: 2px solid #ffffff;  box-sizing: border-box; border-radius: 20px; background:#0b0d19; box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%); -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);	overflow:hidden;
}			
.popup_admin h1{padding:20px 70px 15px 35px;color:#fff;background: #1bb1b0;font-size:20px;font-weight:500;border-bottom:1px solid #ffffff;}		
.popup_admin .pop_admincont{padding:35px;}
.popup_admin .pop_footer{text-align:center;padding:0 35px 45px 35px;}
.popup_admin .pop_adminclose{position:absolute;top:0;right:0;padding:18px; }
		 
.return_form dt{padding-bottom:15px;font-size:18px;font-weight:500;}													   	.return_form dt span{font-size:14px;font-weight:400;padding-left:40px;}	  
.return_form dd textarea{width:100%;height:100px;background: #b2b2b2; resize: none;}


/* 알럿 */  
.pop_modal {width:600px;}
.pop_modal .modal_cont {text-align:center;padding:60px 10px 60px;}   
.pop_modal .modal_cont .message_box {text-align:center;font-size:35px;font-weight:500;} 
.pop_modal .modal_cont .message_subtext {padding-top:30px;line-height:1.8em;font-size:14px;} 
.pop_modal .modal_cont .message_subtext .txt01{color:#c2def2;font-weight:500;font-size:16px;}
.pop_modal .modal_cont .message_btns {padding-top:40px;text-align:center; }
 

