@charset "utf-8";
/*
    Common.css
*/

* {
	max-height: 1000000px;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, Arial, Helvetica, AppleGothic;
	color: #4c4c4e;
	font-size: 13px;
	line-height: 18px;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
}

img,
fieldset,
button {
	border: none;
}

hr,
button img {
	display: none;
}

li {
	list-style: none;
}

a {
	color: #4c4c4e;
	text-decoration: none;
	vertical-align: top;
	cursor: pointer;
}

a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none;
}

textarea {
	overflow: auto;
	resize: none;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}

table img {
	vertical-align: top;
}

th,
td {
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
}

form {
	margin: 0;
	padding: 0;
}

img {
	vertical-align: top;
}

legend {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}

/* For Screen Reader */
caption {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	overflow: hidden;
	visibility: hidden;
}

em {
	font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

/* html5 */
i {
	font-style: normal;
}

button {
	cursor: pointer;
}

input::-webkit-input-placeholder {
	color: #b4b4b4;
}

input::-moz-placeholder {
	color: #b4b4b4;
}

input:-moz-placeholder {
	color: #b4b4b4;
}

input:-ms-input-placeholder {
	color: #b4b4b4;
}

input::-placeholder {
	color: #b4b4b4;
}

/* moz */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

/* ms */
input[type=text]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

/* 인터넷 익스플로러 문서모드 " IE10 " 이상에서 정상 작동 */
input[type=password]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/*** common ***/
input:focus {
	outline: none;
}

.blind {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.point01 {
	color: #ed2024 !important;
}

.bgNo {
	background-color: #fff !important;
}

/*** Title ***/
h2.title {
	margin-bottom: 20px;
	color: #000;
	font-size: 28px;
	line-height: 1;
	letter-spacing: -0.02em;
}

h3.title {
	position: relative;
	margin-bottom: 20px;
	border-bottom: 2px solid #ed2024;
	color: #000;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -0.05em;
}

h3.title.navy {
	border-bottom-color: #2c3345;
	margin-bottom: 0;
}

h3.title.navy span {
	width: 150px;
	text-align: center;
	background-color: #2c3345;
}

h3.title span {
	display: inline-block;
	padding: 0 20px;
	margin-right: 10px;
	color: #fff;
	background-color: #ed2024;
	border-radius: 3px 3px 0 0;
	line-height: 32px;
	font-size: 14px;
	letter-spacing: 0;
}

h3.title.grey {
	border-bottom-color: #898989;
	margin-bottom: 10px;
	color:#989898;
	font-size:14px;
}

h3.title.grey span {
	width: 150px;
	text-align: center;
	background-color: #898989;
}
h3.title.grey .bold{
	color:#707070;
	font-weight:700;

}
.viewToggle {
    position: absolute;
    top:4px;
    right:0;
    width: 24px;
    height: 24px;
    margin:0 10px;
    background: url('../images/contents/btn_site_open.png') center no-repeat;
    background-size: 12px 7px;
}
.viewToggle.on {
    transform: rotate(180deg);
    }


h3.title .btn_area {
	margin: 0;
	position: absolute;
	right: 0;
	bottom: 7px;
	font-size: 13px;
}

h4.title {
	padding: 12px 0 14px;
	border-bottom: 1px solid #ccc;
	color: #000;
	font-size: 17px;
	line-height: 1;
	font-weight: bold;
}

h5.title {
	margin: 15px 0 10px;
	height: 31px;
	padding: 0 19px;
	background: #d1d2d4;
	color: #000;
	font-size: 15px;
	line-height: 30px;
}

h5.title label>input[type="checkbox"] {
	margin: 7px 10px 0 0;
	width: 18px;
	height: 18px;
	vertical-align: top;
}

h6.title {
	color: #4d4d4d;
	font-size: 13px;
	line-height: 16px;
	margin: 13px 0 10px;
}
h6.title_b {
	color: #2b3244;
	font-size: 16px;
	line-height: 16px;
	margin: 13px 0 10px;

}

/*** Form ***/
select,
input[type=text],
input[type=password],
input[type=search],
textarea {
	width: 100%;
	padding: 0 10px;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	background-color: #fff;
	font-family: 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, Arial, Helvetica, AppleGothic;
	font-size: 12px;
	color: #4c4c4e;
}

select,
input[type=text],
input[type=password] {
	height: 30px;
}

select {
	padding: 5px;
	letter-spacing: -0.05em;
}

textarea {
	padding: 10px;
}

input[type=text]:disabled {
	background-color: #f0f0f0;
}

/* custom radio */
.radio_ty01 {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 30px;
	padding-left: 20px;
}

.radio_ty01 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radio_dot {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
}

.radio_ty01:hover input~.radio_dot {
	background-color: #ccc;
}

.radio_ty01 input:checked~.radio_dot {
	background-color: #676767;
	border: 1px solid #676767;
}

.radio_ty01 input:checked~.radio_dot:after {
	display: block;
}

.radio_ty01.ty02{
	left: 18px;
	top: -10px;
}

/* custom checkbox */
.checkbox_ty01 {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 20px;
	padding-left: 20px;
}

.checkbox_ty01 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkbox_dot {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
}

.checkbox_ty01:hover input~.checkbox_dot {
	background-color: #ccc;
}

.checkbox_ty01 input:checked~.checkbox_dot {
	background-color: #676767;
	border: 1px solid #676767;
}

.checkbox_ty01 input:checked~.checkbox_dot:after {
	display: block;
}
.checkbox_ty01.ty02{
	left: 12px;
	top: -10px;
}

/*** datepicker ***/
.ui-datepicker {
	padding: 5px 10px;
	font-size: 16px;
	margin-top: 3px;
}

.ui-datepicker.ui-widget-content {
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.ui-datepicker.ui-corner-all,
.ui-datepicker .ui-corner-all {
	border-radius: 0;
}

.ui-datepicker .ui-datepicker-header {
	padding: 9px 0;
}

.ui-datepicker .ui-widget-header {
	border: none;
	border-bottom: 1px solid #a5a5a5;
	background: none;
	color: #4c4c4e;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	top: 2px;
	width: 35px;
	height: 35px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	top: 0;
	left: 0;
	margin: 0;
	width: 35px;
	height: 35px;
	border: 1px solid #e1e1e1;
	border-radius: 2px;
	box-sizing: border-box;
	background: center no-repeat;
	font-size: 0;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s;
}

.ui-datepicker .ui-datepicker-prev span {
	background-image: url('../images/layout/btn_paginate_prev.png');
}

.ui-datepicker .ui-datepicker-next span {
	background-image: url('../images/layout/btn_paginate_next.png');
}

.ui-datepicker .ui-datepicker-prev:hover span,
.ui-datepicker .ui-datepicker-prev:focus span {
	background-image: url('../images/layout/btn_paginate_prev_on.png');
	border-color: #666;
}

.ui-datepicker .ui-datepicker-next:hover span,
.ui-datepicker .ui-datepicker-next:focus span {
	background-image: url('../images/layout/btn_paginate_next_on.png');
	border-color: #666;
}

.ui-datepicker .ui-state-hover,
.ui-datepicker .ui-widget-content .ui-state-hover,
.ui-datepicker .ui-widget-header .ui-state-hover {
	border: none;
	background: none;
}

.ui-datepicker thead {
	border-bottom: 1px solid #dedede;
}

.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default {
	border: none;
	background: none;
	color: #4c4c4e;
	font-weight: normal;
	text-align: center;
}

.ui-datepicker .ui-state-default:hover {
	font-weight: bold;
}

.ui-datepicker th.ui-datepicker-week-end:first-child span,
.ui-datepicker .ui-datepicker-week-end:first-child a.ui-state-default {
	color: #ff3000;
}

.ui-datepicker th.ui-datepicker-week-end:last-child span,
.ui-datepicker .ui-datepicker-week-end:last-child a.ui-state-default {
	color: #0078ff;
}

.ui-datepicker a.ui-state-highlight,
.ui-datepicker .ui-widget-content .ui-state-highlight,
.ui-datepicker .ui-widget-header .ui-state-highlight {
	background-color: #f8f8f8;
	font-weight: bold;
}

.ui-datepicker a.ui-state-active,
.ui-datepicker .ui-widget-content .ui-state-active,
.ui-datepicker .ui-widget-header .ui-state-active  {
	background-color: #ffffff;
	border: 1px solid #fbd850;
	font-weight: bold;
	color: #eb8f00;
}

/*** Btn ***/
.btn_l {
	display: inline-block;
	min-width: 100px;
	height: 34px;
	padding: 0 10px;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 28px;
	letter-spacing: -0.05em;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	transition: all 0.3s;
}

.btn_no_radius {
	border-radius: 0 !important;
}

.btn_lm {
	display: inline-block;
	min-width: 94.5px;
	height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 28px;
	letter-spacing: -0.05em;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	transition: all 0.3s;
	text-indent: 0;
}

.btn_m {
	display: inline-block;
	min-width: 70px;
	height: 30px;
	padding: 0 10px;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 26px;
	letter-spacing: -0.05em;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	transition: all 0.3s;
}

.btn_s {
	display: inline-block;
	min-width: 70px;
	height: 24px;
	padding: 0 10px;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	transition: all 0.3s;
}

.btn_co01 {
	border: 2px solid #ec1f24;
	background-color: #fff;
	color: #ed2024;
}

.btn_co01:hover,
.btn_co01:focus {
	border-color: #d21c20;
	color: #d21c20;
}

.btn_co01.on {
	background-color: #ec1f24;
	color: #fff;
}

.btn_co01.on:hover,
.btn_co01.on:focus {
	background-color: #d21c20;
}

.btn_co02 {
	border: 2px solid #acacac;
	background-color: #fff;
	color: #686868;
	cursor: default;
}

/* .btn_co02:hover, .btn_co02:focus {border-color:#686868;} */
.btn_co02.on {
	background-color: #acacac;
	color: #fff;
}

.btn_co02.on:hover,
.btn_co02.on:focus {
	background-color: #686868;
}

.btn_co03 {
	border: 1px solid #ccc;
	background-color: #fff;
	color: #999;
}

/* .btn_co03:hover, .btn_co03:focus {border:1px solid #bbb;color:#888;} */
.btn_co03.on {
	border-color: #404b57;
	background-color: #404b57;
	color: #fff;
}

.btn_co03.on:hover,
.btn_co03.on:focus {
	border-color: #313a44;
	background-color: #313a44;
}

.btn_co04 {
	border: 1px solid #ccc;
	background-color: #fff;
	color: #999;
}

.btn_co04:hover,
.btn_co04:focus {
	border: 1px solid #bbb;
	color: #888;
}

.btn_co04.on {
	border-color: #4c4c4e;
	background-color: #4c4c4e;
	color: #fff;
}

.btn_co05 {
	border: 1px solid #898989;
	background-color: #898989;
	color: #fff;
}

.btn_co05:hover,
.btn_co05:focus {
	border: 1px solid #6e6e6e;
	color: #fff;
}

.btn_co05.on {
	border-color: #4c4c4e;
	background-color: #4c4c4e;
	color: #fff;
}

.btn_co06 {
	border: 1px solid #e1e1e1;
	background-color: #f4f4f4;
	color: #4d4d4d;
}

.btn_co06:hover,
.btn_co06:focus {
	border: 1px solid #929292;
}

.btn_co06.on {
	border-color: #b4b4b4;
	background-color: #b4b4b4;
}
.btn_co07 {
	width:70px !important;
	height:26px;
	border-color: #2c3345;
	background-color: #2c3345;
	line-height:24px;
	color: #fff;
	border-radius: 0px;
}
.btn_co07.gray {
	border-color: #4c4c4c;
	background-color: #4c4c4c;
	margin:0 5px;
	height:24px;
	box-sizing: border-box;
}
.btn_co08 {
	width:70px !important;
	height:25px;
	border: 1px solid #b9b6bd;
	color: #4d4d4d;
	line-height:24px;
	font-weight: normal;
	border-radius: 0px;
}
.btn_co08.on{
	background-color: #676767;
	color:#fff;
}
.btn_co09 {
	width:90px !important;
	height:26px;
	border-color: #2c3345;
	background-color: #2c3345;
	line-height:24px;
	color: #fff;
	border-radius: 0px;
	font-weight: normal;
}

/* .btn_co04.on:hover, .btn_co04.on:focus {border-color:#313133;background-color:#313133;} */

.ty_flex .btn_area .btn_co03.on {
	border-color: #4c4c4e;
	background-color: #4c4c4e;
	color: #fff;
}

.table_form03 .btn_co03.on {
	border-color: #4c4c4e;
	background-color: #4c4c4e;
	color: #fff;
}

.btn_area {
	text-align: right;
	margin: 20px 0;
}

.btn_area a+a {
	margin-left: 3px;
}

.btn_area.ty02 {
	border-top: 1px solid #ccc;
	margin: 0 0 20px;
	padding-top: 20px;
}

.btn_area+h3.title {
	margin-top: -10px;
}

.btn_area.tc {
	text-align: center;
}

.btn_area.ty03 {
	margin: 0 0 -5px;
}

.btn_area.ty04 {
	margin: 10px 0 -4px;
}

.btn_area.ty05 {
	margin: 0 0 -22px 0;
}
.btn_area.ty06 {
	margin: 10px 33px 0 0;
}
.btn_area.ty07 {
	margin: 10px 0;
}

.btn_quantity {
	display: flex;
	margin-left: 10px;
}

.btn_quantity a.btn_l {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 33px;
	height: 31px !important;
	cursor: pointer !important;
}

.btn_quantity a.btn_l svg {
	width: 10px;
	height: 10px;
}

.btn_quantity a+a {
	margin-left: 8px
}

.btn_updown {
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #acacac;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 0;
	text-indent: -9999px;
	vertical-align: middle;
	transition: all 0.3s;
	background: no-repeat center;
}

.btn_updown:hover,
.btn_updown:focus {
	border-color: #686868;
}

.btn_updown.first {
	background-image: url('../images/layout/btn_up_first.png');
}

.btn_updown.prev {
	background-image: url('../images/layout/btn_up_prev.png');
}

.btn_updown.next {
	background-image: url('../images/layout/btn_down_next.png');
}

.btn_updown.last {
	background-image: url('../images/layout/btn_down_last.png');
}

.btn_updown+.btn_updown {
	margin-left: 0;
}

i.autoskip {
	display: inline-block;
	vertical-align: middle;
	background: url('../images/layout/btn_autoskip.png') no-repeat right 1px;
	width: 14px;
	height: 8px;
}

.skip_area {
	position: relative;
	display: inline-block;
	width: 100px;
	margin-left: 3px;
}

.skip_area .list {
	display: none;
	position: absolute;
	left: 0;
	top: 36px;
	width: 100px;
	background: #fff;
	border: 2px solid #acacac;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 2px 0;
	text-align: center;
}

.skip_area .list li {
	padding: 5px;
}

.skip_area+a {
	margin-left: 3px;
}

.lft_wrap_ty01 {
	width: 595px;
}

.palette.rgt_wrap_ty01 {
	top: 44px;
	padding-left: 0;
	width: 575px;
	height: 651px;
}

.palette.rgt_wrap_ty01 .tab_con_area {
	width: 100%;
	height: calc(100% - 30px);
}

.palette.rgt_wrap_ty01 .tab_con_area .tab_con,
.palette.rgt_wrap_ty01 .tab_con_area .tab_con.line {
	width: 100%;
	height: 100%;
}

.palette.rgt_wrap_ty01 .tab_con_area .tab_con .nsd_tarea {
	height: 100%;
}

.palette.rgt_wrap_ty01 .tab_con_area .tab_con.line {
	border: 1px solid #e1e1e1;
}

.palette.rgt_wrap_ty01 .tab_con_area .tab_con .scrollbar-inner {
	height: 100%;
}

.palette.rgt_wrap_ty02 {
	position: relative;
	padding: 10px 0 0 0;
	width: 100%;
	height: 457px;
	top: 0;
}

.palette.rgt_wrap_ty02 .tab_con_area {
	width: 100%;
}

.palette.rgt_wrap_ty02 .tab li {
	/*SDNO 관련 임시 주석*/
	width: calc(100% / 5);
	/*width: calc(100% / 4);*/
}

/*** Tab ***/
.tab {
	width: 100%;
	height: 32px;
	margin-bottom: 20px;
	border-bottom: 3px solid #2c3345;
	table-layout: fixed;
}

.tab li {
	float: left;
	vertical-align: bottom;
	text-align: center;
	width: 181px;
}

.tab.m_size li {
	width: 211px;
}

.tab li a {
	display: block;
	position: relative;
	z-index: 2;
	height: 32px;
	box-sizing: border-box;
	border-radius: 5px 0 0 0;
	border: 1px solid #e1e1e1;
	border-right: none;
	background-color: #e1e1e1;
	color: #4c4c4e;
	font-size: 15px;
	line-height: 34px;
	font-weight: bold;
	letter-spacing: -0.05em;
}

.tab li a:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: -1px;
	width: 16px;
	height: 32px;
	background: #e1e1e1 url('../images/contents/bg_tab.gif') right top no-repeat;
}

.tab li.on a {
	border: none;
	background-color: #2c3345;
	color: #fff;
	font-size: 16px;
}

.tab li.on a:before {
	background: #2c3345 url('../images/contents/bg_tab_on.gif') right bottom no-repeat;
	top: 0;
}

.tab:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.tab_con,
.tab_con_inn {
	position: relative;
	display: none;
}

.tab_con.on,
.tab_con_inn.on {
	display: block;
}

.tab02 {
	position: relative;
	height: 32px;
	margin: 0 19px 20px;
}

.tab02:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: -49px;
	right: -49px;
	top: 32px;
	width: 648px;
	height: 2px;
	background: #2c3345;
	z-index: 2;
}

.tab02 li {
	position: relative;
	float: left;
	text-align: center;
}

.tab02 li a {
	min-width: 77px;
	position: relative;
	z-index: 1;
	display: block;
	border-radius: 5px 0 0 0;
	border: 1px solid #e1e1e1;
	border-right: none;
	box-sizing: border-box;
	background-color: #e1e1e1;
	color: #4c4c4e;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	letter-spacing: -0.05em;
	padding: 0 27px 0 19px;
}

.tab02 li a:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: -1px;
	width: 15px;
	height: 32px;
	background: #fff url('../images/contents/bg_tab02.gif') right bottom no-repeat;
}

.tab02 li.on a {
	border: none;
	background-color: #2c3345;
	color: #fff;
	font-size: 13px;
}

.tab02 li.on a:before {
	background: #fff url('../images/contents/bg_tab02_on.gif') right bottom no-repeat;
	top: 0;
}

.tab02:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.tab02+.tab_con {
	padding-top: 10px;
}

.tab03 {
	position: relative;
	height: 32px;
	border-bottom: 2px solid #ed2024;
}

.tab03 li {
	position: relative;
	float: left;
	text-align: center;
}

.tab03 li a {
	position: relative;
	padding: 0 29px 0 19px;
	display: block;
	border-radius: 5px 0 0 0;
	border: 1px solid #e1e1e1;
	border-right: none;
	box-sizing: border-box;
	background-color: #e1e1e1;
	color: #4c4c4e;
	font-size: 14px;
	height: 32px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: -0.05em;
}

.tab03 li a:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: -1px;
	width: 13px;
	height: 32px;
	background: url('../images/contents/bg_tab03.gif') right bottom no-repeat;
}

.tab03 li.on a {
	border: none;
	background-color: #ed2024;
	color: #fff;
}

.tab03 li.on a:before {
	background: url('../images/contents/bg_tab03_on.gif') right bottom no-repeat;
	top: 0;
}

.tab03:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.tab03+.tab_con {
	padding-top: 12px;
}
.tab04 {
	position: relative;
	height: 32px;
	padding-bottom: 18px;
	text-align: center;
}
.tab04 ul{
	display: inline-block;
	border-bottom: 1px solid #cccccc;
}
.tab04 li {
	display: inline-block;
	width:170px;
	padding-bottom:12px;
	margin:0 -2px;
	text-align: center;
}
.tab04 li.on{
	margin-bottom:-1px;
	border-bottom: 2px solid #666666;
}
.tab04 li a {
	font-size: 12px;
	color: #666666;
}
.tab04 li.on a {
	font-weight: bold;
}
.tab04.ty01{
	margin-top:27px;
	background:#fff;
	border-bottom:1px solid #ccc; 
	margin-bottom:-5px;
}
.tab04.ty01 li.on a {
	font-size: 13px;
	color: #666666;
}

.tab05 {
	position: relative;
	height: 32px;
	padding-top: 30px;
	padding-bottom: 18px;
	text-align: center;
}
.tab05 ul{
	display: inline-block;
	border-bottom: 1px solid #cccccc;
}
.tab05 li {
	display: inline-block;
	width:170px;
	padding-bottom:12px;
	margin:0 -2px;
	text-align: center;
}
.tab05 li.on{
	margin-bottom:-1px;
	border-bottom: 2px solid #666666;
}
.tab05 li a {
	font-size: 12px;
	color: #666666;
}
.tab05 li.on a {
	font-weight: bold;
}
.tab06 {
	position: relative;
	height: 47px;
	border-bottom: 1px solid #cccccc;
}
.tab06 ul{
	display: block;
	position: absolute;
}
.tab06 li {
	display: inline-block;
	width:170px;
	height: 46px;
	margin:0 -2px;
	text-align: center;
	line-height: 44px;
	letter-spacing: -0.3px;
}
.tab06 li.on{
	border-top: 2px solid #ec1f24;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	background: #fff;
}
.tab06 li a {
	font-size: 16px;
	color: #666666;
}
.tab06 li.on a {
	font-weight: bold;
}

.tab07 {
	position: relative;
	height: 32px;
}

.tab07:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 29px;
	width: 100%;
	height: 2px;
	background: #2c3345;
	z-index: 2;
}

.tab07 li {
	position: relative;
	float: left;
	text-align: center;
}

.tab07 li a {
	position: relative;
	z-index: 1;
	display: block;
	border-radius: 5px 0 0 0;
	border-right: none;
	box-sizing: border-box;
	background-color: #f4f4f4;
	color: #4c4c4e;
	font-size: 12px;
	width: 150px;
	height: 29px;
	line-height: 32px;
	font-weight: bold;
	letter-spacing: -0.2px;
	text-indent: -10px;
}

.tab07 li a:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 17px;
	height: 29px;
	background: #fff url('../images/contents/bg_tab05.png') right bottom no-repeat;
}

.tab07 li.on a {
	border: none;
	background-color: #575759;
	color: #fff;
}

.tab07 li.on a:before {
	background: #fff url('../images/contents/bg_tab05_on.png') right bottom no-repeat;
	top: 0;
}

/*** Table ***/
.table_ty {
	position: relative;
}

.table_half .table_half_on table {
	width: 50%;
	margin: 0 auto;
}

.table_ty.table_half .table_half_on tbody td {
	border-bottom: none;
}

.table_ty.table_half .table_half_on tbody tr:hover td {
	background: none;
}

.table_ty.table_chubby th,
.table_ty.table_chubby td {
	height: 49px;
}
.table_ty.text_left th,
.table_ty.text_left td {
	text-align: left;
	padding-left: 16px;
}
.table_ty.text_left01 th,
.table_ty.text_left01 td {
	text-align: left;
	
	padding:6px 10px;
	box-sizing: border-box;
}

.table_ty.text_left_td td {
	text-align: left;
	padding-left: 16px;
}



.table_ty h2.title {
	font-size: 16px;
}
.table_ty th,
.table_ty td {
	padding: 4px 5px 6px;
	box-sizing: border-box;
	line-height: 18px;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-all;
	letter-spacing: -0.05em;
}

.table_ty th input,
.table_ty td input {
	vertical-align: middle;
}

.table_ty thead th {
	height: 35px;
	background: #f4f4f4;
	color: #777;
	border-top: 2px solid #ccc;
}
.table_ty thead tr:nth-of-type(2) th{
	border-top:none;
}

.table_ty tbody th {
	height: 34px;
	background: #f8f8f8;
	color: #777;
	border-bottom: 1px solid #e1e1e1;
	font-size: 13px;
	font-weight: bold;
	transition: all 0.4s;
}

.table_ty tbody td {
	height: 34px;
	background: #fff;
	color: #666;
	border-bottom: 1px solid #e1e1e1;
	font-size: 12px;
	transition: all 0.4s;
}

.table_ty tbody tr:hover:not(.ns_table) td {
	background: #f9f9f9;
}

.table_ty tbody tr td a {
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	transition: all 0.4s;
}

.table_ty tbody tr.on td,
.table_ty tbody tr.on:hover td {
	background: #4c4c4e;
	color: #fff;
}

.table_ty tbody tr.on td a {
	color: #fff;
}

.table_ty tbody tr.select td {
	background: #f8f8f8;
}

.table_ty .left {
	text-align: left;
}

.table_ty .right {
	text-align: right;
}

.table_ty thead th.btml {
	border-top: 1px solid #ccc;
}
.table_ty .end_area{
	padding:5px;
}
.table_ty .end_area a{
	float:right;
}

.table_ty+.table_ty {
	margin-top: 30px;
}

.table_ty+.table_ty.ty03 {
	margin-top: 20px;
}

.table_ty.ty03 {
	margin-top: 20px;
}

.table_ty.ty04 thead th {
	border-bottom: 1px solid #e1e1e1;
}

.table_ty.ty04 thead tr th:first-child {
	border-right: 1px solid #e1e1e1;
}

.table_ty.ty04 tbody th {
	background: #f4f4f4;
	color: #777;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}
.table_ty.ty04 tbody tr:nth-child(even) td {
	background-color: #f9f9f9;
}
.table_ty.ty05 tbody td {
	padding: 6px 20px;
}
.table_ty.ty06 tbody th{
	font-size: 12px;
}
.table_ty.ty06 tbody td{
	font-size: 11px;
}
.table_ty.ty07 tbody th{
	font-size: 12px;
}
.table_ty.ty07 tbody td{
	padding: 6px 15px;
}
.table_ty.ty07 tbody td input[type=text]{
	text-align: center;
}
.table_ty.ty07 tbody td input[type=text].bold{
	font-weight: bold;
}
.table_ty.ty08 {
	clear:both;
}
.table_ty.ty08 thead th{
	font-size:13px; 
	font-weight: bold;
	text-align: center;
	color:#4c4c4e;
}
.table_ty.ty08 tbody td{
	font-size:12px;
	color:#666;
}
.table_ty.ty08 tbody td div.arrow{
	width: 0;
	height: 0; 
	border-style: solid; 
	margin:0 auto;
}
.table_ty.ty08 tbody td div.arrow.upper{
	border-width: 0 4px 6px 4px;
	border-color: transparent transparent #ff0000 transparent;
}
.table_ty.ty08 tbody td div.arrow.lower{
	border-width: 6px 4px 0 4px;
	border-color: #0897F2 transparent transparent transparent;
}
.pltedata_detail tbody td input[type=text].active{
	background-color: #eea5a6;
}
.table_ty td span.txt_flow{
	display: block;
	width:70px;
	text-overflow: ellipsis;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.table_ty .btn_s,
.table_ty .btn_lm {
	display: inline-block;
	width: auto;
	text-overflow: unset;
	white-space: unset;
	word-wrap: unset;
	overflow: unset;
	transition: all 0.3s;
}
.table_ty .btn_align {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 12px;
	box-sizing: border-box;
	margin-top: 2px;
}

.table_ty .btn_align .up,
.table_ty .btn_align .down {
	display: block;
	position: relative;
	width: 20px;
	height: 8px;
	text-indent: -999px;
	overflow: hidden;
}

.table_ty .btn_align .up:before,
.table_ty .btn_align .down:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2px 0 0 -3px;
	border-top: 4px solid #9a9a9a;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

.table_ty .btn_align .up:before {
	border-top: none;
	border-bottom: 4px solid #9a9a9a;
}

.table_ty .btn_align .up:focus:before,
.table_ty .btn_align .up:hover:before {
	border-bottom: 4px solid #000;
}

.table_ty .btn_align .down:focus:before,
.table_ty .btn_align .down:hover:before {
	border-top: 4px solid #000;
}
.table_ty td>span.level{
	display: inline-block;
	position: relative;
	padding-left: 20px;
}
.table_ty td>span.level:before{
	position: absolute;
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.table_ty02 {
	position: relative;
}

.table_ty02 th,
.table_ty02 td {
	height: 21px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	vertical-align: top;
	text-align: left;
}

.table_ty02 tbody th {
	color: #000;
}

.table_ty02 tbody td {
	padding-right: 7px;
}

.table_ty03 {
	position: relative;
}
.table_ty03 tr:first-child th{
	border-top:2px solid #cccccc;
}
.table_ty03 tr:first-child th:first-child{
	vertical-align: top;
}
.table_ty03 th,
.table_ty03 td {
	height: 21px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	vertical-align: middle;
	text-align: center;
	color: #777;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}
.table_ty03 th:last-child,
.table_ty03 td:last-child{
	border-right:none;
}

.table_ty03 th {
	font-weight: bold;
	background:#f4f4f4;
}

.table_ty03 tbody td {
	padding-right: 7px;
}
.table_ty03 tbody td:first-child{
	vertical-align: top;
}

.table_ty04 {
	position: relative;
}
.table_ty04 table{
	border-left:1px solid #cccccc;
}
.table_ty04 thead tr:first-child th,
.table_ty04 tbody tr:first-child td{
	border-top:2px solid #cccccc;
}
.table_ty04 th,
.table_ty04 td {
	height: 33px;
	padding: 10px;
	box-sizing: border-box;
	line-height: 16px;
	vertical-align: middle;
	text-align: center;
	color: #777;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}
.table_ty04 th {
	font-weight: bold;
	background:#f8f8f8;
	font-size:13px;
}
.table_ty04 tbody td {
	padding-right: 7px;
}

.table_form {
	padding: 0 15px;
	margin-bottom: 30px;
}

.table_form table th,
.table_form table td {
	padding: 5px;
	text-align: left;
}

.table_form table th {
	letter-spacing: -0.05em;
}

.table_form table th>span {
	display: inline-block;
	position: relative;
	padding-left: 10px;
}

.table_form table th>span:before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
	width: 3px;
	height: 3px;
	background-color: #4c4c4e;
}

.table_form table td {
	color: #666;
	font-size: 12px;
}

.table_form tbody tr.bg th,
.table_form tbody tr.bg td {
	background: #d1d2d4;
}

.table_form table .date {
	position: relative;
}

.table_form table .hasDatepicker {
	padding-right: 42px;
}

.table_form table button.ui-datepicker-trigger {
	position: absolute;
	right: 6px;
	top: 6px;
	width: 35px;
	height: 30px;
	background: url('../images/layout/btn_datepicker.png') no-repeat center;
	text-indent: -1000px;
	overflow: hidden;
	cursor: pointer;
}

.table_form.bg {
	padding: 10px 15px;
	margin-bottom: 10px;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f8f8f8;
}

.td_height_fix01 table th,
.td_height_fix01 table td {
	height: 30px;
}

.table_form.bg .btn_area {
	margin: 15px 0 5px;
	text-align: center;
}

.table_form.bg.ty02 {
	padding: 10px 35px;
}

h3.title+.table_form {
	margin-top: -20px;
	border-top: none;
}

.table_form+.table_form {
	margin-top: -25px;
}

.table_form+.table_form02 {
	margin-top: -5px;
}

.table_form.ty02 table th,
.table_form.ty02 table td {
	padding: 10px 5px 7px;
}

.table_form.ty02 table+table {
	margin-top: -10px;
}

.table_form.ty03 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.required {
	color: #ed2024;
	display: inline-block;
	vertical-align: top;
	margin: 7px 0 0 4px;
	background: url('../images/contents/ico_required.png') no-repeat center;
	text-indent: -9999px;
	width: 6px;
	height: 5px;
	font-size: 0;
}

.ty_flex {
	position: relative;
	padding-right: 110px;
}

.ty_flex.bgc {
	background: #f4f4f4;
}

.ty_flex .btn_area {
	position: absolute;
	right: 20px;
	top: 50%;
	margin: -15px 0;
}

.table_form02 table th,
.table_form02 table td {
	padding: 5px;
	text-align: left;
}

.table_form02 table th {
	font-size: 15px;
	color: #000;
	letter-spacing: -0.05em;
}

.table_form02 table td {
	color: #666;
	font-size: 12px;
}

.table_form02+h5.title {
	margin-top: 5px;
}

/* table_form03 */
.table_form03 {
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #dadada;
}

.table_form03.light {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.table_form03 table {
	margin-top: -1px;
}

.table_form03 table th,
.table_form03 table td {
	padding: 5px;
	text-align: left;
	border-top: 1px solid #dadada;
}

.table_form03 table th {
	background: #f4f4f4;
	padding: 5px 15px 5px;
}

.table_form03 table td {
	color: #666;
	font-size: 12px;
	padding: 10px;
}
.table_form03.ty02{
	margin-top:0 !important;
}
.table_form03.ty02 th{
	font-size: 12px;
	color:#777;
}
.table_form03.ty02 td{
	font-size: 11px;
	color: #4d4d4d;
}
h6.title+.table_form03 {
	margin-top: 20px;
}
/* table_form04 */
.table_form04 table{
	border-bottom: 1px solid #e1e1e1;
}
.table_form04 table th,
.table_form04 table td {
	padding: 5px;
	text-align: left;
	border-top: 1px solid #e1e1e1;
}

.table_form04 table th {
	background: #f8f8f8;
	padding: 15px 15px;
	color:#777;
}

.table_form04 table td {
	color: #666;
	font-size: 12px;
	padding: 10px;
}

/* table_form05 */
.table_form05 table{
	border-top: 1px solid #ccc;
}
.table_form05 table th,
.table_form05 table td {
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #e1e1e1;
}
.table_form05 table th {
	background: #f4f4f4;
	padding: 8px 10px 9px;
	color:#777;
}
.table_form05 table td {
	color: #666;
	font-size: 11px;
}

/* table_result */
.table_result {
	padding: 30px;
	background-color: #f8f8f8;
}

.table_result table {
	max-width: 780px;
	margin: 0 auto;
}

.table_result table th,
.table_result table td {
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

.table_result table th {
	padding-top: 10px;
	color: #000;
}

.table_result textarea {
	height: 260px;
}

h3.title+.table_result {
	margin-top: -20px;
}
.table_result02 table{
	border:1px solid #e1e1e1;
}
.table_result02 table th,
.table_result02 table td {
	padding: 10px;
	text-align: left;
	font-size: 12px;
	border-bottom:1px solid #e1e1e1;
}

.table_result02 table th {
	color: #777;
	vertical-align: top;
	background:#f8f8f8;
	font-weight: bold;
}
.table_result02 table td{
	background: #fff;
}
.table_result02 td span.textarea{
	display: inline-block;
}

/*** search_area ***/
.search_area {
	padding: 10px 15px;
	margin-bottom: 30px;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f8f8f8;
	text-align: center;
}

.search_area table {
	max-width: 900px;
	margin: 0 auto;
}

.search_area table th,
.search_area table td {
	padding: 5px;
	text-align: left;
}

.search_area table th>span {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	letter-spacing: -0.5px;
}

.search_area table th>span:before {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	left: 0;
	width: 3px;
	height: 3px;
	background-color: #4c4c4e;
}

.search_area table .date {
	position: relative;
}

.search_area table .date .hasDatepicker {
	padding-right: 42px;
}

.search_area table .date button.ui-datepicker-trigger {
	float: left;
	width: 35px;
	height: 30px;
	background: url('../images/layout/btn_datepicker.png') no-repeat center;
	text-indent: -1000px;
	overflow: hidden;
	cursor: pointer;
	margin-left: -41px;
}

.search_area table td .btn_l {
	height: 37px;
	line-height: 35px;
}

.search_area ul.lookup_area .date {
	position: relative;
}

.search_area ul.lookup_area .date .hasDatepicker {
	padding-right: 42px;
}

.search_area ul.lookup_area .date button.ui-datepicker-trigger {
	width: 35px;
	height: 30px;
	background: url('../images/layout/btn_datepicker.png') no-repeat center;
	text-indent: -1000px;
	overflow: hidden;
	cursor: pointer;
	margin-left: -41px;
}

.search_area .date_area input {
	width: 47%;
	float: left;
}

.search_area .date_area .b_br {
	width: 6%;
	display: inline-block;
	text-align: center;
	float: left;
	line-height: 30px;
}

.search_area .date_area:after {
	content: "";
	display: block;
	clear: both;
}

.search_area .inner {
	position: relative;
	width: 955px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-right: 110px;
}

.search_area .inner>table+.btn_area,
.search_area .inner>ul+.btn_area {
	position: absolute;
	right: 0;
	top: 5px;
	margin: 0;
}

.search_area .inner>table+.btn_area .btn_l {
	height: 30px;
	line-height: 26px;
}

.search_area .inner>table+.btn_area .btn_l.ty02 {
	height: 70px;
	line-height: 68px;
}

.search_area.ty02 .inner {
	width: 1052px;
}

.search_area.ty02 .inner table {
	max-width: 937px;
}

.search_area.ty03 .inner {
	width: 1382px;
}

.search_area.ty03 .inner table {
	max-width: 1267px;
}

.search_area.ty04 .inner {
	width: 754px;
}

.search_area.ty04 .inner table {
	max-width: 639px;
}

.search_area.ty05 .inner {
	width: 925px;
	padding: 6px 0;
}

.search_area.ty05 .table {
	width: 100%;
}

.search_area.ty06 .inner {
	width: 1570px;
}

.search_area.ty06 .inner table {
	max-width: 1460px;
}

.layer_content01 {
	padding: 10px 15px;
	/* margin-bottom: 30px; */
	/* border-top: 2px solid #ccc; */
	border-bottom: 1px solid #e0e0e0;
	background-color: #f8f8f8;
	text-align: center;
}

.layer_content01.ty01 .inner {
	width: 100%;
}

.layer_content01.ty01 .inner table {
	max-width: 100%;
	height: 100%;
	background-color: #fff;
}

.layer_content01.ty01 .inner table td {
	height: 100%;
	text-align: left;
	vertical-align: top;
	border: 1px solid #ccc;
	padding: 5px;
}

.layer_content01.ty01 .inner .td01 {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	background-color: #e0e0e0;
	line-height: 30px;
}


.lookup_area {
	display: table;
	width: 100%;
}

.lookup_area>li {
	display: table-cell;
	padding-left: 10px;
}

.lookup_area>li:first-child {
	padding-left: 0;
}

.lookup_area>li.time {
	width: 18%;
}

input.select_time {
	background: #fff url('../images/contents/btn_time.png') no-repeat 90% center;
}

.search_area table .lookup_area .date button.ui-datepicker-trigger {
	position: absolute;
}

.lookup_area.ty02 {
	width: 812px;
}

.time_choice.ty02 {
	display: block;
}

/* time_choice */
.time_choice {
	position: relative;
	display: inline-block;
}

.ly_time {
	display: none;
	position: absolute;
	top: 32px;
	left: 50%;
	width: 165px;
	height: 150px;
	margin-left: -82px;
	padding: 24px 28px 24px 12px;
	box-sizing: border-box;
	border: solid 1px #c6c6c6;
	background: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
	z-index: 1;
	animation: fade both 0.4s;
}

.ly_time.on {
	display: block;
}

.ly_time .ly_cal_mon:after {
	content: "";
	display: block;
	clear: both;
}

.ly_time .ly_cal_mon a {
	float: left;
	width: 25%;
	font-size: 15px;
	color: #666;
	text-align: center;
	line-height: 40px;
	transition: all 0.4s;
}

.time_cont {
	overflow: hidden;
}

.time_cont .sel_area {
	width: 60px;
	height: 106px;
	float: left;
}

.time_cont .sel_area+.sel_area {
	float: right;
}

.time_cont .sel_area .time_list a {
	display: block;
	font-size: 16px;
	color: #666;
	text-indent: 15px;
	line-height: 22px;
	width: 95%;
	letter-spacing: -0.05em;
}

.time_cont .sel_area .time_list a:hover,
.time_cont .sel_area .time_list a:focus {
	color: #000;
}

.time_cont .sel_area .time_list a span {
	font-size: 13px;
	line-height: 22px;
	vertical-align: top;
}

.time_cont .sel_area .time_list li a.on {
	color: #000;
	font-weight: bold;
}

.time_cont .sel_area .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,
.time_cont .sel_area .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
	right: -7px;
}

.time_cont .sel_area .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.time_cont .sel_area .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.time_cont .sel_area .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #707073;
}

.time_cont .sel_area .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 3px;
}

.time_cont .sel_area .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail,
.time_cont .sel_area .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #f1f1f1;
	width: 3px;
}

.time_cont:after {
	content: "";
	display: block;
	clear: both;
}

/* wrap */
.wrap_fixed_height {
	height: 100%;
}

.wrap_fixed_height #contents_wrap {
	min-height: 500px;
}

/*** paginate ***/
.paginate {
	text-align: center;
	margin-top: 20px;
}

.paginate>a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 3px;
	border: 1px solid #e1e1e1;
	border-radius: 2px;
	box-sizing: border-box;
	background: center no-repeat;
	font-size: 0;
	text-indent: -9999px;
	overflow: hidden;
	transition: all 0.3s;
}

.paginate>a:hover,
.paginate>a:focus {
	border-color: #666;
}

.paginate .first {
	margin-left: 0;
	background-image: url('../images/layout/btn_paginate_first.png');
}

.paginate .prev {
	background-image: url('../images/layout/btn_paginate_prev.png');
}

.paginate .next {
	background-image: url('../images/layout/btn_paginate_next.png');
}

.paginate .last {
	margin-right: 0;
	background-image: url('../images/layout/btn_paginate_last.png');
}

.paginate .first:hover,
.paginate .first:focus {
	background-image: url('../images/layout/btn_paginate_first_on.png');
}

.paginate .prev:hover,
.paginate .prev:focus {
	background-image: url('../images/layout/btn_paginate_prev_on.png');
}

.paginate .next:hover,
.paginate .next:focus {
	background-image: url('../images/layout/btn_paginate_next_on.png');
}

.paginate .last:hover,
.paginate .last:focus {
	background-image: url('../images/layout/btn_paginate_last_on.png');
}

.paginate ul {
	display: inline-block;
	padding: 0 25px;
}

.paginate li {
	display: inline-block;
}

.paginate li a {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	color: #4c4c4e;
	font-size: 12px;
	line-height: 28px;
	transition: all 0.3s;
}

.paginate li a:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: #ed2024;
	transition: all 0.3s;
}

.paginate li a:hover,
.paginate li.select a {
	color: #ed2024;
	font-weight: bold;
}

.paginate li.select a:after,
.paginate li a:hover:after {
	left: 0;
	width: 100%;
}

/* ico */
.ico_value {
	display: inline-block;
	border-radius: 8px;
	width: 8px;
	height: 8px;
	margin:-3px 8px 0 0;
	background-color: #ccc;
	vertical-align: middle;
	box-sizing: border-box;
	transition: all 0.3s;
}

/* 20181219_MNL */
/*.a {
	background-color: #883b27;
}

.b {
	background-color: #e84f4f;
}

.c {
	background-color: #ff863c;
}

.d {
	background-color: #fdd52e;
}

.e {
	background-color: #babbbe;
}

.f {
	background-color: #12a935;
}

.g {
	background-color: #0897f2;
}*/
.a {
	background-color: #ed2728;
}

.b {
	background-color: #ff7814;
}

.c {
	background-color: #f2ef08;
}

.d {
	background-color: #eea5a6;
}

.e {
	background-color: #babbbe;
}

.f {
	background-color: #12a935;
}

.g {
	background-color: #0897f2;
}

.h {
	background-color: #ec1f24;
}

.i {
	background-color: #cccccc;
}

.j {
	background-color: #57658a;
}

.k {
	background-color: #249d18;
}
.ico_value.red {
	background-color: #fe0001;
}
.ico_value.yellow {
	background-color: #ffc002;
}
.ico_value.green {
	background-color: #01b050;
}

.ico_value.on {
	border-width: 2px;
	border-style: solid;
}


/* 20181219_MNL */

/*.ico_value.a.on {
	background-color: #c15337;
	border-color: #164202;
}

.ico_value.b.on {
	background-color: #ec6f6f;
	border-color: #815c04;
}

.ico_value.c.on {
	background-color: #ffb486;
	border-color: #993a00;
}

.ico_value.d.on {
	background-color: #fdde64;
	border-color: #8d0000;
}

.ico_value.e.on {
	background-color: #8e8e8e;
	border-color: #000;
}

.ico_value.f.on {
	background-color: #97bf66;
	border-color: #013760;
}

.ico_value.g.on {
	background-color: #17afe1;
	border-color: #000;
}*/

.ico_value.a.on {
	background-color: #ed2728;
;
	border-color: #333;
}

.ico_value.b.on {
	background-color: #ff7814;
;
	border-color: #333;
}

.ico_value.c.on {
	background-color: #f2ef08;
;
	border-color: #333;
}

.ico_value.d.on {
	background-color: #eea5a6;
	border-color: #333;
}

.ico_value.e.on {
	background-color: #babbbe;
;
	border-color: #333;
}

.ico_value.f.on {
	background-color: #12a935;
;
	border-color: #333;
}

.ico_value.g.on {
	background-color: #0897f2;
;
	border-color: #333;
}

/* align */
.ta_c {
	text-align: center !important;
}
.vt_t {
	vertical-align: top;
}

/* margin */
.mt {
	margin-top: 30px;
}

.mt20 {
	margin-top: 20px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}

.w90 {
	width: 90% !important;
}
.ft_s7 {
	font-size: 7px !important;
}

/*** scroll 처리 *** /


/* function */
.func_flex {
	display: flex;
}
/* list-ty */
.list_dot01 {
	display: flex;
	align-items: center;
	height: 34px;
}

.list_dot01 span:first-of-type {
	font-weight: bold;
	position: relative;
	padding-left: 10px;
	color: #666;
}

.list_dot01 span:last-of-type {
	margin-right: 15px;
	letter-spacing: -0.2px;
	color: #4d4d4d;
}

.list_dot01 span:first-of-type::before {
	position: absolute;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #666;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.list_dot02 li{
	display: flex;
	align-items: center;
	height: 34px;
	text-align: left;
}

.list_dot02 span:first-of-type {
	font-weight: bold;
	position: relative;
	padding-left: 10px;
	color: #666;
}

.list_dot02 span:last-of-type {
	margin-right: 15px;
	letter-spacing: -0.2px;
	color: #4d4d4d;
}

.list_dot02 span:first-of-type::before {
	position: absolute;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #666;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.list_line01 {
	display: flex;
	align-items: center;
}

.list_line01+a {
	margin-left: 10px;
}

.list_line01 li {
	display: flex;
	position: relative;
	margin: 0 10px;
	letter-spacing: -1px;
}

.list_line01 li:last-of-type {
	margin-right: 0;
}

.list_line01 li:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 10px;
	background-color: #4d4d4f;
	top: 50%;
	right: -10px;
	transform: translateY(-50%)
}

.list_line01 li:last-of-type:after {
	content: none;
}

.list_line01 span:first-of-type {
	font-weight: bold;
}

.list_line01 span:last-of-type {
	font-size: 11px;
}

.list_ty02,
.list_ty02 li {
	display: flex;
	align-items: center;
}

.list_ty02 li {
	margin-right: 20px;
}
.list_ty02 li span:first-of-type {
	font-weight: bold;
}

.list_ty02 li span:last-of-type {
	color: #cdcdcd;
}

.list_ty02 li input {
	width: 88px;
	margin: 0 5px;
}
.list_ty03 {
	display: flex;
}

.list_ty03 li {
	width: 27px;
	height: 27px;
	border-radius: 13.5px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	border: 2px solid transparent;
	cursor: pointer;
}

.list_ty03 li.ico_value.on {
	border-color: #333;
}

.list_ty03 li:last-of-type {
	margin-right: 0;
}

.list_ty04 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 24px;
	border-radius: 12px;
	color: #fff;
}
.list_ty05,
.list_ty05 li{
	display: flex;
	align-items: center;
}

.list_ty05 li {
	margin-right: 20px;
}
.list_ty05 li span{
	display: inline-block;
	margin-right:10px;
	white-space:nowrap;
}
.list_ty05 li select{
	width:100px;
}
.list_ty05 input[type=checkbox]{
	margin-right:5px;
}
.list_ty05 input + label{
	font-size: 12px;
	color:#4d4d4d;
	font-weight: bold;
}
.list_ty06{
	display: flex;
	margin:-10px;
	padding-bottom:10px;
}
.list_ty06 li{
	display: flex;
	width: calc(100% /4);
	flex-direction: column;
	padding:0 10px;
}
.list_ty06 li strong{
	display: block;
	padding:10px 0;
	margin:0 -10px 10px -10px;
	white-space:nowrap;
	font-weight: bold;
	text-align: center;
	background-color: #f8f8f8;
	color:#4d4d4d;
}
.list_ty06 li span{
	display: block;
	font-size: 11px;
	color: #4d4d4d;
	text-align: center;
	line-height: 24px;
}
.list_ty06 li span input[type=text]{
	height: 24px;
}

/* ALARM 이력 조회 */
.table_scroll {
	max-width: 100%;
	padding-bottom: 10px;
}

.table_scroll table {
	width: 2170px;
}

.table_scroll .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.table_scroll .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.table_scroll .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.table_scroll .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: -10px;
	margin: 0;
}

.table_scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.table_scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.table_scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #d1d2d4;
}

/* 스크롤 회색인 경우 */
.scroll_gray .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.scroll_gray .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.scroll_gray .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #d1d2d4;
}

/* 스크롤 x,y인 경우 */
.scroll_all .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,
.scroll_all .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
	right: -4px;
}

.scroll_all .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.scroll_all .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.scroll_all .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.scroll_all .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: -9px;
	margin: 0;
}

.scroll_x .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.scroll_x .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.scroll_x .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.scroll_x .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: -10px;
	margin: 0;
}

.scroll_y .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,
.scroll_y .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
	right: -4px;
}

.mCS-minimal.mCSB_scrollTools_horizontal .mCSB_dragger,
.mCS-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger {
	width: 30% !important;
}

/*** Animation ***/
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* 20181219_MNL 추가 START */

[v-cloak] {
	display: none;
}

/* Dashboard SiteTree Alarm Level */
.alarmLevel_0 {
	background-color: red;
}

.alarmLevel_1 {
	background-color: orange;
}

.alarmLevel_2 {
	background-color: yellow;
}

.alarmLevel_3 {
	background-color: pink;
}

.alarmLevel_4 {
	background-color: gray;
}

.alarmLevel_5 {
	background-color: green;
}

.alarmLevel_6 {
	background-color: blue;
}

.alarmLevel_10 {
	background-color: rgba(0, 0, 0, 0);
}

/* 20181219_MNL 추가 END */

ul.dash_footer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.dash_footer li.on a {
	position: relative;
	color: #4d4d4d;
}

ul.dash_footer li.on a:after {
	position: absolute;
	content: '';
	top: -5px;
	left: calc(50% + 25px);
	width: 6px;
	height: 6px;
	border-radius: 50%;
}

ul.dash_footer li.on a.critical:after {
	background-color: #ed2728;
}

ul.dash_footer li.on a.major:after {
	background-color: #ff7814;
}

ul.dash_footer li.on a.minor:after {
	background-color: #f2ef08;
}

ul.dash_footer li.on a.warning:after {
	background-color: #0897f2;
}

ul.dash_footer li.on a.indeterminate:after {
	background-color: #eea5a6;
}

ul.dash_footer li.on a.clear:after {
	background-color: #12a935;
}

ul.dash_footer li.on a.event:after {
	background-color: #babbbe;
}

ul.dash_footer li a {
	font-weight: bold;
	color: #919191;
	margin-right: 50px;
}

ul.dash_footer li:last-of-type {
	margin-right: 0;
}

ul.dash_footer li em {
	color: #919191;
}


/******************************************************** 210705 ******************************************************************/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
    background-clip: padding-box;
	border: 1px solid transparent;
}
::-webkit-scrollbar-track {
    background: #e4e4e4;
    border-radius: 10px;
}


/* 사용자권한승인관리 */
h6.title.tit02::before {
	position: relative;
	top: 3px;
	display: inline-block;
	content: '';
	width: 3px; 
	height: 15px;
	border-radius: 5px;
	background: #ed2024;
	margin: 0 5px 0 0;
}
.btn_co10 {
	cursor: pointer;
	border: 2px solid #acacac;
	background: #ffffff;
	color: #686868;
}
.confirm {
	text-align: center;
	padding: 20px;
	background: #f4f4f4;
	color: #ed2024;
	border: 1px solid #ddd;
}
.confirm::before {
	content: '*';
	display: inline-block;
	margin: 0 5px 0 0;
	color: #ed2024;
}
.notice {
	background: #ffffff;
	border: none;
	font-weight: 600;
}
.reject {
	color: #333;
	text-align: left;
	padding: 10px;
	outline: none;
}
.alarm {
	color: #ed2024;
	border: none;
	background: #ffffff;
	text-align: left;
	padding: 0;
}
.reject::placeholder {
	color: #999;
}
.permission td a:hover {
	color: #ed2024;
	font-weight: 600;
	cursor: pointer;
}
.blank td {
	height: 15px;
}


/* workflow 관리 > workflow 등록 */
.display_on::after {
	content: '표시';
}
.display_off::after {
	content: '미표시';
}
.table_ty.table_min.table_min02 {
	margin: 0 0 100px;
}
.checkbox_ty01 .checkbox_dot {
	top: 2px;
}
.head_line {
	border-bottom: 2px solid #ccc;
}
.date_list ul {
	position: relative;
	display: flex;
}
.date_list ul li {
	position: inherit;
	display: inline-flex;
	align-items: center;
	margin:0 15px 0 0;
}
.date_list ul li span {
	display: inline-block;
	margin: 0 0 0 5px;
}
.date_list .lookup_area button.ui-datepicker-trigger {
	background: url('../images/layout/btn_datepicker.png') no-repeat right center;
	background-size: contain;
}
input.selected {
	background: #f8f8f8;
}
.location_wrap {
	position: relative;
	display: flex;
	padding: 0 0 30px;
}
.location_wrap .location {
	position: inherit;
	display: inherit;
	flex-direction: column;
	width: 30%;
}
.location_wrap .location + .location {
	width: 25%;
	margin: 0 0 0 10%;
}
.location_wrap .location h1 {
	font-size: 16px;
	margin: 5px 0;
}
.location_wrap .location .check_wrap {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	margin: 10px 0 0;
}
.location_wrap .location .checkbox_ty01 {
	margin: 0 30px 0 0;
	display: inline-flex;
	font-size: 13px;
	font-weight: 500;
}
.location_wrap .subscriber .checkbox_ty01 {
	margin: 0 5px 0 0;
}
.location_wrap .close {
	background: #aaa;
	color: #fff;
	padding: 2px 6px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.25s;
}
.location_wrap .close:hover {
	background: #ddd;
	color: #333;
	transition: 0.25s;
}
.location_wrap .user,
.location_wrap .requester {
	position: relative;
	display: flex;
	flex-direction: column;
}
.location_wrap .scrollbar-inner {
	border: 1px solid #e1e1e1;
	padding: 10px;
	margin: 10px 0 0 0;
	height: 320px;
	overflow: hidden;
	overflow-y: auto;
}
.location_wrap .subscriber .scrollbar-inner {
	height: 295px;
}
.location_wrap .scrollbar-inner.mini {
	margin: 5px 0 0;
	height: 100px;
	width: 250px;
}
.location_wrap .check_list li {
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px;
}
.location_wrap .subscriber .check_list li {
	margin: 5px 0 15px;
}
.location_wrap .check_list li:last-child {
	margin: 0;
}
.location_wrap .move {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: calc(50% - 10px);
	right: -60px;
}
.location_wrap .move input[type='button'] {
	padding: 5px 15px;
	border: 1px solid #ccc;
	background: url('../images/contents/arrow.svg') no-repeat center center #eee;
	background-size: 10px;
	cursor: pointer;
	margin: 0 0 5px;
	transition: 0.25s;
}
.location_wrap .move input[type='button']:hover {
	background: url('../images/contents/arrow.svg') no-repeat center center #ccc;
	background-size: 10px;
	transition: 0.25s;
}
.location_wrap .move .move_out {
	transform: rotate(180deg);
}
.location_wrap .checkbox_ty01.mail {
	padding: 0;
	margin: -7px 25px 0 0;
}
.location_wrap .checkbox_ty01.mail .checkbox_dot {
	height: 25px;
	width: 25px;
	background: url('../images/contents/mail_off.svg') no-repeat center center;
	background-size: 15px;
	border-radius: 50px;
	border: 1px solid #cdcdcd;
	box-sizing: border-box;
}
.location_wrap .checkbox_ty01.mail:hover input~.checkbox_dot {
	background: url('../images/contents/mail_off.svg') no-repeat center center #eee;
	background-size: 15px;
}
.location_wrap .checkbox_ty01.mail input:checked~.checkbox_dot {
	background: url('../images/contents/mail_on.svg') no-repeat center center;
	background-size: 15px;
	border: 1px solid #d21c20;
}
.location_wrap .check_wrap .checkbox_ty01.mail {
	display: flex;
	align-items: center;
	margin: -3px 43.5px 0 0;
}
.location_wrap .check_wrap .checkbox_ty01.mail .checkbox_dot {
	left: 110px;
}
.location .tree_nav ul li > ul > li {
	padding: 5px 0 5px 40px;
}
.location .tree_nav ul li > ul > li a {
	padding: 5px 10px;
	transition: 0.25s;
	margin: -8px 0 0;
}
.location .tree_nav ul li > ul > li.on a,
.location .tree_nav ul li > ul > li a:hover {
	background: #f1f1f1;
	border-radius: 5px;
	transition: 0.25s;
}
.location_wrap .requester {
	margin: 15px 0 0;
}
.pop_location {
	flex-direction: column;
}
.pop_location .pop_header {
	position: relative;
}
.pop_location .title {
	margin: 15px 0 0;
}
.pop_location .check_wrap {
	position: absolute;
	right: 0;
	top: 17px;
}
.pop_location .check_wrap .checkbox_ty01 {
	margin: 0;
}
.pop_location .scrollbar-inner {
	height: 250px;
}