@charset "utf-8";
/*
    Font.css
*/
@font-face {
    font-family:'kt';
    font-style: normal;
    font-weight: normal;
    src:
    url(../fonts/org/droid_sans.eot),
    url(../fonts/org/droid_sans.woff) format('woff'),
    url(../fonts/org/droid_sans.ttf) format('opentype');
}

