@charset "utf-8";
/*
    Layout.css
*/

/***** layout *****/
html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 1920px;
    background: #fff;
    overflow-x: hidden;
}

body.responsive {
	width: 100%;
	min-width: 100%;
}

#wrap {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
}

#wrap.desgin {
    padding-bottom: 0;
}
#wrap.plte {
    padding-bottom: 0;
}

/*** header ***/
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 71px;
    min-width: 1920px;
    background: #fff;
    border-bottom: 1px solid #d1d2d4;
    z-index: 10;
    box-sizing: border-box;
}

header .logo {
    position: absolute;
    left: 45px;
    top: 20px;
    width: 277px;
    height: 32px;
    background: url('../images/layout/logo.png') center no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 2;
}

header .logo a {
    display: block;
    height: 100%;
}

/* GNB */
#gnb {
    position: relative;
    line-height: 0;
    margin-left: 357px;
}

#gnb>ul {
    display: inline-block;
    line-height: 40px;
}

#gnb>ul:after {
    content: "";
    display: block;
    clear: both;
}

#gnb>ul>li {
    float: left;
    position: relative;
    padding: 0 30px;
}

#gnb>ul>li>a {
    position: relative;
    display: block;
    height: 70px;
    text-align: center;
    color: #b7b7b8;
    font-size: 17px;
    line-height: 70px;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: -0.5px;
    transition: all 0.3s;
}

#gnb>ul>li.on>a,
#gnb>ul>li.active>a,
#gnb>ul>li a:hover,
#gnb>ul>li>a:focus {
    color: #ed2024;
}

#gnb>ul>li>a:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    background: #ec1f24;
    transition: all 0.3s;
}

#gnb>ul>li.on>a:after,
#gnb>ul>li.active>a:after,
#gnb>ul>li>a:hover:after,
#gnb>ul>li>a:focus:after {
    left: 0;
    width: 100%;
}

#gnb>ul>li.on>a:after,
#gnb>ul>li>a:hover:after,
#gnb>ul>li>a:focus:after {
    display: none;
}

#gnb>ul>li.active.on>a:after {
    display: block;
}

#gnb>ul>li.hidden>a {
    color: #4c4c4c;
}

#gnb>ul>li.hidden>a:after {
    display: none;
}

#gnb>ul>li>ul {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 10px 13px 18px;
    background: #fff;
    border: 1px solid #d1d2d4;
    box-sizing: border-box;
}

#gnb>ul>li>ul li {
    text-align: left;
    padding: 0;
}

#gnb>ul>li>ul li a {
    position: relative;
    color: #4c4c4e;
    font-size: 13px;
    letter-spacing: -0.5px;
}

#gnb>ul>li>ul li.active a,
#gnb>ul>li>ul li a:hover,
#gnb>ul>li>ul li a:focus {
    color: #ec1f24;
    font-weight: bold;
    letter-spacing: -0.8px;
}

#gnb>ul>li>ul li a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ec1f24;
    transition: all 0.3s;
}

#gnb>ul>li>ul li.active a:after,
#gnb>ul>li>ul li a:hover:after,
#gnb>ul>li>ul li a:focus:after {
    width: 100%;
}

#gnb>ul>li:nth-child(1)>a {
    width: 63px;
}

#gnb>ul>li:nth-child(2)>a {
    width: 81px;
}

#gnb>ul>li:nth-child(3)>a {
    width: 141px;
}

#gnb>ul>li:nth-child(4)>a {
    width: 131px;
}

#gnb>ul>li:nth-child(5)>a {
    width: 116px;
}

#gnb>ul>li:nth-child(6)>a {
    width: 93px;
}

#gnb>ul>li:nth-child(7)>a {
    width: 95px;
}

#gnb>ul>li:nth-child(8)>a {
    width: 79px;
}

#gnb>ul>li:nth-child(1)>ul {
    left: -7px;
    width: 137px;
}

#gnb>ul>li:nth-child(2)>ul {
    left: 16px;
    width: 109px;
}

#gnb>ul>li:nth-child(3)>ul {
    left: 28px;
    width: 145px;
}

#gnb>ul>li:nth-child(4)>ul {
    left: 23px;
    width: 146px;
}

#gnb>ul>li:nth-child(5)>ul {
    left: 19px;
    width: 138px;
}

#gnb>ul>li:nth-child(6)>ul {
    left: -3px;
    width: 159px;
}

#gnb>ul>li:nth-child(7)>ul {
    left: 29px;
    width: 97px;
}

#gnb>ul>li:nth-child(8)>ul {
    left: -3px;
    width: 146px;
}

/* ad_info */
.ad_info {
    position: absolute;
    right: 45px;
    top: 10px;
    font-size: 12px;
    line-height: 24px;
}

.ad_info a {
    display: inline-block;
    font-weight: bold;
}

.ad_info a:hover {
    color: #000;
}

.ad_info .utll_menu li {
    position: relative;
    float: left;
    padding-left: 7px;
    margin-left: 7px;
}

.ad_info .utll_menu li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    display: block;
    width: 1px;
    height: 10px;
    background: #d1d2d4;
}

.ad_info .utll_menu li:first-child:before {
    display: none;
}

.ad_info .utll_menu li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.ad_info .utll_menu li a {
    letter-spacing: -0.5px;
}

.ad_info .utll_menu .user {
    background: url('../images/layout/ico_top_user.png') no-repeat 0;
    padding-left: 25px;
}

.ad_info .utll_menu:after {
    content: "";
    display: block;
    clear: both;
}

.ad_info .utill_notice {
    float: right;
    margin-top: 5px;
}

.ad_info .utill_notice li {
    float: left;
}

.ad_info .utill_notice li a {
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
    width: 12px;
    height: 17px;
    line-height: 17px;
    padding: 0 5px;
}

.ad_info .utill_notice .notice {
    background: url('../images/layout/ico_top_notice.png') no-repeat 0 1px;
    padding: 0 5px 0 16px;
    font-size: 12px;
    text-indent: 0;
    color: #ff1111;
}

.ad_info .utill_notice .member {
    background: url('../images/layout/ico_top_member.png') no-repeat center 1px;
}

.ad_info .utill_notice .setup {
    background: url('../images/layout/ico_top_setup.png') no-repeat center;
    width: 17px;
    height: 17px;
}

.ad_info .utill_notice:after {
    content: "";
    display: block;
    clear: both;
}


/*** Footer ***/
footer {
    width: 100%;
    height: 60px;
    background: #f8f8f8;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    display: table;
    table-layout: fixed;
}

footer address {
    color: #b8b8b8;
    font-size: 12px;
    font-style: normal;
    letter-spacing: -0.05em;
    display: table-cell;
    vertical-align: middle;
}

footer.footer02 {
    position: relative;
    margin-top: -20px;
    height: 49px;
}

footer.footer03 {
    position: relative;
    height: 40px;
    /* margin-top: -30px; */
}


/*** container ***/
#container {
    position: relative;
    padding: 0px 45px 40px;
    height: 100%;
    box-sizing: border-box;
}
#container.dsb_container{
    padding: 0px 45px 10px;
}
 
#container:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

/* navigation */
#navigation {
    text-align: right;
    line-height: 1;
    padding: 14px 0 15px;
}

#navigation li {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin-left: 7px;
    font-size: 12px;
    font-weight: bold;
}

#navigation li:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 5px;
    height: 7px;
    margin-top: -2px;
    background: url('../images/layout/img_navigation_division.png') no-repeat center;
}

#navigation li:first-child {
    padding-left: 0;
    margin-left: 0;
}

#navigation li:first-child:before {
    display: none;
}

#navigation li img {
    vertical-align: middle;
    margin-top: -2px;
}

/* contents_wrap */
#contents_wrap {
    height: calc(100% - 64px);
}
.plte_wrap #contents_wrap {
    height: 100%;
}
/* mCustomScrollbar */
.mCS-autoHide>.mCustomScrollBox>.mCSB_scrollTools,
.mCS-autoHide>.mCustomScrollBox~.mCSB_scrollTools {
    opacity: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 7px;
    border-radius: 0;
}

.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -29px;
    margin: 0;
}

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #4c4c4e;
    background-color: rgba(76, 76, 78, 1);
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 7px;
}

.mCustomScrollBox.mCS-minimal+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -29px;
}

.contents {
    height: 100%;
}

.contents>*>.mCSB_container {
    min-width: 1110px;
}

.contents>h3.title:first-child {
    margin-top: -18px;
}

/* lnb Command List */
#lnb {
    overflow: hidden;
    float: left;
    width: 278px;
    height: 894px;
}

#lnb+.contents {
    float: right;
    width: calc(100% - 303px);
}

#lnb+.contents>*>.mCSB_container {
    min-width: 810px;
}

.lnb_title {
    display: block;
    height: 30px;
    padding: 0 45px;
    background-color: #ed2024;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.05em;
}

.lnb_nav {
    height: calc(100% - 30px);
    background-color: #f4f4f4;
}

.lnb_nav>li>a {
    display: block;
    height: 30px;
    padding: 0 45px;
    border-top: 1px solid #f4f4f4;
    background-color: #4c4c4e;
    color: #fff;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.05em;
}

.lnb_nav>li:first-child>a {
    border-top: none;
}

.lnb_dep {
    display: none;
}

.lnb_dep ul {
    padding: 30px 30px 30px 45px;
    box-sizing: border-box;
}

.lnb_dep ul>li {
    margin-top: 13px;
}

.lnb_dep ul>li:first-child {
    margin-top: 0;
}

.lnb_dep ul>li>a {
    display: block;
    position: relative;
    padding-left: 10px;
    color: #000;
}

.lnb_dep ul>li>a:before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: #000;
}

.lnb_dep .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,
.lnb_dep .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 15px;
    margin: 30px 0 0;
    height: 91%;
}

/* dep_sub */
.dep_sub_area {
    display: none;
}

/*.dep_sub_area .scrollbar-inner {
    height: 603px !important;
}*/
.scrollbar{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    height:400px;
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
    background-color: #FFFFFF;
}

.scrollbar::-webkit-scrollbar
{
    width: 10px;
    height:10px; /*200611 가로스크롤 폭 조절*/
    background-color: #FFFFFF;
    -webkit-appearance: auto;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #F5F5F5;
}
.scrollbar.ty02{
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
}
.scrollbar.ty03{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: scroll;
}
.scrollbar_space{
    padding-right:10px;
}
.scrollbar_space+.scrollbar.ty03{
    margin-top:-1px;
}
.scrollbar.short{
    height:200px;
}
.scrollbar.long{
    height:600px;
}
.dep_sub_area .scrollbar{
    height: 574px;
}
/* float_area */
.float_area {
    margin-bottom: -10px;
}

.float_area:after {
    content: "";
    display: block;
    clear: both;
}

.f_box:first-child {
    width: 61%;
}

.f_box {
    width: calc(39% - 10px);
    padding: 9px 30px 11px;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
}

.float_area .fl {
    float: left;
}

.float_area .fr {
    float: right;
}

.float_area .fl+.title {
    padding: 0 0 15px 10px;
    display: inline-block;
}

.float_area02 {
    display: inline-block;
    width:100%;
}
.float_area02 .fl {
    float: left;
}

.float_area02 .fr {
    float: right;
}
.float_area02 .table_ty{
    margin-top:0 !important;
}

.f_box>textarea {
    padding: 0;
    border: none;
    height: 132px;
}

.f_box .scrollbar-inner .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,
.f_box .scrollbar-inner .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -3px;
}

.f_box .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.f_box .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.f_box .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #d1d2d4;
    background-color: rgba(209, 210, 212, 1);
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.f_box .checkbox_area {
    height: 182px;
    margin: 10px 0 5px;
}

.f_box .checkbox_area .mCustomScrollBox {
    height: 180px;
}

.f_box .checkbox_area ul {
    margin-bottom: -15px;
    margin-left: -5%;
}

.f_box .checkbox_area ul:after {
    content: "";
    display: block;
    clear: both;
}

.f_box .checkbox_area li {
    float: left;
    margin-left: 5%;
    margin-bottom: 14px;
    font-size: 12px;
}

.f_box .checkbox_area input[type=checkbox] {
    width: 18px;
    height: 18px;
    vertical-align: top;
}

.f_box .checkbox_area input[type=radio] {
    width: 18px;
    height: 18px;
    vertical-align: top;
}

.f_box .checkbox_area li label {
    padding-left: 7px;
    vertical-align: top;
}

.f_box .table_form {
    padding: 0;
    margin: 0;
}

.f_box .table_form.scrollbar-inner {
    max-height: 80px;
}

.f_box+.f_box .table_form.scrollbar-inner {
    max-height: 161px;
}

.f_box .table_form table th {
    color: #000;
}

.f_box .table_form.texList table th,
.f_box .table_form.texList table td {
    padding: 8px 8px 7px;
}

.f_box .table_form.texList.scrollbar-inner {
    height: 229px;
    max-height: 229px;
    margin: 0;
}

.float_area.ty02 {
    margin-bottom: 50px;
}

.float_area.ty02 .group {
    box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
}

.float_area.ty02 .group:first-child {
    padding-left: 0;
}

.float_area h4.title {
    border-bottom: none;
    padding: 5px 0 10px;
}

.float_area.ty02 .group .f_box {
    width: 100%;
    padding: 9px 20px 11px;
}

.float_area.ty02 .group .f_box01 {
    width: 99%;
    padding: 9px 20px 11px;
}

.float_area.ty02 .group .f_box:first-child {
    width: 100%;
}

.float_area.ty02 .group .f_box {
    min-height: 102px;
    box-sizing: border-box;
}

.float_area.ty02 .group .f_box~.f_box {
    min-height: 183px;
}

.float_area.ty02 .group .f_box .table_ty02 {
    min-height: 305px;
    max-height: 305px;
    padding-bottom: 17px;
    box-sizing: border-box;
}

.float_area.ty02 .group .f_box h4.title+.table_ty02 {
    margin-top: 9px;
}

.float_area.ty02 .group .f_box>textarea {
    height: 111px;
}

.float_area.ty02 .f_box+h4+.f_box .table_form.scrollbar-inner {
    max-height: 161px;
}

.float_area.ty02 .group.wide {
    width: 100%;
    float: none;
    overflow: hidden;
    padding-left: 0;
}

.float_area.ty02 .group.wide .f_box {
    min-height: 82px;
}

.float_area.ty02 .f_box .checkbox_area {
    height: 30px;
    margin: 20px 0 5px;
}

.float_area.ty02 .f_box .checkbox_area .mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger,
.float_area.ty02 .f_box .checkbox_area .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger {
    min-height: 20px !important;
}

.float_area.ty02 .group .f_box+.btn_area {
    margin: 20px 0 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .float_area.ty02 .group .f_box>textarea {
        height: 107px;
    }
}


/**** POPUP ****/
.popup_visible {
    overflow: hidden;
}

.popup_mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 50;
    display: none;
}

.popup {
    position: fixed;
    width: 500px;
    max-height:864px;
    z-index: 51;
    display: none;
}

.popup2 {
    position: fixed;
    width: 500px;
    max-height:864px;
    z-index: 52;
    display: none;
}
.popup.on{
    display: block;
}
.popup.wide {
    width: 664px;
}
.popup.wide01 {
    width: 1400px;
}
.popup.wide02 {
    width: 1868px;
}
.popup.wide03{
    width: 1560px;
}
.popup.wide04{
    width: 400px;
}
.pop_tit {
    height: 50px;
    padding: 0 30px;
    background-color: #2c3345;
    color: #fff;
    font-size: 18px;
    line-height: 46px;
    font-weight: bold;
    letter-spacing: -0.02em;
}

.popup>.pop_close {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 53px;
    height: 53px;
    background: url(../images/layout/btn_pop_close.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

.pop_con_wrap {
    padding: 30px 30px 30px 30px;
    max-height:790px; 
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: #fff;
}
.pop_con_wrap.ty02 {
    padding: 30px 10px;
}
.pop_con_wrap.ty03 {
    padding:0 20px 12px 20px;
    box-sizing:border-box;
    border:none;
    background-color: #FBFBFB;
}



.pop_con_tit {
    color: #000;
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: bold;
}
.popup .scrollbar {
    height: 400px;
}

.popup .scrollbar.short {
    height: 200px;
}
.popup .scrollbar.long {
    height: 650px;
}
.popup .scrollbar-inner {
    height: 100%;
    max-height: 400px;
}

.popup .scrollbar-inner.long {
    height: 100%;
    max-height: 650px;
}

.popup .scrollbar-inner .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,
.popup .scrollbar-inner .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -23px;
}

.win_pop .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.win_pop .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.win_pop .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.popup .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.popup .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.popup .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #d1d2d4;
    background-color: rgba(209, 210, 212, 1);
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.win_pop .pop_con_wrap{     
    height:auto !important;
    max-height:none !important;
}
.popup .table_form {
    padding: 0;
}

.popup .table_form table th,
.popup .table_form table td {
    font-size: 13px;
}

.popup .table_form table th {
    color: #000;
}

.popup .table_form.vTop {
    margin-bottom: 0;
}

.popup .table_form.vTop table th {
    vertical-align: top;
    padding-top: 13px;
}

.popup .table_form.ty02.vTop table td {
    vertical-align: top;
    padding-top: 13px;
}

.popup .table_form+.pop_con_tit {
    margin-top: 20px;
}

.popup .btn_area {
    margin: 20px 0 0;
    text-align: center;
}

.popup .btn_s {
    min-width: 52px;
}


/*** window popup ***/
.win_pop {
    min-width: 500px;
}

.win_pop .popup {
    position: relative;
    display: block;
}

.win_pop .popup {
    width: auto !important;
}

.win_pop .pop_con_wrap {
    border: none;
}

.win_pop .btn_area {
    margin: 20px 0 0;
    text-align: center;
}

.Upopens {cursor:pointer; display:inline-block; width:100px; height:16px; background:url(../images/contents/btn_act01_upon.png) no-repeat;}
.Downopens {cursor:pointer; display:inline-block; width:100px; height:16px; background:url(../images/contents/btn_act01_up.png) no-repeat;}