@charset "utf-8";
/*
    popup.css
*/

/* layout */
.f_box .scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -14px
}

/* popup id */
.pop_progress {
    width: 1222px;
}

.pop_progress > .scrollbar-inner {
    max-height: 530px;
}

.pop_data_change {
}

.pop_view_message {
}

.pop_password_inp {
}

.pop_each_action {
    width: 900px;
}

.pop_each_action .pop_con_wrap > .scrollbar-inner {
    max-height: 465px;
    height: 465px;
}

.pop_cs_data_chagne {
    width: 586px;
}

.pop_ex_command {
    width: 650px;
}

.pop_app_connection {
}

.pop_ems_connection {
    width: 580px;
}

.pop_perform_graph {
    width: 670px;
}

.pop_perform_graph .pop_con_wrap > .scrollbar-inner {
    max-height: 555px;
}

.pop_inquiry_conError {
    width: 950px;
}

.pop_vim_select {
    width: 900px;
}

.pop_manual_scale {
    width: 750px;
}

.pop_add_threshold {
}

.pop_event_msg {
    width: 570px;
}

.pop_event_msg .pop_con_wrap > .scrollbar-inner {
    max-height: 630px;
    height: 630px;
}

.pop_alarm_detail {
}

.pop_alarm {
    width: 400px;
}

.pop_file_upload {
}

.pop_pw_change {
    width: 400px;
}

.pop_pw_find {
    width: 400px;
}

.pop_system {
    width: 525px;
}

.pop_work_info {
    width: 570px;
}

.pop_work_info .pop_con_wrap > .scrollbar-inner {
    max-height: 630px;
    height: 630px;
}

.pop_oper_info {
    width: 570px;
}

.pop_oper_info .pop_con_wrap > .scrollbar-inner {
    max-height: 590px;
    height: 590px;
}

.pop_alarm_id {
}

.pop_alarm_id .pop_con_wrap > .scrollbar-inner {
    max-height: 460px;
    height: 460px;
}

.pop_configuration {
    width: 570px;
}

.pop_configuration .pop_con_wrap > .scrollbar-inner {
    max-height: 750px;
    height: 750px;
}

.pop_linkage {
    width: 749px;
}

.pop_linkage .pop_con_wrap > .scrollbar-inner {
    max-height: 319px;
    height: 319px;
}

.pop_ns_comp {
    width: 900px;
}

.pop_ns_comp .pop_con_wrap > .scrollbar-inner {
    max-height: 660px;
    height: 660px;
}

.pop_site_select {
    width: 400px;
}

.pop_vnfd_name {
    width: 900px;
}

.pop_vnfd_name .pop_con_wrap > .scrollbar-inner {
    max-height: 765px;
    height: 765px;
}

.pop_inquiry_conError02 {
    width: 950px;
}

.pop_inquiry_conError02 .pop_con_wrap > .scrollbar-inner {
    max-height: 816px;
    height: 816px;
}

.pop_con_wrap.no_border .table_form03 table td {
    padding: 5px;
    border: none;
}

.pop_con_wrap.no_border .table_form03 {
    width: 80%;
    margin: 0 auto;
    border: none;
}

.pop_view_message textarea {
    height: 200px;
}

.pop_data_change textarea {
    height: 125px;
}

body.wpop {
    min-width: 100%;
    height: auto;
}

.wpop .pop_perform_graph {
    min-width: 670px;
    width: 100%;
}

.wpop .pop_inquiry_conError {
    min-width: 950px;
    width: 100%;
}

/* float_area */
.popup .float_area.ty02 .group .f_box {
    background-color: #f8f8f8;
}

.popup .float_area.ty02 .group .f_box .table_ty02 {
    min-height: 219px;
    max-height: 220px;
}

.popup .float_area.ty02 .group .f_box h4.title {
    border-bottom: 1px solid #ccc;
    padding: 12px 0 14px;
}

.popup .float_area.ty02 .group .f_box h4.title + .table_ty02 {
    margin-top: 9px;
}

.popup .float_area.ty02 .group .f_box > textarea {
    height: 90px;
}

.popup .float_area.ty02 .group .f_box + .btn_area {
    text-align: right;
    margin: 10px 0 20px;
}

.f1 .f_box {
    background-color: #000;
}

/* command_area */
.command_area {
    position: relative;
    margin: 0 19px;
}

.command_area .box {
    width: 238px;
}

.command_area .box.right {
    position: absolute;
    right: 0;
    top: 0;
}

.command_area .tit {
    display: block;
    background: #4c4c4e;
    height: 40px;
    line-height: 42px;
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.command_area .cont {
    box-sizing: border-box;
    border: 2px solid #4c4c4e;
    border-top: none;
    background: #f8f8f8;
    padding: 15px 0 10px;
    height: 336px;
}

.command_area .cont ul {
    padding: 0 65px 0 9px;
}

.command_area .cont li:first-child {
    padding-top: 0;
}

.command_area .cont li a {
    display: block;
    padding: 6px 10px 6px;
    color: #000;
    font-size: 14px;
    letter-spacing: -0.05em;
}

.command_area .cont li a.on {
    color: #fff;
    background: #666 url('../images/contents/bg_chk_command.gif') no-repeat 94% 10px;
}

.command_area .box.right .cont {
    padding-bottom: 70px;
}

.command_area .btn_align {
    margin: 20px 10px -10px;
    padding-top: 13px;
    border-top: 1px solid #d1d2d4;
    text-align: center;
}

.btn_move {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -15px;
}

.btn_move button {
    display: block;
    box-sizing: border-box;
    border: 2px solid #4c4c4e;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.btn_move button:hover,
.btn_move button:focus {
    border-color: #000;
}

.btn_move button.next {
    background: #fff url('../images/layout/btn_move_next.png') no-repeat center;
}

.btn_move button.before {
    background: #fff url('../images/layout/btn_move_before.png') no-repeat center;
    margin-top: 10px;
}

.btn_align button {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #4c4c4e;
    border-radius: 4px;
    width: 26px;
    height: 24px;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.btn_align button:hover,
.btn_align button:focus {
    border-color: #000;
}

.btn_align button.up {
    background: #fff url('../images/contents/bg_align_up.png') no-repeat center;
}

.btn_align button.down {
    background: #fff url('../images/contents/bg_align_down.png') no-repeat center;
    margin-left: 5px;
}

.popup .command_area .scrollbar-inner .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.popup .command_area .scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 5px;
}

.popup .command_area .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.popup .command_area .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.popup .command_area .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #4c4c4e;
}

/* alert_msg_cont - 윈도우, 레이어팝업 공용 */
.chk_board {
    text-align: right;
}

.chk_board li {
    display: inline-block;
    margin-left: 30px;
}

.chk_board li:first-child {
    margin-left: 0;
}

.chk_board li input[type="checkbox"] {
    vertical-align: -4px;
    margin-right: 6px;
    width: 18px;
    height: 18px;
}

.perform_graph {
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    box-sizing: border-box;
}

.perform_graph .each {
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

.perform_graph .each img {
    width: 508px;
}

.perform_graph .each:first-child {
    margin-top: 0;
    border-top: none;
}

.perform_graph + .table_ty {
    margin-top: 30px;
}

.screen_no {
    display: table;
    width: 100%;
    height: 198px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.screen_no .inner {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.screen_no .txt {
    font-size: 12px;
    padding-top: 50px;
    background: url('../images/contents/ico_no_data.png') no-repeat center top;
}

.chk_board + .screen_no {
    margin-top: 20px;
}

.screen_no + .table_ty {
    margin-top: 30px;
}

/* inquiry_result - 윈도우, 레이어팝업 공용 */
.inquiry_result .area {
    background: #f2f1f1;
    padding: 12px 0 25px;
}

.inquiry_result .area .tit {
    display: inline-block;
    padding: 0 0 25px 20px;
    font-size: 16px;
}

.inquiry_result .server_set {
    padding: 0 10px;
}

.inquiry_result .server_set li {
    position: relative;
    float: left;
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}

.inquiry_result .server_set .this {
    display: block;
    text-align: center;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.inquiry_result .server_set .group {
    position: relative;
    padding: 14px 18px 0;
    box-sizing: border-box;
    text-align: center;
}

.inquiry_result .server_set .group:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -2px;
    width: 2px;
    height: 100%;
    background: #000;
}

.inquiry_result .server_set .group .box {
    position: relative;
    display: block;
    margin-top: 5px;
    height: 30px;
    color: #fff;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
}

.inquiry_result .server_set .group .box:first-child {
    margin-top: 0;
}

.inquiry_result .server_set:after {
    content: "";
    display: block;
    clear: both;
}

.inquiry_result .brick_set {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.inquiry_result .brick_set .brick {
    float: left;
    background: #70b850;
    height: 40px;
    line-height: 40px;
    width: calc(25% - 10px);
    margin-left: 10px;
    border-radius: 5px;
}

.inquiry_result .brick_set .brick:first-child {
    margin-left: 0;
}

.inquiry_result .brick_set .brick.large {
    width: 50%;
}

.inquiry_result .brick_set:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}

/* VIM 선택 */
.popup .search_area .inner {
    width: 800px;
}

.popup .search_area table {
    width: 695px;
}

/* I/F RQ & RS Messages */
.popup .textarea_box {
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.popup .textarea_box textarea {
    border: none;
}

.popup .textarea_box + .pop_con_tit {
    margin-top: 20px;
}

/* Manual Scale */
.scale_tit_area {
    position: relative;
    margin-bottom: 15px;
}

.scale_tit_area .tit {
    font-size: 15px;
}

.scale_tit_area .sel_area {
    margin-left: 20px;
    display: inline-block;
    width: 165px;
}

.scale_tit_area .btn_area {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

/* alarm_screen */
.popup .alarm_screen {
    position: relative;
    padding-top: 110px;
}

.popup .alarm_screen:before {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 90px;
    background: #f4f4f4 url('../images/contents/ico_confirm.png') no-repeat center;
}

.popup .alarm_screen.ty02:before {
    background: #f4f4f4 url('../images/contents/alarm_screen02.png') no-repeat center;
}

.popup .alarm_screen .txt p {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.popup .alarm_screen .btn_area {
    border-top: 1px solid #e1e1e1;
    padding-top: 20px;
}

/* notice_area */
.popup .notice_area {
    text-align: center;
}

.popup .notice_area .tit {
    color: #000;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.05em;
}

.popup .notice_area .tit .small {
    font-size: 18px;
}

.popup .notice_area .txt {
    margin-top: 30px;
    color: #999;
    font-size: 14px;
    letter-spacing: -0.05em;
}

.popup .notice_area .btn_area {
    margin: 30px 0 0;
    border-top: 1px solid #e1e1e1;
    padding-top: 20px;
}

/* confirm_dialog */
.popup .confirm_dialog {
    text-align: center;
}

.popup .confirm_dialog .tit {
    display: inline-block;
    padding-left: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: -0.05em;
    color: #70b850;
    background: url('../images/contents/ico_confirm.png') no-repeat left 0;
}

.popup .confirm_dialog .txt {
    margin-top: 6px;
    font-weight: bold;
    letter-spacing: -0.05em;
    color: #000;
}

.popup .confirm_dialog + .btn_area {
    border-top: 1px solid #e1e1e1;
    padding-top: 15px;
}

.popup .confirm_dialog .tit.ty02 {
    color: #ed2024;
    background: url('../images/contents/ico_confirm02.png') no-repeat left 0;
}

.popup .confirm_dialog .tit.ty03 {
    color: #989898;
    background: url('../images/contents/ico_confirm03.png') no-repeat left 0;
}

.popup .confirm_dialog .tit.ty04 {
    padding-left: 54px;
    height: 41px;
    line-height: 41px;
    color: #000;
    background: url('../images/contents/ico_confirm04.png') no-repeat left 0;
}

.popup .confirm_dialog .tit.ty03 + .txt {
    padding-left: 5px;
}


.popup .operating_area .left {
    left: 20px;
}

.popup .operating_area .right {
    right: 20px;
}

/*** 장비정보 테이블 스크롤 css ***/
.scroll_equipment.scrollbar-inner {
    padding-right: 0px;
    max-height: 240px !important;
}

.scroll_equipment02.scrollbar-inner {
    padding-right: 0px;
    max-height: 220px;
}

.scroll_equipment02.scrollbar-inner .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.scroll_equipment02.scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -6px;
}

/* 비밀번호 찾기 */
.popup .pw_find {
    font-weight: bold;
    color: #000;
    line-height: 23px;
}

/* 시스템 점검 안내 */
.popup .system_check {
    text-align: center;
    color: #000;
    letter-spacing: -0.05em;
}

.popup .system_check h2 {
    font-size: 20px;
    background: url('../images/contents/ico_system_check.png') no-repeat center 1px;
    padding-top: 54px;
}

.popup .system_check .txt {
    font-size: 16px;
    line-height: 30px;
    margin-top: 28px;
}

.popup .system_check .term {
    display: block;
}

.popup .today_chk {
    border-top: 1px solid #e0e0e0;
    margin: 24px -30px -30px;
    padding: 5px 30px;
}

.popup .today_chk label {
    vertical-align: top;
    color: #666;
}

.popup .today_chk input[type="checkbox"] {
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/* 5G  E2E Configuration */
.popup .title.ty02 {
    border-color: #208d8c;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: -0.05em;
}

.popup .title.ty02 span {
    background: #208d8c;
    line-height: 23px;
    vertical-align: middle;
}

.popup .table_config {
    padding-right: 20px;
    max-height: 260px;
}

.popup .table_config .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.popup .table_config .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 0;
    top: 10px;
}

.popup .table_form + .title.ty02 {
    margin-top: 30px;
}

.popup .title.ty02 + .table_form table th {
    padding-left: 20px;
}

/* NMS/NFVO 모니터링 */
.pop_con_tit {
    position: relative;
}

.pop_con_tit .right {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
}

.pop_con_tit.ty02 {
    padding-bottom: 25px;
}

/* NS Component 장비 선택 */
.popup .groups_scroll,
.popup .groups_scroll.scroll_y.pd {
    padding-right: 17px;
}

.popup .groups_scroll {
    max-height: 210px;
}

.popup .scroll_y .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.popup .scroll_y .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -2px;
}

.eq_head.ty02 {
    margin-top: 25px;
}

.popup .eq_head {
    position: relative;
    margin-bottom: 10px;
    min-height: 30px;
}

.popup .eq_head * {
    vertical-align: top;
}

.popup .eq_head .eq_sel {
    display: inline-block;
    padding-right: 15px;
}

.popup .eq_head .eq_sel select {
    width: 132px;
}

.popup .eq_head .eq_sel select + select {
    margin-left: 5px;
}

.popup .eq_head .right {
    position: absolute;
    right: 0;
    top: 0;
}

.popup .eq_head .total {
    display: inline-block;
    min-height: 30px;
    font-size: 16px;
    color: #000;
    line-height: 30px;
}

.eq_head .btn_l {
    height: 30px;
    min-width: 70px;
    line-height: 24px;
}

/* DASHBOARD */
.win_pop .monitor_section,
.popup .monitor_section {
    overflow: visible;
    height: auto;
    padding-bottom: 15px;
}

.win_pop .site_monitoring,
.popup .site_monitoring {
    height: auto;
    max-height: 464px;
}

.popup .inquiry_wrap {
    position: relative;
}

.win_pop .inquiry_wrap,
.popup .inquiry_wrap + .btn_area {
    margin: 0;
}

.win_pop .site_cont .table_ty,
.popup .site_cont .table_ty {
    margin: 10px 0;
    padding-bottom: 6px;
}

.win_pop .scroll_ns02,
.popup .scroll_ns02 {
    max-height: 180px;
}

.win_pop .op_screen.open,
.popup .op_screen.open {
    height: 820px;
}

.win_pop .op_screen.open .table_ty,
.popup .op_screen.open .table_ty,
.popup .op_screen.open .table_ty .mCustomScrollBox {
    max-height: 730px !important;
}

.popup .op_screen .operating_area {
    margin-right: 0;
}

.operating_area.ty02 .left {
    left: 0;
}

.operating_area.ty02 .right {
    right: 0;
}

.operating_area.ty02 .btn_op_list {
    margin: 0;
}

.wpop .pop_inquiry_conError02 {
    min-width: 950px;
    width: auto;
    max-height: 960px;
    overflow: hidden;
}

.popup .op_screen,
.wpop .op_screen {
    width: auto;
    height: auto;
    z-index: 2;
    background-color: #fff;
    position: relative;
    left: auto;
    top: auto;
}

/*** Dashboard EMS popup ***/
.popcont_dbEMS {

}

.popcont_dbEMS th.left {
    padding-left: 20px;
}

.popcont_dbEMS .graph_line01 div {
    width: 140px;
}

.popcont_dbEMS .search_area {
    padding: 30px 15px;
}

.popcont_dbEMS .search_area .inner {
    display: inline-block;
    width: auto;
    text-align: left;
}

.popcont_dbEMS .search_area .inner ul + ul {
    margin-top: 20px;
}

.popcont_dbEMS .search_area li {
    display: inline-block;
}

.popcont_dbEMS .search_area .set_type li {
    margin-right: 42px;
}

.popcont_dbEMS .search_area .set_type li:last-child {
    margin: 0;
}

.popcont_dbEMS .search_area li strong {
    white-space: nowrap;
    width: 110px;
    margin-right: 20px;
    padding-top: 5px;
    color: #777;
    text-align: left;
}

.popcont_dbEMS .search_area li select {
    width: 160px;
}


.popcont_dbEMS .search_area .set_date .inpset {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.popcont_dbEMS .search_area .set_date .from_to {
    margin: 5px 15px 0 5px;
}

.popcont_dbEMS .search_area .set_date .set_calendar input {
    width: 240px;
}

.popcont_dbEMS .search_area .set_date .set_clock input {
    width: 120px;
}

.popcont_dbEMS .search_area .inpset a {
    display: inline-block;
    position: absolute;
    z-index: 9;
    right: 11px;
    top: 7px;
    width: 16px;
    height: 16px;
    font-size: 0;
}

.popcont_dbEMS .search_area .set_date a.btn_clock {
    background: url('../images/contents/btn_clock.png') no-repeat;
}

.popcont_dbEMS .search_area .set_date a.btn_calendar {
    background: url('../images/contents/btn_calendar.png') no-repeat;
}

.popcont_dbEMS .search_area .btn_area {
    top: -10px !important;
}

.popcont_dbEMS .search_area .btn_area .btn_co01 {
    height: 100px;
    line-height: 90px
}

.popcont_dbEMS .table_ty th {
    position: relative;
}

.popcont_dbEMS .table_ty th a.btn_filter {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 13px;
    height: 13px;
    font-size: 0;
    background: url('../images/contents/icon_list_filter.png') no-repeat;
}

.popcont_dbEMS .table_ty td > span.flag {
    display: inline-block;
    position: relative;
    padding-left: 15px;
}

.popcont_dbEMS .table_ty td > span.flag:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    left: 0;
    margin-top: -5px;
}

.popcont_dbEMS .table_ty td > span.flag.offgreen:before {
    background: url('../images/contents/icon_flag_offgreen.png') no-repeat;
}

.popcont_dbEMS .table_ty td > span.flag.onred:before {
    background: url('../images/contents/icon_flag_onred.png') no-repeat;
}

.con_ns_profile td .set_select {
    width: 460px;
    height: 150px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.con_ns_profile td p {
    line-height: 24px;
}

.con_ns_profile td .set_select select {
    width: 100px;
}

.con_ns_profile td > select {
    width: auto;
}

.con_ns_profile td > input {
    width: 50px;
}

.con_vl_profile td > input {
    width: 260px;
}

.con_vl_profile td > input.ta_c {
    width: 110px;
}

.con_vnf_profile td .set_select {
    width: 540px;
    height: 100px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.con_vnf_profile td .set_select select {
    width: 100px;
}

.con_vnf_profile td > select {
    width: auto;
}

.con_vnf_profile td > input {
    width: 50px;
}

/* P-LTE 팝업 */
.plte.win_pop .table_form04 table th,
.plte.popup .table_form04 table th {
    height: auto;
    padding: 16px 20px;
}

.plte.win_pop .table_form04 table td,
.plte.popup .table_form04 table td {
    height: auto;
    padding: 10px;
}

.plte.win_pop .table_form04 table td .list_normal li,
.plte.popup .table_form04 table td .list_normal li {
    padding: 7px 0;
}

.plte.win_pop .cont_msg p,
.plte.popup .cont_msg p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: center;
    color: #777777;
}

/* PLTE 현황조회 팝업 */
.plte.popup {
    max-height: 1000px;
}

.plte .plte_pop_state {
    max-height: 900px;
}

.plte .plte_pop_state .tab_con {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
}

.plte .plte_pop_state .sch_area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px;
}

.plte .plte_pop_state .sch_area li {
    margin: 0 5px;
}

.plte .plte_pop_state .sch_area .btn_co01 {
    height: 30px;
    line-height: 26px;
}

.plte .plte_pop_state .table_form05 + .tab07 {
    margin-top: 20px;
}

.plte .plte_pop_state .tab_con_inn {
    padding: 15px;
    margin-top: -1px;
    border: 1px solid #575759;
    border-top: none;
}

.plte .plte_pop_state .pltepop_state_txt {
    height: 100%;
    border: none;
}

.plte .pltepop_realtime {

}

.plte .pltepop_realtime .summary {
    margin: 20px 0;
}

.plte .pltepop_realtime .summary ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plte .pltepop_realtime .summary li {
    margin-right: 10px;
    font-size: 11px;
    letter-spacing: -0.2px;
    white-space: nowrap;
}

.plte .pltepop_realtime .summary li.green strong,
.plte .pltepop_realtime .summary li.green em {
    color: #249d18;
}

.plte .pltepop_realtime .summary li.red strong,
.plte .pltepop_realtime .summary li.red em {
    color: #ff0000;
}

.plte .pltepop_realtime .infom_detail {
    padding: 10px;
    height: 435px;
    font-size: 11px;
    letter-spacing: -0.2px;
    line-height: 1.5;
    border: 1px solid #e1e1e1;
}

.plte .pltepop_realtime .infom_detail .s_left {
    padding-left: 40px;
}

.plte .pltepop_realtime .infom_detail p em {
    color: #ff0000;
}

/*자동명령어 실행 팝업*/
.infom_detail .infom_txt01 li {
    padding-top: 10px;
    font-size: 12px;
}

.infom_detail .infom_txt01 li:first-child {
    padding-top: 0;
}

.infom_detail .infom_txt01 .s_left01 {
    text-indent: 20px;
}

/* table_form06 */
.table_form06 table {
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

.table_form06 table th,
.table_form06 table td {
    padding: 5px 15px;
    text-align: center;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.table_form06 table th {
    background: #f4f4f4;
    padding: 8px 10px 9px;
    color: #777;
}

.table_form06 table td {
    color: #666;
    font-size: 11px;
}

.table_form06 table td input {
    text-align: center;
}

/* table_form07 */

.table_form07 table th {
    padding: 10px 0px;
    color: #777;
    font-size: 11px;
    text-align: left;
    line-height: 15px;
}

.table_form07 table td {
    padding-right: 10px;
}

.pop_con_wrap .sch_area01 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0 20px;
}

.pop_con_wrap .sch_area01.ty01 {
    float:right; 
    margin:0; 
    margin-bottom:8px;
    overflow:hidden;
}
.pop_con_wrap .sch_area01 li {
    margin: 0 5px;
}

.pop_con_wrap .sch_area01 li:first-child {
    margin-left: 0;
}

.pop_con_wrap .sch_area01 li > a {
    height: 30px;
    line-height: 26px;
}

.pop_alram_area {
    background: #fbfbfb;
    overflow: hidden;
}

.pop_alram_area .infor_area {
    box-sizing: border-box;
    height: 600px; /*스크롤영역 높이*/
    background: #fff;
    padding: 10px;
    margin: 15px 10px;
}

.pop_alram_area table th {
    font-size: 12px;
}

.table_form04 table td .ico_help {
    position: absolute;
}

.table-box-wrap {
    width: 80%;
    margin: 0 auto;
}

.pop_con_wrap01 {
    position: relative;
    margin-top: 20px;
    padding-top: 39px;
}

.table_form071 {
    max-height: 614px;
    overflow: auto;
    overflow-x: hidden;
}

.table_form071 table {
    table-layout: fixed;
}

.table_form071 table tr {
    display: inline-table;
    width: 100%;
}

.table_form071 table thead {
    width: 100%;
    position: absolute;
    top: 3px;
}

.table_form071 table thead th {
    background: #f4f4f4;
    text-align: center;
}

.table_form071 table th, .table_form071 table td {
    padding: 5px 15px;
    text-align: left;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.table_form071 table th {
    padding: 8px 10px 9px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
    font-weight: normal;
}

.table_form071 table tbody tr {
    display: table-row;
    width: 100%;
}

/*workflow*/

h6.title.ty01{
    float: left;
    font-size: 16px;
    margin-top: 6px;
    letter-spacing: -1px;
}