.btn_box {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn_box div + a {
    margin: 0 0 0 10px;
}
.tab_content .btn_box {
    margin: 20px 0 0;
}
.detail_box .btn_box {
    width: 100%;
    margin: 20px 0 0;
}
.detail_box .float {
    position: absolute;
    left: 0;
    bottom: 20px;
    background: var(--dark_gray3);
    padding: 20px 0 0;
    margin: 0;
    z-index: 10;
}
.table_header .btn_box {
    margin: 0;
}
.table_footer .btn_box {
    margin: 25px 0 0;
}
.field_add_area .btn_box {
    margin: 0;
}
.detail_script .tab_dl .btn_box {
    margin: 0 0 0 20px;
}
.report_box .btn_box,
.item_info .btn_box {
    width: auto;
    margin: 0;
}
.report_view .info_box .btn_box {
    width: auto;
    margin: 0 0 0 20px;
}
#login_wrap .btn_box {
    width: 100%;
}
.btn {
    position: inherit;
    display: inline-flex;
    align-items: center;
    border-radius: var(--radius_50);
    height: var(--button_height);
    border: var(--btn_border);
    transition: 0.3s;
}
.float .btn {
    position: relative;
}
.item_info .btn {
    height: var(--button_height2);
}
.btn:hover {
    transition: 0.3s;
}
.btn span {
    display: inline-flex;
    align-items: center;
    font-size: var(--font_small2);
    color: var(--blue);
    font-weight: var(--bold);
}
.btn + .btn {
    margin: 0 0 0 10px;
}
.btn.size_xs + .btn.size_xs {
    margin: 0 0 0 5px;
}
.btn_blue {
    background: var(--blue);
    border: none;
}
.btn_blue span {
    color: var(--dark_gray2);
}
.btn_red {
    background: var(--red);
    border: none;
}
.btn_red span {
    color: var(--dark_gray2);
}
.size_xl {
    padding: 0 45px;
}
.size_l {
    padding: 0 25px;
}
.size_s {
    padding: 0 15px;
}
.size_xs {
    padding: 0 10px;
}
.add {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    border: none;
    padding: 25px 0;
    background: var(--dark_gray3);
    border-radius: 0 0 10px 10px;
}
.add span::before {
    content: url("../../images/ico_add.png");
    display: inline-flex;
    height: 38px;
    margin: 0 0 10px;
}
.add span {
    flex-direction: column;
    font-size: 1rem;
}
.add:hover span::before {
    animation: opacity-in-2 0.5s ease-in-out;
}
.search span::after {
    content: url("../../images/ico_search.png");
    display: inline-flex;
    height: 18px;
    margin: 0 0 0 10px;
}
.search:hover span::after,
.excel:hover span::before,
.run:hover span::after {
    animation: opacity-in 0.3s ease-in-out;
}
.excel span::before {
    content: url("../../images/btn_excel.png");
    height: 20px;
}
.view {
    height: var(--button_height3);
}
.view span {
    font-size: var(--font_small3);
}
.run span::after {
    content: url("../../images/ico_run.png");
    display: inline-flex;
    height: 18px;
    margin: 0 0 0 10px;
}
.util {
    height: var(--button_height2);
}
.wide2 .btn_box {
    width: auto;
}
.plus::before {
    content: url("../../images/ico_plus.png");
}
.minus::before {
    content: url("../../images/ico_minus.png");
}
.plus,
.minus {
    border: none;
    border-radius: var(--radius_5);
}
.plus span,
.minus span {
    font-size: 0;
}
.plus::before,
.minus::before {
    height: 25px;
}
.block {
    height: var(--button_height4);
}
.model_add {
    border: none;
    background: var(--dark_gray5);
    border-radius: var(--radius_3);
    margin: 0 0 0 10px;
    min-width: 110px;
}
.btn.model_add + .btn.model_add {
    margin: 0 0 0 10px;
}
.model_add span::after {
    content: 'x';
    display: inline-flex;
    color: var(--gray2);
    font-size: var(--font_large3);
    font-weight: var(--bold);
    margin: 0 0 0 10px;
}
.expand,
.revert {
    border: none;
    height: var(--button_height4);
    opacity: 0.7;
}
.revert,
.expand_on .expand {
    display: none;
}
.expand_on .revert {
    display: inline-flex;
}
.expand span,
.revert span {
    font-size: 0;
    padding: 10px;
    border-radius: var(--radius_50);
    background: transparent;
}
.expand span::after {
    content: url("../../images/ico_expand.png");
    display: inline-flex;
    height: 18px;
}
.revert span::after {
    content: url("../../images/ico_expand.png");
    display: inline-flex;
    height: 18px;
    transform: rotate(180deg);
}
.expand:hover,
.revert:hover {
    opacity: 1;
}
.expand:hover span,
.revert:hover span {
    background: var(--dark_gray5);
}
.cmd_apply span {
    min-width: 85px;
}
.pdf span::after {
    content: url("../../images/ico_pdf.png");
    display: inline-flex;
    height: 18px;
    margin: 0 0 0 10px;
}
.login {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.login span {
    font-size: var(--font_large3);
}