/* datepicker */
.datepicker {
    background: url("../../images/ico_calendar.png") no-repeat 95% center;
    padding: var(--input_padding);
    cursor: pointer;
}
.timepicker {
    background: url("../../images/ico_clock.png") no-repeat 95% center;
    padding: var(--input_padding);
    cursor: pointer;
}
.calendar span,
.clock span {
    display: inherit;
    width: 20px;
    height: 14px;
    background: url("../../images/ico_calendar_bar.png") no-repeat;
    margin: 0 15px;
    text-indent: -9999px;
}
.ui-datepicker,
.ui-timepicker {
    z-index: 100!important;
}
.ui-datepicker .ui-datepicker-header {
    padding: 0.5rem 0;
}
.ui-timepicker .ui-widget-header {
    padding: 0.3rem 0;
    background: var(--dark_gray5);
    color: var(--gray2);
    border: none;
}
.ui-timepicker-table.ui-widget-content,
.ui-datepicker.ui-widget.ui-widget-content {
    background: var(--dark_gray5);
    border: none;
    box-shadow: 1px 5px 5px var(--black);
    margin: 5px 0 0;
}
.ui-timepicker-table.ui-widget-content {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 3px;
}
.ui-timepicker-table td,
.ui-timepicker-table .ui-timepicker,
.ui-timepicker-table .ui-timepicker td {
    border: none;
} 
.ui-timepicker-table th.periods {
    width: 2.5em;
    background: var(--dark_gray5);
    border: none;
}
.ui-timepicker-table td a,
.ui-timepicker-table .ui-state-default, .ui-widget-content .ui-state-default {
    display: flex;
    width: 100%;
    margin: 0;
    text-align: center;
    justify-content: center;
    border-radius: var(--radius_3);
    background: var(--dark_gray3);
    border: none;
    color: var(--white);
    padding: 5px;
}
.ui-timepicker-table .ui-timepicker-hours {
    padding: 0 10px 0 0;
}
.ui-datepicker .ui-widget-header {
    background: transparent;
    border: none;
}
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
    background: var(--dark_gray3);
    border-radius: var(--radius_20);
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
	top: 7px;
    left: 10px;
}
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    top: 7px;
    right: 10px;
}
.ui-datepicker .ui-datepicker-prev span {
    margin-left: -9px;
}
.ui-datepicker .ui-datepicker-next span {
    margin-left: -7px;
}
.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-prev:hover {
    background: var(--black);
    border: none;
    cursor: pointer;
} 
.ui-datepicker .ui-widget-header .ui-icon {
    background: url("../../images/ico_arrow.png") no-repeat center center;
}
.ui-datepicker .ui-datepicker-prev .ui-icon {
    transform: rotate(180deg);    
}
.ui-datepicker .ui-state-default, 
.ui-datepicker .ui-widget-content .ui-state-default, 
.ui-datepicker .ui-widget-header .ui-state-default, 
.ui-datepicker .ui-button, 
html .ui-datepicker .ui-button.ui-state-disabled:hover, 
html .ui-datepicker .ui-button.ui-state-disabled:active {
    background: var(--dark_gray3);
    border: none;
    border-radius: var(--radius_3);
    color: var(--white);
    text-align: center;
}
.ui-datepicker table {
    border: none;
}
.ui-datepicker th {
    border-radius: 0;
    background: transparent;
}
.ui-datepicker th span {
    color: var(--gray2);
}
.ui-datepicker td {
    height: auto;
}
.ui-datepicker td span, 
.ui-datepicker td a {
    padding: 0.3rem;
}
.ui-datepicker .ui-state-active,
.ui-timepicker .ui-state-active {
    background: var(--blue);
    border: none;
    color: var(--dark_gray3);
}
.ui-datepicker .ui-state-highlight, 
.ui-datepicker .ui-widget-content .ui-state-highlight, 
.ui-datepicker .ui-widget-header .ui-state-highlight {
    background: var(--dark_gray1);
}
.datepicker.readonly {
    background: url("../../images/ico_calendar.png") no-repeat 95% center var(--dark_gray5);
    cursor: default;
}
.timepicker.readonly {
    background: url("../../images/ico_clock.png") no-repeat 95% center var(--dark_gray5);
    cursor: default;
}
.report_ck_dialog .report_header .calendar,
.report_eq_dialog .report_header .calendar,
.detail_result .medium .calendar {
    margin: 0 10px 0 0;
}
.report_view dl dd .calendar {
    width: 450px;
}