/* ui-dialog - modal */
.ui-dialog {
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
    box-shadow: 1px 10px 10px var(--black);
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}
.ui-dialog .ui-widget-header {
    background: transparent;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 20px 20px 0;
    border: none;
}
.ui-dialog  .ui-dialog-title {
    color: var(--white);
    font-size: var(--font_large1);
}
.ui-dialog  .ui-dialog-titlebar-close {
    display: none;
}
.ui-dialog .ui-dialog-content {
    padding: 20px;
}
.ui-dialog.ui-widget.ui-widget-content,
.ui-dialog  .ui-dialog-buttonpane {
    border: none;
}
.ui-dialog  .ui-dialog-buttonpane {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 20px 0;
    margin: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}
.ui-dialog .ui-dialog-buttonpane button {
    border: var(--btn_border);
    background: transparent;
    border-radius: var(--radius_20);
    padding: 0 20px;
    height: var(--button_height2);
    color: var(--blue);
    font-size: var(--font_small2);
    font-weight: var(--bold);
    margin: 0;
}
.ui-dialog .ui-dialog-buttonpane button + button {
    margin: 0 0 0 10px;
}
.ui-dialog .ui-dialog-buttonpane button.btn_blue {
    color: var(--dark_gray2);
    background: var(--blue);
    border: none;
}
.ui-widget-overlay {
    opacity: 1;
    background: linear-gradient(to right, var(--dark_gray1), transparent);
    -webkit-backdrop-filter: brightness(0.8) blur(3px);
    backdrop-filter: brightness(0.8) blur(3px);
    mix-blend-mode: overlay;
    transition: 0.3s;
}
.eq_dialog .dialog_box {
    position: relative;
    display: grid;
    grid-template-columns: calc(30% - 10px) calc(70% - 10px);
    grid-gap: 20px; 
}
.dialog_box .table_box .scrollbar {
    overflow-y: auto;
    padding: 0 10px 0 0;
}
.threshold_dialog .table_box .scrollbar {
    height: 350px;
}
.differ_dialog .dialog_box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
}
.dialog_box .info_box {
    position: relative;
    display: flex;
    flex-direction: column;
}
.dialog_box .info_box h2 {
    display: inherit;
    font-size: var(--font_medium1);
    color: var(--gray_light1);
    line-height: 1.2rem;
    margin: 0 0 20px;
}
.dialog_box .info_box dl {
    position: relative;
    display: grid;
    grid-template-columns: 100px 260px 100px 260px;
    column-gap: 10px;
    align-items: flex-start;
}
.dialog_box .info_box dl dt,
.dialog_box .info_box dl dd {
    margin: 0 0 10px;
}
.dialog_box .info_box dl dt {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: var(--button_height);
    color: var(--white);
    font-size: var(--font_small2);
    background: var(--dark_gray2);
    border-radius: var(--radius_10);
}
.dialog_box .info_box dl dd label {
    display: none;
}
.dialog_box .info_box dl dd .text_field {
    margin: 0;
}
.eq_dialog .scrollbar {
    height: 500px;
    overflow-y: auto;
}
.dialog_box .table_box h3 {
    height: 15px;
    width: 100%;
}
.filter_dialog .dialog_box .scrollbar {
    height: 530px;
    display: block;
}
/* simple dialog (confirm) */
.dialog_mini .ui-dialog-buttonpane {
    padding: 10px 0;
}
.dialog_mini h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray_light1);
    background: var(--dark_gray3);
    padding: 20px;
    min-height: 100px;
    border-radius: var(--radius_5);
}
.dialog_mini h1 strong {
    color: var(--blue);
    margin: 0 5px;
}
.dialog_mini h1 strong::before {
    content: '[';
    margin: 0 5px 0 0;
}
.dialog_mini h1 strong::after {
    content: ']';
    margin: 0 0 0 5px;
}