.form_box,
.form_box > div {
    position: relative;
    display: flex;
}
.form_box {
    margin: 0 0 20px;
    align-items: flex-end;
}
.table_header .form_box {
    margin: 0;
}
.text_field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
}
.command_box .text_field {
    justify-content: center;
}
.differ_dialog .text_field {
    margin: 0;
}
#login_wrap .text_field {
    margin: 0 0 15px;
} 
.input_box {
    display: flex;
    align-items: center;
}
.table_input_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[type="text"],
input[type="password"],
select,
textarea {
    width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
   position: absolute;
   left: 0;
   width: 18px;
   height: 18px;
   opacity: 0;
   cursor: pointer;
}
input[type="checkbox"] + i,
input[type="radio"] + i {
    display: flex;
    width: 18px;
    height: 18px;
    background: url("../../images/ico_ck_off.png") no-repeat;
}
input[type="checkbox"]:checked + i,
input[type="radio"]:checked + i {
    background: url("../../images/ico_ck_on.png") no-repeat;
    transition: 0.3s;
}
input[type="checkbox"].readonly + i,
input[type="radio"].readonly + i {
    background: url("../../images/ico_ck_off.png") no-repeat var(--dark_gray5);
}
input[type="checkbox"]:checked.readonly + i,
input[type="radio"]:checked.readonly + i {
    background: url("../../images/ico_ck_on.png") no-repeat var(--dark_gray5);
}
input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
label {
    display: flex;
    font-size: var(--font_small2);
    margin: 0 0 10px;
}
.data_detail .info_box .checkbox label,
.data_detail dl dd .text_field label,
.data_list .ck_treeview .checkbox label,
.data_list .treeview .tree_ck label,
.report_view .info_box .calendar label,
.detail_script .command_add .text_field label,
#login_wrap .text_field label {
    display: none;
}
.data_detail dl dd .label_on label,
.report_view .info_box .checkbox label {
    display: inline-flex;
}
.checkbox {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row-reverse;
    height: var(--input_height);
}
.checkbox label {
    margin: 0 0 0 10px;
    cursor: pointer;
}
.switch {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: var(--button_height4);
    margin: 0;
    justify-content: center;
}
.switch input[type="checkbox"] {
    position: absolute!important;
    content: none!important;
    width: 60px;
    height: 22px;
    margin: 0;
    left: 33px;
    z-index: 5;
}    
.switch label {
    margin: 0 10px 0 0;
    cursor: pointer;
    color: var(--white);
}
.switch_area {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 60px;
    height: 22px;
    border-radius: var(--radius_20);
    background: var(--gray1);
    color: var(--white);
    font-weight: var(--bold);
    cursor: pointer;
    transition: 0.3s;
}
.switch_area > * {
    vertical-align: sub;
    transition: 0.3s;
    font-size: var(--font_small2);
}
.switch_area .marble {
    position: absolute;
    top: 1px;
    left: 1px;
    display: flex;
    width: 21px;
    height: 21px;
    background: var(--gray_light1);
    border-radius: var(--radius_50);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.switch_area .on {
    display: none;
    padding: 0 0 0 12px;
}
.switch_area .off {
    padding: 0 0 0 30px;
    line-height: 22px;
}
.switch_area .run {
    display: none;
    padding: 0 0 0 12px;
}
.switch_area .edit {
    padding: 0 0 0 30px;
    line-height: 22px;
}
.switch input[type="checkbox"]:checked + .switch_area {
    background: var(--red);
}
.switch input[type="checkbox"]:checked + .switch_area .on {
    display: inline-flex;
}
.switch input[type="checkbox"]:checked + .switch_area .off {
    display: none;
}
.switch input[type="checkbox"]:checked + .switch_area .marble {
    left: 38px;
}

.file {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.file label {
    display: inline-flex!important;
    background: var(--blue);
    border-radius: var(--radius_5);
    color: var(--dark_gray2);
    font-weight: var(--bold);
    cursor: pointer;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
}
.file label::before {
    display: inline-flex;
    margin: 0 5px 0 0;
    content: url("../../images/ico_file.png");
    height: 15px;
}
.file .upload_area {
    display: flex;
    width: 100%;
}
.search_form,
.differ_dialog .table_box .calendar input,
.data_detail dl .calendar input {
    width: 100%;
}
.search_form label {
    position: absolute;
    top: 2px;
    right: 2px;
    display: inherit;
    font-size: 0;
    background: url("../../images/ico_search.png") no-repeat center center;
    border-radius: var(--radius_10);
    width: 38px;
    height: 36px;
    margin: 0;
}

/* custom-select */
.select_box {
    display: flex;
    position:relative;
    width: 100%;
    cursor:pointer;
}
.select_box .selected {
    position: relative;
    display: inherit;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    color: var(--white);
    height: var(--input_height);
    border: 2px solid var(--gray1); 
	border-radius: var(--radius_10); 
}
.select_box .selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--white) transparent transparent transparent;
}
.on .selected:after {
    border-color: transparent transparent var(--white) transparent;
    top: 7px;
}
.select_box .select_option li,
.select-selected {
    font-size: var(--font_small1); 
	padding: 10px; 
	color: var(--gray_light2); 
    cursor: pointer;
    user-select: none;
    text-align: left;
}
.select_box .select_option {
    position: absolute;
    flex-direction: column;
    background: var(--dark_gray1);
    border-radius: var(--radius_10);
    overflow: hidden;
    top: 107%;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
}
.select_box .select_option,
.select_box .select_option li {
    margin: 0!important;
}
.on .select_option {
    display: flex;
}
.result_list .table_header .eq_name label,
.differ_dialog .table_box .calendar label,
.differ_dialog .table_box .textarea label {
    display: none;
}
.select_box .select_option li:hover {
    background: var(--black);
    color: var(--blue)!important;
}
.select_box.readonly .selected {
    border: 2px solid var(--dark_gray5); 
	background: var(--dark_gray5); 
    color: var(--gray1);
}
.result_box .table_header .eq_name .custom-select select,
.dialog_box .table_header .custom-select select {
    height: var(--button_height);
    padding: 0 10px;
}


.search_form {
    display: none;
}