.pdf_content { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--font_medium1);
    line-height: 1.5em;
    background: var(--white); 
    border-radius: var(--radius_10);
}
.pdf_content * {
    color: var(--navy2);
}
.pdf_content h1 {
    font-size: var(--font_extralarge1);
}
.pdf_content h2 {
    font-size: var(--font_large2);
}
.pdf_content h3 {
    font-size: var(--font_large3);
}
.pdf_content .pdf_header {
    margin: 40px 0; 
}
.pdf_content .pdf_header,
.pdf_content .pdf_section {
    display: inherit;
    width: 950px;
}
.pdf_content .pdf_header .summary h1 {
    padding: 40px 0;
    text-align: center;
}
.pdf_content .pdf_header .summary h1::before {
    display: none;
}
.pdf_content .pdf_header .summary .box {
    margin:  0 0 50px;
}
.pdf_content .pdf_header .summary .box + .box {
    border-top: 1px dashed #999;
    padding-top: 40px;
}
.pdf_content .pdf_header .summary .box h1 {
    text-align: left;
    font-size: 13.5pt;
    padding: 0 0 10px;
    color: #3A404D;
    clear: both;
}
.pdf_content .pdf_header .summary .box h1::before {
    content: '';
    position: relative;
    display: inline-block;
    top: 6px;
    background: url("../../images/pdf/ico_report.png") no-repeat;
    margin: 0 10px 0 0;
    width: 21px;;
    height: 21px;
}
.pdf_content .pdf_header .summary .box h1.ty2::before {
    content: '';
    position: relative;
    display: inline-block;
    top: 6px;
    background: url("../../images/pdf/ico_topology.png") no-repeat;
    margin: 0 10px 0 0;
    width: 21px;;
    height: 21px;
}
.pdf_content .pdf_header .summary .box h1 span,
.subtitle p {
    display: inline-block;
    padding: 3px 15px;
    background: #3A404D;
    color: #fff;
    border-radius: 20px;
    font-weight: 600;
    font-size: 9pt;
    float: right;
    margin: 3px 0 0;
}
.pdf_content .pdf_header .summary .box h2 {
    font-size: var(--font_medium2);
    text-align: left;
    margin: 20px 0 10px;
}
.pdf_content .pdf_header .summary .box h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #3A404D;
    border-radius: 4px;
    margin: 0 5px 0 0;
}
.pdf_content .pdf_section {
    flex-direction: column;
}
.pdf_content .pdf_section h1 {
    font-size: var(--font_large2);
    color: #3A404D;
    text-align: left;
    margin: 0 0 10px;
}
.pdf_content .pdf_section h1::before {
    content: '';
    position: relative;
    display: inline-block;
    top: 7px;
    background: url("../../images/pdf/ico_building.png") no-repeat;
    margin: 0 10px 0 0;
    width: 21px;;
    height: 21px;
}
.pdf_content .pdf_section h2 {
    text-align: left;
    font-size: var(--font_medium2);
    color: #3A404D;
    margin: 0 0 10px;
}
.pdf_content .pdf_section h2 i {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
    color: #ccc;
    margin: 0 10px 0 0; 
    letter-spacing: -2px;
    font-style: italic;
}
.pdf_content .pdf_section h3 {
    text-align: left;
    font-size: var(--font_medium2);
    color: #3A404D;
    padding: 0 10px 10px;
}
.pdf_content .pdf_section h3::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: #3A404D;
    margin: -4px 5px 0 0; 
}
.pdf_content .pdf_section h4::before {
    content: '[';
    display: inline-block;
    margin: 0 5px 0 0;
}
.pdf_content .pdf_section h4::after {
    content: ']';
    display: inline-block;
    margin: 0 0 0 5px;
}
.pdf_content .pdf_section h4 {
    text-align: left;
    font-size: var(--font_small2);
    color: #3A404D;
    padding: 0 10px 10px;
}
.pdf_content .pdf_section article {
    width: 100%;
    height: 100%;
    margin: 0 0 40px;
}
.pdf_content .pdf_section .graph {
    display: flex;
    flex-direction: column;
    height: 570px;
}
.pdf_content .chart_box {
    clear: both;
}
.pdf_content .chart_view {
    display: inline-block;
    float: left;
    border: 1px solid #3A404D;
    border-radius: 10px;
    padding: 10px 0 0;
    overflow: hidden;
}
.pdf_content .chart_view ul {
    height: 155px;
}
.pdf_content .chart_view.c1 ul {
    top: 0px;
}
.pdf_content .chart_view ul li {
    float: left;
}
.pdf_content .c1,
.pdf_content .c2 {
    margin: 0 1% 10px 0; 
}
.pdf_content .c1,
.pdf_content .c2,
.pdf_content .c3 {
    height: 215px;
}
.pdf_content .c1,
.pdf_content .c4 {
    width: 25%;
}
.pdf_content .c2,
.pdf_content .c3 {
    width: 36%;
}
.pdf_content .c3 {
    margin: 0 0 10px 0; 
}
.pdf_content .c4,
.pdf_content .c5 {
    height: 300px;
}
.pdf_content .c4 {
    margin: 0 1% 0 0; 
}
.pdf_content .c5 {
    width: 73.2%;
}
.pdf_content .chart_box ul,
.pdf_content .chart_wrap,
.pdf_content .preview ul {
    display: flex;
    width: 100%;
    justify-content: center;
}
.pdf_content .chart_view ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32.5%;
    font-size: var(--font_small2);
    font-weight: 600;
    color: #666;
}
.pdf_content .chart_view ul li span {
    display: inline-flex;
    font-size: 20pt;
    font-weight: 600;
    margin: 0 0 5px;
}
.pdf_content .chart_view ul li.up,
.pdf_content .chart_view ul li.down {
    top: 20px;
}
.pdf_content .chart_view ul li.up span {
    color: #FF3333;
}
.pdf_content .chart_view ul li.up span::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 13px;
    height: 20px;
    background: url("../../images/pdf/ico_up.png") no-repeat;
    margin: 0 5px 0 0;
} 
.pdf_content .chart_view ul li.down span {
    color: #1bc0e1;
}
.pdf_content .chart_view ul li.down span::before {
    content: '';
    position: relative;
    top: 3px;
    display: inline-block;
    width: 13px;
    height: 20px;
    background: url("../../images/pdf/ico_down.png") no-repeat;
    margin: 0 5px 0 0;
} 
.pdf_content .chart_view ul li.total {
    width: 90px;
}
.pdf_content .chart_view ul li.total p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background: #FF3333;
}
.pdf_content .chart_view ul li.total span {
    position: relative;
    display: flex;
    top: -15px;
    color: #fff;
    font-size: 24pt;
}
.pdf_content .chart_view ul li.total b {
    position: relative;
    display: flex;
    bottom: -35px;
    font-size: var(--font_small2);
    color: #fff;
    z-index: 5;
}
.pdf_content .chart_view.c4 ul {
    height: 55px;
    background: #f7f7f7;
    margin: 0 0 10px;
}
.pdf_content .chart_view.c4 ul li {
    position: relative;
    top: 5px;
    width: 49%;
    height: 40px;
}
.pdf_content .chart_view.c4 ul li + li {
    border-left: 1px dashed #999;
}
.pdf_content .chart_view.c4 ul li span {
    font-size: 15pt;
    position: relative;
    top: -20px;
    display: inline-block;
    width: 100%;
}
.pdf_content .chart_view.c4 ul li span::after {
    content: '대';
}
.pdf_content .chart_view.c4 ul li p {
    position: relative;
    top: -24px;
}
.pdf_content .chart_view .chart {
    height: 155px;
    border-radius: 0 0 10px 10px;
    color: #333;
    text-align: center;
    overflow: hidden;
}
.pdf_content .chart_view.c4 .chart_wrap {
    float: none;
    display: block;
    width: 100%;
}
.pdf_content .chart_view.c4 .chart {
    height: 215px;
}
.pdf_content .chart_view.c5 .chart {
    height: 215px;
}
.pdf_content .chart_wrap_box {
    clear: both;
}
.pdf_content .chart_wrap {
    display: inline-block;
    float: left;
    width: 33%;
    height: 215px;
    border-radius: 0;
}
.pdf_content .chart_wrap .chart {
    border-radius: 0;
}
.pdf_content .info_box {
    flex-direction: column;
    margin: 0 0 40px;
}
.pdf_content .info_box:last-child {
    margin: 0;
    padding: 0;
    border: none;
}
.pdf_content .info_box table + table {
    margin: 30px 0 0;
}
.pdf_content .pdf_section .none::before,
.pdf_content .pdf_section .none::after {
    display: none;
}
.pdf_content .summary_table td:nth-child(1) {
    width: 20%;
}
.pdf_content .summary_table td:nth-child(2) {
    width: 20%;
}
.pdf_content .eq_table td:nth-child(1) {
    width: 20%;
}
.pdf_content .eq_table td:nth-child(2) {
    width: 20%;
}
.pdf_content .week_data_table td:nth-child(1) {	
    width: 20%;	
}	
.pdf_content .week_data_table td:nth-child(2) {	
    width: 17%;	
}	
.pdf_content table {
    width: 100%;
    table-layout: fixed;
    border: none;
    border-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
}
.pdf_content table th,
.pdf_content table td {
    padding: 10px 0;
    text-align: center;
}
.pdf_content table th {
    border-bottom: 2px solid #333;
    border-top: 1px solid #333;
}
.pdf_content table td {
    background: #f1f1f1;
    border: 1px solid #fff;
}
.pdf_content table thead {	
    display: none;	
}	
.pdf_content table tr:nth-child(1) td {	
    border: none;	
    border-bottom: 2px solid #333;	
    border-top: 1px solid #333;	
    background: #ffffff;	
    text-align: center;	
    font-weight: 600;	
}
.pdf_content .pdf_section .subtitle {
    padding: 0 0 40px;
}
.pdf_content .pdf_section .subtitle h1 {
    font-size: 18pt;
    text-align: center;
}
.pdf_content .pdf_section .subtitle h1::before {
    display: none;
}


