.tui-grid-content-area {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}
.tui-grid-body-area .tui-grid-cell {
    background: transparent!important;
    border: none;
    border-bottom: 1px solid var(--dark_gray4)!important;
    padding: 0 5px;
}
.tui-grid-cell-has-input .tui-grid-cell-content {
    padding: 5px;
    font-size: var(--font_small2);
    font-weight: var(--light);
    color: var(--white);
}
.tui-grid-header-area {
    border: none;
    background: var(--dark_gray3)!important;
    border-radius: var(--radius_5);
}
.tui-grid-cell-header {
    border: none!important;
    background-color: transparent!important;
    color: var(--gray2)!important;
    font-size: var(--font_small2);
    font-weight: var(--bold);
    padding: 0 5px;
}
.tui-grid-border-line-top,
.tui-grid-border-line-left,
.tui-grid-border-line-right,
.tui-grid-border-line-bottom {
    border: none!important;
    display: none!important;
}
.tui-grid-header-area .tui-grid-table {
    border: none!important;
}
.tui-grid-layer-focus .tui-grid-layer-focus-border,
.tui-grid-layer-focus-deactive .tui-grid-layer-focus-border {
    background-color: none!important;
}
.tui-grid-body-area {
    background-color: transparent!important;
}
.tui-grid-btn-sorting {
    height: 12px;
}
.tui-grid-btn-sorting-down {
    background-position: -133px -10px;
}
.tui-grid-btn-sorting-up {
    background-position: -112px -10px;
}
.tui-grid-filter-container {
    background: var(--dark_gray5);
    border: none;
    border-radius: var(--radius_3);
}
.tui-grid-filter-container .tui-grid-btn-filter {
    background: url("../../images/ico_filter.png") no-repeat center center;
}
.tui-grid-filter-container .tui-grid-btn-close {
    background: url("../../images/ico_close.png") no-repeat center center;
}
.tui-grid-filter-container .tui-grid-filter-input {
    border: 2px solid var(--gray1);
    border-radius: var(--radius_5);
    color: var(--white);
}
.tui-grid-filter-container .tui-grid-filter-input::placeholder {
    color: var(--gray1);
}
.tui-grid-filter-list-container .tui-grid-filter-list {
    background: var(--dark_gray3);
    border: none;
    border-radius: var(--radius_5);
}
.tui-grid-filter-list-item label::before {
    width: 18px;
    height: 18px;
    background: url("../../images/ico_ck_off.png");
}
.tui-grid-filter-list-item-checked label::before {
    background: url("../../images/ico_ck_on.png");
}
.tui-grid-filter-list .tui-grid-filter-list-item-checked {
    background: transparent;
}
.tui-grid-filter-list-item label,
.tui-grid-filter-list .tui-grid-filter-list-item-checked label {
    margin: 0;
}
.tui-grid-filter-list .tui-grid-filter-list-item-checked label span {
    color: var(--white);
}
.tui-grid-filter-dropdown {
    border: none;
}
.tui-grid-filter-dropdown select {
    background: url("../../images/ico_select.png") no-repeat calc(100% - 10px) 50%;
    border-radius: var(--radius_5);
    padding: 0 5px;
    color: var(--white);
    border: 2px solid var(--gray1);
    box-sizing: border-box;
}
.tui-grid-cell input[type="checkbox"] {
    position: relative;
    opacity: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    content: url("../../images/ico_ck_off.png");
}
.tui-grid-cell input[type="checkbox"]:checked {
    content: url("../../images/ico_ck_on.png");
    animation: ck-in  0.5s ease-in-out;
}
.tui-grid-layer-focus-border {
    display: none!important;
}
.tui-grid-layer-state {
    background: transparent;
    height: calc(100% - 85px)!important;
}
.tui-grid-cell-content .status {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 25px;
    font-size: var(--font_small2);
    font-weight: var(--light);
    color: var(--white);
    background: var(--dark_gray3);
}
.tui-grid-cell-content .status::before {
    content: '';
    position: absolute;
    display: inline-flex;
    left: 0;
    width: 4px;
    height: 100%;
    background: var(--dark_gray4);
}
.tui-grid-cell-content .status.process::before {
    background: var(--orange);
}
.tui-grid-cell-content .status.process {
    background: var(--dark_orange);
}
.tui-grid-cell-content .status.complete::before {
    background: var(--green);
}
.tui-grid-cell-content .status.complete {
    background: var(--dark_green);
}
.tui-grid-cell-content .status.error::before {
    background: var(--red);
}
.tui-grid-cell-content .status.error {
    background: var(--dark_red);
}
.data_detail .tui-grid-body-area {
    height: calc(100vh - 508px)!important;
}
.data_detail .eq_box .tui-grid-body-area {
    overflow-y: auto!important;
    height: calc(100vh - 458px)!important;
}
.detail_view .eq_box .tui-grid-body-area {
    height: 227px!important;
    overflow: hidden!important;
}
.detail_view .result_list .tui-grid-body-area {
    height: 515px!important;
}
.data_table .tui-grid-body-area {
    height: calc(100vh - 322px)!important;
}
.eq_dialog .tui-grid-body-area {
    height: calc(100vh - 510px)!important;
}
.tui-grid-table .collect_fail .tui-grid-cell-content {
    color: var(--red);
}
.detail_result .eq_box .tui-grid-body-area {
    height: 225px!important;
    overflow: hidden!important;
}
.detail_result .expand_on .tui-grid-body-area {
    height: calc(100vh - 228px)!important;
}
.report_view .todo_box .tui-grid-body-area,
.report_view .eq_list_box .tui-grid-body-area,
.report_view .eq_box .tui-grid-body-area,
.report_view .item_box .tui-grid-body-area {
    height: 185px!important;
}
.dialog_box .report_content .table_box .tui-grid-body-area,
.item_dialog .dialog_box .tui-grid-body-area {
    overflow-y: auto!important;
}
/* tui-pagination */
.tui-pagination,
.tui-pagination .tui-page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.tui-grid-container .tui-grid-pagination {
    margin: 20px 0 0;
    height: var(--button_height2);
}
.tui-pagination .tui-page-btn {
    width: var(--button_height2);
    height: var(--button_height2);
    color: var(--gray2);
    font-size: var(--font_small2);
    font-weight: var(--bold);
    padding: 0;
    border: none;
    border-radius: var(--radius_3);
    margin: 0 3px 0 0;
    transition: 0.5s;
}
.tui-pagination .tui-page-btn:hover {
    background: var(--dark_gray4);
    transition: 0.5s;
}
.tui-pagination .tui-is-selected, 
.tui-pagination strong {
    color: var(--black);
    background: var(--blue);
}
.tui-pagination .tui-is-selected:hover {
    background: var(--blue);
}
.tui-pagination .tui-first, 
.tui-pagination .tui-prev, 
.tui-pagination .tui-next, 
.tui-pagination .tui-last, 
.tui-pagination .tui-prev-is-ellip, 
.tui-pagination .tui-next-is-ellip {
    background: var(--dark_gray5);
}
.tui-pagination .tui-first,
.tui-pagination .tui-next {
    border-radius: 5px 0 0 5px;
}
.tui-pagination .tui-next {
    margin: 0 3px 0 10px;
}
.tui-pagination .tui-last,
.tui-pagination .tui-prev {
    border-radius: 0 5px 5px 0;
}
.tui-pagination .tui-prev {
    margin: 0 10px 0 0;
}
.tui-pagination .tui-first span, 
.tui-pagination .tui-prev span, 
.tui-pagination .tui-next span, 
.tui-pagination .tui-last span, 
.tui-pagination .tui-prev-is-ellip span, 
.tui-pagination .tui-next-is-ellip span {
    background-position: 0!important;
}
.tui-pagination .tui-ico-last, 
.tui-pagination .tui-ico-first {
    background: url("../../images/ico_arrow2.png");
    width: 10px;
    height: 11px;
}
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-prev {
    background: url("../../images/ico_arrow.png");
    width: 6px;
    height: 11px;
}
.tui-pagination .tui-ico-ellip {
    background: url("../../images/ellip.png");
    width: 10px;
    height: 2px;
}
.tui-pagination .tui-ico-prev {
    transform: rotate(180deg);
}
.tui-pagination .tui-ico-first {
    transform: rotate(180deg);
}
.tui-pagination .tui-is-disabled:hover {
    background: var(--dark_gray5);
}
.tui-pagination .tui-first-child.tui-is-selected {
    border: none;
}
.detail_result .result_box .tui-grid-container .tui-pagination {
    position: absolute;
    margin: 0;
    top: -40px;
    right: 350px;
}
.report_view .result_list .tui-grid-container .tui-pagination {
    position: absolute;
    margin: 0;
    top: -42px;
    right: 240px;
}
.detail_result .result_box .tui-pagination .tui-page-btn,
.report_view .result_list .tui-pagination .tui-page-btn {
    width: var(--button_height2);
    height: var(--button_height2);
}
/* table */
table {
    width: 100%;
    border-top: 2px solid var(--gray1);
}
table th,
table td {
    font-size: var(--font_small2);
    height: var(--button_height);
    text-align: center;
    font-weight: var(--medium);
}
table thead th {
    background: var(--dark_gray3);
    border-radius: var(--radius_5);
    color: var(--gray1);
}
table tbody th {
    border-bottom: 1px solid var(--dark_gray4); 
    background: var(--dark_gray3);
}
table tbody td {
    font-weight: var(--bold);
    color: var(--white);
    border-bottom: 1px solid var(--dark_gray4);
    padding: 0 10px;
}
table th span {
    color: var(--red);
    font-weight: var(--bold);
}
.wide table tbody td {
    padding: 10px;
}
.no_line {
    border-top: none;
}
.field_info table,
.field_table table {
    border: none;
}
.field_add_area table td,
.tab_dl table td {
    padding: 10px;
}
.tab_dl table {
    border-top: 1px solid var(--dark_gray4);
}
.command_box table th,
.command_box table {
    border: none;
}
.command_box table tr:last-child td {
    border-bottom: none;
}
.command_box table td {
    padding: 0 10px;
}
.no_data {
    height: 100px;
    color: var(--gray2);
}
.differ_dialog .table_box table th,
.differ_dialog .table_box table td {
    padding: 10px;
}
.differ_dialog .table_box + .table_box {
    border-left: 1px solid var(--dark_gray4);
}
