body{background: #101320;}
header{ position: relative; overflow:hidden; /* position: fixed; left: 0; top: 0; width: 100%; z-index: 10; */  width: 1920px; height: 90px; margin:0 auto; box-sizing: border-box;} 
header:after{ position:absolute; bottom:-15px;left:0;right:0;height:30px; background: radial-gradient(ellipse  50% 20px, #20232f  ,  transparent 90%);content:'';} 
header .util_area {position:absolute;top:40px;right:25px;font-size:18px;color:#fff;}
header .util_area span{padding-left:10px;border-left:1px solid #949494;}
header .util_area span:first-child{border-left:0;}
header .util_area .user{padding-left:34px;background:url('../images/icon_profile.png') no-repeat 0 0;} 
header .util_area a{padding-left:10px;}
header .logo { 
    position: relative;
    display: flex;
    left: 25px;
    width: 270px;
    height: 90px;
    background: url('../images/common/logo.svg') no-repeat center center;
} 

.btn_fullview{position:absolute;top:20px;right:30px; width:110px;line-height:34px;border:1px solid #fff;color:#fff;text-align:center;border-radius:5px;font-size:16px;font-weight:500;z-index:10;} 	
.btn_fullview:hover, 
.btn_fullview:focus,
.btn_fullview:active{color:#fff;}

.btn_return{position:absolute;top:20px;right:30px; width:110px;line-height:34px;border:1px solid #fff;color:#fff;text-align:center;border-radius:5px;font-size:16px;font-weight:500;z-index:10;} 	
.btn_return:hover, 
.btn_return:focus,
.btn_return:active{color:#fff;}
 
#gnb { padding:0 60px 0 0 ; } 
#gnb ul{ display:inline-block;} 		  	   
#gnb li{display:inline-block; padding:0 15px; line-height:75px;  font-size:18px;font-weight:500;}
#gnb li a{position:relative;color:#fff;}	 
#gnb li.active a, 
#gnb li a:hover{color:#ffa800;}
#gnb li a .icon_noti{position:absolute;top:0;left:-10px; display:inline-block;width:4px;height:4px;border-radius:50%;background: #ffa800;  }
 
#container_full{position: relative;width: 1920px; margin:0 auto; box-sizing: border-box;}
#container_full #container{ }	   
#container_full .Sidebar{ position: absolute;left:0;top:0;bottom:0;width:158px; text-align:center;}
#container_full .Sidebar .all_memu{ display: inline-block;padding:24px;} 
#container_full  #nav_snb{ position: absolute;left:0;top:-97px;bottom:0;width:450px;background: #545660;z-index:20; overflow-y:auto; box-sizing:border-box;padding:10px;  opacity:0.8;}
#container_full .contents {
    position:relative; 
    padding-left: 85px;
} 


.app_cont{position: relative;display: table;table-layout: fixed;width: 402px;}	 
.app_cont .badge{position:absolute;top:-17px;left:-22px;font-size:0;border-radius:999px; box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5); }
.app_cont .thumb{display:table-cell; vertical-align:top; width:89px;font-size:0;}
.app_cont .thumb .thumb_frame{position:relative;width:100%; height:0; padding-bottom:100%; border-radius:6px; box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5); overflow:hidden;}
.app_cont .thumb .thumb_frame img{ position:absolute;top:0;bottom:0;left:0;right:0;width:100%; }  
.app_cont .thumb .thumb_frame .per{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);font-size:12px;font-weight:700;}
.app_cont .thumb .thumb_frame .per_bg{position:absolute;left:0;right:0;bottom:0;top:25%;background:rgba(0,0,0,0.7);}
.app_cont .cont{display:table-cell; vertical-align:top; padding:0 0 0 20px;} 
.app_cont .app_name{font-size:24px;line-height:26px;}	
.app_cont .app_name .icon_noti{display:inline-block;width:5px;height:5px;border-radius:50%;background: #ffa800; vertical-align:top;}
.app_cont .app_desc{margin-top:6px;font-size:14px;color:#7f7f7f;}  
.app_cont .app_version{margin-top:6px;font-size:14px; }
.app_cont .app_btns{margin-top:18px;font-size:12px;}
.app_cont .app_btns span{display:inline-block; padding:0 15px; line-height:23px;border-radius:999px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#254992+0,3072a1+100 */
background: #254992; /* Old browsers */
background: -moz-linear-gradient(left,  #254992 0%, #3072a1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #254992 0%,#3072a1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #254992 0%,#3072a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#254992', endColorstr='#3072a1',GradientType=1 ); /* IE6-9 */
}
.app_cont .app_btns .btn_down{ display:inline-block; padding:0 15px; line-height:23px;border-radius:999px; color:#fff; font-weight:700;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa800+0,c65009+100 */
background: #ffa800; /* Old browsers */
background: -moz-linear-gradient(left,  #ffa800 0%, #c65009 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffa800 0%,#c65009 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffa800 0%,#c65009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#c65009',GradientType=1 ); /* IE6-9 */ 
}	 
.app_cont .app_btns .install{display:inline-block; padding:0 15px; line-height:23px;border-radius:999px; color:#fff; font-weight:700; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48946c+0,93c16b+100 */
background: #48946c; /* Old browsers */
background: -moz-linear-gradient(left,  #48946c 0%, #93c16b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #48946c 0%,#93c16b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #48946c 0%,#93c16b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48946c', endColorstr='#93c16b',GradientType=1 ); /* IE6-9 */
}	
.app_cont .app_btns .update{display:inline-block; padding:0 15px; line-height:23px;border-radius:999px; color:#fff; font-weight:700; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48946c+0,93c16b+100 */
background: #48946c; /* Old browsers */
background: -moz-linear-gradient(left,  #48946c 0%, #93c16b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #48946c 0%,#93c16b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #48946c 0%,#93c16b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48946c', endColorstr='#93c16b',GradientType=1 ); /* IE6-9 */
}
.app_cont .app_btns .del{display:inline-block; padding:0 15px; line-height:23px;border-radius:999px; color:#fff; font-weight:700; background: #6c6c6c;}
#container .app_list_area {position: relative;display: flex;flex-wrap: wrap;padding: 22px 80px 30px;box-sizing: border-box;align-content: flex-start;}
#container .app_list_area .app_item{padding:15px 30px;width:33.33%;box-sizing:border-box;}	 
#container .app_list_area .prev{position: absolute;top:50%;left:40px;margin-top:-15px;width:20px;height:30px;background:url('../images/prev.png') no-repeat;font-size:0;}
#container .app_list_area .next{position: absolute;top:50%;right:40px;margin-top:-15px;width:20px;height:30px;background:url('../images/next.png') no-repeat;font-size:0;}

#container .myservice_area{position:relative;padding:30px 40px;  border-radius:25px 0 0 0;
background: radial-gradient( farthest-side at 50% 0%, #73778a, #19203e 70% );
}

#container .myservice_area .frame_cotrol_up_btn{position:absolute; left:50%; top:0; display:inline-block; width:32px; height:22px; margin:-22px 0 0 -16px; background:url('../images/frame_cotrol_btn_up.png') no-repeat 50% 50%; cursor:pointer;}
#container .myservice_area .frame_cotrol_down_btn{position:absolute; left:50%; top:0; display:inline-block; width:32px; height:22px; margin:0 0 0 -16px; background:url('../images/frame_cotrol_btn_down.png') no-repeat 50% 50%; cursor:pointer;}
.down-pointing{display:inline-block;vertical-align:middle;width:11px;height:9px;margin-right:5px;background:url('../images/icon_down_pointing.png') no-repeat;}
.loading{display:inline-block;vertical-align:middle;width:17px;height:17px;margin-right:5px;background:url('../images/btn_loading.png') no-repeat;}

.scrollbox-wrapper{position: relative;overflow:hidden;margin-right:-40px;padding:25px 0 50px;} 
.scrollbox-wrapper .scroll_box {position: relative;width: 100%;height: unset;z-index: 1;display: flex;transition-property: transform;box-sizing: content-box;}
.scrollbox-wrapper .scroll_box .scroll_box_inner{display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: flex-start;height: 150px;justify-content: flex-start;} 
.scrollbox-wrapper .scroll_bar{position:absolute;bottom:10px;left:0;right:40px; height:6px; border-radius:999px;background: #ffffff;box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5);} 
.scrollbox-wrapper .scroll_bar span{position:absolute;top:-7px;display:inline-block;width:146px;height:20px;border-radius:5px;	text-align:center; box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a8d176+0,00a6ba+70 */
background: #a8d176; /* Old browsers */
background: -moz-linear-gradient(left,  #a8d176 0%, #00a6ba 70%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #a8d176 0%,#00a6ba 70%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #a8d176 0%,#00a6ba 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8d176', endColorstr='#00a6ba',GradientType=1 ); /* IE6-9 */  
}  

.myservice_area h3{padding:0 0 0 48px; line-height:28px; font-size:24px; font-weight:500;background: url('../images/tit_bg_myservice.png') no-repeat 9px 0;}
.myservice_area .app_item{display:inline-block;position:relative;width:486px;min-height:150px;margin-right:30px;border:2px solid #ffffff; padding:27px 40px; box-sizing:border-box;border-radius:10px;/* background: radial-gradient( farthest-side at 50% 0%, #454a5e, #0e142f 70% );  */ background:#0c122d url('../images/bg_radius_wt.png') no-repeat 50% 0 ; box-shadow:3px 3px 5px 0 rgba(0,0,0,.5); -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5);} 
.myservice_area .app_item.cart{border:1px solid #888c9b; padding: 28px 40px; background-color:#52545e;} 
.myservice_area .app_item.cart .app_delete {position: absolute;top: -40px;right: -53px;font-size: 0;border-radius: 999px;overflow: hidden;box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .5);-webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .5);}
.myservice_area .app_item.cart .app_delete {display: inline-block;}  



/* 확장 */
.myservice_expantion .app_cont{padding:22px 0 0;}		  
.expantion_cont {min-height: unset;height: 0;padding: 0;overflow: hidden;position: relative;background: url("/images/expantion_shadow.png") no-repeat 50% 20px;box-sizing: border-box;}
.expantion_cont .setinfo{padding-top:55px;text-align:center;color:#fff;opacity:0.5;font-size:14px;}
.expantion_cont .setinfo i{display:block;padding-bottom:20px;}
.expantion_cont .status{padding-bottom: 20px;font-size: 14px;}	
.expantion_cont .status em{position:relative;padding-right:20px;font-weight:500;}	
.expantion_cont .status em:after{position:absolute;top:50%;right:8px;margin-top:-7px;width:1px;height:13px;background: #ffffff;content:'';}
.expantion_cont .status span{padding-right:25px;}
.expantion_cont .graph p{position:relative; padding:0 0 12px 55px;}	
.expantion_cont .graph p em{position: absolute;left: 0;top: 0;width: 42px;font-size: 18px;font-weight: 700;line-height: 24px;text-align: right;}

.icon_running{display:inline-block; vertical-align:middle; width:10px; height:10px;	border-radius:50%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#44916c+0,95c26b+100 */
background: #44916c; /* Old browsers */
background: -moz-linear-gradient(left,  #44916c 0%, #95c26b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #44916c 0%,#95c26b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #44916c 0%,#95c26b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44916c', endColorstr='#95c26b',GradientType=1 ); /* IE6-9 */
 }
.gpu_box{display:block; line-height:22px;font-size:14px; font-weight:500;/*  border:1px solid #fff; text-indent:20px; */}
.gpu_box .icon_play{display:inline-block; vertical-align:top; width:35px; height:22px;background: url('../images/icon_play.png') no-repeat 50% 50%;}
.gpu_box .icon_pause{display:inline-block; vertical-align:top; width:35px; height:22px;background: url('../images/icon_pause.png') no-repeat 50% 50%;}


.resource_box{position:relative;display: flex; flex-wrap: wrap; padding:40px 0;background: url('../images/bg_edgebox.png') no-repeat 465px 40px;}
.resource_box .prev{position: absolute;top:50%;left:0        ;margin-top:-15px;width:20px;height:30px;background:url('../images/prev.png') no-repeat;font-size:0;}
.resource_box .next{position: absolute;top:50%;right:0;margin-top:-15px;width:20px;height:30px;background:url('../images/next.png') no-repeat;font-size:0;} 
.resource_box .edgebox{position:relative;width:490px;height:200px;overflow:hidden; }	
.resource_box .edgebox .img{float:left;width:260px;margin-left:30px;text-align:center;} 	
.resource_box .edgebox .cont{float:left;width:200px;} 
.resource_box .edgebox .cont h4{font-size:30px;font-weight:700;  }
.resource_box .edgebox .cont p{position:absolute;bottom:0;right:0;width:200px;line-height:22px;padding-top:15px;}
.resource_box .edgebox .cont p:before{content:'';position:absolute;top:0;left:0;display:inline-block;width:30px;height:4px;background: #fff;}
.resource_box .resource{width:1192px;overflow:hidden;}	 
.resource_box .resource h4{margin-left:75px;padding-left:53px;font-size:24px;font-weight:700; background: url('../images/bg_resource_tit.png') no-repeat 0 1px;}
.resource_box .resource h4 span{position:relative;display:inline-block;vertical-align:middle;padding:0 50px 0 18px; line-height:29px;font-size:14px;border:1px solid #fff;border-radius:5px;font-weight:500;}
.resource_box .resource h4 span a{position:absolute;top:5px;right:9px; width:20px;height:20px;background: url('../images/del.png') no-repeat 0 0;font-size:0;}
.resource_box .resource .graph01{float: left;width: 530px;height: 190px;margin-left: 75px;padding-top: 0;}
.resource_box .resource .graph01 p{position:relative; padding:0 0 14px 65px;}				 
.resource_box .resource .graph01 p em{position:absolute;left:0;top:0; width:65px;font-size:18px; font-weight:700;line-height:24px;}
.resource_box .resource .graph02{float:left;width:435px;margin-left:65px;}
.resource_box .resource .graph02 h5{text-align:right;font-weight:700;padding-bottom:5px;font-size:15px;}  
.resource_box .resource .graph02 h5 span{display:inline-block;padding-left:23px;background:url('../images/bg_traffic_tit.png') no-repeat 0 0;}

.total_resource {position: relative;height: 85px;margin-top: -40px;padding: 0;} 
.total_resource .title{position:absolute;top:0;left:0;width:130px;}
.total_resource .title em{font-weight:700;}
.total_resource .bar_box{position:relative;overflow:hidden;display:block;height:17px;background: rgb(240,240,240);
background: -moz-linear-gradient(90deg, rgba(240,240,240,1) 75%, rgba(195,195,195,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(240,240,240,1) 75%, rgba(195,195,195,1) 100%);
background: linear-gradient(90deg, rgba(240,240,240,1) 75%, rgba(195,195,195,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f0",endColorstr="#c3c3c3",GradientType=1);}
.total_resource .bar_box i{display:block;position:absolute;top:0;left:0;height:17px;background: rgb(64,111,175);
background: -moz-linear-gradient(90deg, rgba(64,111,175,1) 0%, rgba(101,169,123,1) 25%, rgba(220,161,49,1) 50%, rgba(198,75,85,1) 75%, rgba(126,48,142,1) 95%);
background: -webkit-linear-gradient(90deg, rgba(64,111,175,1) 0%, rgba(101,169,123,1) 25%, rgba(220,161,49,1) 50%, rgba(198,75,85,1) 75%, rgba(126,48,142,1) 95%);
background: linear-gradient(90deg, rgba(64,111,175,1) 0%, rgba(101,169,123,1) 25%, rgba(220,161,49,1) 50%, rgba(198,75,85,1) 75%, rgba(126,48,142,1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#406faf",endColorstr="#7e308e",GradientType=1);}
.total_resource .bar_box i:after{content:'';position:absolute;top:0;right:-17px;width: 0; height: 0; border-top: 17px solid #7e308e; border-right: 17px solid transparent; }
.total_resource .bar_box i em{position:absolute;top:0;right:5%;line-height:17px;display:inline-block;font-weight:700;}


/*추가된 스타일 시트*/
.service_banner {width: 100%;height: 238px;display: flex;flex-wrap: wrap;}/*서비스 리스트 스크립트영역 wrap*/
.scrollbox-wrapper .scroll_bar span img {margin-top: 4px;}/*나의 서비스 스크롤바 내부 이미지 vertical-align 중양정렬*/
.expantion_cont_chart {height: 208px;}/*나의 서비스 확장시 출력되는 차트 영역*/


/* 팝업 */
#mask{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(105,108,119,0.85);z-index:10;}
.popup{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);z-index:20; border: 2px solid #ffffff;  box-sizing: border-box; border-radius: 10px; /* background: radial-gradient( farthest-side at 50% 0%, #454a5e, #19203e 70% );  */ background:#19203e url('../images/bg_radius_wt.png') no-repeat 50% 0;background-size:100% auto ;box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%); -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);
}
.popup .popup_close{position:absolute;top:-25px;right:-25px;border-radius:50%; box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%); -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);}

.pop_appserviceinfo{width:1333px;}
.pop_appserviceinfo .app_item {padding:108px 50px 43px 110px ;}
.pop_appserviceinfo .app_item .app_cont .badge{top:-25px; left:-33px;}
.pop_appserviceinfo .app_item .app_cont .badge img{width:67px;}
.pop_appserviceinfo .app_item .app_cont .thumb{width:132px;}	   
.pop_appserviceinfo .app_item .app_cont .cont{padding-left:45px;}		
.pop_appserviceinfo .app_item .app_cont .app_btns{margin:0 0 18px 0;}
.pop_appserviceinfo .app_item .app_cont .app_btns span { padding: 0 25px; line-height:35px; font-size:17px;}
.pop_appserviceinfo .app_item .app_cont .app_name {font-size:35px;line-height:40px;}
.pop_appserviceinfo .app_item .app_cont .app_etc {line-height:47px;font-size:20px;font-weight:500;}	 
.pop_appserviceinfo .app_item .app_cont .app_etc img{vertical-align:middle;margin-right:8px;}
.pop_appserviceinfo .app_item .app_cont .app_etc span{display:inline-block;padding-right:50px;} 	 
.pop_appserviceinfo .app_item .app_cont .app_etc span:last-child{ padding-right:0;} 
.pop_appserviceinfo .app_item .app_cont .app_etc span em{display:inline-block;color:#f39801;padding-right:15px;}
.pop_appserviceinfo .app_item .app_cont .app_etc span select{width:212px;height:47px;border:1px solid #fff; border-radius:5px; padding: 0 0 0 20px; color:#fff; -webkit-appearance: none;
    background:  transparent url('../images/select_arrow_l.png' ) no-repeat 90% 50%;}
.pop_appserviceinfo .pop_app_cont {overflow:hidden;position:relative;padding:0 110px 110px;  }
.pop_appserviceinfo .pop_app_cont:before{position:absolute; top:-15px;left:0;right:0;height:30px; background: radial-gradient(ellipse  50% 20px, #383e57  ,  transparent 90%);content:'';}
.pop_appserviceinfo .pop_app_cont dl{padding-top:75px;}
.pop_appserviceinfo .pop_app_cont dt{position:relative;padding:0 0 15px 80px;color:#f39801;font-weight:700;font-size:26px;}
.pop_appserviceinfo .pop_app_cont dt:before{position:absolute;top:8px;left:0;display:inline-block;width:64px;height:7px;background: #f39801;content:'';}
.pop_appserviceinfo .pop_app_cont dd{font-size:22px;font-weight:500;line-height:1.8em;}
.pop_appserviceinfo .btn_setup_area{position:absolute;bottom:40px;right:50px;}		
.pop_appserviceinfo .btn_setup_area .hold{position:relative;display:inline-block; width:328px; line-height:72px; padding-left:30px; box-sizing:border-box; text-align:center; border-radius:15px; color:#fff; font-weight:500; font-size:24px;  
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#44916c+0,95c26b+100 */
background: #44916c; /* Old browsers */
background: -moz-linear-gradient(left,  #44916c 0%, #95c26b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #44916c 0%,#95c26b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #44916c 0%,#95c26b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44916c', endColorstr='#95c26b',GradientType=1 ); /* IE6-9 */ 
}	
.pop_appserviceinfo .btn_setup_area .hold:before{position:absolute;top:20px;left:25px;display:inline-block;width:40px;height:28px;background:url('../images/icon_hold.png') no-repeat 0 0;content:'';}

.pop_appserviceinfo .btn_setup_area .install{position:relative;display:inline-block; width:328px; line-height:72px; padding-left:30px; box-sizing:border-box; text-align:center; border-radius:15px; color:#fff; font-weight:500; font-size:24px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c65009+0,ffa800+100 */
background: #c65009; /* Old browsers */
background: -moz-linear-gradient(left,  #c65009 0%, #ffa800 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #c65009 0%,#ffa800 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #c65009 0%,#ffa800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c65009', endColorstr='#ffa800',GradientType=1 ); /* IE6-9 */ 
}	  
.pop_appserviceinfo .btn_setup_area .install:before{position:absolute;top:20px;left:25px;display:inline-block;width:40px;height:28px;background:url('../images/icon_install.png') no-repeat 0 0;content:'';}

						   
.pop_modal {width:600px;}
.pop_modal .modal_cont {text-align:center;padding:40px 10px 40px;}   
.pop_modal .modal_cont .message_box {text-align:center;font-size:35px;font-weight:500;} 
.pop_modal .modal_cont .message_subtext {padding-top:30px;line-height:1.8em;font-size:14px;} 
.pop_modal .modal_cont .message_subtext .txt01{color:#c2def2;font-weight:500;font-size:16px;}
.pop_modal .modal_cont .message_btns {padding-top:60px;text-align:center;background: url('../images/expantion_shadow.png') no-repeat 50% 0;}
.pop_modal .modal_cont .message_btns a{display:inline-block;width:150px;height:49px;border-radius:10px;border:2px solid #ffffff;color:#fff;line-height:49px;font-size:22px;font-weight:500; margin:0 12px;}
.pop_modal .modal_cont .message_btns a.on{background: #323b62;}


/* 회원가입 */
.join_wrap{width:670px; margin:0 auto; padding:115px 0; }
.join_wrap .join_top{padding:0 0 40px; text-align:center; font-size:48px; font-weight:500;}
.join_wrap .join_tit{padding:65px 0 30px; text-align:center; font-size:24px; font-weight:500; background: url('../images/expantion_shadow.png') no-repeat 50% 0;}

.join_wrap .join_confirm_txt {width:100%; margin-top:30px; padding:105px 0; text-align:center; border:1px solid #fff; border-radius:5px; font-weight:500; font-size:18px;background: url('../images/bg_radius_wt_reverse.png') no-repeat bottom center;box-sizing:border-box;} 
.join_wrap .join_confirm_txt em {color:#55b5ff; font-weight:600;}  

.join_wrap .join_reject_txt {width:100%; margin-top:30px; padding:20px 50px; text-align:center; border:1px solid #fff; border-radius:5px; font-weight:500; font-size:18px;background: url('../images/bg_radius_wt_reverse.png') no-repeat bottom center; box-sizing:border-box;} 
.join_wrap .join_reject_txt dt{padding:45px 0; border-bottom:1px solid #fff;}
.join_wrap .join_reject_txt dt em {color:#55b5ff; font-weight:600;} 
.join_wrap .join_reject_txt dd{padding:40px 0 40px; display:inline-block; text-align:left; line-height:1.5em; } 

.join_wrap .join_bottom {margin-top:49px; } 
.join_wrap .join_bottom button{position:relative; width:100%; height:60px; font-size:18px; color:#101320; border:0; border-radius:5px; font-weight:600; cursor: pointer; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa800+0,c65009+100 */
background: #ffa800; /* Old browsers */
background: -moz-linear-gradient(left,  #ffa800 0%, #c65009 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffa800 0%,#c65009 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffa800 0%,#c65009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#c65009',GradientType=1 ); /* IE6-9 */
} 
.join_wrap .join_bottom button:before{position:absolute;top:16px;left:28px;display:inline-block;width:28px;height:28px;background: url('../images/join_btn_icon.png') no-repeat 0 0;content:'';}

input[type='text'],
input[type='password']{width:100%;border:0;border-radius:3px; padding:20px 25px; height:60px;line-height:20px; font-size:18px; box-sizing:border-box;}
.selectbox select{width:100%;border:0; border-radius:3px; padding:0 25px;  height:60px; line-height:60px; font-size:18px; box-sizing:border-box; *height: auto; -webkit-appearance: none;outline: 0; background:#fff url('../images/select_arrow_bk.png') no-repeat 95% 50%;}

.join_formbox input[type='text'],
.join_formbox input[type='password']{ padding:20px 60px 20px 25px;  }
.join_formbox .selectbox{ height:60px; background: #fff;border-radius:3px;} 
  
.flex_box{position: relative;display: -webkit-box; display: flex; flex-wrap: wrap;}
.flex_box .column{-webkit-box-flex: 1; flex: 1;} 
.flex_box .column:last-child{-webkit-box-flex: 0; flex: none; width: 50%; margin-left: 8px;}

.flex_box.flex_box_id .column:last-child {width: 110px;}
 .flex_box_id button{ width: 110px; height: 60px; border-radius: 5px;  font-weight: 600; background:#00b4ff; border:0; color:#fff; font-size:18px ;}
 
.row_group02{margin-top:60px; margin-bottom:-25px;}

.ps_box{position:relative;margin-bottom:13px;} 
.tx_box{position:relative;margin-bottom:13px;}
 

.login_area{ padding:120px 110px 30px; text-align:center; font-size:24px; font-weight:500; background: url('../images/expantion_shadow.png') no-repeat 50% 0;}
.lgn_box{position:relative;margin-bottom:16px;}

.login_group{margin-bottom:60px;} 
.login_group input[type='text'],
.login_group input[type='password']{background: #d6e3e3; padding:20px 25px 20px 80px;}
.login_group .id_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_userid.png') no-repeat 0 0 ;}
.login_group .pw_area:before{position:absolute;top:16px;left:16px;content:'';display:inline-block;width:28px;height:28px;; background: url('../images/icon_login_password.png') no-repeat 0 0 ;}

.login_group02{ margin-bottom:-30px;}
.login_group02 .code_box{position:relative;width:100%;border:0;border-radius:3px;height:60px; padding:10px 92px 10px 0;text-align:center;  box-sizing:border-box; background: #fff;}
.login_group02 .code_box a{position:absolute; top:13px; right:16px;}


/**************************** intro style *******************************/
/* common */
.Sidebar {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 90px;
    bottom: 0;
    width: 85px;
    background: linear-gradient( to bottom, #1C202E, #101420);
    z-index: 850;
}
.Sidebar a {
    display: inline-flex;
    transition: 0.3s ease-in;
}
.Sidebar a::before {
    content: '';
    position: absolute;
    display: inline-flex;
    width: 5px;
    height: 70px;
    border-radius:  5px;
    background: #FFFFFF;
    opacity: 0;
    transition: 0.3s ease-in;
}
.Sidebar a:hover,
.Sidebar a.nav_active {
    background: linear-gradient(to right, #32374A, #1A1F2C);
    transition: 0.3s ease-in;
}
.Sidebar a:hover::before,
.Sidebar a.nav_active::before {
    opacity: 1;
    transition: 0.3s ease-in;
}
.Sidebar .all_memu {
    width: 85px;
    height: 70px;
    background: url('../images/common/menu.svg') no-repeat center center ;
}
.Sidebar .nav_ico1 {
    width: 85px;
    height: 70px;
    background: url('../images/common/ico1_mec.svg') no-repeat center center ;
}
.Sidebar .nav_ico2 {
    width: 85px;
    height: 70px;
    background: url('../images/common/ico2_onprem.svg') no-repeat center center ;
}
.Sidebar .nav_ico3 {
    width: 85px;
    height: 70px;
    background: url('../images/common/ico3_ktcloud.svg') no-repeat center center ;
}
.Sidebar .nav_ico4 {
    width: 85px;
    height: 70px;
    background: url('../images/common/ico4_cloud.svg') no-repeat center center ;
}
#nav_snb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    transition: 0.5s ease-in;
}
#nav_snb .nav_area {
    position: absolute;
    left: 0;
    top: 90px;
    width: 350px;
    height: 100%;
    background: linear-gradient(to bottom, #1C202E, #111521);
    z-index: 900;
    overflow-y: auto;
    box-sizing: border-box;
}
.background {
    position: fixed;
    display: block;
    left: 0;
    top: 90px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 300;
}
/* intro */
#intro {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: url('../images/intro/intro_bg.png') no-repeat right bottom;
    background-attachment: fixed;
    margin: 20px 30px 0 20px;
}
#intro article {
    position: inherit;
    display: inherit;
    flex-wrap: inherit;
}
.mec_info {
    display: inherit;      
}
.mec_info ul {
    display: inherit;
    flex-wrap: inherit;
    width:100%;
}
.mec_info ul li {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(25% - 18.75px);
    height: 175px;
    background: #1F2940;
    border-radius: 5px;
    padding: 25px 30px;
}
.mec_info ul li + li {
    margin: 0 0 0 25px;
}
.mec_info h1 span {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}
.mec_info h1 .en {
    font-size: 28px;
}
.mec_info h1 .ko {
    font-size: 30px;
}
.mec_info h2 {
    font-family: 'Exo';
    font-size: 25px;
    align-self: flex-start;
    margin:0 0 20px;
}
.mec_info p {
    font-size: 18px;
    color: #cccccc;
    margin: 10px 0 0;
}
.mec_info .co1 span {
    background: linear-gradient(to right, #20CEF6, #7A53E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mec_info .co2 span {
    background: linear-gradient(to right, #2AF698, #14A8B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mec_info .co3 span {
    background: linear-gradient(to right, #D9668C, #FFC95D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mec_info .co4 span {
    background: linear-gradient(to right, #43B5FF, #CB92DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mec_slider {
    display: inherit;
    flex-wrap: inherit;
    width: 100%;
    height: calc(100vh - 175px - 97px);
}
.glide {
    position: relative;
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
}
.glide__track,
.glide__slides,
.glide__slide {
    height: 100%;
}
.glide__slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glide__arrow {
    background: transparent;
    outline: none;
    border: none;
    font-size: 0;
    z-index: 90;
    opacity: 0.4;
    transition: 0.5s;       
}
.glide__arrow:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.glide__arrow--prev,
.glide__arrow--next {
    position: absolute;
    top: calc(50% - 29px);
    width: 30px;
    height: 58px; 
}
.glide__arrow--prev {
    left: 25%;
}
.glide__arrow--next {
    right: 25%;
}
.glide__arrow--prev:before,
.glide__arrow--next:before {
    content: '';
    display: block;
    width: 30px;
    height: 58px;
    background: url('../images/intro/arrow.svg') no-repeat center center;
}
.glide__arrow--next:before {
    transform: rotate(180deg);
}
.glide__bullets {
    position: absolute;
    display: inherit;
    width: 100%;
    bottom: 80px;
    justify-content: center;
}
.glide__bullet {
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 0;
    font-size: 0;
    background: #FFFFFF;
    outline: none;
    border: none;
    opacity: 0.2;
}
.glide__bullet--active {
    opacity: 1;
}
.glide__slides {
    position: inherit;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    margin: 0;
    outline: none;
}
.glide__slide--active {
    opacity: 1;
}
.mec_wrap {
    position: inherit;
    display: inherit;
    flex: inherit;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 100%;
    left: -50px;
    border-radius: 220px;
    margin: 0 auto;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active + .glide__slide .mec_wrap{
    left: 50px;
}
.mec_box {
    position: inherit;
    display: inherit;
    width: 220px;
    height: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 220px;
    border: 1px dashed #787878;
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
    animation-fill-mode: forwards;
}
.mec_box h1 {
    font-family: 'Exo';
    font-size: 27px;
    line-height: 33px;
    width: 150px;
    text-align: center;
    color: #ffffff;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.mec_ico1,
.mec_ico2,
.mec_ico3,
.mec_ico4 {
    display: none;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.mec_box ul {
    position: inherit;
    display: inherit;
    flex-direction: column;
    margin: 30px 0 0;
    display: none;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.mec_box ul li {
    display: inherit;
    justify-content: center;
    margin: 0 0 10px;
    font-size: 19px;
    font-weight: 300;
}
.mec_box ul li i {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    background: url('../images/intro/ico1_service.svg') no-repeat center right;
    transition: 0.5s ease-in;
}
.mec_box ul li .ico2 {
    background: url('../images/intro/ico2_map.svg') no-repeat center right;
}
.mec_box ul li .ico3 {
    background: url('../images/intro/ico3_ip.svg') no-repeat center right;
}
.dot {
    position: absolute;
    display: inline-flex;
    top: calc(50% - 150px);
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border-radius: 5px;
    background: #999999;
    opacity: 1;
    animation: fadeout 0.2s;
    -moz-animation: fadeout 0.2s; /* Firefox */
    -webkit-animation: fadeout 0.2s; /* Safari and Chrome */
    -o-animation: fadeout 0.2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active + .glide__slide .dot {
    top: calc(50% + 140px);
    left: 50%;
}
.circle {
    display: none;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
    animation-fill-mode: forwards;
}
.bg {
    position: absolute;
    width: 245px;
    height: 245px;
    border-radius: 245px;
    border: 1px solid #999999;
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .mec_wrap{
    width: 550px;
    height: 550px;
    border-radius: 550px;
    margin: 0 auto;
    left: 0;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .mec_box {
    width: 550px;
    height: 550px;
    border: double 2px transparent;
    border-radius: 550px;
    background-image: linear-gradient(#101320, #101320), linear-gradient(0deg, #319CFF, #CCCCCC, transparent, #CCCCCC, #319CFF, transparent, #319CFF, #CCCCCC, transparent);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: 200% 200%;
    animation: gradient 8s ease-in infinite;
    z-index: 20;
}
.glide__slide--active .mec_box h1 {
    position: inherit;
    top: -50px;
    font-size: 42px;
    line-height: 2.5rem;
    font-weight: 500;
    width: 500px;
    background: transparent;
    color: #FFFFFF;
    text-shadow: -1px -1px 10px #339DFE;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .mec_ico1,
.glide__slide--active .mec_ico2,
.glide__slide--active .mec_ico3,
.glide__slide--active .mec_ico4 {
    display: flex;
    width: 100%;
    height: 327px;
    background: url('../images/intro/mec_ico1_edgebox.svg') no-repeat center center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .mec_ico2 {
    background: url('../images/intro/mec_ico2_onprem.svg') no-repeat center center;
}
.glide__slide--active .mec_ico3 {
    background: url('../images/intro/mec_ico3_ktcloud.svg') no-repeat center center;
}
.glide__slide--active .mec_ico4 {
    background: url('../images/intro/mec_ico4_cloud.svg') no-repeat center center;
}
.glide__slide--active .mec_box ul {
    top: -50px;
    display: flex;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .bg {
    width: 825px;
    height: 825px;
    border-radius: 825px;
    border: 1px dashed #333333;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation-fill-mode: forwards;
    z-index: 0;
}
.glide__slide--active .dot {
    display: none;
    animation: fadeout 0.2s;
    -moz-animation: fadeout 0.2s; /* Firefox */
    -webkit-animation: fadeout 0.2s; /* Safari and Chrome */
    -o-animation: fadeout 0.2s; /* Opera */
    animation-fill-mode: forwards;
}
.glide__slide--active .circle {
    display: inherit;
    position: absolute;
    width: 680px;
    height: 680px;
    border-radius: 680px;
    border: 1px dashed #319CFF;
    background: transparent;
    opacity: 0.7;
    animation: scale-big 4s ease-in infinite;
}
.glide__slide--active .circle::before,
.glide__slide--active .circle::after {
    position: absolute;
    display: flex;
    top: calc(50% - 326px);
    left: calc(50% - 326px);
    content: '';
    width: 650px;
    height: 650px;
    border-radius: 650px;
    border: 1px dashed #245582;
    animation: scale-big 4s ease-in infinite;
}
.glide__slide--active .circle::after {
    top: calc(50% - 349.5px);
    left: calc(50% - 349.5px);
    width: 695px;
    height: 695px;
    border-radius: 695px;
    animation: scale-small 4s ease-in infinite;
}
@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
        transition: 0.1s ease-in;
	}
	100% {
		background-position: 50% 0%;
        transition: 0.1s ease-in;
	}
}
@keyframes scale-big {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.01);
        transition: 0.5s ease-in;
	}
	100% {
		transform: scale(1);
        transition: 0.5s ease-in;
	}
}
@keyframes scale-small {
	0% {
		transform: scale(0.98);
	}
	50% {
		transform: scale(1);
        transition: 0.5s ease-in;
	}
	100% {
		transform: scale(0.98);
        transition: 0.5s ease-in;
	}
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transition: 0.5s ease-in;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.7;
        transition: 0.5s ease-out;
    }
}
/***********************************  type__1  **************************************/
.type__1 > .glide__arrows {
    display: none;
}
.type__1 .glide__track .glide__slides .glide__slide {
    opacity: 0;
}
.type__1 .glide__track .glide__slides .glide__slide--active {
    opacity: 1;
}
